.alert{height:50px;border:1px solid #000;width:300px;}
.alert-content i{display: inline-block;width:80px;border:1px solid #000;}


.success{background:#DFF0D8;}
.primary{background:#337AB7;}
.info{background:#D9EDF7;}
.warning{background:#FCF8E3;}
.danger{background:#F2DEDE;}
.error{background:#0094FF;}