<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>已还款账单</title>
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div id="yxWrapper">

	<header class="header-bar">
	    <a href="javascript:history.go(-1);"></a>
	    <h1 class="font-nav">已还款账单</h1>
	    <span class="font-title"></span>
	</header>

	<div class="rpm_wrap">

		<!-- repeat item demo-1 start -->
		<section class="rpm_box rpm_item uf uf_ac">
			<div class="uf_f1">
				<b>5/12期</b>
				<p>2015-05-19</p>
			</div>
			<div class="ta_r">
				<b><span class="">2500元</span></b>
				<p><span class="">已还清</span></p>
			</div>
			<i class="arr_r arr_gray"></i>
		</section>
		<!-- repeat item demo-1 end -->

		<!-- repeat item demo-1 start -->
		<section class="rpm_box rpm_item uf uf_ac">
			<div class="uf_f1">
				<b>5/12期</b>
				<p>2015-05-19</p>
			</div>
			<div class="ta_r">
				<b><span class="">2500元</span></b>
				<p><span class="">已还清</span></p>
			</div>
			<i class="arr_r arr_gray"></i>
		</section>
		<!-- repeat item demo-1 end -->

		<!-- repeat item demo-1 start -->
		<section class="rpm_box rpm_item uf uf_ac">
			<div class="uf_f1">
				<b>5/12期</b>
				<p>2015-05-19</p>
			</div>
			<div class="ta_r">
				<b><span class="">2500元</span></b>
				<p><span class="">已还清</span></p>
			</div>
			<i class="arr_r arr_gray"></i>
		</section>
		<!-- repeat item demo-1 end -->

	</div>
</div>

<!--整屏蒙层start-->
  <div id="maskLayer"></div>
<!--整屏蒙层end-->
<div class="bottom-to-top">
    <img src='http://img3.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201610191560' />
</div>

{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>