/*二级导航*/
.rr_two_nav{width:100%;height:110px;background:#F8F8F8;border-bottom:#ECECEC solid 1px}
.two_nav{height:110px}
.two_nav li{width:150px;padding-top:25px;height:110px;float:left;text-align:center}
.two_nav li img{width:40px;height:40px;display:inline-block}
.two_nav li p{line-height:20px;font-size:14px}
.two_nav li.two_nav_sel{background:url("images/rr_nav_jiao.png") center bottom no-repeat}
.two_nav li.two_nav_sel a{color:#fd9933}
/*广告图*/
.rr_advert{width:1200px;padding-top:30px;clear:both;margin:0 auto;height:320px}
.rr_advert dl dt{width:480px;height:320px;float:left;position:relative}
.rr_advert dl dt a{display:block;color:#ffffff}
.rr_advert dl dt a span{position:absolute;width:460px;height:40px;line-height:40px;font-size:16px; padding:0 10px;left:0;bottom:0;z-index:10;font-weight:bold}
.rr_advert dl dt a:hover{color:#fd9933}
.rr_advert dl dd{width:720px;height:320px;float:left}
.rr_advert dl dd a{width:238px;height:159px;float:left;margin-left:2px;position:relative;display:block;color:#ffffff}
.rr_advert dl dd a.mat2{padding-top:2px}
.rr_advert dl dd img{width:238px;height:159px}
.rr_advert dl dd a span{position:absolute;width:218px;height:40px;line-height:40px;font-size:16px; padding:0 10px;left:0;bottom:0;z-index:10;overflow:hidden}
.rr_advert dl dd a:hover{color:#fd9933}
/**/
.rr_box{width:1200px;margin:0 auto;padding-top:25px;clear:both}
.rr_car_list{clear:both;width:1200px;height:332px;float:left;border-bottom:#ECECEC solid 1px}
.rr_car_list li{width:322px;border-left:#ECECEC solid 1px;height:332px;float:left;padding:20px 40px 0}
.rr_car_list li.rr_first{border-left:0;width:274px;padding-top:20px;padding-left:0px}
.rr_car_list li.rr_four{ width:274px;padding-top:20px;padding-right:0px}
.car_pic{width:240px;height:160px;overflow:hidden;position:relative}
.car_pic em{width:46px;height:46px;position:absolute;left:20px;top:94px;z-index:100}
.rr_car_list li h2{height:60px;line-height:30px;font-size:18px;padding-top:5px}
.rr_car_list li h3{font-size:14px;color:#999;padding-top:10px;line-height:30px}
.rr_car_list li h3 span{padding-left:20px}
.rr_car_list li h4{height:20px;padding-top:5px;line-height:30px}
.rr_car_list li h4 em{display:inline-block;background:url("images/car_cio_01.jpg") left center no-repeat;padding-left:26px;font-size:14px;color:#999}
.rr_car_list li h4 i{display:inline-block;background:url("images/car_cio_02.jpg") left center no-repeat;padding-left:26px;font-size:14px;color:#999;margin-left:16px}
.mt38{width:100%;clear:both;height:38px}

/*广告补充*/
.ad-1200-80{margin-bottom:30px}