/*二级导航*/
.rr_two_nav{width:100%;height:110px;background:#F8F8F8;border-bottom:#ECECEC solid 1px}
.two_nav{height:110px}
.two_nav li{width:150px;padding-top:25px;height:110px;float:left;text-align:center}
.two_nav li img{width:40px;height:40px;display:inline-block}
.two_nav li p{line-height:20px;font-size:14px}
.two_nav li.two_nav_sel{background:url("images/rr_nav_jiao.png") center bottom no-repeat}
.two_nav li.two_nav_sel a{color:#fd9933}
/**/
.rr_box{width:1200px;margin:0 auto;padding-top:25px;clear:both;overflow:hidden}

.rr_car_list{clear:both;width:1288px;height:auto;float:left;border-top:#ECECEC solid 1px;margin:auto auto 40px -41px;}
.rr_car_list li{width:320px;border-left:#ECECEC solid 1px;border-bottom:#ECECEC solid 1px;height:332px;float:left;padding:20px 40px 0}
.rr_car_list li h2{height:60px;line-height:30px;font-size:18px;padding-top:5px}
.rr_car_list li h2 a{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap: break-word;}
.rr_car_list li h3{font-size:14px;color:#999;padding-top:10px;line-height:30px}
.rr_car_list li h3 span{padding-left:20px}
.rr_car_list li h4{height:20px;padding-top:5px;line-height:30px}
.rr_car_list li h4 em{display:inline-block;background:url("images/car_cio_01.jpg") left center no-repeat;padding-left:26px;font-size:14px;color:#999}
.rr_car_list li h4 i{display:inline-block;background:url("images/car_cio_02.jpg") left center no-repeat;padding-left:26px;font-size:14px;color:#999;margin-left:16px}
.rr_car_list .car_pic{width:240px;height:160px;overflow:hidden;position:relative}
.rr_car_list .car_pic em{width:46px;height:46px;position:absolute;left:20px;top:94px;background:url("images/video.png") center no-repeat;z-index:100}
.mt38{width:100%;clear:both;height:38px}

/*广告补充*/
.ad-1200-80{margin-bottom:30px}