
/*文章正文*/
.menu-top{height:20px;line-height:20px;width:1200px;margin:26px auto;font-size:14px;}
.menu-top i{color:#999999;}
.carlife-left{width:860px;float:left;}
.carlife-rit{width:300px;float:right;}
.carlife-article{border:1px solid #ececec;border-radius:3px;padding:40px 40px 60px 40px;margin-bottom:40px;}
.carlife-article-tit{text-align:center;width:100%;margin-bottom:25px;}
.carlife-article h3{font-size:32px;text-align:center;display:block;line-height:55px;position:relative;padding-top:10px;margin-bottom:30px;padding-right:60px;display:inline;}
.carlife-article h3 em{width:50px;height:30px;display:inline-block;background-color:#dcc1a5;text-align:center;color:#ffffff;font-size:16px;line-height:30px;border-radius:30px;position:absolute;right:0;bottom:6px;}
.carlife-top-text{height:20px;line-height:20px;margin-bottom:40px;font-size:14px;color:#999999;padding:0 50px;}
.carlife-top-text-rit{float:right;display:inline;}
.carlife-time{display:inline;flaot:left;}

/*分享*/
.tool-share{margin-left:20px;float:left;display:inline;position:relative;}
.tool-share a i{width:21px;height:20px;line-height:20px;float:left;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tool-ico.gif) no-repeat -73px top;margin-right:3px;vertical-align:bottom;display:inline-block;}
.tool-share  a:hover i{background-position:-73px -22px;}
.tool-comment{float:right;margin-left:20px;}
.tool-comment a i{width:21px;height:22px;line-height:20px;float:left;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/carlife-ico1.png) no-repeat -9px -8px;margin-right:4px;vertical-align:bottom;display:inline-block;}

/*分享浮层*/
.share-layer{width:390px;height:260px;border:1px solid #dddddd;border-radius:5px;position:absolute;overflow:hidden;left:-45px;top:30px;background-color:#ffffff;z-index:10;}
.share-layer-ico{width:148px;height:260px;border-right:1px solid #dddddd;padding-top:20px;float:left;overflow:hidden;}
.share-layer-ico a{height:25px;line-height:25px;display:table;width:115px;overflow:hidden;margin:0 0 15px 20px;padding-left:30px;color:#666666;font-size:14px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/share-ico.jpg) no-repeat;}
.share-layer-ico a,.share-layer-ico a:link,.share-layer-ico a:visited{color:#666666;}
.share-layer-ico a.share-layer-wechat{background-position:-3px -5px;}
.share-layer-ico a.share-layer-friend{background-position:-3px -47px;}
.share-layer-ico a.share-layer-sina{background-position:-3px -86px;}
.share-layer-ico a.share-layer-qq{background-position:-3px -126px;}
.share-layer-ewmbox{margin:20px 0 0px 40px;float:left;width:160px;}
.share-layer-ewmbox p{margin-bottom:20px;font-size:16px;}
.share-layer-ewm{width:160px;height:160px;}


/*微信扫二维码 浮层*/
.weixin-layer{position:absolute;right:-40px;top:70px;width:245px;height:255px;border:1px solid #dddddd;border-radius:3px;background-color:#ffffff;}
.weixin-layer p{margin:10px 0 8px 45px;text-align:left;font-size:16px;}
.weixin-layer .share-layer-ewm{margin-left:45px;}

/*广告补充*/
.ad-630-60{margin-bottom:30px;}
.ad-860-100{margin-bottom:30px;}
.ad-300-200{margin-top:0;margin-bottom:25px;}

.article-contents{padding-bottom:10px;}
.article-contents p{line-height:30px;font-size:16px;margin-bottom:23px;text-indent:2em;}
.article-contents  img.imgborder{text-align:center;margin:5px auto;display:block;}
.article-contents p.article-edit{text-align:right;color:#999999;}

.article-share{height:38px;line-height:38px;display:block;text-align:right;padding-top:20px;padding-left:560px;border-top:1px solid #ececec;font-size:14px;color:#666666;margin-bottom:60px;position:relative;z-index:2;}
.article-share i{height:38px;line-height:38px;vertical-align:top;float:left;}
.article-share a{width:38px;*width:0;padding-left:38px;font-size:0;line-height:0;overflow:hidden;height:38px;margin:0 0 0 25px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/carlife-ico1.png) no-repeat;display:inline-block;float:left;}
.article-share a.weixin{background-position:-40px -3px;position:relative;}
.article-share a.weibo{background-position:-92px -3px;}
.article-share a.QQ{background-position:-149px -3px;}

.article-news{margin-bottom:40px;display:table;}
.article-news ul{width:378px;float:left;border-top:1px solid #ececec;}
.article-news ul.second{float:right;}
.article-news ul li{height:50px;line-height:50px;border:1px solid #ececec;border-top:none;font-size:16px;}
.article-news ul li a{color:#666666;}
.article-news ul li a:hover{color:#fd9933;text-decoration:none;}
.article-news ul li em{width:50px;display:block;text-align:center;float:left;border-right:1px solid #ececec;margin-right:20px;}
.article-news ul li.current em{background-color:#fd9933;color:#ffffff;}
.article-news ul li.current a{color:#fd9933;}
.the-pages div a.read{font-size:16px;padding:0;}
.the-pages div a.read:hover{background:none;}

/*最新动态*/
.news-dynamic{margin-bottom:25px;display:table;}
.news-dynamic-list{padding-top:10px;}
.news-dynamic-list li{font-size:16px;height:25px;line-height:25px;width:380px;*width:365px;float:left;margin-left:20px;margin-right:30px;    background: url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/dian-ico.gif) no-repeat left center;padding-left:15px;margin-top:25px;overflow:hidden;}
.news-dynamic-list li a{color:#666666;}
.news-dynamic-list li a:hover{color:#fd9933;text-decoration:none;}

/*网友评论*/
.comments{margin-bottom:30px;}
.comments-list{padding:20px 0;border-bottom:1px solid #dddddd;}
.comments-textarea{width:860px;height:150px;margin-bottom:20px;position:relative;}
.comments-textarea textarea{width:860px;height:150px;border:1px solid #dddddd;border-radius:3px;font-size:16px;color:#cbcbcb;padding:10px;line-height:22px;}
.comments-textarea-error  textarea{background-color:#fffcf7;}
.comments-textarea-prompt{width:860px;height:150px;position:absolute;left:0;top:0;text-align:center;line-height:150px;font-size:16px;color:#e04228;}
.comments-textarea-prompt span{padding-left:20px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/carlife-error.png) no-repeat left center;}
.comments-land{height:42px;display:table;padding-bottom:10px;width:100%;}
.comments-land-left{float:left;line-height:38px;font-size:14px;}
.comments-land-left input{margin-right:20px;width:200px;height:40px;line-height:38px;border:1px solid #dddddd;border-radius:3px;font-size:16px;color:#cbcbcb;padding:0 10px;}
.comments-land-rit{float:right;text-align:right;display:inline;}
.comments-land-rit label{color:#666666;font-size:14px;margin-right:35px;}
.comments-land-rit label input{float:left;margin-right:5px;margin-top:15px;*margin-top:12px;}
.comments-list-floor{font-size:14px;color:#999999;margin-bottom:10px;}
.comments-list-floor em{width:50px;float:left;display:block;}
.comments-list-text{padding-left:50px;color:#333333;font-size:16px;line-height:30px;color:#333333;margin-bottom:10px;}
.comments-list-support{text-align:right;padding-bottom:10px;display:table;width:100%;font-size:14px;color:#999999}
.comments-list-support a{color:#999999;margin-left:10px;}
.comments-list-support a:hover{color:#fd9933;text-decoration:none;}
.carlife-recommend{margin-bottom:40px;}
.comments-list-upstairs{margin-left:50px;border:1px solid #dddddd;background-color:#fffcf7;margin-bottom:13px;}
.comments-list-upstairs p{line-height:20px;color:#999999;font-size:14px;margin:15px 25px 8px;}
.comments-list-upstairs-text{color:#333333;font-size:16px;line-height:30px;margin:0 25px;padding-bottom:15px;}
.comments-list-upstairs-in{margin:10px;}
/*二手车资讯*/
.information-news-list{width:100%;margin-top:-15px;}
.information-news-list li{font-size:16px;height:25px;line-height:25px; background: url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/dian-ico.gif) no-repeat left center;padding-left:15px;margin-top:20px;overflow:hidden;}
.information-news-list li a{color:#666666;}
.information-news-list li a:hover{color:#fd9933;text-decoration:none;}

.business-look-but{text-align:center;padding-bottom:30px;}
.business-look-but .btn-xlg{width:220px;height:40px;font-size:16px;}
.business-look-but .btn-xlg a{width:220px;height:40px;line-height:38px;font-size:16px;color:#333333;}
.business-look-but .btn-xlg a:hover{color:#fd9933;}

/*标题间距补充*/
.title-xm-size{line-height:24px;height:45px;}
