<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div id="style_box" class="style_box" style="background:url('http://t.image.bitautoimg.com/chedai/6b46b759-e069-4e02-9659-096e56dd472e.jpg') no-repeat top center">
    <div id="style_box_w1200" class="style_box_w1200">
        <div class="style_box_img">
            <div class="swiper_banner" id="swiper_banner">
                <div class="slider-wrapper theme-default">
                    <div class="nivoSlider slider">
                        <a href="http://daikuan.com/Article/Index/?id=10" target="_blank" data-trackerid="x001banner82">
                            <img src="http://img1.bitautoimg.com/chedai/63b80456-c70d-41c7-bcf9-380e16a19e3e.jpg" />
                        </a>
                        <a href="http://xinche.daikuan.com/activity/Halloween2016?from=754" target="_blank" data-trackerid="x001banner110">
                            <img src="http://t.image.bitautoimg.com/chedai/737e80de-69f0-43f7-9af0-945b27265a92.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p><img src="http://t.image.bitautoimg.com/chedai/6b46b759-e069-4e02-9659-096e56dd472e.jpg"></p>
    </div>
</div>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>