@import 'sassHelper/mixin';
@import 'sassHelper/vars';

#Header .header-bottom{
	display: none;
}

#Footer .yixin-footer, #Footer .footer-middle{
	display: none;
}

input::-ms-clear { display: none; } 