
/*top-image*/
.top-image{width:15rem;height:9.8rem;margin-bottom:1.2rem;}
.top-image img{width:15rem;height:9.8rem;}

/*form-wrapper*/
.form-wrapper{width:9.8rem;margin:0 auto;height:9rem;}
.form-wrapper div{border-bottom:0.02rem solid #a0a0a0;padding:0.24rem 0;}
.iphone-div{margin-bottom:0.94rem;}
.iphone-div:before{display: inline-block;content:"";width:0.62rem;height:0.66rem;vertical-align: middle;background:url('../images/images/iphone_03.png') left center no-repeat;background-size:cover;}
.form-wrapper input{height:0.66rem;vertical-align:middle;display: inline-block;margin-left:0.7rem;outline:none;color:#444;font-size:0.48rem;}
.iphone{width:5.2rem;}

/*checkcode-div*/
.checkcode-div:before{display:inline-block;content:"";width:0.7rem;height:0.66rem;vertical-align: middle;background:url('../images/images/iphone_06.png') left center no-repeat;background-size:cover;}
.checkcode{width:4.5rem;}
.code-btn{display: inline-block;width:3.2rem;height:0.94rem;line-height:0.94rem;vertical-align: middle;background:#444444;border-radius:0.1rem;color:#ffffff;font-size:0.48rem;font-family: "微软雅黑";text-align: center;}
