/*common.css*/
.w690{width:13.8rem;margin:0 auto;}

/*header*/
header{height:1.8rem;background:#23272f;line-height:1.8rem ;}
header .header-wrapper{position:relative;text-align:center;}
.header-wrapper .back{position:absolute;left:0;top:0.54rem;display:inline-block;width:0.4rem;height:0.8rem;background:url('../images/bac.png') left center no-repeat;background-size:cover;}
.header-wrapper .title{font-size:0.72rem;font-family:"宋体";color:#fdfdfd;}


/*info*/
.info{height:2.4rem;background:#ffffff;padding:1.3rem 0;}
.info .info-wrapper{font-size:0;}
.info .info-wrapper a{display:inline-block;}
.info .info-wrapper .header-image{margin:0 0.5rem;vertical-align: middle;} 
.info .info-wrapper .header-image img{width:2.52rem;height:2.52rem;display: inline-block;}
.info-wrapper .name{font-size:0.72rem;font-family:"微软雅黑";color:#4e4e4e;display: inline-block;vertical-align:middle;padding:0 0.14rem;margin-right:3.84rem;}
.info-wrapper .split{display: inline-block;border-left:1px solid #000;height:2rem;vertical-align: middle;margin:0 0.56rem;}

.edit-info{font-size:0.56rem;font-family:"微软雅黑";color:#9a9999;display:inline-block;vertical-align: middle;padding:0 0.3rem; }

/*horzion*/
.horzion{height:0.7rem;background:#f3f3f3;}

/*order-title*/
.order .order-title{height:1.5rem;line-height:1.5rem;font-size:0.56rem;font-family: "微软雅黑";color:#444444;}
/*.spit-line*/
.spit-line{height:0.05rem;background:#f3f3f3;}

/*order-state*/
.order-state{display:flex;justify-content: space-around;padding:0.54rem 0;}
.order-state a{width:2.76rem;height:1.56rem;display: inline-block;font-size:0.48rem;font-family: helvetica;color:#7c7c7c;text-align: center;line-height:1.04rem;}
.order-state a:before{display: block;content:"";margin: 0 auto;}
.item1:before{background:url('../images/images/order_08.png') left center no-repeat;background-size:cover;width:1.44rem;height:0.7rem;}
.item2:before{background:url('../images/images/order_03.png') left center no-repeat;background-size:cover;width:1.44rem;height:0.7rem;}
.item3:before{background:url('../images/images/order_04.png') left center no-repeat;background-size:cover;width:1.44rem;height:0.7rem;}
.item4:before{background:url('../images/images/order_10.png') left center no-repeat;background-size:cover;width:1.44rem;height:0.7rem;}

/*order-manage*/
.order-manage{height:2rem;line-height: 2rem;font-size:0.56rem;font-family: "微软雅黑";color:#444444;}
.order-manage-to{display: inline-block;width:0.4rem;height:0.72rem;background:url('../images/images/to_manage.png') left center no-repeat;background-size:cover;vertical-align:middle;margin-top:0.7rem;}
