@import "../../lesshelp/lesshelp.less";
/*背景透明度*/
.bg_opacity80{ width: 100%; height:100%; background: #000;filter:alpha(opacity=80);  -moz-opacity:0.8;  -khtml-opacity: 0.8;  opacity: 0.8;position: absolute ;left: 0; top: 0; }
.bg_opacity70{ width: 100%; height:100%; background: #000;filter:alpha(opacity=70);  -moz-opacity:0.7;  -khtml-opacity: 0.7;  opacity: 0.7;position: absolute ;left: 0; top: 0;  border-radius: 5/@r;}
/**/
.new_picshow_name{ height: 87/@r; line-height: 87/@r;  position: absolute ; width: 100%; left: 0; top: 0; z-index: 100;}
.new_picshow_name p{ width: 100%; height: 87/@r;position: absolute ; width: 100%; left: 0; top: 0; }

.showpic_back_ico{ color: #ffffff;width: 66/@r;  height: 87/@r; display:block; float: left; padding-left: 30/@r; background: url("../../img/bigimg-back.png") 30/@r center no-repeat; background-size: 16/@r 30/@r; padding-right: 20/@r;}

.new_picshow_name span{
  .fz(16px);
  color: #ffffff;
  padding: 0 20/@r 0 25/@r;
  display:block;
  height: 87/@r;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.picshow_hr{ width: 100%; height: 1px; opacity: 0.5;  background: #DDDDDD; position: absolute; left: 0;top: 87/@r; }


.picshow_number{  width: 72/@r; height: 40/@r; position: absolute; right: 22/@r;
  top:880/@r;
  //bottom: 280/@r;
  z-index: 100; color: #ffffff; font-family: Arial, Helvetica, sans-serif;}
.picshow_number p{.fz(12px); width: 100%; height: 100%; position: absolute ; width: 100%; left: 0; top: 0; line-height: 40/@r; text-align: center; }
.picshow_number p i{.fz(12px);}
.colf6{ color: #FF6600;}


/*按钮*/
.picshow_button{ width: 100%; height: 90/@r;position: absolute;  left: 0; bottom:0px;z-index: 100;}
.picshow_button p{padding: 0 30/@r; width: 100%; height: 90/@r; position: absolute; left: 0px;bottom: 60/@r; text-align: center; }
.picshow_btn_ms{ width: 330/@r; float: left; height: 90/@r; .fz(16px); display: inline-block; border-radius: 5/@r; line-height: 90/@r; color: #ffffff;}
.picshow_btn_m{
  width: 690/@r;
  height: 90/@r;
  .fz(16px);
  display: inline-block;
  line-height: 90/@r;
  color: #ffffff;
  background: #FF6402;
  border-radius: 5/@r;
  &:before{
    content: '';
    display: inline-block;
    width: 25/@r;
    height: 30/@r;
    background: url("../../img/bigimg-dhzx.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
    margin-right: 8/@r;
  }
}

.mykj-btn{
  background: #FF9900;
  margin-right: 30/@r;
  &:before{
    content: '';
    display: inline-block;
    width: 31/@r;
    height: 26/@r;
    background: url("../../img/bigimg-kanj.png") no-repeat;
    background-size: 100% auto;
    margin-right: 8/@r;

  }
}
.dhzx-btn{
  background: #FF6402;
  &:before{
    content: '';
    display: inline-block;
    width: 25/@r;
    height: 30/@r;
    background: url("../../img/bigimg-dhzx.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
    margin-right: 8/@r;
  }
}

























