<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no"/>

    <link rel="apple-touch-icon-precomposed" href='http://img1.bitautoimg.com/jinrong/newmweb/images/size4_w114_h114.png?v=201610191598' />

    <script src="{{htmlWebpackPlugin.options.common}}"></script>

    <title>【北京五菱宏光 2014款 1.2L 基本型】贷款-易鑫车贷</title>
    <meta name="keywords" content="北京一汽丰田汽车抵押贷款，北京一汽丰田车抵贷，北京一汽丰田车主，易鑫车贷" />
    <meta name="description" content="易鑫车贷车抵贷频道为您提供北京一汽丰田车抵贷、分期、按揭、信用贷款等优质服务；快速申请 一汽丰田车抵贷，低利率，最快2小时贷款，可贷预估车价90%；北京 一汽丰田车抵贷尽在易鑫车贷！" />
    <script type="text/javascript">
        var CODE_GETTING_URL = '/Validate/GetCode';
        var CODE_VALIDATING_URL = '/Validate/CheckCode';
        var USERCENTERURL = 'http://i.m.daikuan.com';
        var APIURL = 'http://api.chedai.bitauto.com/';
        var RESURL = 'http://img1.bitautoimg.com/jinrong/newmweb/';
        var CDNFileURL = 'http://img1.bitautoimg.com/chedai/';
        var BusinessLine = 552;
        var pingGuParas = { "Id": "8", "CarId": "113261", "LicenseYear": "2015", "LicenseMonth": "6", "LicenseCityID": "201", "Mileage": "2", "LoanPeriod": "12", "Source": "718", "CitySpell": "beijing" };
        var carImg = "http://img3.bitautoimg.com/autoalbum/files/20160803/574/0510235747_2.jpg";
        var city = {
            CityId: '201',
            CityName: '北京',
            CitySpell: 'beijing',
            RegionId: '110100'
        };
        //车款信息
        var car = {
            masterBrandName: "一汽丰田", //品牌名称
            masterBrandLogo: "http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/55/m_7_55.png", //品牌logoUrl
            serialId: "2701", //车系ID
            serialSpell: "yiqifengtianrav4", //车型全拼
            carPrice: "21.78", //车价
        };
        var licenseCityName = '北京';
        var loanRelJson = '[{"ChargingWay":0,"MonthRate":0.77,"LoanType":1,"Discount":0.00,"MonthPayment":12076.662902515321159786657596,"TotalMoney":6999.95483018385391743989115,"LoanRate":9.24,"RecommendProductID":4,"TotalDiscount":0,"LoanPeriod":12,"IsPromotion":false,"PromotionTitle":null},{"ChargingWay":0,"MonthRate":0.77,"LoanType":1,"Discount":0.00,"MonthPayment":6316.0377639561354842226177399,"TotalMoney":13664.90633494725162134282576,"LoanRate":18.48,"RecommendProductID":0,"TotalDiscount":0,"LoanPeriod":24,"IsPromotion":false,"PromotionTitle":null},{"ChargingWay":0,"MonthRate":0.77,"LoanType":1,"Discount":0.00,"MonthPayment":4401.2408963110163787111379196,"TotalMoney":20524.67226719658963360096511,"LoanRate":27.72,"RecommendProductID":6,"TotalDiscount":0,"LoanPeriod":36,"IsPromotion":false,"PromotionTitle":null}]';
        var totalCost = '6999.95483018385391743989115';//总成本
        var loanMoney = '13.792';//贷款额度
        var urlParams = {"pid":"5","carId":"113261","loanPeriod":"12","loanMoney":"13.792","source":"718","licenseCityID":"201","licenseMonth":"6","licenseYear":"2015","mileage":"2","orderId":"0"};
        var city = {
            CityId: '201',
            CityName: '北京',
            CitySpell: 'beijing',
            RegionId: '110100'
        };

    </script>


</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div id="yxWrapper">
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='http://img1.bitautoimg.com/jinrong/newmweb/images/pic300.jpg?v=201702061000' />
    </div>
    <input name="__RequestVerificationToken" type="hidden" value="Zrzhv2T_oNI9vHS8P73N4RmdrZzPcGa2TuG2A4nsDBP6lih5Naakm2iNFO1K-4vw0k9fRI6-cpqN5HV4qUm0JcdJ-fRu85x5Es8o9CCd_kc1" />

    <article class="list font-24">
        <!-- 头部导航开始 -->
        <header class="header-bar">
            <a id="backA" href="javascript:window.history.back(-1);"></a>
            <h1 class="font-nav">产品详情</h1>
            <span></span>
        </header>
        <script src="http://img4.bitautoimg.com/jinrong/assets/headType.m/headTypeCookies.js?v=201702061000"></script>
        <!-- 头部导航结束 -->
        <article class="detail-ctn">
            <blockquote class="bg-white pad30TB">
                <header class="uf uf-ic pad30B bb-gray mag30RL">
                    <div class="car-img uf uf-ic mag30R bd0">
                        <img src="http://img1.bitautoimg.com/chedai/1b64c3cb-008d-461d-9f52-76b48851094f.png" />
                    </div>
                    <div class="uf-f1">
                        <div class="car-name font-28 f-blod" data-id="6">
                            <span class="f-blod font-28">易鑫金融 放鑫融长期</span><span id="promotionHtml">
                                                    </span>
                        </div>
                        <div class="f-gray9 mag10T"><span class="mag40R">本月放款：8.96 万</span><span>月成交量：1 台</span></div>	            </div>
                </header>
                <article class="detail">
                    <div class="uf uf-ic pad30TB font-26">
                        <div class="uf-f1 ut-c">金额 <span class="f-red">13.79 万</span></div>
                        <div class="uf-f1 uf uf-ic">
                            期限
                            <!-- <span class="f-red">12个月 </span> -->
                            <div id="refundReason" data-id="12" class="f-red select-con" data-aslider-in="occupation|fade|bottom">12 个月</div>
                            <!-- 退款原因 -->
                            <aside class="sel-control-box" data-aslider="occupation">
                                <div class="asilder_wrapper">
                                    <div class="sel-ctrl-fun-btn">
                                        <div class="sel-ctrl-close font-nav">取消</div>
                                        <div class="sel-ctrl-title font-nav">期限</div>
                                        <div class="sel-ctrl-complete font-nav">确定</div>
                                    </div>
                                    <div class="scroll-wrapper">
                                        <div class="scroll">
                                            <ul class="slider">
                                                <li data-id="12" class="cur">12 个月</li>
                                                <li data-id="24">24 个月</li>	                                        <li data-id="36">36 个月</li>	                                    </ul>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="uf uf-ic">
                        <div class="w-50 box_sizing" id="myChart-box">
                            <canvas id="myChart" width="" height=""></canvas>
                        </div>
                        <div class="w-50">
                            <div class="uf uf-ic">
                                <div class="point mag25R"></div>
                                <div class="uf-f1 f-gray6"><span>月还款额</span> <span id="monthPay">1.21 万</span></div>
                            </div>

                            <div class="uf uf-ic mag10T">
                                <div class="point mag25R bg-blue"></div>
                                <div class="uf-f1 f-gray6"><span>贷款金额</span> <span id="loanMoney">13.79 万</span></div>
                            </div>
                            <div class="uf uf-ic mag10T">
                                <div class="point mag25R bg-yellow"></div>
                                <div class="uf-f1 f-gray6"><span>总成本</span> <span id="totalCost">0.70 万</span></div>
                            </div>
                            <div class="uf uf-ic mag10T">
                                <div class="point mag25R bg-white"></div>
                                <div class="uf-f1 f-C2 font-20"><span>此数据仅供参考</span></div>
                            </div>
                        </div>
                    </div>
                </article>
            </blockquote>

            <blockquote class="detail-box mag20T">
                <header class="ut-c f-yellow f-blod font-42">申请条件</header>
                <ul>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">大陆公民，18~60周岁内自然人</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">有车辆所有权</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">在贷款申请地工作和居住 6个月及以上</div>
                    </li>
                </ul>
            </blockquote>

            <blockquote class="detail-box mag20T">
                <header class="ut-c f-yellow f-blod font-42">所需材料</header>
                <ul>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">行驶证</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">机动车登记证</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">3个常用本地联系人号码</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">近6个月银行流水</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">银行借记卡</div>
                    </li>
                </ul>
            </blockquote>
            <blockquote class="detail-box mag20T">
                <header class="ut-c f-yellow f-blod font-42">车辆准入条件</header>
                <ul>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">个人名下</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">过户两次以内</div>
                    </li>
                    <li class="uf pad30R">
                        <div class="w-60">
                            <i class="det-icon"></i>
                        </div>
                        <div class="uf-f1 pad30TB font-30 det-txt">非运营用车</div>
                    </li>
                </ul>
            </blockquote>
        </article>

        <div class="h-btn"></div>
        <div class="btn-fixed h-btn" id="rplay">
            <div class="btn-black uf uf-ic bg-yellow"><div class="w-100 ut-c font-30">立即申请</div></div>
        </div>

        <!-- 成功结果页 -->
        <section id="applyBoxFour" class="result-ctn hide">
            <div class="res_wrap">
                <img src="http://img1.bitautoimg.com/jinrong/newmweb/images/chezhudai/icon-ok.png?v=201702061000" alt="" class="res_img">
                <h1 class="res_tit">恭喜您！获得 <span>--</span> 元贷款额度</h1>
                <p class="res_txt c_high hide">资质与当前金融方案不匹配</p>
                <p class="tip_txt font-28 f-gray9 mag10T hide">贷款顾问稍后会线下联系您帮您贷款</p>
                <p class="res_msg">提示：额度根据您的资质计算得出，实际金额以金融机构放贷为准</p>
            </div>
            <article class="msg_form hide">
                推荐您尝试以下合适的金融方案
            </article>
            <div class="fina_wrap">
                <div class="success_box mag20T bg-white pad20B hide">
                    <header class="pad30A">您选择的金融产品如下</header>
                    <div class="com-box box_sizing b-Fa" data-bind="foreach:{data:ProductCount}">
                        <div class="com-box-ctn box_sizing pad0R">
                            <a href="javascript:void(0);" class="uf uf-ic">
                                <img class="com-logo" src="" data-bind="attr:{'src':Logo}">
                                <div class="uf-f1">
                                    <div class="uf uf-ic mag20B">
                                        <div class="uf-f1">
                                            <span class="f-blod font-28" data-bind="text:ProductName">车易贷2号</span>
                                            <span data-bind="html:promotionHtml"><span class="label font-22">折扣</span><span class="label font-22">折扣</span></span>
                                        </div>
                                    </div>
                                    <div class="uf font-24">
                                        <div class="uf-f1 ut-l">
                                            <span class="f-gray6">月还款额</span> <span class="f-red" data-bind="text:MonthPayment"></span>
                                        </div>
                                        <!-- <div class="uf-f1 ut-c">
                                            <span class="f-gray6">利率</span> <span class="f-red" data-bind="text:MonthRate"></span>
                                        </div> -->
                                        <div class="uf-f1">
                                            <span class="f-gray6">总费用</span> <span class="f-red" data-bind="text:TotalMoney"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- 加载中开始 -->
                <div class="login-box hide"></div>
                <!-- 加载中结束 -->
            </div>

            <!-- 已经选择过金融产品 -->
            <div class="u_wrap mag20T hide">
                <a href="javascript:void(0);" id="backToMain" class="btn_main bg-yellow f-white">返回首页</a>
            </div>

            <div class="h-btn hide"></div>
            <!-- 列表页内容结束 -->
            <div class="btn-fixed h-btn uf hide">
                <div class="uf-f2 uf-ic btn-black uf uf-ic"><div class="w-100 ut-c font-26 apply-txt">请选择金融产品</div></div>
                <div id="apply-btn" class="uf-f1 uf-ic btn-gray uf uf-ic"><div class="w-100 ut-c font-30">立即申请</div></div>
            </div>
        </section>
    </article>
    <script>
        window.onload = function () {
            var ctx = document.getElementById("myChart").getContext("2d");

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [
                            totalCost,//总成本
                            loanMoney * 10000,//贷款
                        ],
                        backgroundColor: [
                            "#dbb76c",//总成本
                            "#516393",//贷款
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: []
                },
                options: {
                    responsive: true,
                    cutoutPercentage: 40,
                    //Function - Will fire on animation completion.
                    onAnimationComplete: function () { },
                    animation: {
                        animateScale: false,
                        animateRotate: true
                    },
                    elements: {
                        arc: {
                            backgroundColor: 'rgb(255, 0, 0)',
                            borderColor: 'rgb(0, 0, 255)',
                            borderWidth: 0,
                            hoverBackgroundColor: 'rgb(255, 255, 255)',
                        }
                    },
                    tooltips:{
                        enabled: false
                    }

                }
            };

            window.myDoughnut = new Chart(ctx, config);
        };
    </script>

    <div id="maskLayer"></div>
    <div class="bottom-to-top"><img src='http://img2.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201702061000' /></div>
</div>



{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>

</body>
</html>