<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
	<title>seo车型页</title>
    <script>
    	serialId = 2593;
    </script>
</head>
<body>
    <!-- {{{htmlWebpackPlugin.options.header}}} -->
    <header id="Header" class="newHeader">
	    <div class="header-top">
	        <div class="hd-top-con">
	            <p>服务电话：4000-169-169 (9:00-21:00）</p>
	            <ul>
	                <li>欢迎来到易鑫车贷</li>
	                <li id="loginLi" data-trackerid="x001denglu"></li>
	                <li><a href="/rapidloan" target="_blank" data-trackerid="x001jisudaikuan">极速贷款</a></li>
	                <li class="xc-hd-mark"></li>
	                <li class="xc-phone"><i></i>手机版
	                    <div class="qr-code-mweb"></div><span></span></li>
	                <li class="xc-hd-mark hd-mark-special"></li>
	                <li class="xc-pub"><i></i>公众号
	                    <div class="qr-code-weixin"></div><span></span></li>
	                <li class="xc-hd-mark hd-mark-special"></li>
	                <li class="xc-about"><a href="/home/About#aboutUs">关于我们</a></li>
	            </ul>
	        </div>
	    </div>
	    <div class="header-main clrfix">
	       <div class="yixin-logo fl">
	            <a href="/" data-trackerid="x001logo"></a>
	        </div>
	        <div class="sel-city fl">
	            <div class="sel-city-box" data-trackerid="x001chengshi"><span class="city-con">北京</span><i class="downArrow-icon"></i></div>
	        </div> 
	        <div class="search fl clrfix">
	          <div class="search-box fl clrfix">

	              <div class="search-change fl">
	                <div id="seacrchCtrl" class="select-ctrl">
	                  <div>新车</div>
	                  <ul class="drop-layer" style="display: none;">
	                    <!-- <li class="triangle-icon"></li> -->
	                    <li data-id="new" class="cur">新车</li>
	                    <li data-id="old">二手车</li>
	                  </ul>
	                </div>
	              </div>

	              <div class="search-input fl">
	                  <input id="searchCar" type="" name="" placeholder="请输入心仪品牌或车型"/>
	              </div>
	              <div id="carTip" style="display: none;">请输入心仪品牌或车型</div>
	          </div>
	          <a class="search-btn fl"><i></i>搜索</a>
	        </div>
	        <div class="login-status fr">
	            <a href="" target="_blank" data-trackerid="x001wodeshenqing">我的申请</a><i></i>
	        </div>
	    </div>
	    <div class="header-bottom">
	        <nav id="HeaderNav">
	            <ul>
	                <li id="xinche_index" class="current"><a href="/" data-trackerid="x001xinche">新车贷款</a><!-- <span><i>超低月供</i><b></b></span> --></li>
	                <li id="ershouche_index" class="special"><a href="" data-trackerid="x001ershouche">二手车贷款</a><!-- <span><i>优质车源</i><b></b></span> --></li>
	                <li id="baoxian_index"><a href="" data-trackerid="x001baoxian">汽车保险</a><!-- <span><i>优惠更多</i><b></b></span> --></li>
	                <li id="chezhudai_index"><a href="" data-trackerid="x001chedidai">车主贷款</a><!-- <span><i>高效服务</i><b></b></span> --></li>
	                <li id="qijiandian_index" class="special2"><a href="" data-trackerid="x001shop">旗舰店</a></li>
	                <li id="xinyongka_index" class="special"><a href="" data-trackerid="x001xinyongka">车主信用卡</a></li>
	                <li id="baodian_index" class="special2"><a href="" data-trackerid="x001baodian">宝典</a></li>
	                <!-- <li class="nav-mask"></li> -->
	            </ul>
	        </nav>
	    </div>
	</header>
    
    <!-- 面包屑 start -->
    <nav class="path-nav">
        <a href="/">首页</a><i> &gt; </i><a href="javascript:void(0);">奥迪</a><i> &gt; </i>奥迪A4L
    </nav>
    <!-- 面包屑 end -->
    
    <section class="seobrand_wrapper clrfix">

    	<!-- 左侧 start -->
    	<div class="seobrand_fl">

			<!-- 车型信息 start -->
			<section class="floorcar_wrap floorcar_wrap_top clrfix">
		    	<div class="car_photo">
		    		<img src="http://img1.bitautoimg.com/autoalbum/files/20150617/330/15531733019761_4110016_3.jpg" alt="" width="360" height="240">
		    		<div class="car_photo_link clrfix">
		    			<a href="javascript:void(0);" target="_blank">2723张图片</a>
		    			<a href="javascript:void(0);" target="_blank">参数配置</a>
		    		</div>
		    	</div>

		    	<div class="car_info">
		    		<dl>
		    			<dt>
		    				<a href="javascript:void(0);">奥迪A6L</a>
		    				<h1 class="forseo"><a href="javascript:void(0);">奥迪A6L</a></h1>
		    				<span>参考价：<b>18.20~30.24</b>万</span>
		    			</dt>

		    			<dd class="car_info_det">
		    				<ul>
		    					<li>排  量：1.4T 1.8T 2.0T</li>
		    					<li>油耗: 6.9~9.2L</li>
		    					<li>变速箱：手动/自动</li>
		    					<li>保修：三年或10万公里</li>
		    				</ul>
		    			</dd>

		    			<dd class="car_info_sel clrfix">
		    				<div>
		                        <label>首付</label>
		                        <ul class="point" id="downpayment">
		                            <li class="" data-id="0">0%</li>
		                            <li class="" data-id="10">10%</li>
		                            <li class="" data-id="20">20%</li>
		                            <li class="" data-id="30">30%</li>
		                            <li class="" data-id="40">40%</li>
		                            <li class="" data-id="50">50%</li>
		                            <li class="" data-id="60">60%</li>
		                            <li class="" data-id="70">70%</li>
		                        </ul>
		                    </div>
		                    <div>
		    					<label>期限</label>
		                        <ul class="point point_qx" id="period">
		                            <li class="" data-id="12">12期</li>
		                            <li class="" data-id="18">18期</li>
		                            <li class="" data-id="24">24期</li>
		                            <li class="" data-id="36">36期</li>
		                            <li class="" data-id="48">48期</li>
		                            <li class="" data-id="60">60期</li>
		                        </ul>
		    				</div>
	                    </dd>

	                    <dd class="car_info_link">
	                    	<a href="" target="_blank">更多贷款购车方案 &gt;&gt;</a>
	                    </dd>
		    		</dl>
		    	</div>
			</section>
			<!-- 车型信息 end -->

	    	<!-- 价格信息 start -->
	    	<section class="floorcar_wrap ceiling_wrap" id="ceilingTab">
		    	<header class="car_tab clrfix" id="carTab">
		    		<ul>
		    			<li class="cur"><a href="javascript:void(0);" data-name="type_2017">2017款</a></li>
		    			<li><a href="javascript:void(0);" data-name="type_2016">2016款</a></li>
		    			<li><a href="javascript:void(0);" data-name="type_2015">2015款</a></li>
		    		</ul>
		    		<span class="sidemore">
		    			<a href="javascript:void(0);" target="_blank" class="arr_right">奥迪全部车型</a>
		    		</span>
		    	</header>

		    	<div class="car_tab_holder" id="carTabHolder"></div>
                <!-- type_2017 -->
                <div class="car_ul_box" id="type_2017">
                    <dl class="dl">
                        <dt class="tit">
                            <div class="call_1">2017款</div>
                            <div class="call_2">参考价</div>
                            <div class="call_3">贷款额度<span>(车价-首付)</span></div>
                            <div class="call_4">首付<span>（车价×<b class="sfProportion">30</b>%）</span></div>
                            <div class="call_5">月供</div>
                            <div class="call_6"></div>
                        </dt>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                    </dl>
                </div>
                <!-- type_2016 -->
                <div class="car_ul_box" id="type_2016">
                    <dl class="dl">
                        <dt class="tit">
                        <div class="call_1">2017款</div>
                        <div class="call_2">参考价</div>
                        <div class="call_3">贷款额度<span>(车价-首付)</span></div>
                        <div class="call_4">首付<span>（车价×<b class="sfProportion">30</b>%）</span></div>
                        <div class="call_5">月供</div>
                        <div class="call_6"></div>
                        </dt>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                    </dl>
                </div>
                <!-- type_2015 -->
                <div class="car_ul_box" id="type_2015">
                    <dl class="dl">
                        <dt class="tit">
                        <div class="call_1">2017款</div>
                        <div class="call_2">参考价</div>
                        <div class="call_3">贷款额度<span>(车价-首付)</span></div>
                        <div class="call_4">首付<span>（车价×<b class="sfProportion">30</b>%）</span></div>
                        <div class="call_5">月供</div>
                        <div class="call_6"></div>
                        </dt>
                        <dd class="info">
                            <a data-id="116516" href="/beijing/quanxinaodia4l/m117721/?source=984">
                                <div class="call_1" title="40TFSI进取型">40TFSI进取型</div>
                                <div class="call_2"><b>25.11</b>万</div>
                                <div class="call_3"><b>8.11</b>万</div>
                                <div class="call_4"><b>20.11</b>万</div>
                                <div class="call_5"><b>1220元</b>起</div>
                                <div class="call_6"><i class="btn_red">查看贷款产品</i></div>
                            </a>
                        </dd>
                    </dl>
                </div>
		    	<!--<table cellpadding="0" cellspacing="0" class="car_table" >
		    		<thead>
		    			<tr>
		    				<th width="180">2017款</th>
		    				<th width="120">参考价</th>
		    				<th width="170">贷款额度<span>(车价-首付)</span></th>
		    				<th width="160">首付<span>（车价×<b class="sfProportion">30</b>%）</span></th>
		    				<th width="124">月供</th>
		    				<th>&nbsp;</th>
		    			</tr>
		    		</thead>
		    		<tbody>
			    		<tr data-id="116516" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.11</b>万</td>
			    			<td><b>8.11</b>万</td>
			    			<td><b>20.11</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>
			    		<tr data-id="117720" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.22</b>万</td>
			    			<td><b>8.22</b>万</td>
			    			<td><b>20.22</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>
			    		<tr data-id="116517" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.33</b>万</td>
			    			<td><b>8.33</b>万</td>
			    			<td><b>20.33</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>		    			
		    		</tbody>
		    	</table>
				
				<table cellpadding="0" cellspacing="0" class="car_table" id="type_2016">
		    		<thead>
		    			<tr>
		    				<th width="180">2016款</th>
		    				<th width="120">参考价</th>
		    				<th width="170">贷款额度<span>(车价-首付)</span></th>
		    				<th width="160">首付<span>（车价×<b class="sfProportion">30</b>%）</span></th>
		    				<th width="124">月供</th>
		    				<th>&nbsp;</th>
		    			</tr>
		    		</thead>
		    		<tbody>
			    		<tr data-id="116518" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.43</b>万</td>
			    			<td><b>8.99</b>万</td>
			    			<td><b>20.99</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>
			    		<tr data-id="117721" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.43</b>万</td>
			    			<td><b>8.99</b>万</td>
			    			<td><b>20.99</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>
			    		<tr data-id="117722" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.43</b>万</td>
			    			<td><b>8.99</b>万</td>
			    			<td><b>20.99</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>		    			
		    		</tbody>
		    	</table>
				
				<table cellpadding="0" cellspacing="0" class="car_table" id="type_2015">
		    		<thead>
		    			<tr>
		    				<th width="180">2015款</th>
		    				<th width="120">参考价</th>
		    				<th width="170">贷款额度<span>(车价-首付)</span></th>
		    				<th width="160">首付<span>（车价×<b class="sfProportion">30</b>%）</span></th>
		    				<th width="124">月供</th>
		    				<th>&nbsp;</th>
		    			</tr>
		    		</thead>
		    		<tbody>
			    		<tr data-id="116519" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.43</b>万</td>
			    			<td><b>8.99</b>万</td>
			    			<td><b>20.99</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>
			    		<tr data-id="116515" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.43</b>万</td>
			    			<td><b>8.99</b>万</td>
			    			<td><b>20.99</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>
			    		<tr data-id="117723" data-link="/beijing/quanxinaodia4l/m117721/?source=984">
			    			<td title="40TFSI进取型">40TFSI进取型</td>
			    			<td><b>25.43</b>万</td>
			    			<td><b>8.99</b>万</td>
			    			<td><b>20.99</b>万</td>
			    			<td><b>1220元</b>起</td>
			    			<td><i class="btn_red">查看贷款产品</i></td>
			    		</tr>		    			
		    		</tbody>
		    	</table>-->
	    	</section>
			<!-- 价格信息 end -->


			<!-- 车主晒单 start -->
		    <section class="floor_wrap" id="carTabBot">

		    	<header class="tit_1">车主晒单<span class="sidemore"><a href="javascript:void(0);" target="_blank" class="arr_right">更多晒单</a></span></header>

		    	<section class="car_shareorder clrfix">
					
					<div class="shareorder_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://image.bitautoimg.com/appimage/cheyou/h/20160912/w1706_h960_e4b929b4-8f24-441b-b135-b9eeee9f2776.jpg" alt="">
		                    </div>
		                    <section class="user_content">
		                        <div class="user_pho">
		                            <img src="http://pic.baa.bitautotech.com/newavatar/120.jpg" class="user_img">
		                            <div class="user_name">dub230912</div>
		                            <i class="user_praise">14</i>
		                        </div>
		                        <div class="user_des">
		                        	<p>北京提风雪铁龙C3XR，最高颜值小型SUV，秀气登场！</p>
		                        </div>
		                    </section>
		                </a>
	                </div>
					<div class="shareorder_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://image.bitautoimg.com/appimage/cheyou/h/20160912/w1706_h960_e4b929b4-8f24-441b-b135-b9eeee9f2776.jpg" alt="">
		                    </div>
		                    <section class="user_content">
		                        <div class="user_pho">
		                            <img src="http://pic.baa.bitautotech.com/newavatar/120.jpg" class="user_img">
		                            <div class="user_name">dub230912</div>
		                            <i class="user_praise">14</i>
		                        </div>
		                        <div class="user_des">
		                        	<p>北京提风雪铁龙C3XR，最高颜值小型SUV，秀气登场！</p>
		                        </div>
		                    </section>
		                </a>
	                </div>
					<div class="shareorder_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://image.bitautoimg.com/appimage/cheyou/h/20160912/w1706_h960_e4b929b4-8f24-441b-b135-b9eeee9f2776.jpg" alt="">
		                    </div>
		                    <section class="user_content">
		                        <div class="user_pho">
		                            <img src="http://pic.baa.bitautotech.com/newavatar/120.jpg" class="user_img">
		                            <div class="user_name">dub230912</div>
		                            <i class="user_praise">4</i>
		                        </div>
		                        <div class="user_des">
		                        	<p>北京提风雪铁龙C3XR，最高颜值小型SUV，秀气登场！</p>
		                        </div>
		                    </section>
		                </a>
	                </div>
					<div class="shareorder_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://image.bitautoimg.com/appimage/cheyou/h/20160912/w1706_h960_e4b929b4-8f24-441b-b135-b9eeee9f2776.jpg" alt="">
		                    </div>
		                    <section class="user_content">
		                        <div class="user_pho">
		                            <img src="http://pic.baa.bitautotech.com/newavatar/120.jpg" class="user_img">
		                            <div class="user_name">dub230912</div>
		                            <i class="user_praise">4</i>
		                        </div>
		                        <div class="user_des">
		                        	<p>北京提风雪铁龙C3XR，最高颜值小型SUV，秀气登场！</p>
		                        </div>
		                    </section>
		                </a>
		            </div>

	            </section>
		    </section>
		    <!-- 车主晒单 end -->

		    <!-- 相关二手车 start -->
			<section class="floor_wrap">

		    	<header class="tit_1">相关二手车<span class="sidemore"><a href="javascript:void(0);" target="_blank" class="arr_right">更多二手车</a></span></header>

		    	<section class="car_ershou clrfix">

		    		<div class="ershou_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://img1.bitautoimg.com/autoalbum/files/20150617/330/15531733019761_4110016_3.jpg" alt="">
		                    </div>
		                    <section class="car_content">
		                    	<p class="car_name">奥迪A4L 2013款 35 TFSI自动 标准型</p>
		                    	<p class="car_det">2012年上牌 行驶6.08万公里</p>
		                        <p class="car_bot">
		                        	<span><b>¥18.20</b>万</span>
		                        	<i class="btn_red">去看看</i>
		                        </p>
		                    </section>
		                </a>
		    		</div>
		    		<div class="ershou_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://img1.bitautoimg.com/autoalbum/files/20150617/330/15531733019761_4110016_3.jpg" alt="">
		                    </div>
		                    <section class="car_content">
		                    	<p class="car_name">奥迪A4L 2013款 35 TFSI自动 标准型</p>
		                    	<p class="car_det">2012年上牌 行驶6.08万公里</p>
		                        <p class="car_bot">
		                        	<span><b>¥18.20</b>万</span>
		                        	<i class="btn_red">去看看</i>
		                        </p>
		                    </section>
		                </a>
		    		</div>
		    		<div class="ershou_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://img1.bitautoimg.com/autoalbum/files/20150617/330/15531733019761_4110016_3.jpg" alt="">
		                    </div>
		                    <section class="car_content">
		                    	<p class="car_name">奥迪A4L 2013款 35 TFSI自动 标准型</p>
		                    	<p class="car_det">2012年上牌 行驶6.08万公里</p>
		                        <p class="car_bot">
		                        	<span><b>¥18.20</b>万</span>
		                        	<i class="btn_red">去看看</i>
		                        </p>
		                    </section>
		                </a>
		    		</div>
		    		<div class="ershou_item">
				    	<a href="javascript:void(0);">
		                    <div class="car_img">
		                    	<img src="http://img1.bitautoimg.com/autoalbum/files/20150617/330/15531733019761_4110016_3.jpg" alt="">
		                    </div>
		                    <section class="car_content">
		                    	<p class="car_name">奥迪A4L 2013款 35 TFSI自动 标准型</p>
		                    	<p class="car_det">2012年上牌 行驶6.08万公里</p>
		                        <p class="car_bot">
		                        	<span><b>¥18.20</b>万</span>
		                        	<i class="btn_red">去看看</i>
		                        </p>
		                    </section>
		                </a>
		    		</div>
		    	</section>
		    </section>
		    <!-- 相关二手车 end -->

			<!-- 贷款流程 start -->
		    <section class="floor_wrap">

		    	<header class="tit_1">贷款流程</header>
				<img class="" src="../images/loanflow.html.png">

	        </section>
	        <!-- 贷款流程 end -->
		</div>
    	<!-- 左侧 end -->

    	<!-- 右侧 start -->
	    <div class="seobrand_fr">

	    	<div class="ceiling_side" id="ceilingSide">

				<!-- 同价位车型 start -->
		    	<section class="floor_wrap">
			    	<aside class="modu_wrap">

				        <header class="tit_4"><span>同价位车款</span></header>
				        <div class="same-price-car">
				            <div class="swiper-container" id="samePriceCar">
				                <ul class="clrfix swiper-wrapper">
				                	<li class="swiper-slide">
			                            <a href="" class="clrfix" target="_blank">
			                                <img src="http://img3.bitautoimg.com/autoalbum/files/20120301/269/10515726971432_1828450_3.jpg" width="100" height="60">
			                                <div>
			                                    <b class="ut-s">瑞鹰</b>
			                                    <div><span>12.20~12.05</span>万</div>
			                                </div>
			                            </a>
			                        </li>
				                	<li class="swiper-slide">
			                            <a href="" class="clrfix" target="_blank">
			                                <img src="http://img3.bitautoimg.com/autoalbum/files/20120301/269/10515726971432_1828450_3.jpg" width="100" height="60">
			                                <div>
			                                    <b class="ut-s">瑞鹰</b>
			                                    <div><span>12.20~12.05</span>万</div>
			                                </div>
			                            </a>
			                        </li>
				                	<li class="swiper-slide">
			                            <a href="" class="clrfix" target="_blank">
			                                <img src="http://img3.bitautoimg.com/autoalbum/files/20120301/269/10515726971432_1828450_3.jpg" width="100" height="60">
			                                <div>
			                                    <b class="ut-s">瑞鹰</b>
			                                    <div><span>12.20~12.05</span>万</div>
			                                </div>
			                            </a>
			                        </li>
				                	<li class="swiper-slide">
			                            <a href="" class="clrfix" target="_blank">
			                                <img src="http://img3.bitautoimg.com/autoalbum/files/20120301/269/10515726971432_1828450_3.jpg" width="100" height="60">
			                                <div>
			                                    <b class="ut-s">瑞鹰</b>
			                                    <div><span>12.20~12.05</span>万</div>
			                                </div>
			                            </a>
			                        </li>
				                </ul>
				            </div>
				            <div class="swiper-switch">
				                <a class="up-btn"></a>
				                <a class="down-btn"></a>
				            </div>
				        </div>

				    </aside>
				</section>
				<!-- 同价位车型 start -->

		    	<!-- 热销车款 start -->
		    	<section class="floor_wrap">

			    	<aside class="modu_wrap">

				        <header class="tit_4"><span>热销车款</span></header>
			    		<ul class="hotlist">
			    			<li class="hotitem">
			    				<a href="" target="_blank">
			    					<img src="http://img1.bitautoimg.com/autoalbum/files/20130619/017/0957310170_8.jpg" alt="">
			    					<h3>奥迪A4L</h3>
			    					<p>车价 4.19万</p>
			    					<p>月供 <span>3387元</span></p>
			    				</a>
			    			</li>
			    			<li class="hotitem">
			    				<a href="" target="_blank">
			    					<img src="http://img1.bitautoimg.com/autoalbum/files/20130619/017/0957310170_8.jpg" alt="">
			    					<h3>奥迪A4L</h3>
			    					<p>车价 4.19万</p>
			    					<p>月供 <span>3387元</span></p>
			    				</a>
			    			</li>
			    			<li class="hotitem">
			    				<a href="" target="_blank">
			    					<img src="http://img1.bitautoimg.com/autoalbum/files/20130619/017/0957310170_8.jpg" alt="">
			    					<h3>奥迪A4L</h3>
			    					<p>车价 4.19万</p>
			    					<p>月供 <span>3387元</span></p>
			    				</a>
			    			</li>
			    		</ul>

			    	</aside>
		    		
		    	</section>
		    	<!-- 热销车款 end -->
                <!-- 车贷资讯 start -->
                <section class="floor_wrap">
                    <aside class="modu_wrap">
                        <header class="tit_4"><span><a href="#">车贷资讯</a></span></header>
                        <ul class="loan-news-list">
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">贷款购车要走哪些流程？看完这篇攻略，小…贷款购车要走哪些流程？看完这篇攻略，小…，小…？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                            <li><a href="#">汽车贷款的条件是什么？</a></li>
                        </ul>
                    </aside>
                </section>
                <!-- 车贷资讯 end -->
                <!-- SEO 推荐品牌和车系 start -->
                <section class="floor_wrap">
                    <aside class="modu_wrap">
                        <header class="tit_4"><span>更多新车贷款</span></header>
                        <dl class="seo-brands-list">
                            <dt>
                                <a href="/beijing/brand/jianglingjituanqingqi/" title="江铃集团轻汽贷款">
                                    <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_224_100.png">
                                    <span>江铃集团轻汽</span>
                                </a>
                                <a href="/beijing/brand/zotyeauto/" title="众泰贷款">
                                    <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_77_100.png">
                                    <span>众泰</span>
                                </a>
                                <a href="/beijing/brand/jac/" title="江淮贷款">
                                    <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_35_100.png">
                                    <span>江淮</span>
                                </a>
                            </dt>
                            <dd>
                                <a href="/beijing/serial/leinuomeiganna/" 雷诺梅甘娜r.s.贷款="">雷诺梅甘娜R.S.</a>
                                <a href="/beijing/serial/bentengb90/" 奔腾b90贷款="">奔腾B90</a>
                                <a href="/beijing/serial/beidouxingx5/" 铃木北斗星x5贷款="">铃木北斗星X5</a>
                                <a href="/beijing/serial/biaozhi308sw/" 标致308="" sw贷款="">标致308 SW</a>
                                <a href="/beijing/serial/qilingpika/" 江铃集团轻汽骐铃t5贷款="">江铃集团轻汽骐铃T5</a>
                                <a href="/beijing/serial/gla/" 奔驰gla级贷款="">奔驰GLA级</a>
                                <a href="/beijing/serial/jianghuaisii-3697/" 江淮瑞风s5贷款="">江淮瑞风S5</a>
                                <a href="/beijing/serial/aodiq7/" 奥迪q7贷款="">奥迪Q7</a>
                                <a href="/beijing/serial/xintengda/" 海马商用车福仕达新腾达贷款="">海马商用车福仕达新腾达</a>
                                <a href="/beijing/serial/yingfeinidiqx30/" 英菲尼迪qx30贷款="">英菲尼迪QX30</a>
                                <a href="/beijing/serial/ga3/" 广汽传祺传祺ga3贷款="">广汽传祺传祺GA3</a>
                                <a href="/beijing/serial/mairuibao/" 雪佛兰迈锐宝贷款="">雪佛兰迈锐宝</a>
                                <a href="/beijing/serial/599gtb/" 法拉利599贷款="">法拉利599</a>
                                <a href="/beijing/serial/dmax/" 五十铃d-max贷款="">五十铃D-MAX</a>
                                <a href="/beijing/serial/fengtianpuladuo/" 丰田普拉多贷款="">丰田普拉多</a>
                                <a href="/beijing/serial/shuanglongxinzhuxi/" 双龙主席贷款="">双龙主席</a>
                                <a href="/beijing/serial/a30/" 东风风神a30贷款="">东风风神A30</a>
                                <a href="/beijing/serial/yangguang/" 日产阳光贷款="">日产阳光</a>
                                <a href="/beijing/serial/dazhongmultivan/" 大众迈特威贷款="">大众迈特威</a>
                                <a href="/beijing/serial/ougetl/" 讴歌tl贷款="">讴歌TL</a>
                            </dd>
                        </dl>
                    </aside>
                </section>
                <!-- SEO 推荐品牌和车系 end -->
		    </div>
		</div>
		<!-- 右侧 end -->

	</section>


	{{{htmlWebpackPlugin.options.footer}}}

	<script src="{{htmlWebpackPlugin.options.script}}"></script>
	
</body>
</html>