.public-header {
	background-color: #43bc7b;
	height: 130px;
}

.header-logo {
	margin-top: 50px;
	margin-right: 90px;
}

.header-logo-a {
	width: 120px;
	height: 30px;
	display: inline-block;
	background: url(../img/logo.png) no-repeat left top;
}

.header-menu {
	/*去掉子元素 行内元素默认的间距*/
	font-size: 0;
	margin-top: 58px;
}

.header-menu-item {
	display: inline-block;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #fff;
	margin-right: 44px;
}

.header-contact {
	font-size: 0;
	margin-top: 50px;
}

.header-contact a {
	display: inline-block;
	width: 31px;
	height: 30px;
	border-radius: 50%;
}

.header-contact-facebook {
	background: url(../img/facebook.png) no-repeat left top;
	margin-right: 20px;
}

.header-contact-twitter {
	background: url(../img/twitter.png) no-repeat left top;
	margin-right: 20px;
}

.header-contact-google {
	background: url(../img/google.png) no-repeat left top;
}


/*footer --------------------------*/

.public-footer {
	height: 210px;
	position: relative;
	padding-top: 100px;
}

.footer-system {
	text-align: center;
}

.copyright {
	font-size: 12px;
	color: #767272;
	margin-top: 60px;
	text-align: center;
}

.footer-system>a {
	display: inline-block;
	height: 38px;
}

.android {
	width: 33px;
	background: url(../img/systemicon.png) no-repeat left top;
	margin-right: 66px;
}

.mac {
	width: 27px;
	background: url(../img/systemicon.png) no-repeat -33px top;
	margin-right: 66px;
}

.window {
	width: 40px;
	background: url(../img/systemicon.png) no-repeat -60px top;
}

.weburl {
	color: #000;
}


/*banner*/

.index-banner {
	position: relative;
	height: 560px;
}

.banner-img {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -750px;
}
.banner-container{
	position:absolute;
	top:176px;
	width:1030px;
	left:50%;
	margin-left:-550px;
	height:384px;
	padding-left:80px;
}
.banner-title{
	font-size:34px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#525252;
	width:480px;
	height:24px;
	line-height:24px;;
}
.banner-sub-title{
	
	font-size:16px;
	font-family: "微软雅黑";
	color:#6e6c6c;
	line-height: 28px;
	width:560px;
	height:45px;
	margin-top:40px;
}
