
/*上传成功*/
.cont-none{ font-size: 1.5rem;padding:30px 15px 15px; background: #fff; text-align: center;min-height:auto!important; }
.cont-none i{ display: block; width:104px; height: 92px;margin: 0 auto 13px; background: url(http://image.bitautoimg.com/taoche/2016taoche_m/suc.png) no-repeat; background-size: 104px 92px }
.cont-none h2{font-size: 1.8rem; margin-bottom: 10px;color:#333333;}
.cont-none p{ font-size: 1.4rem; color: #999;}
.cont-none-invalid i{width:160px; height: 91px;margin:5px auto 20px;background: url(http://image.bitautoimg.com/taoche/2016taoche_m/fail_320_182.png) no-repeat; background-size: 160px 91px;}
.cont-none-invalid p{color:#666666;line-height:25px;}
.upload-pictures{margin:0 15px;padding-bottom:30px;}
.upload-pictures-tit{margin:12px 0;line-height:20px;font-size:1.4rem;color:#666666;}
.upload-pictures-tit span{color:#999999;}
.upload-pictures-tit strong{color:#333333;}
.upload-pictures-big{display:table;position:relative;line-height:0;border:1px solid #dedede;}
.upload-pictures-big img{margin:0px auto;padding:0;width:100%;height:100%;}
.upload-pictures-big i{width:100%;height:100%;position:absolute;left:0;top:0;}
.upload-pictures-big i a{width:100%;height:100%;display:block;background:url(http://image.bitautoimg.com/taoche/2016taoche_m/bcar-add.png) no-repeat;background-size:43px 43px;background-position:center center;}
.upload-pictures-close{position:absolute;right:-5px;top:-5px;width:0px;padding-left:20px;height:20px;line-height:0;font-size:0;background:url(http://image.bitautoimg.com/taoche/2016taoche_m/bcar-close.png) no-repeat;background-size:20px 20px;background-position:center center;}
.upload-pictures-but{height:45px;line-height:45px;width:100%;text-align:center;color:#ffffff;font-size:1.6rem;background-color:#FF9900;display:block;border-radius:4px;margin-top:15px;}

/*进度条 弹出层*/
.progress-layer{width:300px;height:90px;left:50%;margin-left:-150px;position:absolute;background-color:#ffffff;border-radius:12px;z-index:1001;}
.progress-bar{width:240px;height:10px;background-color:#f5f5f5;border-radius:30px;margin:25px auto 10px;}
.progress-bar span{height:10px;background-color:#56b82a;border-radius:30px;display:block;}
.progress-layer p{text-align:center;font-size:1.2rem;}



.upload-pictures-add .c-box{border:1px solid #dddddd;}

.upload-pictures-list{width:100%;display:table;}
/*.upload-pictures-list  ul{margin-top:-15px;margin-left:-15px;}
.upload-pictures-list li{width:165px;height:110px;float:left;margin-left:14px;margin-top:15px;position:relative;}
*/
.upload-pictures-list ul {margin-left:-15px;margin-top:-15px;}
.upload-pictures-list ul li { width: 50%; float: left; padding: 15px 0 0 15px; box-sizing: border-box; position: relative;}
            .upload-pictures-list ul li .c-box { width: 100%; position: relative; box-sizing: border-box; overflow: hidden; }
              .upload-pictures-list ul li .c-box:before { content: ''; display: block; width: 100%; padding-top: 66.6666%; /*3:2图片比例*/ }
               .upload-pictures-list ul li .c-box img { position: absolute; left: 50%; top: 50%; min-width: 100%; min-height: 100%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
                    .upload-pictures-list ul li .c-box img.horizontal { max-width: 100%; min-width: 100%; max-width: initial; min-height: initial; max-height: 100%; }

.upload-pictures-list .upload-pictures-close{right:-5px;top:5px;}
/*@media screen and (max-width: 320px) {
	.upload-pictures-list li{width:135px;height:100px;}

}*/


.upload-pictures-list ul li .c-box a{display:block;}
