<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script type="text/javascript">
      // 是否引用新的顶通
      var isNewHeader = true;
      // 是否初始化页面定位到顶通底部
      var isHeaderBottom = true;
    </script>
</head>
<body>
<!-- {{{htmlWebpackPlugin.options.header}}} -->
  <header id="Header" class="newHeader">
    <div class="header-top">
        <div class="hd-top-con">
            <p>服务电话：4000-169-169 (9:00-21:00）</p>
            <ul>
                <li>欢迎来到易鑫车贷</li>
                <li id="loginLi" data-trackerid="x001denglu"></li>
                <li><a href="/rapidloan" target="_blank" data-trackerid="x001jisudaikuan">极速贷款</a></li>
                <li class="xc-hd-mark"></li>
                <li class="xc-phone"><i></i>手机版
                    <div class="qr-code-mweb"></div><span></span></li>
                <li class="xc-hd-mark hd-mark-special"></li>
                <li class="xc-pub"><i></i>公众号
                    <div class="qr-code-weixin"></div><span></span></li>
                <li class="xc-hd-mark hd-mark-special"></li>
                <li class="xc-about"><a href="/home/About#aboutUs">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="header-main clrfix">
       <div class="yixin-logo fl">
            <a href="/" data-trackerid="x001logo"></a>
        </div>
        <div class="sel-city fl">
            <div class="sel-city-box" data-trackerid="x001chengshi"><span class="city-con">北京</span><i class="downArrow-icon"></i></div>
        </div> 
        <div class="search fl clrfix">
          <div class="search-box fl clrfix">
              <div class="search-change fl">
                  <div id="seacrchCtrl" class="select-ctrl">
                    <div>新车</div>
                    <ul class="drop-layer" style="display: none;">
                      <!-- <li class="triangle-icon"></li> -->
                      <li data-id="new" class="cur">新车</li>
                      <li data-id="old">二手车</li>
                    </ul>
                  </div>
              </div>

              <div class="search-input fl">
                  <input id="searchCar" type="" name="" placeholder="请输入心仪品牌或车型"/>
              </div>
              <div id="carTip" style="display: none;">请输入心仪品牌或车型</div>
          </div>
          <a class="search-btn fl"><i></i>搜索</a>
        </div>
        <div class="login-status fr">
            <a href="" target="_blank" data-trackerid="x001wodeshenqing">我的申请</a><i></i>
        </div>
    </div>
    <div class="header-bottom">
        <nav id="HeaderNav">
            <ul>
                <li id="xinche_index" class="current"><a href="/" data-trackerid="x001xinche">新车贷款</a><span><i>超低月供</i><b></b></span></li>
                <li id="ershouche_index" class="special"><a href="" data-trackerid="x001ershouche">二手车贷款</a><span><i>优质车源</i><b></b></span></li>
                <li id="baoxian_index"><a href="" data-trackerid="x001baoxian">汽车保险</a><span><i>优惠更多</i><b></b></span></li>
                <li id="chezhudai_index"><a href="" data-trackerid="x001chedidai">车主贷款</a><span><i>高效服务</i><b></b></span></li>
                <li id="qijiandian_index" class="special2"><a href="" data-trackerid="x001shop">旗舰店</a></li>
                <li id="xinyongka_index" class="special"><a href="" data-trackerid="x001xinyongka">车主信用卡</a></li>
                <li id="baodian_index" class="special2"><a href="" data-trackerid="x001baodian">宝典</a></li>
                <!-- <li class="nav-mask"></li> -->
            </ul>
        </nav>
    </div>
  </header>
<div class="container">
  <!-- 面包屑start-->
    <nav class="path-nav">
        <a href="/">首页</a>
        <a href="/"><i> &gt; </i>奥迪A3</a>
        <i> &gt; </i>参数配置
    </nav>
    <!-- 面包屑end-->
    <article id="paramCtn">
      <section id="car_1" class="switching-models clrfix">
        <div class="car-type fl">
          <div class="select-ctrl">
            <div data-id="118859" data-disabled="" data-category="2015" data-type="">2016款 Sportback 35TFSI 进取型</div>
            <ul class="drop-layer" style="display: none;">
                <li class="triangle-icon"></li>
                <li class="disabled" data-category="2016" data-id="0" data-disabled="disabled" data-type="">2016</li>
                <li class="" data-category="2016" data-id="118859" data-disabled="" data-type="奥迪A3 2016款"><a href="/beijing/aodia3-3999/m118859?source=606">Sportback 35TFSI 进取型<span>15.04万</span></a></li>
                <li class="" data-category="2016" data-id="118875" data-disabled="" data-type="奥迪A3 2016款"><a href="/beijing/aodia3-3999/m118875?source=606">Limousine 35TFSI 进取型<span>15.03万</span></a></li>
                <li class="disabled" data-category="2015" data-id="0" data-disabled="disabled" data-type="">2015</li>
                <li class="" data-category="2015" data-id="113851" data-disabled="" data-type="奥迪A3 2015款"><a href="/beijing/aodia3-3999/m113851?source=606">Sportback 35TFSI 手动 进取型<span>17.04万</span></a></li>
                <li class="disabled" data-category="2014" data-id="0" data-disabled="disabled" data-type="">2014</li>
                <li class="" data-category="2014" data-id="104780" data-disabled="" data-type="奥迪A3 2014款"><a href="/beijing/aodia3-3999/m104780?source=606">Sportback 35TFSI 进取型<span>18.64万</span></a></li>
            </ul>
          </div>
        </div>
        <div class="info fr">
          <span><i class="standard"></i>标配</span>
          <span><i class="matching"></i>选配</span>
          <span><i class="default"></i>无</span>
        </div>
      </section>
      <section class="body clrfix">
                <aside class="body-ctn fl">
                    <!-- 基本信息 -->
                        <dl id="group_1">
                            <dt>基础信息</dt>

                                <dd class="clrfix">
                                    <div class="info-name">厂商指导价</div>
                                    <div class="info-det calculator">
                                        11.98万
                                        <a target="_blank" href="/daikuangouche?carId=112419&amp;cityId=201&amp;source=957"></a>
                                    </div>
                                </dd>

                                <dd class="clrfix">
                                    <div class="info-name">参考价</div>
                                    <div class="info-det">11.11万</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">保修政策</div>
                                    <div class="info-det">三年或6万公里</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">排量（升）</div>
                                    <div class="info-det">1.8</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">变速箱类型</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">综合工况油耗</div>
                                    <div class="info-det">7.7</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">0-100km/h加速时间</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最高车速</div>
                                    <div class="info-det">210</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">乘员人数（含司机）</div>
                                    <div class="info-det">5个</div>
                                </dd>

                        </dl>


                    <!-- 车体 -->
                        <dl id="group_2">
                            <dt>车体</dt>

                                <dd class="clrfix">
                                    <div class="info-name">车身颜色</div>
                                    <div class="info-det body-color">
                                                <span>火山红、</span>
                                                <span>墨玉黑、</span>
                                                <span>烈焰橙、</span>
                                                <span>珠光白、</span>
                                                <span>铂金灰、</span>
                                                <span>冰河蓝、</span>
                                            <span>极光银</span>
                                    </div>
                                </dd>

                                <dd class="clrfix">
                                    <div class="info-name">长</div>
                                    <div class="info-det">4670mm</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">宽</div>
                                    <div class="info-det">1790mm</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">高</div>
                                    <div class="info-det">1450mm</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">轴距</div>
                                    <div class="info-det">2675mm</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">整备质量</div>
                                    <div class="info-det">1450kg</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最小离地间隙</div>
                                    <div class="info-det">128mm</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">行李厢容积</div>
                                    <div class="info-det">445L</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">行李厢盖开合方式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">行李厢打开方式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车门数</div>
                                    <div class="info-det">4个</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车顶型式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车篷型式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车顶行李箱架</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>

                        </dl>


                    <!-- 其他属性参数分组信息 -->
                        <dl id="group_3">
                            <dt>发动机</dt>

                                <dd class="clrfix">
                                    <div class="info-name">发动机位置</div>
                                    <div class="info-det">前置</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">发动机型号</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">排量（升）</div>
                                    <div class="info-det">1.8</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">排量（毫升）</div>
                                    <div class="info-det">1799</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">进气型式</div>
                                    <div class="info-det">增压</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">气缸排列型式</div>
                                    <div class="info-det">L型</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">气缸数</div>
                                    <div class="info-det">4</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">每缸气门数</div>
                                    <div class="info-det">4</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">气门结构</div>
                                    <div class="info-det">双顶置凸轮(DOHC)</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最大马力</div>
                                    <div class="info-det">177</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最大功率—功率值</div>
                                    <div class="info-det">130</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最大功率—转速</div>
                                    <div class="info-det">5500</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最大扭矩—扭矩值</div>
                                    <div class="info-det">240</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">最大扭矩—转速</div>
                                    <div class="info-det">1900-4500</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">燃料类型</div>
                                    <div class="info-det">汽油</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">燃油标号</div>
                                    <div class="info-det">93号</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">供油方式</div>
                                    <div class="info-det">多点电喷</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">燃油箱容积</div>
                                    <div class="info-det">60</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">缸盖材料</div>
                                    <div class="info-det">铝合金</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">缸体材料</div>
                                    <div class="info-det">铸铁</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">环保标准</div>
                                    <div class="info-det">国4,国5</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">启停系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_4">
                            <dt>变速箱</dt>

                                <dd class="clrfix">
                                    <div class="info-name">变速箱类型</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">换挡拨片</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">电子挡杆</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_5">
                            <dt>底盘制动</dt>

                                <dd class="clrfix">
                                    <div class="info-name">底盘结构</div>
                                    <div class="info-det">承载式</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">转向助力</div>
                                    <div class="info-det">液压</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前制动类型</div>
                                    <div class="info-det">通风盘</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后制动类型</div>
                                    <div class="info-det">盘式</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">手刹类型</div>
                                    <div class="info-det">手刹</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">驱动方式</div>
                                    <div class="info-det">前轮驱动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">空气悬挂</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">可调悬挂</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前悬挂名称</div>
                                    <div class="info-det">麦弗逊式独立悬架</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后悬挂名称</div>
                                    <div class="info-det">多连杆独立悬架</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">中央差速器锁</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_6">
                            <dt>安全配置</dt>

                                <dd class="clrfix">
                                    <div class="info-name">驾驶位安全气囊</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">副驾驶位安全气囊</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前排侧安全气囊</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前排头部气囊（气帘）</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">膝部气囊</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排侧安全气囊</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排头部气囊（气帘）</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">安全带气囊</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">安全带未系提示</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">安全带限力功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">安全带预收紧功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前安全带调节</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排安全带</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排中间三点式安全带</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">电子限速</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">胎压监测装置</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">零压续行（零胎压继续行驶）</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">可溃缩转向柱</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车内中控锁</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">儿童锁</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">遥控钥匙</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">无钥匙启动系统</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">发动机防盗系统</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                        </dl>
                        <dl id="group_7">
                            <dt>车轮</dt>

                                <dd class="clrfix">
                                    <div class="info-name">前轮胎规格</div>
                                    <div class="info-det">215/55 R16</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后轮胎规格</div>
                                    <div class="info-det">215/55 R16</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前轮毂规格</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后轮毂规格</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">备胎类型</div>
                                    <div class="info-det">非全尺寸</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">轮毂材料</div>
                                    <div class="info-det">铝合金</div>
                                </dd>
                        </dl>
                        <dl id="group_8">
                            <dt>行车辅助</dt>

                                <dd class="clrfix">
                                    <div class="info-name">刹车防抱死（ABS）</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">电子制动力分配系统</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">紧急制动辅助系统</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">牵引力控制（ASR/TCS/TRC/ATC等）</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">动态稳定控制系统</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">随速助力转向调节(EPS)</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">自动驻车</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">上坡辅助</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">陡坡缓降</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">泊车雷达（车前）</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">倒车雷达（车后）</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">倒车影像</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">全景摄像头</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">定速巡航</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">自适应巡航</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">GPS导航系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">人机交互系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">自动泊车入位</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">主动刹车/主动安全系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">整体主动转向系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">夜视系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">盲点检测/并线辅助</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">弯道制动控制系统（CBC）</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                        </dl>
                        <dl id="group_9">
                            <dt>门窗/后视镜</dt>

                                <dd class="clrfix">
                                    <div class="info-name">开门方式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车窗</div>
                                    <div class="info-det">前后电动窗</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">防紫外线/隔热玻璃</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">电动窗防夹功能</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">天窗开合方式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">天窗型式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后窗遮阳帘</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排侧遮阳帘</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后雨刷器</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">感应雨刷</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">行李厢电动吸合门</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后视镜带侧转向灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">外后视镜记忆功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">外后视镜加热功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">外后视镜电动折叠功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">外后视镜电动调节</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">内后视镜防眩目功能</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">遮阳板化妆镜</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                        </dl>
                        <dl id="group_10">
                            <dt>灯光</dt>

                                <dd class="clrfix">
                                    <div class="info-name">前大灯类型</div>
                                    <div class="info-det">卤素</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前大灯自动开闭</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前大灯自动清洗功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前大灯延时关闭</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前大灯随动转向</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前大灯照射范围调整</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前雾灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">阅读灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车厢后阅读灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车内氛围灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">日间行车灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">高位（第三）制动灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">转向辅助灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">侧转向灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">行李厢灯</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_11">
                            <dt>内部配置</dt>

                                <dd class="clrfix">
                                    <div class="info-name">方向盘前后调节</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">方向盘上下调节</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">方向盘调节方式</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">方向盘记忆设置</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">方向盘表面材料</div>
                                    <div class="info-det">PVC塑料</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">多功能方向盘</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">多功能方向盘功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">行车电脑显示屏</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">HUD抬头数字显示</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排杯架</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                        </dl>
                        <dl id="group_12">
                            <dt>座椅</dt>

                                <dd class="clrfix">
                                    <div class="info-name">运动座椅</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">座椅材料</div>
                                    <div class="info-det">织物</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">驾驶座座椅调节方式</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">驾驶座座椅调节方向</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">副驾驶座椅调节方式</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">驾驶座腰部支撑调节</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前座椅头枕调节</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排座椅调节方式</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排座位放倒比例</div>
                                    <div class="info-det">比例放倒</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">前座中央扶手</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后座中央扶手</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">座椅通风</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">座椅加热</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">座椅按摩功能</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">电动座椅记忆</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">儿童安全座椅固定装置</div>
                                    <div class="info-det"><i></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">第三排座椅</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_13">
                            <dt>娱乐通讯</dt>

                                <dd class="clrfix">
                                    <div class="info-name">定位互动服务</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车载电话</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">蓝牙系统</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">外接音源接口</div>
                                    <div class="info-det">AUX,USB,iPod</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">内置硬盘</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车载电视</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">扬声器数量</div>
                                    <div class="info-det">6</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">DVD</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">CD</div>
                                    <div class="info-det">有碟</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">中控台液晶屏</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排液晶屏</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_14">
                            <dt>空调/冰箱</dt>

                                <dd class="clrfix">
                                    <div class="info-name">空调控制方式</div>
                                    <div class="info-det">手动</div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">温度分区控制</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排独立空调</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">后排出风口</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">空气调节/花粉过滤</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">车载冰箱</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>
                        <dl id="group_15">
                            <dt>电池/发动机</dt>

                                <dd class="clrfix">
                                    <div class="info-name">电机最大功率</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                                <dd class="clrfix">
                                    <div class="info-name">系统电压</div>
                                    <div class="info-det"><i class='default'></i></div>
                                </dd>
                        </dl>

                </aside>
                    <!-- 导航栏start -->
                <aside id="paramNav" class="body-nav fl">
                    <ul id="paramUl" class="nav-body">
                                <li class="cur" data-id="group_1">基础信息</li>
                                <li data-id="group_2">车体</li>
                                <li data-id="group_3">发动机</li>
                                <li data-id="group_4">变速箱</li>
                                <li data-id="group_5">底盘制动</li>
                                <li data-id="group_6">安全配置</li>
                                <li data-id="group_7">车轮</li>
                                <li data-id="group_8">行车辅助</li>
                                <li data-id="group_9">门窗/后视镜</li>
                                <li data-id="group_10">灯光</li>
                                <li data-id="group_11">内部配置</li>
                                <li data-id="group_12">座椅</li>
                                <li data-id="group_13">娱乐通讯</li>
                                <li data-id="group_14">空调/冰箱</li>
                                <li data-id="group_15">电池/发动机</li>
                    </ul>
                </aside>
                    <!-- 导航栏end -->

        </section>

    </article>
</div>

<!-- footer -->
        <footer id="Footer" >
            <div class="yixin-footer clrfix">
                <div class="footer-left">
                    易鑫车贷是易车、腾讯、京东、百度共同投资超过60亿的互联网汽车金融平台，为您提供全面的线上汽车金融产品和服务
                    <div class="footer-l-logo"></div>
                    <a href="http://dev.xinche.pc.daikuan.com/home/About/?cityspell=beijing#who" rel="nofollow" target="_blank">关于我们</a>　　　<a href="http://dev.xinche.pc.daikuan.com/home/About/?cityspell=beijing#contact" rel="nofollow" target="_blank">联系我们</a>　　　<a href="http://dev.xinche.pc.daikuan.com/feedback/" rel="nofollow" target="_blank">意见反馈</a>
                </div>
                <div class="footer-center">
                    <div>免费咨询、建议、投诉</div>
                    <font>4000-169-169</font>
                    <span>工作时间 9:00-21:00</span>
                </div>
                <div class="qr-code-weixin">
                    <div></div>微信号公众号
                </div>
                <div class="qr-code-mweb">
                    <div></div>易鑫车贷App
                </div>
                    
            </div>
            
                <dl class="footer-middle">
                    <dt class="clrfix">
                        <div class="cur">热门品牌</div>
                        <div>热门车型</div>
                        <div>热门城市</div>
                        <div class="last-child">友情链接</div></dt>
                    <dd class="clrfix">
                        <div class="clrfix">
                            <a href="/beijing/cc-2932/?source=804" target="_blank">北京大众</a>
                            <a href="/beijing/dongfengyuedaqiyak2/?source=804" target="_blank">北京起亚</a>
                            <a href="/beijing/yiqifengtianrav4/?source=804" target="_blank">北京丰田</a>
                            <a href="/beijing/xinaodesai/?source=804" target="_blank">北京本田</a>
                            <a href="/beijing/fukesiliangxiang/?source=804" target="_blank">北京福特</a>
                            <a href="/beijing/ix25/?source=804" target="_blank">北京现代</a>
                            <a href="/beijing/2008/?source=804" target="_blank">北京标致</a>
                            <a href="/beijing/biekegl8/?source=804" target="_blank">北京别克</a>
                            <a href="/beijing/changancs15/?source=804" target="_blank">北京长安</a>
                            <a href="/beijing/aveors/?source=804" target="_blank">北京雪佛兰</a>
                            <a href="/beijing/lanniao/?source=804" target="_blank">北京日产</a>
                            <a href="/beijing/hafum3-3383/?source=804" target="_blank">北京长城</a>
                            <a href="/beijing/biyadie5/?source=804" target="_blank">北京比亚迪</a>
                            <a href="/beijing/mazidacx4/?source=804" target="_blank">北京马自达</a>
                            <a href="/beijing/beidouxing/?source=804" target="_blank">北京铃木</a>
                            <a href="/beijing/a3liangxiang/?source=804" target="_blank">北京奇瑞</a>
                            <a href="/beijing/sikedayetihaiwai/?source=804" target="_blank">北京斯柯达</a>
                            <a href="/beijing/aodia3-3999/?source=804" target="_blank">北京奥迪</a>
                            <a href="/beijing/baoma1xi/?source=804" target="_blank">北京宝马</a>
                            <a href="/beijing/xuetielongc2/?source=804" target="_blank">北京雪铁龙</a>
                            <a href="/beijing/wulingpnxiliehuoche/?source=804" target="_blank">北京五菱</a>
                            <a href="/beijing/baojun330/?source=804" target="_blank">北京宝骏</a>
                            <a href="/beijing/bentengaclass/?source=804" target="_blank">北京奔腾</a>
                            <a href="/beijing/yao/?source=804" target="_blank">北京海马</a>
                            <a href="/beijing/dihaoec8/?source=804" target="_blank">北京吉利</a>
                            <a href="/beijing/zhongtai2008/?source=804" target="_blank">北京众泰</a>
                            <a href="/beijing/a30/?source=804" target="_blank">北京东风</a>
                            <a href="/beijing/shenbaod80/?source=804" target="_blank">北京北汽</a>
                            <a href="/beijing/rongwein1/?source=804" target="_blank">北京荣威</a>
                            <a href="/beijing/esq/?source=804" target="_blank">北京英菲尼迪</a>
                        </div>
                        <div class="hide clrfix">
                            <a href="/beijing/hafuh6/?source=805" target="_blank">北京哈弗H6</a>
                            <a href="/beijing/langyi/?source=805" target="_blank">北京朗逸</a>
                            <a href="/beijing/pasate/?source=805" target="_blank">北京帕萨特</a>
                            <a href="/beijing/boluo/?source=805" target="_blank">北京POLO</a>
                            <a href="/beijing/xinaodia6l/?source=805" target="_blank">北京奥迪A6L</a>
                            <a href="/beijing/baojun730/?source=805" target="_blank">北京宝骏730</a>
                            <a href="/beijing/tiguan/?source=805" target="_blank">北京途观</a>
                            <a href="/beijing/xuanyi/?source=805" target="_blank">北京轩逸</a>
                            <a href="/beijing/quanxinaodia4l/?source=805" target="_blank">北京奥迪A4L</a>
                            <a href="/beijing/fengfan-4610/?source=805" target="_blank">北京锋范</a>
                            <a href="/beijing/baoma5xichangzhoujuban/?source=805" target="_blank">北京宝马5系</a>
                            <a href="/beijing/wulinghongguangs1/?source=805" target="_blank">北京五菱宏光</a>
                            <a href="/beijing/changancs75/?source=805" target="_blank">北京长安CS75</a>
                            <a href="/beijing/jieda/?source=805" target="_blank">北京捷达</a>
                            <a href="/beijing/baoma3xi/?source=805" target="_blank">北京宝马3系</a>
                            <a href="/beijing/verna/?source=805" target="_blank">北京瑞纳</a>
                            <a href="/beijing/xinaodesai/?source=805" target="_blank">北京奥德赛</a>
                            <a href="/beijing/lufengx7/?source=805" target="_blank">北京陆风X7</a>
                            <a href="/beijing/lingdu/?source=805" target="_blank">北京凌渡</a>
                            <a href="/beijing/mistramingtu/?source=805" target="_blank">北京名图</a>
                            <a href="/beijing/xinweichi/?source=805" target="_blank">北京威驰</a>
                            <a href="/beijing/biekegl8/?source=805" target="_blank">北京别克GL8</a>
                            <a href="/beijing/hanlanda/?source=805" target="_blank">北京汉兰达</a>
                            <a href="/beijing/kaluola/?source=805" target="_blank">北京卡罗拉</a>
                            <a href="/beijing/dibadaiyage/?source=805" target="_blank">北京本田雅阁</a>
                            <a href="/beijing/dongfengyuedaqiyak2/?source=805" target="_blank">北京起亚K2</a>
                            <a href="/beijing/fengxings500/?source=805" target="_blank">北京风行S500</a>
                            <a href="/beijing/suonatajiu/?source=805" target="_blank">北京索纳塔9</a>
                            <a href="/beijing/suteng/?source=805" target="_blank">北京速腾</a>
                        </div>
                        <div class="hide clrfix">
                            <a href="http://dev.xinche.pc.daikuan.com//beijing" target="_top">北京买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//shanghai" target="_top">上海买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//guangzhou" target="_top">广州买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//shenzhen" target="_top">深圳买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//hangzhou" target="_top">杭州买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//chengdu" target="_top">成都买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//zhengzhou" target="_top">郑州买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//shijiazhuang" target="_top">石家庄买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//wuhan" target="_top">武汉买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//fuzhou" target="_top">福州买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//xian" target="_top">西安买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//haerbin" target="_top">哈尔滨买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//nanjing" target="_top">南京买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//jinan" target="_top">济南买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//shenyang" target="_top">沈阳买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//changsha" target="_top">长沙买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//chongqing" target="_top">重庆买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//tianjin" target="_top">天津买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//taiyuan" target="_top">太原买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//kunming" target="_top">昆明买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//hefei" target="_top">合肥买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//changchun" target="_top">长春买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//dalian" target="_top">大连买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//nanchang" target="_top">南昌买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//dongguan" target="_top">东莞买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//guizhou" target="_top">贵州买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//ningbo" target="_top">宁波买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//suzhou" target="_top">苏州买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//qingdao" target="_top">青岛买车贷款</a>
                            <a href="http://dev.xinche.pc.daikuan.com//xiamen" target="_top">厦门买车贷款</a>
                        </div>
                        <div class="hide clrfix">
                            <a href="http://chedai.jd.com/" target="_blank">京东金融汽车白条 </a>
                            <a href="http://bitauto.com/" target="_blank">易车网</a>
                            <a href="http://www.taoche.com/" target="_blank">易车二手车</a>
                            <a href="http://www.huimaiche.com/" target="_blank">易车惠买车</a>
                        </div>
                    </dd>
                </dl>
        <div class="footer-bottom">
            Copyright © 2015-2016 daikuan.com版权所有&nbsp;&nbsp;北京易鑫信息科技有限公司&nbsp;&nbsp;京ICP备15006372号-2&nbsp;&nbsp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020005" target="_blank">京公网安备11010802020005号</a>
        </div>
        </footer>
        <!-- footer -->
           

<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script type="text/javascript" src='http://api.map.baidu.com/api?v=1.4'></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>