@import 'sassHelper/vars';

$themes: (
	a : (
		color: #fe9626,
		title-left:132,
		title-top:60,
		font: #fff,
		rotate: 0,
		cover-height:111px,
		cover-top:700px
	),
	b : (
		color: #035822,
		title-left:132,
		title-top:40,
		font: #16742e,
		rotate: -240deg,
		cover-height:245px,
		cover-top:598px
	),
	c: (
		color: #0849a1,
		title-left:132,
		title-top:60,
		font: #056bbd,
		rotate: -120deg,
		cover-height:316px,
		cover-top:511px
	)
);

$interval : 1s;

$delay : .5s;

$main-color: #e9464d;

$main: (
	1 : (
		width: 630px,
		height:1247px,
		ext: png,
		top: 446px,
		left:1143px
	),
	2 : (
		width: 694px,
		height:1076px,
		ext: jpg,
		top: 446px,
		left:449px
	),
	3 : (
		width: 950px,
		height:446px,
		ext: png,
		top: 0,
		left:449px
	),
	4 : (
		width: 801px,
		height:171px,
		ext: png,
		top: 1521px,
		left:342px
	),
	5 : (
		width: 325px,
		height:1076px,
		ext: png,
		top: 446px,
		left:125px
	),
)