@import 'sassHelper/vars';
@import 'sassHelper/mixin';

$main: map-get($colors, red);
$main_bg: map-get($bg, red);

html {
  height: 100%;
}
body {
  height: auto;
  height: 100%;
  min-height: 600px;
  position: relative;
}

.footer-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  width: 300px;
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
  margin-left: 250px;
  margin-top: -240px;

  .row {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 22px;

    &:after {
      content: ' ';
      display: block;
      height: 0;
      line-height: 0;
      clear: both;
    }

    label {
      float: left;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .input-wrapper {
      margin-left: 66px;
    }

    .error-tip {
      display: none;
      color: $main;
    }

    &.error {
      .input-elem {
        border: 1px solid $main;
      }

      .select-elem {
        border: 1px solid $main;
        color: $main;

        &:after {
          color: $main;
        }
      }

      .error-tip {
        display: block;
      }
    }
  }

  .btn-wrapper {
    margin-top: 19px;;
    margin-bottom: 0;
  }

  .input-elem {
    position: relative;
    height: 22px;
    padding: 9px 14px;
    border: 1px solid #E5E5E5;

    input {
      position: relative;
      z-index: 10;
      width: 100%;
      border: 0;
      height: 22px;
      line-height: 22px;
      color: #000;
      background: transparent;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #C4C4C4;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #C4C4C4;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #C4C4C4;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #C4C4C4;
    }
  }

  .placeholder-text {
    position: absolute;
    z-index: 0;
    left: 14px;
    top: 10px;
    height: 22px;
    line-height: 22px;
    color: #C4C4C4;
  }

  .select-elem {
    position: relative;
    padding: 9px 34px 9px 14px;
    border: 1px solid #E5E5E5;
    cursor: pointer;

    &.placeholder {
      color: #C4C4C4;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 14px;
      font-size: 26px;
      font-size: 16px\9;
      line-height: 0;
      height: 10px;
      margin-top: -3px;
      display: inline-block;
      vertical-align: -1px;
      overflow: hidden;
      content: "\25C7";
      color: #8C8D8D;
    }

    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color:#c4c4c4;
      span{
        color:#000;
      }
    }
  }

  .validate-code {
    input {
      width: 100px;
    }

    .get-validate-code {
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 22px;
      padding: 9px 14px;
      text-align: center;
      color: $main;

      &.disable,
      &.disabled {
        border: 0 !important;
        background: transparent !important;
        color: #C4C4C4 !important;
        cursor: default;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -1px;
        width: 0;
        height: 24px;
        border-left: 1px solid #E5E5E5;
        margin-top: -12px;
      }
    }
  }

  .validate-image {
    float: left;
    position: relative;
    width: 218px;

    input {
      width: 130px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 90px;
      height: 40px;
    }
  }

  .get-validate-image {
    float: right;
    line-height: 42px;
    color: #999999;
  }

  .submit-btn {
    display: block;
    background: $main;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #fff;

    &.disabled {
      background: #D0D0D0;
      cursor: default;
    }
  }
}

html body {
  #CarSelCon {
    border-color: #999;
    width: 232px;

    .brandList {
      width: 182px;
    }
  }

  .sel-city-wrapper {
    display: block !important;
    height: auto !important;
    font-size: inherit;
    line-height: inherit;

    .sel-city-menu {
      font-size: 12px;
      left: auto;
      right: 0;
      border-color: #999;

      .sel-city-nav {
        height: auto;
        overflow: hidden;
        padding-top: 12px;
      }

      .other-city {
        max-height: 300px;
        overflow: auto;

        dl {
          overflow: hidden;
        }
      }
    }
  }

  #Header,
  #Footer {
    display: none;
  }

}