<!DOCTYPE html>
<html lang="en">
<meta charset=utf-8>
<head>
    <title></title>
    <script src="js/jiben.js"></script>
    <link rel="stylesheet" href="css/a.css">
    <style type="text/css">
    *{ padding: 0px; margin: 0px; }
        body {  
            font-size: 12px; /*默认写上dpr为1的fontSize*/
            }
        [data-dpr="2"] body {
            font-size: 24px;
        }
        [data-dpr="3"] body {
            font-size: 36px;
        }
    </style>
</head>
<body>
<div class="aa">
    我们是好孩子，holle world！
</div>
<nav>dsfsdfdffdfdsf</nav>

</body>
</html>
