{{#if modalPic}}
<div class="main-modal">
	<div class="main-modal-content">
		<img src="{{modalPic}}">
		{{#if modalText}}
		<a href="javascript:void(0)">{{modalText}}</a>
		{{/if}}
		<span class="main-modal-close"></span>
	</div>    
</div>
{{/if}}