<div class="pro-groups leasecar">
    <div class="lease-info" >
        <div class="img-box"></div>
        <div class="text-box">
            <h3>{{PackageName}}(易鑫租赁)</h3>
            <h4>新车含购置税、保险</h4>
            <div class="info">
                <div>
                    <div class="downpayment">
                        <div class="tit">首次支付</div>
                        <div class="value">{{DownPaymentAmountText}}</div>
                    </div>
                </div>
                <div>
                    <div class="monthly-payment">
                        <div class="tit">月租</div>
                        <div class="value">{{MonthlyRentalText}}</div>
                    </div>
                </div>
                <div>
                    <div class="period">
                        <div class="tit">期限</div>
                        <div class="value">{{RentRepaymentPeriodText}}</div>
                    </div>
                </div>
            </div>
            <ul class="after-lease">
                <li>首年租期结束后，可换可买</li>
                <li>第二年买车分期36期</li>
            </ul>
        </div>
    </div>
</div>