<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var CODE_GETTING_URL = '/Validate/GetCode';
        var CODE_VALIDATING_URL = '/Validate/CheckCode';
        var USERCENTERURL = 'http://test.i.m.daikuan.com/';
        var APIURL = 'http://192.168.15.153:8081/';
        var RESURL = 'http://192.168.145.9:8011/MWeb/';
        var CDNFileURL = 'http://t.image.bitautoimg.com/chedai/';
        var BusinessLine = 552;
        var dataSgin = "credit";
        var option=3;
    </script>

</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
  <div id="yxWrapper">
        <div id='wx_pic' style='margin:0 auto;display:none;'>
            <img src='http://192.168.145.9:8011/MWeb/images/pic300.jpg?v=201605171437' />
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="xi2zR3L49WC0gsTOpPTdYvYX6rEsUuJzF-Y8Y2mp92cBT9uRxbilOjbVpgYyfda92baRlYk4jtMxo4z4VG5jhybUtdVfHDmDXTEFzc9KTeE1" />
            <!-- ViewBag.Title = "资质信息 - QQ钱包"; -->


<article class="QQ">
    <header class="header box_sizing">
        <div class="header-title f-gray6">车辆抵押贷款咨询流程</div>
        <div class="header-ctn">
            <span class="uf-f1 cur">身份验证</span>
            <span class="uf-f1 cur">提交车辆信息</span>
            <span class="uf-f1 cur">提交资质信息</span>
            <span class="uf-f1">等待回访</span>
        </div>
    </header>

    <blockquote class="form select-form">
        <ul>
            <li id="Career" class="input-item uf uf-ic selcon unsubmit selectControl" data-aslider-in="Career|fade|bottom">
                <label class="input-icon icon09"></label>
                <div class="item-name">职业身份</div>
                <div class="uf-f1 ut-r ut-s select-ctn">请选择</div>
                <i class="right"></i>
                <input class="uf-f1 data" type="hidden" name="Career">
                <aside class="sel-control-box" data-aslider="Career">
                    <div class="asilder_wrapper">
                        <div class="sel-ctrl-fun-btn">
                            <div class="sel-ctrl-close font-nav">取消</div>
                            <div class="sel-ctrl-title font-nav">职业身份</div>
                            <div class="sel-ctrl-complete font-nav">确定</div>
                        </div>
                        <div class="scroll-wrapper">
                            <div class="scroll">
                                <ul class="slider">
                                            <li class="cur" data-id="73">公务员/事业单位</li>
                                            <li class="" data-id="74">企业主</li>
                                            <li class="" data-id="75">个体户</li>
                                            <li class="" data-id="76">上班族</li>
                                            <li class="" data-id="77">自由职业者</li>

                                    <!-- <li data-id="1" class="cur">1个月</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li id="Income" class="input-item uf uf-ic selcon unsubmit selectControl" data-aslider-in="Income|fade|bottom">
                <label class="input-icon icon10"></label>
                <div class="item-name">工资收入</div>
                <div class="uf-f1 ut-r ut-s select-ctn">请选择</div>
                <i class="right"></i>
                <input class="uf-f1 data" type="hidden" name="Income">
                <aside class="sel-control-box" data-aslider="Income">
                    <div class="asilder_wrapper">
                        <div class="sel-ctrl-fun-btn">
                            <div class="sel-ctrl-close font-nav">取消</div>
                            <div class="sel-ctrl-title font-nav">工资收入</div>
                            <div class="sel-ctrl-complete font-nav">确定</div>
                        </div>
                        <div class="scroll-wrapper">
                            <div class="scroll">
                                <ul class="slider">
                                            <li class="cur" data-id="66">3000元以下</li>
                                            <li class="" data-id="67">3000-5000元</li>
                                            <li class="" data-id="68">5000-8000元</li>
                                            <li class="" data-id="69">8000-12000元</li>
                                            <li class="" data-id="108">12000-20000元</li>
                                            <li class="" data-id="109">20000元以上</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li id="Insurance" class="input-item uf uf-ic selcon unsubmit selectControl" data-aslider-in="Insurance|fade|bottom">
                <label class="input-icon icon11"></label>
                <div class="item-name">社保证明</div>
                <div class="uf-f1 ut-r ut-s select-ctn">请选择</div>
                <i class="right"></i>
                <input class="uf-f1 data" type="hidden" name="Insurance">
                <aside class="sel-control-box" data-aslider="Insurance">
                    <div class="asilder_wrapper">
                        <div class="sel-ctrl-fun-btn">
                            <div class="sel-ctrl-close font-nav">取消</div>
                            <div class="sel-ctrl-title font-nav">社保证明</div>
                            <div class="sel-ctrl-complete font-nav">确定</div>
                        </div>
                        <div class="scroll-wrapper">
                            <div class="scroll">
                                <ul class="slider">
                                    <li data-id="1" class="cur">有本地社保</li>
                                    <li data-id="0">无本地社保</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li id="Funds" class="input-item uf uf-ic selcon unsubmit selectControl" data-aslider-in="Funds|fade|bottom">
                <label class="input-icon icon12"></label>
                <div class="item-name">公积金</div>
                <div class="uf-f1 ut-r ut-s select-ctn">请选择</div>
                <i class="right"></i>
                <input class="uf-f1 data" type="hidden" name="Funds">
                <aside class="sel-control-box" data-aslider="Funds">
                    <div class="asilder_wrapper">
                        <div class="sel-ctrl-fun-btn">
                            <div class="sel-ctrl-close font-nav">取消</div>
                            <div class="sel-ctrl-title font-nav">公积金</div>
                            <div class="sel-ctrl-complete font-nav">确定</div>
                        </div>
                        <div class="scroll-wrapper">
                            <div class="scroll">
                                <ul class="slider">
                                    <li data-id="1" class="cur">有公积金</li>
                                    <li data-id="0">无公积金</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li id="Credit" class="input-item uf uf-ic selcon unsubmit selectControl" data-aslider-in="Credit|fade|bottom">
                <label class="input-icon icon13"></label>
                <div class="item-name">信用记录</div>
                <div class="uf-f1 ut-r ut-s select-ctn">请选择</div>
                <i class="right"></i>
                <input class="uf-f1 data" type="hidden" name="Credit">
                <aside class="sel-control-box" data-aslider="Credit">
                    <div class="asilder_wrapper">
                        <div class="sel-ctrl-fun-btn">
                            <div class="sel-ctrl-close font-nav">取消</div>
                            <div class="sel-ctrl-title font-nav">信用记录</div>
                            <div class="sel-ctrl-complete font-nav">确定</div>
                        </div>
                        <div class="scroll-wrapper">
                            <div class="scroll">
                                <ul class="slider">
                                            <li class="cur" data-id="71">信用良好</li>
                                            <li class="" data-id="72">少数逾期</li>
                                            <li class="" data-id="70">多次逾期</li>
                                            <li class="" data-id="256">无信用记录</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li id="HouseState" class="input-item uf uf-ic selcon unsubmit selectControl" data-aslider-in="HouseState|fade|bottom">
                <label class="input-icon icon14"></label>
                <div class="item-name">住房状况</div>
                <div class="uf-f1 ut-r ut-s select-ctn">请选择</div>
                <i class="right"></i>
                <input class="uf-f1 data" type="hidden" name="HouseState">
                <aside class="sel-control-box" data-aslider="HouseState">
                    <div class="asilder_wrapper">
                        <div class="sel-ctrl-fun-btn">
                            <div class="sel-ctrl-close font-nav">取消</div>
                            <div class="sel-ctrl-title font-nav">住房状况</div>
                            <div class="sel-ctrl-complete font-nav">确定</div>
                        </div>
                        <div class="scroll-wrapper">
                            <div class="scroll">
                                <ul class="slider">
                                            <li class="cur" data-id="79">自有全款</li>
                                            <li class="" data-id="80">自有贷款</li>
                                            <li class="" data-id="81">租赁</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>
        </ul>
    </blockquote>
    <div id="credit_btn" class="btn sel-btn">立即完善申请信息</div>
    <div class="statement">声明：本司非常重视对用户隐私权的保护，用户姓名手机号等个人资料为用户重要隐私，本站承诺不会将个人资料用作它途，仅用于申请抵押贷款，不会以任何形式泄露给其他人员或机构。</div>

    <footer class="footer">本服务由易鑫车贷提供</footer>
</article>
        <div id="maskLayer"></div>
        <div class="bottom-to-top"><img src='http://192.168.145.9:8011/MWeb/images/scroll-to-top-icon.png?v=201605171437' /></div>
    </div>

    <script src="http://open.mobile.qq.com/sdk/qqapi.js?_bid=152" type="text/javascript"></script>
<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>