<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var CODE_GETTING_URL = '/Validate/GetCode';
        var CODE_VALIDATING_URL = '/Validate/CheckCode';
        var USERCENTERURL = 'http://i.m.daikuan.com';
        var APIURL = 'http://api.chedai.bitauto.com/';
        var RESURL = 'http://img1.bitautoimg.com/jinrong/newmweb/';
        var CDNFileURL = 'http://img1.bitautoimg.com/chedai/';
        var BusinessLine = 552;
        var dataSgin = "index"; 
        var option=1;
    </script>

</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
 <div id="yxWrapper">
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='http://img2.bitautoimg.com/jinrong/newmweb/images/pic300.jpg?v=201612162007' />
    </div>
    <input name="__RequestVerificationToken" type="hidden" value="N1hmCdQV03gzhlGdb_FaGRSS50kSfDuS8VGET0jZTxeuP25e6pK5AZu3fvQ5TrIflX-C5PtEQR0iFOVLL5KPfY5SXq1zUaGa74jJYCNOfBs1" />
            <!-- ViewBag.Title = "身份验证 - QQ钱包"; -->

    <article class="QQ">
        <header class="header box_sizing">
            <div class="header-title f-gray6">车辆抵押贷款咨询流程</div>
            <div class="header-ctn">
                <span class="uf-f1 cur">身份验证</span>
                <span class="uf-f1">提交车辆信息</span>
                <span class="uf-f1">提交资质信息</span>
                <span class="uf-f1">等待回访</span>
            </div>
        </header>

        <blockquote class="wenxin-box">
            <div class="wenxinTips">
                温馨提示：车主可在此通过线上提交个人申请信息，提交成功后，将有专业贷款顾问与您联系，为您提供后续贷款抵押服务，如有疑问请咨询 4000-169-169！！
            </div>
        </blockquote>

        <blockquote class="form" data-param="under" data-form="true">
            <ul>
                <li class="input-item uf uf-ic unsubmit">
                    <div class="item-name">姓名</div>
                    <input class="uf-f1 checkApp data" type="text" name="Name" placeholder="请输入姓名" value="">
                </li>
                <li class="input-item uf uf-ic unsubmit">
                    <div class="item-name">手机号</div>
                    <input id="mobile" class="uf-f1 checkApp data" type="tel" name="Mobile" maxlength="11" placeholder="请输入手机号" value="">
                </li>
                <li class="input-item uf uf-ic unsubmit pad0R">
                    <div class="item-name">验证码</div>
                    <input class="uf-f1 checkApp" type="num" name="Code" maxlength="6" placeholder="请输入验证码">
                    <div id="GetValidateCode" class="ValidateCode CodeEvent">获取验证码</div>
                </li>
                <li class="formTip">请输入正确的手机号</li>

                <input class="data" type="hidden" name="Source" value="760">
                <input class="data" type="hidden" name="From" value="">
            </ul>
        </blockquote>
        <div id="index_btn" class="btn">提交申请</div>
        <div class="statement">声明：本司非常重视对用户隐私权的保护，用户姓名手机号等个人资料为用户重要隐私，本站承诺不会将个人资料用作它途，仅用于申请抵押贷款，不会以任何形式泄露给其他人员或机构。</div>

        <footer class="footer">本服务由易鑫车贷提供</footer>
    </article>
        <div id="maskLayer"></div>
        <div class="bottom-to-top"><img src='http://img3.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201612162007' /></div>
    </div>
<script src="http://open.mobile.qq.com/sdk/qqapi.js?_bid=152" type="text/javascript"></script>
<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>