@import 'sassHelper/vars';
@import 'sassHelper/mixin';

$themes: (
	a : (
		color: #fe9626,
		title-left:132,
		title-top:60,
		font: #e9464d,
		link-bg:#e9464d 
	),
	b : (
		color: #035822,
		title-left:132,
		title-top:40,
		font: #16742e,
		link-bg:#FBB62B 
	),
	c: (
		color: #0849a1,
		title-left:132,
		title-top:60,
		font: #056bbd,
		link-bg:#FBB62B 
	)
);

$interval : 1s;

$main-color: #e9464d;

$pic-size: (
	'1' : px2rem(248) px2rem(230),
	'2' : px2rem(180) px2rem(112),
	'3' : px2rem(165) px2rem(110),
	'4' : px2rem(184) px2rem(122),
	'5' : px2rem(181) px2rem(112),
	'b1' : px2rem(201) px2rem(134),
	'b2' : px2rem(218) px2rem(145),
);