/** 水平换行大伸缩盒子**/
.row_wrap_box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;


    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

/** 垂直换行大伸缩盒子**/
.cross_wrap_box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
/** 伸缩盒子**/
.flex_box{
    /** 各种版本兼容**/
   display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
}

/** 垂直水平居中**/
.midCenter{
    /** 垂直居中核心**/
    -moz-box-pack: center;
    -webkit-box-pack: center;
    box-pack:center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-align: center;
    box-pack:center;
    -ms-flex-pack:center;
    display: -ms-flexbox;
    -ms-flex-align:center;
    justify-content: center;
    /* 09版 */
     -webkit-box-pack: center;
  /* 12版 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
    align-items: center;
     /* 09版 */
    -webkit-box-align: center;
  /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
     -o-align-items: center;
}

/*仅仅垂直居中*/
.cross_center{
    align-items: center;
     /* 09版 */
    -webkit-box-align: center;
  /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
     -o-align-items: center;
}
/*水平两端对齐*/
.row_space_between{
    -webkit-box-pack: justify;
      /* 09版 */
  -webkit-box-pack: space-between;
  /* 12版 */
  -webkit-justify-content: space-between;
  -moz-justify-content:space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
/*水平平均对齐*/
.row_space_around{
      /* 09版 */
  -webkit-box-pack: space-around;
  /* 12版 */
  -webkit-justify-content: space-around;
  -moz-justify-content:space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
/*水平右对齐*/
.row_end{
     /* 09版 */
  -webkit-box-pack: end;
  /* 12版 */
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

/*垂直下对齐*/
.cross_end{
     /* 09版 */
  -webkit-box-align: flex-end;
  /* 12版 */
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
/*垂直上对齐*/
.cross_start{
     /* 09版 */
  -webkit-box-align: flex-start;
  /* 12版 */
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
/** 占位器**/
.page{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;   
}
/** 真正滚动**/
.scroll-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
