@import 'sassHelper/mixin';

body{
	background:#15161A url(images/bg.jpg) no-repeat center top;
	background-size: cover;
	min-height:px2rem(1000);
}
#loading{
	background:#15161A;
	width:10rem;
	height:100%;
	position:absolute;
	left:50%;
	margin-left:-5rem;
	top:0;
	z-index:99;
	img{
		position:absolute;
		left:50%;
		top:50%;
		width:px2rem(200);
		height:px2rem(200);
		margin-left:px2rem(-100);
		margin-top:px2rem(-100);
	}
}
.lighting-wrapper{
	width:10rem;
	margin:0 auto;
	position: relative;

	img:first-child{
		position: absolute;
		left:0;
		top:0;
		width:px2rem(629);
	}

	img:last-child{
		position: absolute;
		right:0;
		top:0;
		width:px2rem(626);
	}
}
.diamond-wrapper{
	background: url(images/3.png) no-repeat center top;
	background-size:10rem auto;
	height:100%;
	width:10rem;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
}
.level-index {
	.title-wrapper{
		position: absolute;
		top:px2rem(100);
		width:px2rem(395);
		height:px2rem(455);
		background: url(images/4.png) no-repeat center top;
		background-size: px2rem(395) auto;
		left:50%;
		margin-left:px2rem(-197.5);
		opacity: 0;
		animation:swing 1s 1s ease-in forwards;
	}
	.car-wrapper{
		background: url(images/5.png) no-repeat center top;
		background-size:px2rem(674) auto;
		width:px2rem(674);
		height:px2rem(427);
		position:absolute;
		left:50%;
		bottom:px2rem(246);
		margin-left:px2rem(-337);
		opacity: 0;
		animation:bounceInRight 1s ease-in forwards;
	}
}

.button{
	width:px2rem(390);
	height:px2rem(98);
	background:#dbb76c;
	line-height:px2rem(98);
	border-radius: px2rem(10);
	position: absolute;
	left:50%;
	bottom:px2rem(108);
	color:#292d30;
	text-align:center;
	margin-left:px2rem(-195);
	@include fsize(36);
	z-index:8;
}

@keyframes shake{
	0%,100%{
		-webkit-transform:translate3d(0,0,0);
		-ms-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0)
	}

	10%,30%,50%,70%,90%{
		-webkit-transform:translate3d(-10px,0,0);
		-ms-transform:translate3d(-10px,0,0);
		transform:translate3d(-10px,0,0)
	}

	20%,40%,60%,80%{
		-webkit-transform:translate3d(10px,0,0);
		-ms-transform:translate3d(10px,0,0);
		transform:translate3d(10px,0,0)
	}

}
@keyframes bounceInRight{
	0%,100%,60%,75%,90%{
		-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);
		transition-timing-function:cubic-bezier(0.215,.61,.355,1)
	}
	100%{
		opacity:1;
	}
	0%{
		opacity:0;
		-webkit-transform:translate3d(3000px,0,0);
		-ms-transform:translate3d(3000px,0,0);
		transform:translate3d(3000px,0,0)
	}
}
@keyframes swing{
	20%{
		opacity: 1;
		-webkit-transform:rotate3d(0,0,1,15deg);
		-ms-transform:rotate3d(0,0,1,15deg);
		transform:rotate3d(0,0,1,15deg)
	}

	40%{
		opacity: 1;
		-webkit-transform:rotate3d(0,0,1,-10deg);
		-ms-transform:rotate3d(0,0,1,-10deg);
		transform:rotate3d(0,0,1,-10deg)
	}

	60%{
		opacity: 1;
		-webkit-transform:rotate3d(0,0,1,5deg);
		-ms-transform:rotate3d(0,0,1,5deg);
		transform:rotate3d(0,0,1,5deg)
	}

	80%{
		opacity: 1;
		-webkit-transform:rotate3d(0,0,1,-5deg);
		-ms-transform:rotate3d(0,0,1,-5deg);
		transform:rotate3d(0,0,1,-5deg)
	}

	100%{
		opacity: 1;
		-webkit-transform:rotate3d(0,0,1,0deg);
		-ms-transform:rotate3d(0,0,1,0deg);
		transform:rotate3d(0,0,1,0deg)
	}

}
.level-sex{
	dl{
		position: absolute;
		top:px2rem(105);
		color:#dbb76c;
		text-align: center;
		width:10rem;
		dt{
			@include fsize(40);
			font-weight: bold;
			position: relative;
			padding-bottom:px2rem(17);
			margin-bottom:px2rem(14);
			&:after{
				content:" ";
				border-bottom:1px solid #dbb76c;
				width:px2rem(70);
				left:50%;
				bottom:0;
				margin-left:px2rem(-35);
				position: absolute;
			}
		}
		dd{
			@include fsize(19);
		}
	}
	div{
		position:absolute;
		top:px2rem(270);
		text-align: center;
		width:10rem;
		z-index:4;
		span{
			display:block;
			width:px2rem(231);
			height:px2rem(255);
			background-size:px2rem(231) px2rem(250) !important;
			margin:0 auto;
			opacity: .7;
			&:first-child{
				background:url(images/7.png) no-repeat center top;
			}
			&:last-child{
				background:url(images/8.png) no-repeat center top;
				margin-top:px2rem(60);
			}
			&.cur{
				animation:shake 1s both;
				opacity:1;
			}
		}

	}
}
.icon-sprite{
	background:url(images/11.png) no-repeat left top;
	background-size: px2rem(225) auto !important;
}
header.level-title{
	padding:0 px2rem(42);
	line-height:px2rem(41);
	height:px2rem(43);
	@include fsize(26);
	position: relative;
	margin:0 auto;
	display:inline-block;
	margin-top:px2rem(60);
	&:after{
		content:" ";
		position:absolute;
		background:url(images/11.png) no-repeat right px2rem(-109);
		background-size: px2rem(225) auto !important;
		height:px2rem(42);
		width:50%;
		right:0;
		top:0;
	}
	&:before{
		content:" ";
		position:absolute;
		background:url(images/11.png) no-repeat left px2rem(-109);
		background-size: px2rem(225) auto !important;
		height:px2rem(42);
		width:50%;
		left:0;
		top:0;
	}
}
dl.level-intr{
	dt{
		@include fsize(40);
		margin-top:px2rem(25);
	}
	dd{
		@include fsize(20);
		line-height:150%;	
	}
}

/*第一关*/
.level-1,
.level-2,
.level-3,
.result-info,
.friends-info{
	width: 10rem;
	margin:0 auto;
	text-align: center;
	color:#dbb76c;
	position:relative;
	z-index:4;
}

@keyframes fadeInDownUp{
	0%{
		opacity:1;
		transform:translate3d(0,-20%,0)
	}
	50%{
		opacity:1;
		transform:translate3d(0,0,0)
	}	
	100%{
		opacity:1;
		transform:translate3d(0,-20%,0)
	}
}
.carTransition{
	transition:transform .5s;
}

.fadeInDownUp{
	animation:fadeInDownUp 2s infinite linear;
}
@keyframes showHide{
	0%{
		opacity:0;
		
	}
	50%{
		opacity:1;

	}	
	100%{
		opacity:0;
	}
}
.showHide{
	animation:showHide 2s infinite linear;
}
@keyframes fadeIn{
	0%{
		opacity:0
	}
	3%{
		opacity:1
	}	
	100%{
		opacity:0
	}
}
@keyframes bounceOutDown{
	20%{
		-webkit-transform:translate3d(0,10px,0);
		-ms-transform:translate3d(0,10px,0);
		transform:translate3d(0,10px,0)
	}
	40%,45%{
		opacity:1;
		-webkit-transform:translate3d(0,-20px,0);
		-ms-transform:translate3d(0,-20px,0);
		transform:translate3d(0,-20px,0)
	}
	100%{
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
		-ms-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}

}
.bounceOutDown{
	animation:bounceOutDown 1s both;
}
.level-1{
	.car-key{
		background:url(images/10.png) no-repeat right top;
		background-size:px2rem(104) px2rem(234);
		width:px2rem(116);
		height:px2rem(234);
		margin:px2rem(88) auto 0 auto;
	}
	.key-arrow{
		width:px2rem(28);
		height:px2rem(34);
		margin:px2rem(9) auto 0 auto;
	}
	.count-down{
		position: absolute;
		@include fsize(70);
		color:#dbb76c;
		font-weight:bold;
		width:10rem;
		text-align:center;
		z-index: 5;
		padding-top:px2rem(200);
	}
	footer{
		width:10rem;
		position:absolute; 
		text-align: center;
		height:px2rem(215);
		top:px2rem(695);
		font-size: 0;
		span{
			width:px2rem(225);
			height:px2rem(46);
			display:inline-block;
			margin-top:px2rem(154);
			background-position: left  px2rem(-53);
		}
		ul{
			width:10rem;
			position: relative;
			font-size: 0;
			li{
				display:inline-block;
				width:px2rem(187);
				height:px2rem(148);
				position: absolute;
				top:px2rem(35);
				left:px2rem(57);
				background:url(images/12.png) no-repeat left top;
				background-size: 100% auto !important;
			}
			li.cur{
				background-position: left bottom;
			}
		}
		.left-car{
			transform:translate3d(0,0,0)
		}
		.center-car{
			transform:translate3d(px2rem(225),0,0)	
		}
		.right-car{
			transform:translate3d(px2rem(450),0,0)
		}
	}
	.level-1-result{
		height:px2rem(240);
		width:px2rem(240);
		line-height:px2rem(240);
		border:1px solid #dbb76c;
		color:#dbb76c;
		text-align:center;
		@include fsize(70);
		position: absolute;
		left:50%;
		top:px2rem(358);
		border-radius: px2rem(12);
		margin-left: px2rem(-120);
	}
}

/*第二关*/
@keyframes seal{
	0%{
		transform:scale(3);
		transform-origin:50% 50%;
		opacity:.8
	}

	100%{
		transform:scale(1);
		transform-origin:50% 50%;
		opacity:1
	}

}

.level-2{
	.photo-frame{
		background: url(images/16.png) no-repeat center center;
		background-size:px2rem(494) px2rem(448);
		height:px2rem(665);
		width:px2rem(570);
		margin:px2rem(45) auto 0 auto;
		position: relative;
		img{
			position:absolute;
			&:first-child{
				height:px2rem(170);
				width:px2rem(436);
				top:px2rem(260);
				left:50%;
				margin-left:px2rem(-218);
				z-index: 3;
			}
		}
		.people{
			position:absolute;
			height:px2rem(348);
			width:px2rem(231);
			z-index:4;
			background-size: 100% !important;
			transition:all .5s;
			&.boy{
				background: url(images/14.png) no-repeat left top;
			}
			&.girl{
				background: url(images/17.png) no-repeat left top;
			}
		}
		.rdmPos1{
			transform:scale(1.3,1.3) translate3d(90%,40%,0);
			z-index:4;
		}
		.rdmPos2{
			transform:scale(1.2, 1.2) translate3d(50%, 30%, 0);
			z-index:4;
		}
		.rdmPos3{
			transform:scale(1.1,1.1) translate3d(130%, 10%, 0);
			z-index:4;
		}	
		.rdmPos4{
			transform:scale(.9,.9) translate3d(30%, 80%, 0);
			z-index:4;
		}
		.rdmPos5{
			transform:scale(.8,.8) translate3d(80%, 10%, 0);
			z-index:2;
		}
		.rdmPos6{
			transform:scale(.7,.7) translate3d(20%,10%,0);
			z-index:2;
		}
		.rdmPos7{
			transform:scale(.6,.6) translate3d(200%, 10%, 0);
			z-index:2;
		}
		.rdmPos8{
			transform:scale(0.5, 0.5) translate3d(200%, 40%, 0);
			z-index:2;
		}
	}
	.level-2-result{
		background:url(images/18.png) no-repeat center top;
		background-size: auto 100%;
	}
	.level-2-score{
		position: absolute;
		width:px2rem(124);
		height:px2rem(133);
		background-position: left px2rem(-252);
		z-index:9;
		left:px2rem(30);
		top:px2rem(20);
		@include fsize(32);
		color:#202022;
		line-height:px2rem(123);
		text-align: center;
		&.seal{
			opacity: 0;
			animation:seal .5s ease-in forwards;
		}
	}
	.yixin-logo{
		position: absolute;
		width:px2rem(143);
		height:px2rem(39);
		background-position: left px2rem(-186);
		z-index: 8;
		bottom:px2rem(41);
		left:50%;
		margin-left:px2rem(-76.5);
	}
}

/*第三关*/
.level-3{
	.level-3-con{
		margin:px2rem(45) auto 0 auto;
		width:px2rem(550);
		background:url(images/19.png) no-repeat center top;
		background-size:px2rem(550) px2rem(556);
		ul{
			width:px2rem(550);
			height:px2rem(556);
			font-size:0;
			&.boy{
				background:url(images/21.png) no-repeat center center;
				background-size:px2rem(456) px2rem(489);
			}
			&.girl{
				background:url(images/22.png) no-repeat center center;
				background-size:px2rem(494) px2rem(408);
			}
			li{
				display: inline-block;
				width:px2rem(180);
				height:px2rem(278);
				position: relative;
				&.cur:after{
					content:" ";
					position: absolute;
					width:px2rem(35);
					height:px2rem(35);
					background:url(images/11.png) no-repeat px2rem(-55) top;
					background-size: px2rem(225) auto !important;
					left: px2rem(122);
					top: px2rem(215);
				}
			}
		}
	}
}

/*结果页面*/
.result-info{
	padding-top:px2rem(80);
	.button{
		position: static;
		margin:px2rem(20) auto 0 auto;
		&.btn01,
		&.btn02{
			background:none;
			border:1px solid #dbb76c;
			color:#dbb76c;
		}
	}
}
.car-info{
	margin:px2rem(70) auto 0 auto;
	width:px2rem(544);
	height:px2rem(436);
	background-size: px2rem(544) px2rem(246) !important;
	padding-top:px2rem(300);
	box-sizing: border-box;
	@include fsize(24);
	&.car00{
		background: url(images/23.png) no-repeat center px2rem(90);
	}
	&.car02{
		background: url(images/24.png) no-repeat center px2rem(90);
	}
	&.car03{
		background: url(images/25.png) no-repeat center px2rem(90);
	}
	&.car01{
		background: url(images/26.png) no-repeat center px2rem(90);
	}
	&.car10{
		background: url(images/23.png) no-repeat center top;
	}
	&.car12{
		background: url(images/24.png) no-repeat center top;
	}
	&.car13{
		background: url(images/25.png) no-repeat center top;
	}
	&.car11{
		background: url(images/26.png) no-repeat center top;
	}
	div{
		padding:0 px2rem(44);
		border:1px solid #dbb76c;
		line-height:px2rem(40);
		display:inline-block;
	}
	span{
		display:block;
		margin-top:px2rem(12);
	}
}
.share{
	background: url(images/6.png) no-repeat center top;
	background-size:px2rem(666) px2rem(414);
	width:px2rem(666);
	height:px2rem(414);
	position: absolute;
	top:0;
	left:50%;
	z-index: 10;
	margin-left:px2rem(-333);
}
.mask-layer{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0.6;
    background: #000;
    overflow: hidden;
}

/*朋友圈结果页*/
.friends-info{
	.level-intr{
		padding-top:px2rem(80);
		dd{
			@include fsize(40);
			line-height:130%;
		}
	}
	.car-info{
		position: relative;
		margin:px2rem(65) auto 0 auto;
		padding-top:px2rem(380);
		width:px2rem(600);
		height:px2rem(600);
		@include fsize(30);
		&.suojiu{
			background: url(images/23.png) no-repeat center px2rem(90);
		}
		&.yuedong{
			background: url(images/24.png) no-repeat center px2rem(90);
		}
		&.ix25{
			background: url(images/25.png) no-repeat center px2rem(90);
		}
		&.shengda{
			background: url(images/26.png) no-repeat center px2rem(90);
		}
		div{
			padding:0 px2rem(68);
			border:1px solid #dbb76c;
			line-height:px2rem(53);
			display:inline-block;
		}
		span{
			display:block;
			margin-top:px2rem(12);
		}
		&:after{
			content: " ";
			width:px2rem(550);
			height:px2rem(600);
			background: url(images/13.png) no-repeat center top;
			background-size:px2rem(550) px2rem(600);
			position: absolute;
			left:50%;
			margin-left:px2rem(-275);
			top:0;
		}
	}
	.btn03{
		position: static;
	    margin: 0 auto;
	    margin-top:px2rem(40);
	}
}
