
/*求购表单*/
.want-buy-form {width:1200px;margin:60px auto 100px;}
.want-buy-form .form-sm{padding-bottom:5px;}
.want-buy-form .form-sm .form-group{padding-left:150px;}
.want-buy-form .form-sm .form-name{width:130px;left:0;}
.form-w470{width:470px;*width:448px;padding-left:12px;padding-right:10px;}
.want-buy-form .form-sm label em{color:#ce4634;margin-right:8px;vertical-align:middle;}
.want-buy-form .error{margin-left:15px;}
.form-yzm-img{margin-left:27px;margin-right:17px;}
.form-w305{width:305px;*width:283px;padding-left:12px;padding-right:10px;}
.want-buy-form .form-col .form-refresh{height:40px;background-position:left -70px;}
.open-more{font-size:14px;padding-left:361px;margin-top:-5px;margin-bottom:70px;}
.want-buy-form .btn-submit {margin-left:361px;}
.open-more a{position:relative;padding-right:23px;}
.open-more a i{width:15px;height:10px;position:absolute;right:0;top:5px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/bd_bg1.png) no-repeat -2px -29px;display:block;}
.open-more a:hover{text-decoration:none;}
.up-more a i{background-position:-2px -45px}
.add{float:left;margin-left:15px;width:22px;height:22px;margin-top:10px;}
.add a{width:22px;*width:0;padding-left:22px;font-size:0;line-height:0;height:22px;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/add-ico.gif) no-repeat -3px -4px;display:block;}
.add a:hover{background-position:-89px -4px;}
.delete {float:left;margin-left:15px;width:22px;height:22px;margin-top:10px;}
.delete  a{width:22px;*width:0;padding-left:22px;font-size:0;line-height:0;height:22px;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/add-ico.gif) no-repeat -44px -4px;display:block;}
.delete  a:hover{background-position:-130px -4px;}
.want-buy-form .form-input{margin-right:0;}

/*车身颜色*/
.yansbox{width:568px;}
.yansbox .xuanzts{width:60px;height:56px;*height:29px;margin-bottom:15px;margin-right:15px;padding-top:27px;font-size:14px;line-height:26px;}
.yansbox .xuanzts:hover{width:60px;height:56px;*height:29px;padding-top:26px;}
.yansbox .xuanzts b{width:35px;height:15px;position:absolute;left:12px;top:12px;}
.yansbox .xuanzts b.wirte{width:33px;height:13px;border:1px solid #d6d6d6;background-color:#ffffff;}
.yansbox .xuanzts b.dcdz{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -1px -58px;}
.yansbox .xuanzts b.qts{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -52px -58px;}
.yansbox .xuanzts b.bg_black{background-color:#525252}
.yansbox .xuanzts b.bg_yhs{background-color:#d6d6d6}
.yansbox .xuanzts b.bg_red{background-color:#cc0000}
.yansbox .xuanzts b.bg_blue{background-color:#336699}
.yansbox .xuanzts b.bg_gray{background-color:#8f8f8f}
.yansbox .xuanzts b.bg_xbs{background-color:#c98c50}
.yansbox .xuanzts b.bg_lvs{background-color:#155b07}
.yansbox .xuanzts b.bg_yellow{background-color:#ffcc00}
.yansbox .xuanzts b.bg_orange{background-color:#f38010} 
.yansbox .xuanzts b.bg_violet{background-color:#7139a1}
.yansbox .xuanzts b.bg_cfs{background-color:#552701}
.yansbox .xuanzts:hover b,.yansbox .xuanzts_on b{top:11px;left:11px;}
.yansbox .xuanzts_on:link,.yansbox .xuanzts_on:visited,.yansbox.xuanzts_on:hover{text-decoration:none;color:#333333;border:2px solid #fd9933;height:56px;*height:29px;padding-top:26px;cursor:default;}
.xuanzts{width:60px;height:56px;padding:1px;border:1px solid #e9e9e9;line-height:55px; color:#333333;text-decoration:none;display:inline-block;text-align:center;position:relative;margin-right:15px;float:left;border-radius:5px;font-size:14px;}
.xuanzts:link,.xuanzts:visited{text-decoration:none;color:#333333;}
.xuanzts:hover,.xuanzts_on:hover{text-decoration:none;color:#333333;border:2px solid #fd9933;padding:0;width:60px;height:56px;*height:26px;overflow:hidden;}
.xuanzts_on:link,.xuanzts_on:visited,.xuanzts_on:hover{text-decoration:none;color:#333333;border:2px solid #fd9933;padding:0;cursor:default;display:inline-block;padding-top:0;}
.xuanzts_on em{position:absolute;right:-2px;bottom:-2px;width:18px;height:17px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -165px -4px;overflow:hidden;padding-top:0;display:block;}


/*无数据*/
.title-top{height:123px;line-height:123px;border-bottom:1px solid #e9e9e9;width:1200px;margin:0 auto;font-size:28px;}
.no-data{padding-left:540px;*width:721px;margin-top:75px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/fail_pic.jpg) no-repeat 300px -15px;/*margin-bottom:100px;display:table;*/min-height:145px;}

.data-seccent{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/seccess-150-150.gif) no-repeat 300px top;padding-left:480px;padding-bottom:130px;}

.no-data h5{font-size:24px;line-height:58px;color:#666666;margin-top:2px;}
.no-data p{font-size:16px;color:#999999;line-height:20px;margin-bottom:7px;}
.no-data p em{color:#fd9933;}
.no-data-but{margin-top:25px;}
.no-data-but span{float:left;margin-right:40px;}
.want-buy-data .title-s-size h4{font-size:24px;}
.want-buy-data .carpic-box{margin-bottom:50px;}

/*列表页*/
.distributor-screen{width:1200px;margin:20px auto 30px;}
.distributor-screen .taoche-screen-list{width:1200px;padding-top:7px;}
.distributor-screen .distributor-home-search-down{margin-left:0;padding-top:0;padding-bottom:12px;padding-top:12px;}
.distributor-screen .form-sm .form-name{font-size:14px;width:60px;text-align:left;left:0;top:12px;color:#999999;}
.distributor-screen .form-sm .btn{float:left;margin-right:30px;}
.distributor-screen .taoche-screen-text li{line-height:30px;margin-right:20px;}
.distributor-screen .taoche-screen-text li a{line-height:30px;padding:0 8px;}
.distributor-screen .taoche-screen-text{padding-bottom:1px;}
.distributor-screen .taoche-screen-main{width:1000px;}
.distributor-home-search-down .form-checked{width:226px;*width:212px;padding-left:12px;}
.distributor-home-search-down{padding-top:30px;margin-left:30px;}
.distributor-home-search-down .form-col{margin-right:10px;}
.form-sm-name{float:left;font-size:14px;line-height:40px;color:#999999;margin-left:30px;margin-right:10px;}
.distributor-screen  .taoche-screen-main-min{width:850px;}
.taoche-screen-subscribe a em,.taoche-screen-subscribe em{color:#fd9933;}
.wantbuy-tit{font-size:24px;line-height:24px;padding-bottom:20px;border-bottom:3px solid #e9e9e9;width:1200px;margin:55px auto 0 auto;}
.wangbuy-list{width:1200px;margin:40px auto;font-size:16px;}
.wangbuy-list ul{margin-bottom:25px;}
.wangbuy-list li{height:45px;line-height:45px;color:#666666;cursor:pointer;}
.wangbuy-list li.wangbuy-list-tit{cursor:auto;}
.wangbuy-list li:hover{background-color:#fff9f2;}
.wangbuy-list li.current{background-color:#fff9f2;}
.wangbuy-list li.color-gray:hover{background:#fff9f2;/*hover事件*/}
.wangbuy-list-tit,.wangbuy-list li.wangbuy-list-tit:hover{background-color:#f6f6f6;}
.wangbuy-list-cartype{width:350px;float:left;height:45px;overflow:hidden;margin-right:20px;}
.wangbuy-list-price{width:100px;float:left;height:45px;overflow:hidden;margin-right:60px;text-align:center;color:#fd9933;}
.wangbuy-list-tit .wangbuy-list-price{color:#666666;}
.wangbuy-list-age{width:80px;float:left;height:45px;overflow:hidden;margin-right:75px;text-align:center;}
.wangbuy-list-source{width:115px;float:left;height:45px;overflow:hidden;margin-right:70px;text-align:center;}
.wangbuy-list-dress{width:185px;float:left;height:45px;overflow:hidden;text-align:center;}
.wangbuy-list-time{width:115px;float:right;height:45px;overflow:hidden;text-align:right;}
.wangbuy-list li a{display:block;height:45px;line-height:45px;}
.wangbuy-list li a:hover{color:#fd9933} 
.wangbuy-list li.color-gray,.wangbuy-list li.color-gray .wangbuy-list-price{color:#c6c6c6;}

/*求购首页*/
.top-bar-box{width:100%;height:470px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/wanbuy-topbg.jpg) no-repeat center top;margin-bottom:40px;}
.top-bar{width:1200px;margin:0 auto;}
.top-bar p{text-align:center;color:#ffffff;font-size:20px;padding-top:230px;}
.top-bar-but{margin-top:50px;text-align:center;}
.top-bar-but a{margin-left:30px;margin-right:30px;width:170px;height:50px;line-height:48px;display:inline-block;text-align:center;font-size:18px;color:#ffffff;text-decoration:none;}
a.top-bar-but-yellow{background-color:#fd9933;border:1px solid #fd9933;border-radius:3px;}
a.top-bar-but-yellow:hover{text-decoration:none;background:#ff8d03;border:1px solid #ff8d03;}
a.top-bar-but-white{border:1px solid #ffffff;border-radius:3px;}
a.top-bar-but-white:hover{text-decoration:none;border:1px solid #fd9933;color:#fd9933;}
.wanbuy-home-tit{height:125px;line-height:125px;font-size:42px;text-align:center;}
.wantbuy-more-but{text-align:center;margin-top:60px;margin-bottom:60px;}

.wantbuy-more-but a{width:225px;height:50px;line-height:48px;text-align:center;color:#ffffff;display:inline-block;background-color:#fd9933;border:1px solid #fd9933;border-radius:3px;font-size:18px;}
.wantbuy-more-but a:hover{text-decoration:none;background:#ff8d03;border:1px solid #ff8d03;}

/*车型浮层*/
.distributor-home-search-down .form-col{position:relative;}
.distributor-home-search-down .form-popover{width:228px;top:43px;}
.distributor-home-search-down .form-popover-year{width:120px;}
.distributor-home-search-down .form-popover-r{width:178px;}
.merchant-layer{width:471px;border:1px solid #dddddd;border-radius:3px;position:absolute;left:0;top:43px;padding:5px 0;background-color:#ffffff;max-height:410px;overflow-y:auto;}
.merchant-layer li a{height:36px;line-height:36px;display:block;padding-left:15px;font-size:14px;}
.merchant-layer li a:hover{background-color:#f0f0f0;text-decoration:none;color:#fd9933;}
.merchant-layer li a.on,.merchant-layer li a.on:link,.merchant-layer li.on:visited,
.merchant-layer li a.on:hover{text-decoration:none;color:#ff9a1f;background-color:#f0f0f0;}



.distributor-home-search-rit  .merchant-layer{width:320px;left:20px;}
.distributor-home-search-rit .merchant-layer li{height:36px;font-size:14px;}
.distributor-home-search-rit .merchant-layer li a{height:30px;line-height:30px;display:block;padding-left:20px;font-size:14px;}

.form-sm .form-col{position:relative;}
.want-buy-form .form-sm .form-popover{width:471px;}
.want-buy-form  .form-sm .form-popover-r{width:421px;}
.want-buy-form .form-popover-year{width:248px;height:446px;}
.want-buy-form  .form-height{height:446px;}

/*浮层补充*/
.popover-report-but span{margin-right:20px;}
.popover-reminder-prompt-text {line-height:23px;margin-top:25px;}
.popover-reminder-prompt-text p{margin-bottom:0;line-height:23px;}

.purchase-layer{position:absolute;z-index:13000;width:730px;height:335px;}
.purchase-layer-left {width:30px;height:50px;float:left;margin-top:140px;float:left;}
.purchase-layer-left a{width:30px;height:50px;padding-left:30px;*width:0;font-size:0;line-height:0;overflow:hidden;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-arrow.png) no-repeat left top;}
.purchase-layer-left-on a{background-position:-70px top;cursor:default;}
.purchase-layer-rit {width:30px;height:50px;float:right;margin-top:140px;}
.purchase-layer-rit a{width:30px;height:50px;padding-left:30px;*width:0;font-size:0;line-height:0;overflow:hidden;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-arrow.png) no-repeat -37px top;}
.purchase-layer-rit-on a{background-position:-105px top;cursor:default;}
.purchase-layer-mid{float:left;width:630px;margin-left:20px;border:1px solid #d9d9d9;background-color:#ffffff;position:relative;padding-bottom:25px;}
.purchase-layer-mid h5{margin:0 50px;font-size:20px;line-height:23px;margin-top:23px;}
.purchase-layer-list{margin-top:27px;margin-left:30px;display:table;}
.purchase-layer-list ul{float:left;width:160px;margin-left:12px;}
.purchase-layer-list ul.first{width:200px;margin-left:22px;}
.purchase-layer-list ul.two {width:180px;}
.purchase-layer-list ul li{font-size:16px;color:#666666;height:20px;margin-bottom:20px;}
.purchase-layer-list ul li strong{color:#999999;}
.purchase-layer-but{text-align:center;margin-top:22px;}
.purchase-layer-but .btn-xlg{font-size:18px;}
.purchase-layer-but .btn-xlg a{height:40px;*height:37px;line-height:38px;width:240px;border-radius:3px;display:block;}
.purchase-layer-but i{font-size:18px;line-height:20px;color:#fd9933;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-tele.gif) no-repeat left 19px;padding-left:35px;padding-top:19px;display:inline-block;}
 .purchase-layer-but .btn-disabled a,.purchase-layer-but .btn-disabled a:link,.purchase-layer-but .btn-disabled a:visited,.purchase-layer-but .btn-disabled a:hover{color:#ffffff;font-size:16px;}
.purchase-invalid{width:130px;height:98px; background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-invalid.png) no-repeat left top;position:absolute;right:50px;bottom:55px;display:block;}
.popover-reminder-purchase{padding-top:35px;}
.popover-reminder-purchase p{line-height:30px;font-size:20px;color:#666666;}
.popover-reminder-purchase-but{margin-top:35px;}
.popover-reminder-purchase-but span{margin-right:15px;}

/*求购信息管理*/
.purchase-management-main{width:1200px;margin:60px auto 50px;}
.purchase-management{width:1200px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;position:relative;height:229px;margin-bottom:40px;display:table;}
.purchase-management-bgleft{width:21px;height:230px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-bg1.gif) no-repeat left top;position:absolute;left:0px;top:-1px;}
.Purchase-management-bgrit{width:21px;height:230px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-bg2.gif) no-repeat left top;position:absolute;right:0px;top:-1px;}
.purchase-management-main .title-m-size{margin-bottom:60px;}
.purchase-management-main .title-m-size  span a{font-size:14px;line-height:40px;color:#fd9933;}
.purchase-management-main .title-m-size  span a:hover{color:#fd9933; text-decoration:underline;}
.purchase-management-left{width:920px;float:left;margin-left:75px;}
.purchase-management-tit{line-height:24px;margin-top:50px;margin-bottom:45px;width:100%;display:table;}
.purchase-management-tit h3{font-size:24px;float:left;height:24px;overflow:hidden;}
.purchase-management-tit span{font-size:14px;color:#999999;margin-left:20px;line-height:24px;float:left;}
.purchase-management-left ul{}
.purchase-management-left ul li{font-size:16px;color:#666666;line-height:20px;width:200px;margin-right:22px;float:left;margin-bottom:10px;} 
.purchase-management-left ul li strong{color:#999999;}
.purchase-management-rit{width:120px;float:right;margin-right:70px;padding-top:65px;position:relative;}
.purchase-management-rit span{margin-bottom:20px;}
.purchase-management-invalid{width:118px;*width:0;padding-left:118px;height:88px;font-size:0;line-height:0;overflow:hidden;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/purchase-invalid2.gif) no-repeat left top #ffffff;position:absolute;right:73px;top:23px;}
.purchase-management-main .the-pages{margin-top:50px;}
.title-top  span{float:right;}
.title-top  span a{font-size:14px;line-height:40px;color:#fd9933;}
.title-top  span a:hover{color:#fd9933; text-decoration:underline;}

.margin-bottom{margin-bottom:0px !important;}

.purchase-layer-but i.pos_i{position:relative;top:-12px;}
