@charset "utf-8";
/* CSS Document */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button,input{ margin:0; padding:0; }
fieldset, img,button,input { border:none; outline-style:none; }
ul, ol ,dl{ list-style:none; }
input {font-family:"Microsoft YaHei";}
input[required]:invalid, input:focus:invalid, textarea[required]:invalid, textarea:focus:invalid{box-shadow: none;}
img{vertical-align:top;} 
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
i,em{font-style:normal;} 
del{ text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
body {max-width: 768px;width: 100%; font-size:1rem; color:#333;overflow-x: hidden;font-family: "Microsoft YaHei";/* -webkit-align-items: center;-ms-flex-align:center;align-items: enter;display:-webkit-flex;display: flex; */margin:0 auto;}
/* .clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; } */
*html .clearfix{_height:1%;}
html{font-size:62.5%;-webkit-text-size-adjust:none; } 
.clearfix{zoom:1;}
.clearfix:after{content:'';display:block;clear:both; height:0; visibility:hidden; font-size:0}
a { text-decoration:none;color: #333;font-size:0.6rem;}
a:hover { text-decoration:none; }
/* html,body{height: 100%;margin:0;} */
/* 公用部分 */
input[type="text"], input[type="button"], input[type="submit"], input[type="search"], input[type="number"]{-webkit-appearance:none; border-radius:0;}
p,h5{word-wrap:break-word;}/* 英文强制换行，以单词为依据 */
.fl{float: left;}
.fr{float: right;}

.mb0{margin-bottom: 0!important;}
.bb0{border-bottom: 0!important;}

.noScroll{height:100%;overflow:hidden;}
.noScroll body{height:100%;overflow:hidden;}
.list li{background-color: pink;border-bottom:1px solid #ccc;height: 50px;}
.pop{background-color: #dc8100;position: absolute;bottom: 0;left: 0;right: 0;height: 200px;overflow-y: hidden;z-index:1;box-sizing:border-box;padding:0.6rem;}
.pop_inner{background-color: #1e2391;color: #fff;height:140px;overflow-y:scroll;font-size: 14px;}
.pop_close{position: absolute;top: 5px;right: 5px;z-index: 1;font-size: 0.6rem;color: red;}
.pop_box{width: 100%;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.6);display: none;}









/* 字体媒体查询开始********************************************************************/
@media screen and (max-width: 321px) {
    body {font-size:16px;}
}

@media screen and (min-width: 321px) and (max-width:400px) {/* 标准 */
    body {font-size:17px;}
}

@media screen and (min-width: 400px) {
    body {font-size:19px;}
}




