/*淘车顶部banner*/
.authentication{
	margin-bottom:20px;
}
.home-city-0 a:after{bottom:25px;right:50px;background-position:-942px bottom}
/*淘车认证板块*/
.home-auth{margin-bottom:40px;position:relative}
.home-auth a:hover{text-decoration:none}
.home-auth-car{
	height:290px;margin-top:20px
}
.home-auth-car-left{
	height:290px;width:240px;float:left;text-align:center;color:#ffffff;position:relative
}
.home-auth-car-bg1{background:url(./images/home_bg0.png) no-repeat left top}
.home-auth-car-left h3{font-size:30px;font-weight:bold;padding-top:30px;margin-bottom:15px}
.home-auth-car-left p{font-size:16px;line-height:20px}
.home-auth-car-buta a{
	width:86px;
	height:32px;
	line-height:32px;text-align:center;display:block;color:#ffffff;background-color:#ff8d30;
	border-radius:3px;font-size:14px;
	margin:134px auto 0
}
.home-auth-car-buta a:hover{text-decoration:none;background-color:#fc821f}
.home-auth-car-right{float:left;width:960px}
.home-auth-car-picbox{height:290px}
.home-auth-logo{border:1px solid #e9e9e9;margin-top:20px;overflow:hidden}
.home-auth-logo,.home-auth-logo ul{width:1200px;height:90px}
.home-auth-logo ul{display:table}
.home-auth-logo li{width:auto;border-right:1px solid #e9e9e9;text-align:center;vertical-align:middle;display:table-cell;overflow:hidden}
.home-auth-logo li a{width:100%;display:block}
.home-auth-logo li a img{width:auto;max-height:90px}


.home-auth-car-list{position:relative;overflow:hidden}
.home-auth-car-list ul {position:relative;overflow:hidden}
.home-auth-car-list ul li{width:210px;float:left;position:relative;margin-left:30px}
.home-auth-car-pic{width:210px;height:140px;position:relative;margin-bottom:5px}
.home-auth-car-pic img{width:210px;height:140px;border:none}
.horizontal-car-tit{ font-size:16px;line-height:24px;margin-bottom:15px;height:48px;overflow:hidden}
.horizontal-car-tit a:hover{text-decoration:underline;color:#fd9933}
.horizontal-car-price{display:table;margin-bottom:6px}
.horizontal-car-price em{color:#ff6d02;font-size:24px;font-weight:bold}
.horizontal-car-text{line-height:18px;font-size:14px;color:#999999}
.home-auth-car-more{height:52px;line-height:52px;margin-top:20px;margin-left:30px;font-size:14px;color:#999999;border-top:1px solid #e9e9e9}
.home-auth-car-more span{float:right}
.home-auth-car-more strong{color:#333333}

.RENZHENG_ICON{
	display: inline-block;
	width:92px;
	height:34px;
	background:url(../images/auth_car_ico.png) 0 0;
	position:absolute;
	top:0;
	left:0;
}
.auth-ico-list{
	height: 20px;
    font-size: 12px;
    margin-top: 10px;
}
.auth-ico-list em{
	line-height: 18px;
	text-align:center;
	padding:0 3px;
	border-radius:2px;
	float: left;
    margin-right: 6px;
}
.auth-ico-list em.em_type_30day{
	color:#fda666;
	border:1px solid #fda666;
}
.auth-ico-list em.em_type_year{
	color:#61c788;
	border:1px solid #61c788;
}
.auth-ico-list em.em_type_fenqi{
	color:#75b1e6;
	border:1px solid #75b1e6;
}
.home-auth .add_mb{
	margin-bottom:16px;
}