@charset "UTF-8";
body{background:url(images/bg.png) center 40px repeat-x white}
.header .ad-1200-80{border-top-color:transparent}
.header-search{background:url(images/search.png) right 13px no-repeat;margin:auto;padding:25px 0;height:86px}
.header-search .city-name a.city-name-link{background-color:transparent;border-color:transparent; overflow: hidden\9}
.header-search .city-name-current a.city-name-link{background-color:#ffffff;border-color:#d9d9d9}
.home-main-car,.exclusive-list,.home-city,.used-car-search{background-color:white}
.home-menu li a{padding-top:58px;position:relative}
.home-menu li a em{width:203px;height:80px;position:absolute;top:-30px;left:0;background:url(images/icon.png) no-repeat}
.home-menu li a em.home-menu-bg1{background-position:45px 20px}
.home-menu li a em.home-menu-bg2{background-position:50px -77px}
.home-menu li a em.home-menu-bg3{background-position:40px -183px}
.home-menu li a em.home-menu-bg4{background-position:45px -270px}
.home-menu li a em.home-menu-bg5{background-position:45px -365px}
.slider-list ul li .inner_ad{display: block;height:448px;width:1920px;margin:0;position:relative}
.slider-list ul li img.inner_ad_left{left:650px;width:80px;height:280px;display:block;top:-448px;position:absolute}
.slider-list ul li img.inner_ad_right{right:400px;width:80px;height:280px;display:block;top:-448px;position:absolute}


