@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(../fonts/rjmlaofxxqezzomsutegwkcwcynf_cdxxwclxiixg1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/8khzd3vqbtxtaznvkjw-ky3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/-_ctzj9b56b8rgxw8faris3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../fonts/bicy3_3jnquvraqqrnvteq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/ccki4k9un7tzvwzrvt-t8y3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../fonts/xkvono9fc8o2rdydkj12by3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/jbtmzqlaybbbcl9x6evaiy3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(../fonts/1imrnpx4870-d9a1ebudpc3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url(../fonts/pkcrbvvrfd5n7btjtgifzc3usbnsvpkopqaur-2r7iu.ttf) format('truetype');
}
