
/*拍卖报名*/
.tbuycar-top-ad{height:470px;width:100%;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-topad.jpg) no-repeat center top;}
.tbuycar-main{width:1200px;border:1px solid #eaeaea;margin:-87px auto 40px;background-color:#ffffff;padding-bottom:60px;}
.tbuycar-main-tab{height:87px;background-color:#fafafa;border-bottom:1px solid #eaeaea;position:relative;display:table;}
.tbuycar-main-tab ul{width:1201px;height:87px;position:absolute;left:0;top:0;}
.tbuycar-main-tab ul li{float:left;border-left:1px solid #eaeaea;background-color:#fafafa;margin-left:-1px;width:400px;height:87px;text-align:center;line-height:86px;border-bottom:1px solid #eaeaea;}
.tbuycar-main-tab-two ul li{width:600px;}
.tbuycar-main-tab ul li a{text-decoration:none;color:#666666;font-size:24px;display:block;}
.tbuycar-main-tab ul li.current a{background-color:#ffffff;border-bottom:1px solid #ffffff;color:#fd9933;}
.tbuycar-main-tab ul li i{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-tisl.png) no-repeat;display:inline-block;vertical-align:middle;margin-right:2px;}
.tbuycar-main-tab ul li i.first {width:28px;height:28px;background-position:-8px top;}
.tbuycar-main-tab ul li i.two {width:28px;height:28px;background-position:-80px top;}
.tbuycar-main-tab ul li  i.three{width:28px;height:28px;background-position:-142px top;}
.tbuycar-main-tab ul li.current  i.first{background-position:-45px top;}
.tbuycar-main-tab ul li.current  i.two{background-position:-112px top;}
.tbuycar-main-tab ul li.current  i.three{background-position:-172px top;}
.tbuycar-enrol{margin-top:60px;display:table;width:100%;}
.tbuycar-enrol-left{width:720px;min-height:370px;border-right:1px solid #eaeaea;float:left;}
.tbuycar-enrol-tit{margin-left:130px;color:#333333;font-size:24px; margin-bottom:60px;}
.tbuycar-enrol-tit em{color:#fd9933;}
.tbuycar-enrol-left .form-sm{margin-left:130px;}
.tbuycar-enrol-left .form-sm .form-group{padding-left:92px;margin-bottom:30px;}
.tbuycar-enrol-left .form-sm .form-name{left:0;width:70px;}
.tbuycar-enrol-but{margin-left:135px;padding-top:30px;}
.tbuycar-sell-cars .tbuycar-enrol-but{margin-left:220px;padding-top:30px;}
.tbuycar-enrol-but .btn-xxsm a{height:50px;*height:47px;line-height:48px;width:350px;border-radius:3px;display:block;}
.tbuycar-enrol-but .btn-xxsm{font-size:18px;font-weight:bold;}
.tbuycar-enrol-rit{float:left;margin-left:50px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-nub.png) no-repeat;min-height:331px;padding-left:85px;}
.tbuycar-enrol-rit li{padding-top:5px;margin-bottom:42px;}
.tbuycar-enrol-rit li h3{font-size:18px;color:#333333;margin-bottom:6px;}
.tbuycar-enrol-rit li p{font-size:14px;color:#999999;line-height:22px;}

/*拍卖提交成功*/
.tbuycar-w600{width:600px;}
.tbuycar-w550{width:560px;}
.tbuycar-enrol-prompt{margin:20px auto 0; padding-left:170px;position:relative;min-height:150px;margin-bottom:20px;}
.tbuycar-enrol-prompt h5{font-size:20px;color:#333333;padding-top:35px;margin-bottom:15px;}
.tbuycar-enrol-prompt p{font-size:16px;color:#999999;line-height:26px;}
.tbuycar-enrol-process{width:735px;margin:60px auto 20px;}
.tbuycar-enrol-speed{width:676px;height:22px;margin:0 auto;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-speed.gif) no-repeat left top;}
.tbuycar-enrol-speed  span{height:22px;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-speed.gif) no-repeat left bottom;}
.tbuycar-enrol-process ul{width:100%;display:table;margin-top:5px;}
.tbuycar-enrol-process ul li{width:70px;float:left;font-size:14px;color:#999999;text-align:center;margin-left:93px;}
.tbuycar-enrol-process ul li.first{margin-left:12px;}
.tbuycar-enrol-process p{text-align:center;margin-top:40px;color:#999999;font-size:14px;}
.tbuycar-enrol-prompt-but{display:table;padding-top:15px;}
.tbuycar-w550 h5{padding-top:17px;}

/*个人网上卖车*/
.tbuycar-sell-cars   .tbuycar-enrol-left{border-right:none;}
.tbuycar-sell-cars  .tbuycar-enrol-left .form-sm .form-group{margin-bottom:25px;}
.tbuycar-sell-cars  .tbuycar-enrol-left .form-sm {border-right:1px solid #eaeaea;}
.label-check{margin-left:20px;float:left;color:#666666;font-size:14px;}
.label-check  input{float:left;margin-top:15px;margin-right:4px;}
.tbuycar-left-prompt{height:20px;line-height:17px;font-size:14px;margin-left:207px;padding-top:20px;padding-bottom:25px;display:table;}
.tbuycar-left-prompt label{float:left;margin-left:15px;margin-right:5px;font-size:14px;color:#666666;}
.tbuycar-left-prompt label input{float:left;margin-right:5px;margin-top:3px;}
.tbuycar-left-prompt a{float:left;position:relative;display:block;}
.tbuycar-left-prompt a:hover{color:#333333;text-decoration:underline;}
.tbuycar-left-prompt-layer{position:absolute;width:137px;left:-35px;bottom:35px;}
.tbuycar-left-prompt-layer ul{background-color:#fffcf7;border:1px solid #dddddd;padding:12px 0 8px;}
.tbuycar-left-prompt-layer ul li{padding-left:20px;line-height:25px;font-size:14px;margin-bottom:8px;}
.tbuycar-left-prompt-layer ul li em{color:#fd9933;}
.tbuycar-left-prompt-arrow{width:16px;height:10px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) -119px -9px;position:absolute;z-index:3;left:60px;bottom:-9px;}
.tbuycar-left-prompt a .tbuycar-left-prompt-layer{display:none;}
.tbuycar-left-prompt a:hover .tbuycar-left-prompt-layer{display:block;}
.tbuycar-left-prompt a:hover .tbuycar-left-prompt-layer ul li{text-decoration:none;}
.tbuycar-enrol-rit{float:left;margin-left:50px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-nub.png) no-repeat;min-height:331px;padding-left:85px;}
.tbuycar-pictures-rit{width:380px;float:left;margin-left:95px;}
.tbuycar-pictures-rit h3 {color: #333333; font-size: 24px;margin-bottom: 60px;}
.tbuycar-pictures-main{width:240px;position:relative;display:table;}
.tbuycar-pictures{width:240px;height:160px;position:relative;background-color:#ffe5cb;}
.tbuycar-pictures a{display:block;}
.tbuycar-pictures-text{height:43px;line-height:43px;width:240px;text-align:center;background-color:#fff4e4;font-size:14px;color:#ef8b25;}
.tbuycar-rit-ewm-main{margin-top:25px;width:240px;height:193px;border:1px solid #f0f0f0;}
.tbuycar-rit-ewm{width:120px;height:120px;margin:30px auto 15px;}
.tbuycar-rit-ewm-main p{text-align:center;color:#999999;line-height:20px;font-size:14px;}
.tbuycar-pictures-bar{width:240px;height:4px;position:absolute;left:0;bottom:0;text-align:left;}
.tbuycar-pictures-bar span{height:4px;background-color:#fd9b38;display:block;}
.tbuycar-pictures-close a{width:20px;*width:0px;padding-left:20px;font-size:0;line-height:0;height:20px;position:absolute;right:-8px;top:-8px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -4px -4px;display:block;}
.tbuycar-pictures-ico{width:43px;padding-left:43px;font-size:0;line-height:0;height:43px;position:absolute;left:0px;top:0px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -45px -4px;}
.tbuycar-pictures-loding{width:240px;height:160px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/loading2.gif) no-repeat center center;margin:0px auto 0;display:block;}

/*我的车源管理*/
.tbuycar-phone-management{width:370px;margin:60px auto 10px;}
.tbuycar-phone-management h3{font-size:24px;margin-bottom:10px;}
.tbuycar-phone-prompt{font-size:14px;color:#666666;line-height:20px;}
.tbuycar-phone-management .form-sm{margin-top:35px;}
.tbuycar-phone-management .tbuycar-enrol-but{margin-left:-10px;padding-top:20px;}
.tbuycar-w550 h5.padd-top50{padding-top:48px;}
.tbuycar-pad-dow0{padding-bottom:0;}
.tbuycar-down-text{height:50px;line-height:50px;background-color:#fafafa;border-top:1px solid #eaeaea;font-size:14px;color:#666666;padding:0 40px;margin-top:30px;}
.tbuycar-down-text span{float:right;color:#999999;}
.tbuycar-down-text i{color:#e9e9e9;font-size:12px;margin:0 15px;}


/*拍卖车源*/
.tcbugcar-gray-bg{background-color:#f6f6f6;width:100%;border-bottom:30px solid #ffffff;padding:30px 0 40px 0;}
.tcbugcar-auction{width:1200px;margin:0 auto;background-color:#ffffff;display:table;}
.tcbugcar-auction-tab{margin:0 40px;height:80px;border-bottom:2px solid #eaeaea;position:relative;}
.tcbugcar-auction-tab span{float:right;font-size:14px;color:#c4c4c4;line-height:78px;}
.tcbugcar-auction-tab ul{width:80px;position:absolute;left:0;top:0;width:100%;}
.tcbugcar-auction-tab ul li{height:80px;line-height:78px;float:left;margin-right:65px;}
.tcbugcar-auction-tab ul li a{font-size:20px;color:#333333;display:block;float:left;}
.tcbugcar-auction-tab ul li a:hover{text-decoration:none;color:#fd9933;}
.tcbugcar-auction-tab ul li.current{border-bottom:2px solid #fd9933;}
.tcbugcar-auction-tab ul li.current a{text-decoration:none;color:#fd9933;}
.tcbugcar-auction-setbacks{height:240px;border-top:1px solid #eaeaea;margin:-1px 40px 0 40px;}
.tcbugcar-auction-setbacks-left{float:left;width:240px;margin-top:40px;margin-right:40px;}
.tcbugcar-auction-setbacks-left i{width:240px;height:136px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat left top;display:block;}
.tcbugcar-auction-setbacks-left i.bg-gray{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat left -165px;}
.tcbugcar-auction-setbacks-left p{text-align:center;line-height:25px;margin-top:5px;font-size:14px;}
.tcbugcar-auction-setbacks-left p span{color:#999999;}
.tcbugcar-auction-setbacks-rit{width:800px;float:left;margin-left:38px;}
.tcbugcar-auction-setbacks-tele{line-height:25px;margin-top:25px;text-align:center;color:#999999;font-size:14px;width:715px;}
.tcbugcar-auction-setbacks-strip {width:712px;height:28px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-speed2.gif) no-repeat left top;margin-top:43px;}
.tcbugcar-auction-setbacks-strip span{height:28px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-speed2.gif) no-repeat left bottom;display:block;}
.tcbugcar-auction-setbacks-rit ul{margin-top:5px;}
.tcbugcar-auction-setbacks-rit ul li{width:88px;float:left;margin-right:110px;margin-left:-27px;text-align:center;font-size:14px;color:#999999;position:relative;}
.tcbugcar-auction-setbacks-rit ul li.last{margin-right:0;}
.tcbugcar-auction-setbacks-rit ul li strong{display:block;margin-bottom:3px;}
.tcbugcar-auction-setbacks-rit ul li.on strong{color:#fd9933}
.tcbugcar-auction-setbacks-rit ul li i{width:28px;height:28px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat left -346px;display:none;position:absolute;left:27px;top:-33px;}
.tcbugcar-auction-setbacks-rit ul li.fail i{display:block;}
.tcbugcar-auction-setbacks-rit ul li.fail strong{color:#f05137;}
.tcbugcar-auction-main {position:relative;}
.tcbugcar-auction-main .tcbugcar-auction-setbacks{padding-top:10px;}

.tcbugcar-auction-number  {text-align:center;padding-bottom:10px;margin:0 40px;}
.tcbugcar-auction-number ul li { width:12px;height:12px;display:inline;margin:0 3px; }
.tcbugcar-auction-number ul li a{ width:12px;*width:0;padding-left:12px;font-size:0;line-height:0;height:12px;background-color:#eaeaea;border-radius:8px;  display:inline-block; }
.tcbugcar-auction-number ul li.current a{ background-color:#fd9933; }
.form-group-prompt{float:left;font-size:14px;color:#999999;margin-left:20px;}

/*网卖车源 列表*/
.btn-xxsm{font-size:16px;}
.tcbugcar-auction-pb30{padding-bottom:30px;}
.tcbuycar-carlist{margin:0 40px;padding:30px 0 30px 0;*padding:30px 0 0px 0;border-bottom:1px solid #eaeaea;display:table;}
.tcbuycar-carlist-left{height:180px;width:580px;float:left;border-right:1px solid #eaeaea;position:relative;}
.tcbuycar-carlist-left em.bg-arrow{width:11px;height:18px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat left -316px;display:block;position:absolute;right:-1px;top:80px;}
.tcbuycar-carlist-pic{width:270px;float:left;margin-right:20px;}
.tcbuycar-carlist-text{float:left;width:280px;}
.tcbuycar-carlist-text-top{height:150px;}
.tcbuycar-carlist-text h5{font-size:16px;line-height:22px;padding-right:50px;margin-top:-5px;margin-bottom:13px;}
.tcbuycar-carlist-textb{line-height:20px;font-size:16px;color:#999999;}
.tcbuycar-carlist-textb i{font-size:12px;line-height:20px;color:#e9e9e9;margin:0 5px;vertical-align:top;}
.tcbuycar-carlist-price{font-size:20px;font-weight:bold;line-height:25px;margin-bottom:3px;color:#ff6d02;}
.tcbuycar-carlist-textc{font-size:14px;color:#999999;line-height:20px;}
.tcbuycar-carlist-textc span{float:left;margin-right:40px;}
.tcbuycar-carlist-share{float:left;color:#666666;position:relative;}
.tcbuycar-carlist-share a{color:#999999;text-decoration:none;}
.tcbuycar-carlist-share a i{width:18px;height:18px;float:left;margin-top:1px;margin-right:10px;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat -213px -350px;}
.tcbuycar-carlist-share a:hover{color:#333333;text-decoration:none;}
.tcbuycar-carlist-share a:hover i{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat -245px -350px;}
.tcbuycar-carlist-share-layer{width:240px;height:250px;border:1px solid #dddddd;border-radius:5px;background-color:#ffffff;position:absolute;left:0;bottom:30px;}
.tcbuycar-carlist-share-layer p{line-height:20px;font-size:16px;color:#333333;margin:20px 0 20px 30px;}
.tcbuycar-carlist-share-layer-ewm{width:170px;height:170px;margin-left:28px;}
.tcbuycar-carlist-rit{width:478px;float:left;margin-left:60px;}
.tcbuycar-carlist-rit-tit{font-size:14px;color:#999999;height:30px;line-height:30px;margin-top:-5px;}
.tcbuycar-carlist-rit-tit em{color:#fd9933;}
.tcbuycar-carlist-rit-tit i{float:left;margin-top:6px;width:22px;height:22px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat; display:block;margin-right:8px;}
.tcbuycar-carlist-rit-tit strong{font-size:30px;font-weight:bold;float:left;margin-right:20px;}
.tcbuycar-carlist-rit ul{height:50px;margin-top:28px;margin-bottom:35px;}
.tcbuycar-carlist-rit ul li{font-size:16px;color:#999999;line-height:25px;float:left;width:140px;}
.tcbuycar-carlist-rit ul p{color:#333333;}
.text-green i{background-position:-54px -350px;}
.text-green strong{color:#4cb56c;}
.text-yellow i{background-position:-93px -350px;}
.text-yellow strong{color:#c7ac16;}
.text-red i{background-position:-137px -350px;}
.text-red strong{color:#f05137;}
.text-gray i{background-position:-180px -350px;}
.text-gray strong{color:#ababab;}
.tcbuycar-carlist-rit-but span{float:left;margin-right:20px;}
.tcbuycar-carlist-explain{height:50px;margin-top:28px;margin-bottom:35px;line-height:25px;color:#333333;font-size:16px;overflow:hidden;}
.tcbuycar-carlist-explain p{height:25px;line-height:25px;overflow:hidden;}
.tcbuycar-carlist-explain .color-gray{color:#999999;}
.tcbugcar-auction-main .tcbuycar-carlist{border-bottom:none;padding-top:40px;padding-bottom:15px;clear:both;height:240px;}
.tcbugcar-left-arrow a{width:48px;height:48px;*widht:0;padding-left:48px;font-size:0;line-height:0;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat -352px -213px; position:absolute;left:10px;top:120px;display:block;z-index:4;}
.tcbugcar-rit-arrow a{width:48px;height:48px;*widht:0;padding-left:48px;font-size:0;line-height:0;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat -352px -272px; position:absolute;right:10px;top:120px;display:block;z-index:4;}

/*表单错误提示*/
.form-tcbuycar-error{position:absolute;left:92px;top:60px;*top:63px;z-index:3;display:table;}
.form-tcbuycar-error i{position:absolute;width:14px;height:9px;left:20px;top:-8px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat -29px -316px;}
.form-tcbuycar-error-text{width:250px;*width:230px;height:45px;line-height:45px;border:1px solid #dfdfdf;border-radius:3px;background-color:#fffcf7;padding-left:20px;color:#e04228;font-size:16px;}
.form-tcbuycar-error-text em{float:left;width:12px;height:12px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico2.png) no-repeat -60px -316px;margin-top:17px;margin-right:10px;}
.tbuycar-phone-management .form-tcbuycar-error{left:70px;}
.form-yellow{background-color:#fffcf7;}
.form-yellow input{background-color:#fffcf7;}
.tbuycar-pictures-main .form-tcbuycar-error{left:0;top:-65px;}
.tbuycar-pictures-main .form-tcbuycar-error i{position:absolute;width:14px;height:9px;left:20px;top:43px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -120px -9px;}
.tbuycar-enrol .form-sm .form-popover{left:92px;width:428px;*width:425px;}
.tbuycar-enrol .form-sm .time-popover{width:250px;}
.tbuycar-enrol .form-popover-year{width:130px;}
.form-quxuan{margin-left:10px;position:relative;}
.form-sm .form-quxuan .time-popover{width:145px;*width:166px;left:0;}
.essential-information .form-sm  .form-quxuan .time-popover{width:145px;*width:166px;left:0;}
.form-quxuan .form-popover-year{width:143px;*width:166px;height:446px;*height:448px;}
.tbuycar-enrol .form-sm .form-popover-r {width:378px;}



/*填写基本信息*/
.tcbugcar-essential{position:relative;}
.essential-information{width:980px;float:left;padding-bottom:110px;border-right:1px solid #eaeaea;margin-top:0;position:relative;min-height:600px;}
.essential-information-tit{margin:0 30px 0 30px;height:85px;line-height:85px;border-bottom:1px solid #eaeaea;display:block;}
.essential-information-tit li{height:85px;float:left;width:235px;font-size:18px;color:#333333;margin-left:10px;}
.essential-information-tit li em{color:#d3d3d3;font-size:36px;font-family:Myriad Pro;float:left;margin-right:15px;margin-top:4px;}
.essential-information-tit li.last{width:170px;}
.essential-information-tit li.current,.essential-information-tit li.current em{color:#fd9933}
.essential-information .form-sm{margin-left:135px;margin-top:40px;}
.essential-information .form-sm .form-name{width:100px;left:-60px;}
.essential-information .form-sm .form-group{margin-bottom:25px;}
.essential-information .form-sm label i{float:right;}
.essential-information .form-sm label em{color:#ce4634;margin-right:10px;margin-top:3px;float:right;}
.essential-information .tbuycar-enrol-but{position:absolute;margin-left:0;left:208px;bottom:60px;}
.essential-information  .form-tcbuycar-error{left:70px;}
.tcbuycar-complete{width:182px;float:left;margin-left:20px;min-height:600px;}
.tcbuycar-complete-top{width:182px;*width:174px;padding:40px 7px 0;display:table;margin-bottom:25px;}
.tcbuycar-complete-top-texta{text-align:center;font-size:14px;color:#333333;}
.tcbuycar-complete-top strong{display:block;font-size:30PX;font-weight:bold;text-align:center;color:#c72b16;margin-top:10px;margin-bottom:30px;}
.tcbuycar-complete-top strong.color-yellow{color:#c7ac16;}
.tcbuycar-complete-top strong.color-green{color:#2ea954;}
.tcbuycar-complete-top-textb{line-height:22px;color:#999999;font-size:14px;}
.tcbuycar-complete-top-textd{padding-left:40px;}
.tcbuycar-complete-top-textd li{font-size:14px;color:#999999;line-height:23px;margin-top:15px;} 
.tcbuycar-complete-top-textd li em{color:#333333;}
.tcbuycar-complete-main{width:182px;height:141px;*height:75px;padding-top:66px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-wcd.jpg) repeat left top;}
.tcbuycar-complete-main p{text-align:center;color:#ffffff;font-size:16px;margin-bottom:5px;padding-right:5px;}
.tcbuycar-complete-main strong{display:block;font-size:24px;font-weight:bold;color:#ffffff;text-align:center;padding-right:5px;}
.tcbuycar-complete-down{position:absolute;width:182px;right:15px;bottom:60px;text-align:center;font-size:14px;color:#c4c4c4;line-height:25px;}
.form-col-phone{color:#333333;margin-right:30px;font-size:16px;}
.essential-information .tbuycar-left-prompt label{margin-left:0;margin-right:20px;}
.essential-information .tbuycar-left-prompt a{margin-left:-15px;}
.essential-information .tbuycar-enrol-but span{margin-right:20px;}
.essential-information  .form-sm .form-popover{left:0px;width:428px;*width:425px;}
.essential-information  .form-sm .time-popover{left:0px;width:250px;*width:245px;}

/*编辑车源-详细信息*/
.yansbox{width:568px;}
.yansbox .xuanzts{width:60px;height:56px;*height:29px;margin-bottom:15px;margin-right:15px;padding-top:27px;font-size:14px;line-height:26px;}
.yansbox .xuanzts:hover{width:60px;height:56px;*height:29px;padding-top:26px;}
.yansbox .xuanzts b{width:35px;height:15px;position:absolute;left:12px;top:12px;}
.yansbox .xuanzts b.wirte{width:33px;height:13px;border:1px solid #d6d6d6;background-color:#ffffff;}
.yansbox .xuanzts b.dcdz{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -1px -58px;}
.yansbox .xuanzts b.qts{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -52px -58px;}
.yansbox .xuanzts b.bg_black{background-color:#525252}
.yansbox .xuanzts b.bg_yhs{background-color:#d6d6d6}
.yansbox .xuanzts b.bg_red{background-color:#cc0000}
.yansbox .xuanzts b.bg_blue{background-color:#336699}
.yansbox .xuanzts b.bg_gray{background-color:#8f8f8f}
.yansbox .xuanzts b.bg_xbs{background-color:#c98c50}
.yansbox .xuanzts b.bg_lvs{background-color:#155b07}
.yansbox .xuanzts b.bg_yellow{background-color:#ffcc00}
.yansbox .xuanzts b.bg_orange{background-color:#f38010} 
.yansbox .xuanzts b.bg_violet{background-color:#7139a1}
.yansbox .xuanzts b.bg_cfs{background-color:#552701}
.yansbox .xuanzts:hover b,.yansbox .xuanzts_on b{top:11px;left:11px;}
.yansbox .xuanzts_on:link,.yansbox .xuanzts_on:visited,.yansbox.xuanzts_on:hover{text-decoration:none;color:#333333;border:2px solid #fd9933;height:56px;*height:29px;padding-top:26px;cursor:default;}
.xuanzts{width:60px;height:56px;padding:1px;border:1px solid #e9e9e9;line-height:55px; color:#333333;text-decoration:none;display:inline-block;text-align:center;position:relative;margin-right:15px;float:left;border-radius:5px;font-size:14px;}
.xuanzts:link,.xuanzts:visited{text-decoration:none;color:#333333;}
.xuanzts:hover,.xuanzts_on:hover{text-decoration:none;color:#333333;border:2px solid #fd9933;padding:0;width:60px;height:56px;*height:26px;overflow:hidden;}
.xuanzts_on:link,.xuanzts_on:visited,.xuanzts_on:hover{text-decoration:none;color:#333333;border:2px solid #fd9933;padding:0;cursor:default;display:inline-block;padding-top:0;}
.xuanzts_on em{position:absolute;right:-2px;bottom:-2px;width:18px;height:17px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -165px -4px;overflow:hidden;padding-top:0;display:block;}
.readme{width:510px;height:125px;padding:8px;color:#cbcbcb;line-height:20px;font-size:14px;border:1px solid #dddddd;border-radius:4px;}
.readme-box{margin-top:-15px;}
.readme-box .form-col{height:130px;overflow:hidden;}
.readme-box p{font-size:14px;color:#cbcbcb;line-height:18px;width:100%;display:table;}
.form-li{float:left;width:20px;height:20px;background-color:#fd9933;text-align:center;line-height:20px;color:#ffffff;font-size:14px;margin:10px 30px 0 10px;cursor:pointer;position:relative;}
.form-li-layer{position:absolute;left:-20px;top:-215px;width:290px;*width:270px;height:200px;*height:180px;padding:10px;background-color:#fffcf7;border:1px solid #dddddd;border-radius:4px;}
.form-li-layer em{width:16px;height:9px;display:block;position:absolute;left:20px;bottom:-9px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -119px -9px;}
.pd-top-down20{padding-top:20px;padding-bottom:20px;}

/*编辑提交车源图片*/
.tbuycar-upload-pic{position:relative;}
.tbuycar-upload-tit{margin-left:83px;height:24px;line-height:24px;margin-top:25px;width:100%;z-index:5;}
.tbuycar-upload-tit em{float:left;color:#ce4634;margin-right:10px;margin-top:2px;display:inline-block;}
.tbuycar-upload-tit strong{display:inline-block;float:left;font-size:18px;margin-right:10px;}
.tbuycar-upload-tit span{float:left;font-size:14px;color:#999999;}
.tbuycar-upload-tit span i{color:#fd9933;}
.tbuycar-upload-tit-look{display:inline-block;float:left;position:relative;z-index:6;}
.tbuycar-upload-tit-look a{font-size:14px;text-decoration:none;margin-left:20px;}
.tbuycar-upload-tit-look a:hover{color:#333333;text-decoration:underline;}
.tbuycar-upload-piclist {margin-left:100px;display:block;min-height:240px;width:700px;padding-bottom:20px;}
.tbuycar-upload-piclist ul li{width:150px;height:100px;float:left;position:relative;margin-top:20px;margin-right:20px;}
.tbuycar-upload-piclist ul li a{display:block;}
.tbuycar-upload-piclist li.wait-for{background-color:#ffe5cb;line-height:100px;text-align:center;font-size:14px;color:#cb9864;}
.tbuycar-upload-piclist .tbuycar-pictures-bar{width:150px;}
.tbuycar-upload-piclist .tbuycar-pictures-loding{width:150px;height:100px;}
.tbuycar-upload-proposal{width:520px;height:130px;background-color:#fffcf7;border:1px solid #dfdfdf;border-radius:3px;
margin-left:100px;margin-top:-90px;position:relative;display:table;margin-bottom:40px;}
.tbuycar-upload-proposal i{width:14px;height:10px;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/tbuycar-ico.png) no-repeat -107px -58px;display:block;position:absolute;left:20px;top:-10px;}
.tbuycar-upload-proposal-tit{display:block;font-size:14px;color:#999999;line-height:33px;padding-left:10px;}
.tbuycar-upload-proposal ul li{width:90px;float:left;margin-left:10px;margin-right:1px;}
.tbuycar-upload-proposal ul li p{text-align:center;font-size:14px;color:#999999;line-height:22px;}
.tbuycar-upload-pic .tbuycar-enrol-but{margin-left:100px;padding-top:60px;}

.buycar-upload-ewm-main{width:120px;position:absolute;right:50px;top:0px;}
.buycar-upload-ewm-main h5{font-size:18px;text-align:center;}
.buycar-upload-ewm{width:120px;height:120px;margin-top:20px;margin-bottom:10px;}
.buycar-upload-ewm-main p{color:#999999;font-size:14px;text-align:center;line-height:20px;}
.tbuycar-upload-layer{position:absolute;left:-90px;margin-top:0;top:30px;z-index:5;}
.tbuycar-upload-tit-look a .tbuycar-upload-layer{display:none;}
.tbuycar-upload-tit-look a:hover .tbuycar-upload-layer{display:block;}


.carpic-layer {height: 30px;width: 150px;position:absolute;bottom:0;left:0;}
.carpic-layer-bg { background-color: #000000; bottom: 0; height: 30px; left: 0;filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50;position: absolute; width:150px;
 z-index: 2;}
.carpic-layer i {background-color: #999999; bottom: 0;height: 30px; left:74px; position: absolute; width: 1px; z-index: 3;}
.carpic-layer a,.carpic-layer a:link,.carpic-layer a:visited{color:#ffffff;}
.carpic-layer a:hover { color: #ff9a1f;text-decoration: none;}
.carpic-layer a {color: #ffffff;display: block;float: left; height: 30px;line-height: 30px; position: absolute;text-align: center; width: 74px;z-index: 5;font-size:14px;}
.carpic-layer a.carpic-layer-follow  { bottom: 0; left: 0;color:#999999;}
.carpic-layer a.carpic-layer-contrast  { bottom: 0; right: 0;color:#999999;}
.carpic-layer a:hover{color:#fd9933;}

.tbuycar-pictures .carpic-layer{width:240px;}
.tbuycar-pictures .carpic-layer-bg{width:240px;}
.tbuycar-pictures .carpic-layer a{width:100%;text-align:center;}
.tbuycar-pictures .carpic-layer a:hover{color:#fd9933;}



/*编辑车源提交成功*/
.submit-successfully{min-height:150px;padding-bottom:140px;display:table;margin-top:157px;width:540px;}
.submit-successfully  .tbuycar-enrol-prompt{margin:0px 95px 0 130px;width:530px;*width:360px;float:left;display:table;}

.submit-successfully .tbuycar-enrol-prompt h5{padding-top:25px;}
.submit-successfully-rit {width:440px;float:left;}
.submit-successfully-ewm{width:150px;height:150px;float:left;margin-right:20px;}
.submit-successfully-rit span{float:left;display:inline-block;font-size:16px;line-height:150px;}
.submit-successfully-ad{padding-bottom:40px;display:table;}
.submit-successfully-ad ul{width:1280px;}
.submit-successfully-ad  li{width:350px;height:80px;float:left;margin-right:75px;margin-top:20px;}
.form-height{height:446px;}

.essential-information .form-col{position:relative;}

/*20170721*/
.tbuycar-phone-management h3{ line-height: 30px;}