@import 'sassHelper/vars';

$main-color:#dbb76c;
$dark-color:#5f5f5e;
$light-color:#a4a4a4;
$des-color:#d0d0d0;

$padding:28px;

$themes:(
	a: (
			main: #dbb76c,
			chart1:#000,
			chart2:#dbb76c,
			chart3:#5f5f5e,
			chart4:#a4a4a4,
			selected: url('../images/selected.png')
		),
	b: (
			main: #2F7FC9,
			chart1:#305f9f,
			chart2:#59a3fc,
			chart3:#ffc851,
			chart4:#fff45f,
			selected: url('../images/selected-b.png')
		)
);