// lts主代码，新旧统用，考虑兼容,尽量不要再改动
/*choose*/
.choose_bot { position: absolute; bottom: 0;width:10rem; min-height: 5.066667rem; background-color: #fff; }

a.btn_main { display: block; margin: 0.4rem 0.266667rem; height: 1.306667rem; font-size: 0.426667rem; line-height: 1.306667rem; text-align: center; color: #fff; background-color: #dbb76c; border-radius: 0.16rem; }
a.btn_main:active { background-color: #c5a461; }

a.btn_disabled,
a.disable,
button.btn_disabled,
button.disable{ background-color: #cecece!important; color: #fff!important; }

/*form*/
.topguide { padding: 0.213333rem 0.4rem; line-height: 1.5; }
.topguide h2 { font-size: 0.346667rem; color: #666; }
.topguide p { font-size: 0.32rem; color: #8b8b8b; }
.form_modu {  }
.form_modu li { position: relative; line-height: 1.33333rem; }

.form_wrap {   }

.form_modu .warning { line-height: 2; padding: 0 0.266667rem; text-align: right; }
.form_modu input { width: 100%; border: 0; text-align: right; color: #000 !important; }
.form_modu input[disabled], .form_modu input:disabled{color:#000 !important;opacity:1;}
.form_modu input#CheckCode { width: 2.426667rem; }
.form_modu #getCodeBtn { display: inline-block; width: 2.133333rem; height: 0.746667rem; margin-left: 0.2rem; font-size: 0.32rem; color: #fff; text-align: center; line-height: 0.746667rem; background-color: #dbb76c; border-radius: 0.373333rem; }

.form_modu li.form_modu_head { height: 1.333333rem; padding: 0 0.266667rem; font-size: 0.4rem; border-top: 1px solid #eee; position: relative;}
.form_modu li.form_modu_head > b,
.form_modu li.form_modu_head > span { display: block; }
.form_modu li.form_modu_head > b { width: 3.466667rem; font-weight: normal; }
.form_modu li.form_modu_head > span { /*padding-left: 0.266667rem; */text-align: right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.form_modu li.form_modu_head em { color: #d0d0d0; }
.form_modu li.form_modu_head .icon { width: 0.666667rem; height: 0.666667rem; margin-right: 0.133333rem; }
.form_modu li.form_modu_head .progress{
	position: absolute;
	right:0.266667rem;
	color:#DBB76C;
	font-weight: bold;
}
.form_modu li.selcon { padding-right: 0.746667rem !important; }
.form_modu li.selcon:after { content: ""; position: absolute; top: 0.533333rem; right: 0.4rem; display: block; width: 0.293333rem; height: 0.293333rem; border-top: 1px solid #bebebe; border-right: 1px solid #bebebe; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.form_modu li.form_modu_body { margin-left: 0.4rem; padding: 0.266667rem 0; border-top: 1px solid #eee; }
.form_modu li.choose_area {  }
.form_modu li.choose_area a { display: inline-block; height: 0.853333rem; margin-top: 0.266667rem; margin-right: 0.133333rem; padding: 0 0.373333rem; line-height: 0.853333rem; font-size: 0.32rem; color: #333; background-color: #f5f5f5; border-radius: 0.106667rem; }
.form_modu li.choose_area a.cur { color: #fff; background-color: #dbb76c; }
.form_modu li.choose_area > span { margin-right: 0.2rem; font-size: 0.4rem; color: #333; }
.form_modu li.choose_area#InsuranceDiv,
.form_modu li.choose_area#FundsDiv { padding-left: 0.8rem; }
.form_modu li.choose_area + li.choose_area { margin-left: 0.976666rem; padding-left: 0.266667rem!important; }

.form_modu .select-con span:after { content:""; display: inline-block; width: 0.266667rem; height: 0.266667rem; margin-right: 0.133333rem; border-top: 1px solid #666; border-right: 1px solid #666; -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: center center; transform-origin: center center;}
.bdb { border-top: 1px solid #eee; }

#chattingInner { padding-bottom: 2rem; }
/*circle*/
.circle-item{/*position:relative;*/ margin: 0.266667rem auto; width: 3.0rem; height: 3.0rem; }
.circle-item .cg-wrap {display: -webkit-box !important;
    display: box !important;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
position: relative;  width: 2.0rem; height: 2.0rem; border-radius: 50%; background: #dbb76c; }/** huang */
.circle-item .circle-left-wrap{position:absolute; top: 0; left: 0; width: 1.0rem; height: 2.0rem; overflow: hidden; }
.circle-item .circle-right-wrap{position:absolute; top: 0; right: 0; width: 1.0rem; height: 2.0rem; overflow: hidden; }
.circle-item .circle-right-wrap{/*left: 1.0rem;*/ right:0; }
.circle-item .circle-left{position: absolute; top: 0; left: 0; width: 2.0rem; height: 2.0rem; border-radius: 50%; background: #d0d0d0; }
.circle-item .circle-right{position: absolute; top: 0; right: 0; width: 2.0rem; height: 2.0rem; border-radius: 50%; background: #d0d0d0; }
.circle-item .circle-right{left: -1.0rem; }
.circle-item .circle-left{clip: rect(0, 1.0rem, auto, 0); }
.circle-item .circle-right{clip: rect(0, auto, auto, 1.0rem); }
.circle-item .circle-mask {width: 1.8rem; height: 1.8rem; border-radius: 50%; background: #fff; line-height: 1.8rem; text-align: center; font-size: 0.32rem; color: #dbb76c;    position: relative;
    z-index: 2; }

/*result*/
.result_wrap { padding: 0.266667rem; }
.result_wrap .img_box { display: block; width: 1.173333rem; height: 1.173333rem; margin-left: 0.133333rem; margin-right: 0.266667rem;}
.result_wrap .img_box img { width: 100%; height: 100%; }
.result_wrap h1 { height: 0.666667rem; font-size: 0.4rem; line-height: 0.666667rem; }
.result_wrap .desc { display: block; width: 5.333333rem; color: #a4a4a4; font-size: 0.32rem; line-height: 0.533333rem; text-overflow: ellipsis;
display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.result_wrap .mark { margin-top: 0.133333rem; }
.result_wrap .mark i { display: inline-block; margin-right: 0.133333rem; margin-bottom: 0.133333rem; padding: 0 0.213333rem; font-size: 0.293333rem; font-style: normal; text-align: center; line-height: 0.373333rem; color: #999; border: 1px solid #999; border-radius: 0.053333rem; }
.result_wrap .pay_wrap { width: 2.666667rem; }
.result_wrap .pay { font-size: 0.32rem; color: #666; line-height: 0.586667rem; text-align: right; }
.result_wrap .pay b { display: inline-block; width: 1.2rem; }
.result_wrap .char { display: inline-block; color: #999; font-size: 0.32rem; margin-right: 0.266667rem; margin-bottom: 0.133333rem; white-space: nowrap; }
.result_wrap .char img { display: inline-block; margin-right: 0.133333rem; vertical-align: text-top; width: 0.346667rem; height: 0.346667rem; }
.res_chara { background-color: #fafafa; }


/*icon*/
.icon { display:block; background-size:3.4rem auto !important; background: #fff url(images/icons.png) no-repeat left top; }
.icon_serv {
    background-position: -1.76rem -3.4rem;
    border-radius: 50%;
    border: 1px solid #eee;
}
.icon_cust {
    background-position: -1.73rem -2.05rem;
    background-color: #dbb76c;
    border-radius: 50%;
    border: 1px solid #cfab60;

}
.icon_car { background-position: 0.08rem -1.626667rem; }
.icon_target { background-position: -0.706667rem -0.666667rem; }
.icon_career { background-position: 0.08rem -2.586667rem; }
.icon_credit { background-position: 0.08rem -4.48rem; }
.icon_house { background-position: -0.733333rem -2.586667rem; }
.icon_fund { background-position: -0.72rem -1.6rem; }
.icon_money { background-position: -0.72rem -4.48rem; }
.icon_caculate { background-position: -0.72rem -3.6rem; }
.icon_user { background-position: 0.08rem -5.533333rem; }
.icon_certification { background-position: -0.746667rem 0.16rem; }
.icon_mobile { background-position: -0.72rem -5.52rem; }
.icon_code { background-position: 0.08rem -3.586667rem; }
.icon_time { background-position: 0.08rem -0.653333rem; }

#chattingWrap { overflow-y: auto; }

.title-desc{
        background-color: #fff;
        height:2.466666666666rem;
        width:100%;
        position:relative;
       
}
.title-desc i{
    display:inline-block;
    background-image:url(images/title_desc_img.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left: 0.9333333333rem;
    top: 20%;
    width: 1.12rem;
    height: 1.1733333rem;
}
.title-desc-div{
    margin-left:2.6666666rem;
    /* margin-top: 30px; */
    padding-top: 0.2666667rem;
}
.title-desc-div-text{
    font-size:0.4rem;
    color:#000000;
}
.title-desc-div-characteristic{
    margin-top:0.2133333rem;
    color:#000000;
    font-size:0.4rem;
}
.title-desc-div-characteristic span{
    color:#e9474d;
    font-size:0.4rem;
    font-weight:bold;
}
.title-desc-div-interest{
    margin-top:0.2133333rem;
       color:#000000;
    font-size:0.32rem;
}
.title-desc-div-interest span{
      color:#e9474d;
    font-size:0.32rem;
}

/*×îºóÒ»Ò³Êý¾ÝÕ¹Ê¾*/
.list-ctn{
	background-color: #f2f2f2;
}
.content-box{
	background-color: #f2f2f2;
}

.pro-groups{
	position: relative;    
	margin-top: 0.266667rem;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
}
.pro-groups:first-child{
	margin-bottom: 0;
}
.adviser{
	position: absolute; 
	right:0.4rem;
	top:0;
	z-index: 3;
	padding: 0.4rem 0 0.266667rem 0.4rem;
}
.tijiao{
	position: absolute; 
	right:0.4rem;
	top:0;
	z-index: 3;
	padding: 0.4rem 0 0.266667rem 0.4rem;
    text-align:center;
}
.tijiao .uf{
    background: #dbb76c;
    border-radius: 0.04rem;
    padding: 1px;
    overflow: hidden;
    height: 0.6666666666rem;
    width:  2.26666666666rem;
    line-height:  0.6666666666rem;
    color: #ffffff;
       text-align: center;
        display: inline-block;
}
.tijiao .yixuan {
    border-radius: 0.04rem;
    padding: 1px;
    overflow: hidden;
    height: 0.6666666666rem;
    width: 2.26666666666rem;
    line-height: 0.6666666666rem;
    text-align: center;
    color: #999999;
    border: 1px solid #999999;
        display: inline-block;
}
.adviser .uf{
	background: #dbb76c; 
	border-radius:0.04rem; 
	padding: 1px; 
	overflow: hidden;
}

.adviser .ad-photo{
	width:0.426667rem; 
	height:0.426667rem; 
	display: block;
	border-radius: 1rem;    
	margin-left:0;
	margin-right: 0.133333rem;
	position: relative;
    top: 0.04rem;
}
.adviser .ad-tel{
	width:0.506667rem; 
	height: 0.506667rem;
	background: url(images/tel_icon.png) no-repeat center center;
	background-size: 70%; 
}

.adviser .name{
	color: #dbb76c; 
	background: #fff;
	border-radius: 2px 0 0 2px; 
	padding:0 0.08rem;  
	line-height:0.506667rem;
	overflow: hidden; 
}

.pro-info{
	display: -webkit-box; 
	display: box; 
	padding: 0.4rem 0 0.266667rem 0.4rem; 
	position: relative; 
	background: #fff; 
	z-index: 1;
}
.pro-info.special-a{
	padding-bottom:1rem;
}
.pro-info .img_box{
	padding-right:0.266667rem; 
}
.pro-info .img_box img{ 
	width: 0.853333rem;
	height: 0.853333rem; 
	display: block; 
}
.pro-info .item_right_box{
	-webkit-box-flex: 1; 
	box-flex: 1;
}
.pro-info .dl{
	display: -webkit-box; 
	display: box;
}
.pro-info .dt{
	-webkit-box-flex: 1; 
	box-flex: 1;
}
.pro-info .dd{ 
	text-align: right; 
	padding-right:0.4rem;  
}
.pro-info .dl.apply_price .dd { 
	margin-top: -0.04rem; 
}
.pro-info .dl.apply_evaluation .dd { 
	margin-top: 0.053333rem; 
}

.pro-info .font-title{
	font-weight: 600; color: #000;
	
}
.pro-info .font-title.tit.dt{
	padding-right:2rem;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden;
}
.pro-info .subtitle{
	color:#e15436;
	padding-top:0.266667rem;
}
.top-tag{
	color:#fff;
	padding:0 0.133333rem;
	border-radius: 0.2rem;
	background:#dbb76c;
	line-height:150%;
	display:inline-block;
	position: absolute;
    bottom: 0.16rem;
    right: 0.4rem;
}

.pro-info .apply_price{ 
	padding: 0.4rem 0 0; 
}
.pro-info .apply_evaluation{ 
	padding: 0.2rem 0 0; 
}
.pro-info .apply{ 
	padding: 0 0 0 0.16rem;  
}
.pro-info .level_one{ 
	color:#e15436;
	}/*ÑÏ¸ñ*/
.pro-info .level_two{
	color:#5fc3e8;
}/*Ò»°ã*/
.pro-info .level_three{
	color:#32ad67;
}/*¿íËÉ*/
.pro-info .apply_tag{ 
	padding:0.266667rem 0 0; 
}
.pro-info .apply_tag span{ 
	height: 0.4rem;
	line-height:0.4rem; 
	display: inline-block;
	margin-right:0.133333rem;
	padding:0 0.133333rem;
	border-radius:0.04rem
}
.pro-info .tag_blue{
	color:#5fc3e8;
	border:solid 1px #5fc3e8; 
}
.pro-info .tag_red{
	color:#e15436;
	border:solid 1px #e15436;
}
.pro-info .img_info{ 
	border-top: solid 1px #ececec;  
	display: block; 
	clear:both; 
	margin-top:0.266667rem;

	&:empty {
		border: 0;
	}
}
.pro-info .img_info li{
	padding: 0.266667rem 0 0; 
	width: 80%; 
	line-height: 0.373333rem; 
}
.pro-info .img_info .icon{ 
	display: block;
	width:0.473333rem;
	height:0.473333rem; 
	margin-right: 0.2rem; 
	color: #fff;
	padding:0;
	background: url(images/detail_icon.png) no-repeat;
	background-size: 4rem auto;
	position: relative;
	top: 0px;
}
.pro-info .img_info .icon.icon-li{
	background-position: 0 0.03033rem;
}
.pro-info .img_info .icon.icon-fu{
	background-position: 0 -0.53533rem;
}
.pro-info .img_info .icon.icon-hui{
	background-position: 0 -1rem
}
.pro-info .img_info li > span{
	display: block;
}
.pro-info .img_info li.hide{ 
	display: none; 
}
.pro-info .hide{ 
	display: none!important; 
	width: 0.373333rem;
}


.corner{
	position: absolute;
	width:1.64rem;
	height:0.68rem;
    background: url(images/corner.png) no-repeat left top;
    background-size:1.64rem auto;
    text-align: center;
    bottom:0.05rem;
    right: 2rem;
    box-sizing: border-box;
    z-index: 99;
    color: #2fbd9d;
    line-height: 0.68rem;
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    overflow:hidden;
}
.corner-lifuhui{
	bottom: 0.8rem;
    right: 0.4rem;
}

.dealer-quotes{
	background:#fff;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:99999;
}
.dealer-quotes header{
	padding: 0.4rem 0;
	color:#333333;
	border-bottom:1px solid #ececec;
}
.dealer{
	padding:0 0.45rem;
	border-bottom:1px solid #ececec;
	overflow:hidden;
}
.dealer-name, 
.dealer-price{
	padding: 0.4rem 0;
	color:#666;
}
#dealeContent{
	max-height:9.36rem;
	overflow:hidden;
}
.close{
	position:absolute;
	width:0.67rem;
	height:0.44rem;
	background:url(images/list9.png) no-repeat left top;
	background-size:0.67rem 0.44rem;
	top:-0.32rem;
	right:0.27rem;
}
#dealeContent a.cur .dealer-name,
#dealeContent a.cur .dealer-price{
	color:#dbb76c !important;
}

.default-box{
	margin-top: 0.266667rem;
	padding: 1.066667rem 0;
}
.default-box .default-img{
	width: 3.8rem;
	height: 2.48rem;
	margin: 0 auto;
	background: #fff url(images/default.png) no-repeat;
	background-size: 100%;
}

.default-box .default-title{
	padding: 0.133333rem 0;
	font-size: 0.4rem;
	color: #9a9a9a;
	text-align: center;
}
.default-box .default-text{
	font-size: 0.346667rem;
	color: #d0d0d0;
	text-align: center;
}
.adviser-box { 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	background: #fff; 
	z-index: 9999999; 
}
.adv-header { 
	height: 1.17rem; 
	line-height: 1.17rem; 
	text-align: center; 
	color: #333333; 
	border-bottom: 1px solid #ececec;
	 }
.adv-close { 
	position: absolute; 
	width: 0.67rem; 
	height: 0.44rem; 
	background: url(images/list9.png) no-repeat left top;
	background-size: 0.67rem 0.44rem; 
	top: -0.32rem; 
	right: 0.27rem; 
	z-index: 99999; 
}
.adviser-box .adv-close { 
	position: absolute; 
	width: 0.6rem; 
	height: 0.6rem; 
	background: #fff url(images/del.png) no-repeat; 
	background-size: 100% 100%; 
	top: -0.3rem; 
	right: 0.27rem; 
	z-index: 99999; 
	border-radius: 5em; 
	display: block; 
}
.adv-header { 
	height: 1.17rem; 
	line-height: 1.17rem; 
	text-align: center; 
	color: #333333; 
	border-bottom: 1px solid #ececec;
}
.adv-close { 
	position: absolute; 
	width: 0.67rem; 
	height: 0.44rem; 
	background: url(images/list9.png) no-repeat left top; 
	background-size: 0.67rem 0.44rem; 
	top: -0.32rem; 
	right: 0.27rem; 
	z-index: 99999; 
}
.win_box_max { 
	max-height: 8.3rem; 
	overflow: hidden;
}
.adviser-groups { 
	padding: 0.27rem 0.4rem 0.27rem 0; 
	border-bottom: 1px solid #edebe6;
}

.adv-img img { 
	width: 0.85rem; 
	height: 0.85rem; 
	border-radius: 3em; }
.adv-body { 
	margin-left: 0.49rem; 
}
.adv-body-top { 
	color: #000000; 
	height: 0.35rem; 
	line-height: 0.35rem; 
}
.adv-body-bottom { 
	color: #9a9a9a; 
	height: 0.29rem; 
	line-height: 0.29rem; 
	margin-top: 0.13rem; 
}
.adv-tel { 
	display: block; 
	width: 0.48rem; 
	height: 0.58rem; 
	margin-top: 0.19rem; 
	background:  url(images/detail4.png) no-repeat left top; 
	background-size: 0.48rem 0.48rem;  
}
.adv-body-top i { 
	display: inline-block; 
	width: 0.32rem; 
	height: 0.35rem; 
	margin-left: 0.27rem; 
}
.adv-body-top i.jz { 
	background: url(images/detail6.png) no-repeat left top; 
	background-size: 0.32rem 0.35rem; 
}
.adv-body-top i.yz { 
	background: url(images/detail7.png) no-repeat left top; 
	background-size: 0.32rem 0.35rem; 
}
.adv-body-top i.tz { 
	background: url(images/detail8.png) no-repeat left top; 
	background-size: 0.32rem 0.35rem; 
}
.win_left_pad { 
	padding: 0.27rem 0.4rem 0.27rem 0.4rem; 
}

.list .noUi-horizontal{
	height: 0.133333rem;
}
.list .noUi-pips-horizontal{
	height: 0.533333rem;
}
.list .noUi-horizontal .noUi-handle{
	width: 0.766667rem;
    height: 0.8rem;
    background: url(images/detail_icon.png);
    background-size: 550%;
    background-position: -1.466667rem 0;
    top: -0.3rem;
    left: -0.346667rem;
    border: 0;
    box-shadow: none;
    position: relative;
}
.list .noUi-origin{
	border-radius: 0;
}
.list .noUi-base{
	height: 0.133333rem;
	border-radius: 0;
	position: relative;
}
.list .noUi-base:before,
.list .noUi-base:after{
	content: "";
	display: inline-block;
	width: 0.4rem;
	height: 0.133333rem;
	position: absolute;
	top: 0;
}
.list .noUi-base:before{
	left: -0.4rem;
	background-color: #dbb76c;
	border-top-left-radius: 0.08rem;
	border-bottom-left-radius: 0.08rem;
}
.list .noUi-base:after{
	/*height: 0.16rem;*/
	background-color: #eee;
	top: -0.013333rem;
	right: -0.4rem;
	border-top-right-radius: 0.08rem;
	border-bottom-right-radius: 0.08rem;
}
.list .noUi-tips{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.list .noUi-target{
	margin: 0 0.4rem;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
.list .noUi-marker-horizontal.noUi-marker{
	display: none;
}
.list .noUi-value{
	font-size: 0.32rem;
	color: #666;
}
.list .noUi-value.cur{
	color: #dbb76c!important;
}
.btn-div{
    height:2.9866666rem;
    width:100%;
 
}
.btn-div div{
        text-align: center;
            margin-top: 0.533333rem;
}
.btn-div p{
   font-size:0.3466rem;
   color:#666666;
   margin-top: 1.6rem;
   margin-left: 0.4rem;
 
}
.btn-fanhui,.btn-fanhui:active{
    color:#dbb76c;
    background-color:#ffffff;
    border:1px solid #dbb76c;
    border-radius:3px;
    width:2.66666rem;
    height:0.8rem;
        display: inline-block;
    text-align: center;
    line-height:0.8rem;
}
.btn-chakan,.btn-chakan:active{
     color:#ffffff;
    background-color:#dbb76c;
    border:1px solid #dbb76c;
    border-radius:3px;
      width:2.66666rem;
    height:0.8rem;
        display: inline-block;
    text-align: center;
    line-height: 0.8rem;
        margin-left: 0.8rem;
}
/*------------------new liu-------------------------*/
[data-dpr="1"] .font-34 { font-size: 17px; }
[data-dpr="2"] .font-34 { font-size: 34px; }
[data-dpr="3"] .font-34 { font-size: 51px; }
[data-dpr="1"] .font-32 { font-size: 16px; }
[data-dpr="2"] .font-32 { font-size: 32px; }
[data-dpr="3"] .font-32 { font-size: 48px; }
[data-dpr="1"] .font-30 { font-size: 15px; }
[data-dpr="2"] .font-30 { font-size: 30px; }
[data-dpr="3"] .font-30 { font-size: 45px; }
[data-dpr="1"] .font-28 { font-size: 14px; }
[data-dpr="2"] .font-28 { font-size: 28px; }
[data-dpr="3"] .font-28 { font-size: 42px; }

[data-dpr="1"] .font-26 { font-size: 13px; }
[data-dpr="2"] .font-26 { font-size: 26px; }
[data-dpr="3"] .font-26 { font-size: 39px; }

[data-dpr="1"] .font-24 { font-size: 12px!important; }
[data-dpr="2"] .font-24 { font-size: 24px!important; }
[data-dpr="3"] .font-24 { font-size: 36px!important; }
[data-dpr="1"] .font-22 { font-size: 11px; }
[data-dpr="2"] .font-22 { font-size: 22px; }
[data-dpr="3"] .font-22 { font-size: 33px; }

.font_blod{ font-weight: 600; }
.font_no_blod{ font-weight: 400!important; }
.col_red { color: #fc654d!important }
.col_rede{ color: #e15436!important }
.col_black { color: #000!important }
.col_grey { color: #a9a9a9!important }
.col_grey3 { color: #333!important }
.col_grey6 { color: #666!important }
.col_grey9 { color: #999!important }

.title-img{
    width: 2.466666rem;    height: 1.2rem;  margin-left:0.266666rem;  position:relative;     display: inline-block!important;
}
.title-img img{
    width: 2.466666rem; height: 0.6933333333rem; position:absolute; top:50%; margin-top:-0.35rem;
}
.icon-unmber{
    display: -webkit-box !important;
    display: box !important;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
}