.w1200 {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.banner {
    height: 170px;
    line-height: 170px;
    background: #e41d0d;
    overflow: hidden;
}
.banner img {
    display: inline-block;
    vertical-align: middle;
}
.banner span {
    padding-left: 70px;
    font-size: 44px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    vertical-align: middle;
}

.important {
    font-weight: bold;
}
.section{
	padding-bottom:40px;
}

.section .section-titile {
    padding:70px 0;
    text-align: center;
    font-size:24px;
    font-weight:bold;
    color: #423e3d;
}
.desc {
    line-height:40px;
    text-indent:2em;
    font-size:1;4px;
    color: #423e3d;
}
.detail {
    color: #423e3d;
}
.detail h4 {
    font-size:14px;
    padding-top:66px;
    padding-bottom:56px;
}
.detail p {
    line-height:40px;
    font-size:14px;
}