/*common*/

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.section-container h3 {
    font-size: 56px;
    color: #161311;
    padding: 100px 0; // padding-bottom:45px;
}

.hide {
    display: none;
}

.tz {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}



















/*banner*/

.top-banner img {
    width: 100%;
}
.top-banner .banner_2 {
    position: relative;
}
.top-banner .banner_2 .other-info {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    padding-left: 150px;
}
.top-banner .banner_2 .other-info h3 {
    font-size: 50px;
    color: #161312;
}











/*service-section*/

.service-section {
    background: #f5f3f3;
    padding-bottom: 120px;
}


.service-section ul li {
    position: relative;
    border-radius: 5px;
    -webkit-border-raduis: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    width: 540px;
    height: 550px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.service-section ul li:hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, .3); // transform: scale(1.025, 1.025);
    // -webkit-transform: scale(1.025, 1.025);
    z-index: 1
}
.service-section ul .left-service {
    margin-right: 120px;
}
.top-service {
    margin-bottom: 120px;
}
.service-section ul li .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #484846;
    opacity: 0.6;
}
.service-section ul li h4 {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    width: 100%;
    height: 50px;
    margin-top: -25px;
    line-height: 50px;
    text-align: center;
    font-size: 44px;
    color: #fff;
}
.service-section ul li p {
    position: absolute;
    left: 0;
    top: 100%;
    left: 50%;
    margin-left: -250px;
    z-index: 3;
    width: 500px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.service-section ul .active .cover {
    background-color: #33cde5;
    opacity: 0.6;
}
.service-section ul .active h4 {
    top: 130px;
}
.service-section ul .active p {
    top: 50%;
}

.service-section ul li img {
    width: 100%;
    height: 100%;
}













/*operation-section*/

.operation-section {
    background: #ffffff;
    padding-bottom: 90px;
}

.operation-section li {
    float: left;
    width: 240px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.operation-section li .img-container {
    width: 100%;
    height: 162px;
    padding-top: 16px;
}
.operation-section li:hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, .3);
    transform: scale(1.025, 1.025);
    -webkit-transform: scale(1.025, 1.025);
    z-index: 1
}
.operation-section li dt {
    height: 100px;
    line-height: 84px;
    text-align: center;
    font-size: 24px;
    color: #161312;
}
.operation-section li dd {
    font-size: 16px;
    color: #161312;
    line-height: 40px;
    padding: 0 10px;
}
.operation-section li+li {
    margin-left: 80px;
}












/*cooperation-section*/

.cooperation-section {
    background: #f5f3f3;
    padding-bottom: 190px;
}

.cooperation-section li {
    float: left;
}
.cooperation-section li+li {
    margin-left: 79px;
}













/*data-section*/

.data-section {
    background: #fff;
    padding-bottom: 150px;
}

.data-section li {
    width: 290px;
    float: left;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.data-section li:hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, .3);
    transform: scale(1.025, 1.025);
    -webkit-transform: scale(1.025, 1.025);
    z-index: 1
}
.data-section li+li {
    margin-left: 165px;
}
.data-section li dt {
    margin-bottom: 60px;
    width: 100%;
    height: 164px;
}

.data-section li dd {
    margin-bottom: 30px;
    text-align: center;
    font-size: 32px;
    color: #161312;
}
.data-section li .number em {
    padding-right: 10px;
    font-size: 44px;
    color: #cf433a;
}

.copyright-section {
    background-color: #e41d0d;
    padding-top: 130px;
    padding-bottom: 80px;
}
.copyright-section h2 {
    text-align: center;
}
.copyright-section h2 a {
    font-size: 44px;
    color: #fff;
}
.copyright-section h2 .split {
    display: inline-block;
    margin: 0 30px;
}
.copyright-c {
    position: relative;
}

.link-way {
    position: absolute;
    left: 55%;
    bottom:60px;
    width: 320px;
    height: 210px;
    background: #fff;
    border-radius: 5px;
    -weblit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}
.link-way h4 {
    padding-top:35px;
    font-size: 16px;
    margin-bottom:20px;
}
.link-way p {
    margin-bottom: 30px;
}