.index .modular_9 .modular_9_con.qa-section {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.index .modular_9 .modular_9_con.qa-section .tabs {
  float: left;
  width: 398px;
  border-right: 1px solid #eeeeee;
  background: #fafafa;
  margin-bottom: -1px;
}
.index .modular_9 .modular_9_con.qa-section .tabs .tab {
  border-bottom: 1px solid #EEEEEE;
  position: relative;
  cursor: default;
}
.index .modular_9 .modular_9_con.qa-section .tabs .tab.last {
  border-bottom: 0;
}
.index .modular_9 .modular_9_con.qa-section .tabs .tab.active {
  background: #fff;
  width: 100%;
  margin-right: -1px;
  padding-right: 1px;
}
.index .modular_9 .modular_9_con.qa-section .tabcons {
  position: absolute;
  left: 400px;
  top: 0;
  right: 0;
  bottom: 0;
}
.index .modular_9 .modular_9_con.qa-section .tabcons .tabcon {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
}
.index .modular_9 .modular_9_hd {
  vertical-align: bottom;
  margin-bottom: 14px;
}
.index .modular_9 .modular_9_hd span {
  font-size: 14px;
  line-height: 26px;
  color: #9a9a9a;
  font-weight: normal;
  vertical-align: bottom;
  margin-left: 30px;
}
.index .index_footer {
  margin-top: 60px;
}
.adviser-card {
  padding: 30px 20px;
}
.adviser-card .portrait {
  float: left;
  width: 80px;
  height: 80px;
}
.adviser-card .portrait img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.adviser-card .text {
  margin-left: 100px;
}
.adviser-card .text .adviser-name {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  padding-top: 4px;
  padding-bottom: 4px;
}
.adviser-card .text .adviser-name .name {
  font-weight: bold;
}
.adviser-card .text .adviser-name .sep {
  color: #999999;
}
.adviser-card .text .tags {
  overflow: hidden;
}
.adviser-card .text .tags span {
  float: left;
  font-size: 12px;
  line-height: 22px;
  padding: 0 0.5em;
  border: 1px solid #ff6446;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #ff6446;
  margin-right: 10px;
  margin-bottom: 8px;
}
.adviser-card .text .intro {
  font-size: 12px;
  line-height: 26px;
  color: #999999;
  padding-top: 3px;
  padding-bottom: 8px;
}
.adviser-card .text .btnwrap a {
  display: inline-block;
  width: 88px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #e9474d;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.modular_9 .adviser-card .text .tags {
  height: 24px;
}
.modular_9 .adviser-card .text .intro {
  line-height: 18px;
  padding-top: 8px;
  padding-bottom: 12px;
}
.qa-list .question {
  overflow: hidden;
  margin-bottom: 10px;
}
.qa-list .question span {
  display: block;
}
.qa-list .question .portrait {
  float: left;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.qa-list .question .portrait img {
  display: block;
  width: 100%;
  height: 100%;
}
.qa-list .question .text {
  margin-left: 80px;
  color: #000000;
}
.qa-list .question .text .qname {
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
}
.qa-list .question .text .qtit {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.qa-list .answer {
  overflow: hidden;
  margin-bottom: 24px;
}
.qa-list .answer span {
  display: block;
}
.qa-list .answer .portrait {
  float: right;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.qa-list .answer .portrait img {
  display: block;
  width: 100%;
  height: 100%;
}
.qa-list .answer .text {
  position: relative;
  margin-right: 90px;
  margin-left: 80px;
  padding: 15px 20px;
  border: 1px solid #eeeeee;
  background: #fafafa;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.qa-list .answer .text:after {
  content: "";
  position: absolute;
  top: 20px;
  right: -14px;
  width: 14px;
  height: 18px;
  background: url(img/answer-arrow.png) no-repeat center center;
}
.qa-list .answer .time {
  float: right;
  font-size: 14px;
  line-height: 26px;
  color: #c4c4c4;
}
/* detail page */
.questions-answer .adviser-card {
  padding: 40px 20px;
}
.questions-answer .adviser-card .portrait {
  width: 100px;
  height: 100px;
}
.questions-answer .adviser-card .text {
  position: relative;
  margin-left: 120px;
  overflow: hidden;
}
.questions-answer .adviser-card .text .adviser-name {
  font-size: 18px;
}
.questions-answer .adviser-card .text .intro {
  font-size: 14px;
  line-height: 24px;
  color: #9a9a9a;
  padding-top: 0;
  padding-bottom: 8px;
}
.questions-answer .adviser-card .text .tags span {
  font-size: 14px;
  line-height: 26px;
}
.questions-answer .adviser-card .text .btnwrap {
  position: absolute;
  top: 30px;
  right: 0;
}
.questions-answer .adviser-card .text .btnwrap .ask-btn {
  font-size: 16px;
  line-height: 40px;
  width: 120px;
  text-align: center;
}
.qa-block {
  border: 1px solid #EEEEEE;
}
.qa-block .block-tit {
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  background: #fafafa;
  border-bottom: 1px solid #EEEEEE;
}
.qa-block .block-tit .tit {
  float: left;
  font-size: 16px;
  color: #000000;
}
.qa-block .block-tit .count {
  float: left;
  margin-left: 15px;
  font-size: 14px;
  color: #666666;
}
.qa-block .block-tit .count em {
  font-style: normal;
  color: #ff6446;
}
.qa-block .block-tit .more {
  float: right;
  font-size: 14px;
  color: #666666;
}
.qa-block .block-con {
  padding: 40px 20px 0;
  overflow: hidden;
}
.qa-block .block-con .qa-list .answer {
  margin-bottom: 40px;
}
.qa-block .block-con .qa-list .answer .text {
  margin-left: 90px;
}
.qa-block .block-con .qa-list .answer .time {
  display: block;
  float: none;
  text-align: right;
}
#userEvaluate,
#commonProblem {
  padding-top: 70px;
}
#commonProblem {
  margin-bottom: 60px;
}
/* qustion page */
.qa-section {
  width: 1200px;
  margin: 0 auto;
}
.qa-section .leftcol {
  float: left;
  width: 900px;
}
.qa-section .rightcol {
  float: right;
  width: 270px;
}
.qa-section .questions-answer .adviser-card {
  padding-top: 20px;
}
.qa-section .questions-answer .filter {
  line-height: 38px;
  border-bottom: 1px solid #EEEEEE;
}
.qa-section .questions-answer .filter:after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}
.qa-section .questions-answer .filter .tabs {
  float: left;
}
.qa-section .questions-answer .filter .tabs a {
  float: left;
  width: 90px;
  text-align: center;
  font-size: 18px;
  color: #333333;
}
.qa-section .questions-answer .filter .tabs a.active {
  color: #e9474d;
  border-bottom: 2px solid #e9474d;
  height: 37px;
  margin-bottom: -1px;
  position: relative;
  z-index: 10;
}
.qa-section .questions-answer .filter .count {
  float: right;
  margin-right: 20px;
  font-size: 14px;
  color: #666666;
}
.qa-section .questions-answer .filter .count em {
  font-style: normal;
  color: #ff6446;
}
.qa-section .questions-answer .qa-list .question {
  margin-top: 40px;
}
.qa-section .questions-answer .qa-list .question .text {
  padding-bottom: 14px;
  border-bottom: 1px dashed #EEEEEE;
}
.qa-section .questions-answer .qa-list .answer {
  margin-top: 10px;
  margin-bottom: 40px;
  padding-bottom: 34px;
  border-bottom: 1px solid #EEEEEE;
}
.qa-section .questions-answer .qa-list .answer .portrait {
  float: left;
}
.qa-section .questions-answer .qa-list .answer .text {
  margin-left: 80px;
  margin-right: 0;
  padding: 5px 0;
  border: 0;
  background: transparent;
}
.qa-section .questions-answer .qa-list .answer .bot {
  display: block;
  margin-left: 80px;
  overflow: hidden;
  font-size: 14px;
  line-height: 26px;
  color: #c4c4c4;
}
.qa-section .questions-answer .qa-list .answer .bot span,
.qa-section .questions-answer .qa-list .answer .bot a {
  float: left;
  color: #c4c4c4;
}
.qa-section .questions-answer .qa-list .answer .bot .sep {
  margin: 0 1em;
}
.qa-section .questions-answer .qa-list .answer .bot .praise em {
  font-style: normal;
}
.qa-section .questions-answer .qa-list .answer .bot .praise span.active {
  color: #ff6446;
}
.qa-section .questions-answer .qa-list .answer.last {
  margin-bottom: 20px;
}
.qa-section .loading-list {
  display: none;
  color: #333;
  font-size: 14px;
  padding: 100px 0;
  text-align: center;
}
.qa-section .loading-list img {
  margin-bottom: 24px;
}
.qa-section .ask-section {
  margin-top: 80px;
  margin-bottom: 80px;
}
.qa-section .ask-section .portrait {
  float: left;
  width: 60px;
  height: 60px;
}
.qa-section .ask-section .portrait img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.qa-section .ask-section .textwrap {
  margin-left: 80px;
  padding: 15px 20px;
  border: 1px solid #EEEEEE;
}
.qa-section .ask-section .textwrap textarea {
  width: 100%;
  height: 110px;
  color: #666666;
  border: 0;
  padding: 0;
  resize: none;
  background: transparent;
  overflow: auto;
  font-size: 16px;
  line-height: 26px;
}
.qa-section .ask-section .textwrap textarea::-webkit-input-placeholder {
  color: #b2b2b2 !important;
}
.qa-section .ask-section .textwrap textarea:-moz-placeholder {
  color: #b2b2b2 !important;
}
.qa-section .ask-section .textwrap textarea::-moz-placeholder {
  color: #b2b2b2 !important;
}
.qa-section .ask-section .textwrap textarea:-ms-input-placeholder {
  color: #b2b2b2 !important;
}
.qa-section .ask-section .btnwrap {
  clear: both;
  margin-top: 10px;
  text-align: right;
  line-height: 40px;
}
.qa-section .ask-section .btnwrap .letter-counter {
  margin-right: 20px;
  font-size: 14px;
  color: #999999;
}
.qa-section .ask-section .btnwrap .letter-counter em {
  font-style: normal;
  color: #e9474d;
}
.qa-section .ask-section .btnwrap .submit-btn {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  background: #e9474d;
  color: #FFFFFF;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.qa-section .rightcol h3 {
  font-size: 18px;
  line-height: 50px;
  border: 1px solid #EEEEEE;
  background: #fffbf7;
  font-weight: normal;
  color: #000000;
  padding: 0 20px;
}
.qa-section .rightcol ul li {
  margin-top: -1px;
}
.qa-section .rightcol ul li .adviser-card {
  padding: 20px;
}
.qa-section .rightcol ul li .adviser-card .portrait {
  width: 42px;
  height: 42px;
}
.qa-section .rightcol ul li .adviser-card .text {
  margin-left: 62px;
}
.qa-section .rightcol ul li .adviser-card .text .adviser-name {
  padding: 0;
  margin-top: -6px;
  margin-bottom: 6px;
}
.qa-section .rightcol ul li a {
  position: relative;
  display: block;
  border: 1px solid #EEEEEE;
}
.qa-section .rightcol ul li a:hover {
  border: 1px solid #e9474d;
  z-index: 10;
}
.qa-section .rightcol ul li a:hover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background: url(img/asktag.png) no-repeat right top;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999999;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.popup-box .popup-tit {
  position: relative;
  font-size: 18px;
  line-height: 50px;
  color: #333333;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
}
.popup-box .popup-tit .close-btn {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 0) url("img/sel_icons.png") no-repeat scroll left -284px;
  cursor: pointer;
  text-indent: -100em;
  overflow: hidden;
}
#questionsLogin .btn,
#questionsSuccess .btn {
  display: inline-block;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  border: 0;
  background: #e9474d;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 0 1em;
}
#questionsLogin .btn.fit,
#questionsSuccess .btn.fit {
  width: 100%;
  padding: 0;
}
#questionsLogin .btn.disabled,
#questionsSuccess .btn.disabled,
#questionsLogin .btn.disable,
#questionsSuccess .btn.disable {
  background: #cecece;
  border: 0 !important;
}
#questionsLogin .btn:link,
#questionsSuccess .btn:link,
#questionsLogin .btn:visited,
#questionsSuccess .btn:visited {
  color: #FFFFFF;
}
#questionsLogin form .row,
#questionsSuccess form .row {
  font-size: 16px;
  line-height: 42px;
  margin-bottom: 10px;
}
#questionsLogin form .row label,
#questionsSuccess form .row label {
  float: left;
  width: 4em;
  text-align: left;
  font-size: 16px;
  color: #333333;
}
#questionsLogin form .row .con,
#questionsSuccess form .row .con {
  margin-left: 4.5em;
  width: auto;
}
#questionsLogin form .inputwrap,
#questionsSuccess form .inputwrap {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  height: 40px;
  padding: 0 10px;
  overflow: hidden;
}
#questionsLogin form .inputwrap.error,
#questionsSuccess form .inputwrap.error {
  border-color: #eb4549;
}
#questionsLogin form .inputwrap .errormsg,
#questionsSuccess form .inputwrap .errormsg {
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFFFF;
  color: #eb4549;
  width: 100%;
  margin: 0;
  height: 22px;
  line-height: 22px;
  padding: 9px 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 10px;
}
#questionsLogin form .inputwrap input,
#questionsSuccess form .inputwrap input {
  display: block;
  border: 0;
  background: #FFFFFF;
  padding: 9px 0;
  width: 100%;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
}
#questionsLogin form .inputwrap input::-webkit-input-placeholder,
#questionsSuccess form .inputwrap input::-webkit-input-placeholder {
  color: #d0d0d0 !important;
}
#questionsLogin form .inputwrap input:-moz-placeholder,
#questionsSuccess form .inputwrap input:-moz-placeholder {
  color: #d0d0d0 !important;
}
#questionsLogin form .inputwrap input::-moz-placeholder,
#questionsSuccess form .inputwrap input::-moz-placeholder {
  color: #d0d0d0 !important;
}
#questionsLogin form .inputwrap input:-ms-input-placeholder,
#questionsSuccess form .inputwrap input:-ms-input-placeholder {
  color: #d0d0d0 !important;
}
#questionsLogin form .inputwrap input.error,
#questionsSuccess form .inputwrap input.error {
  color: #eb4549;
}
#questionsLogin form .inputwrap input:-webkit-autofill,
#questionsSuccess form .inputwrap input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#questionsLogin {
  width: 560px;
  height: 360px;
  margin-left: -280px;
  margin-top: -180px;
}
#questionsLogin form {
  width: 312px;
  margin: 0 auto;
  padding-right: 20px;
}
#questionsLogin form .validate-code {
  float: left;
  width: 114px;
}
#questionsLogin form .validate-code-btn {
  margin-left: 144px;
}
#questionsLogin form .submit-btn {
  font-size: 18px;
  line-height: 46px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}
#questionsLogin form .tip {
  font-size: 16px;
  line-height: 44px;
  color: #9a9a9a;
  margin-top: 20px;
  margin-bottom: 4px;
}
#questionsLogin form .agree {
  position: relative;
  left: 50%;
  width: 500px;
  margin-left: -240px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  margin-top: 30px;
}
#questionsLogin form .agree a {
  color: #333333;
  text-decoration: none;
}
#questionsLogin form .agree .checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("img/checked.png") no-repeat center center;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
#questionsSuccess {
  width: 480px;
  height: 280px;
  margin-left: -240px;
  margin-top: -140px;
  text-align: center;
}
#questionsSuccess .success {
  margin-top: 30px;
}
#questionsSuccess .success span {
  display: inline-block;
  padding-left: 74px;
  font-size: 24px;
  line-height: 54px;
  background: url(img/success.png) no-repeat left center;
  color: #000000;
}
#questionsSuccess .tip {
  font-size: 14px;
  line-height: 44px;
  color: #999999;
}
#questionsSuccess .btnwrap {
  margin-top: 20px;
}
#questionsSuccess .btnwrap .btn {
  width: 180px;
  padding: 0;
  font-size: 18px;
  line-height: 48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#questionsLogin {
  display: none;
}
#questionsSuccess {
  display: none;
}
/* #maskLayer {
  display: block;
} */
.my-questions {
  margin: 0 40px 90px;
}
.my-questions .question {
  position: relative;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.my-questions .question:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  background: url(img/my-questions.png) no-repeat 0 0;
}
.my-questions .answer {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  padding-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 30px;
}
.my-questions .answer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url(img/my-questions.png) no-repeat 0 -37px;
}
.my-questions .answer .info {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
  overflow: hidden;
}
.my-questions .answer .info span {
  float: left;
}
.my-questions .answer .info .sep {
  margin: 0 10px;
}
.my-questions .no-answer {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 30px;
}
.no-questions {
  display: none;
  background: url("img/no_product_img.png") no-repeat scroll 260px 119px;
  color: #999;
  font-size: 14px;
  line-height: 200%;
  padding: 180px 0 180px 508px;
}
