/*
.adb{.fz(14px);}
.adbddd{.fz(14px,1);}
*/
/*
.button {
  .border-radius(6px);
}

.button {
  .border-radius;
}
*/
/*
.big-block {
  .box-shadow(2px; 5px);  
}  
}
*/
/*
.box4 {
  .gradient(180deg,#000,#fff);
}
*/
/*
.dfsdf{
	.transform(rotate(0deg));
}

.dddtranslate{
	.transform(translate(-50%, -50%));
}
*/
/*
.keyframes (line, {
    0% {
        background-size: 0% 2px;
    }
    100% {
        background-size: 100% 2px;
    }
});



.keyframes (line, {
    0% {
        .transform(rotate(0deg));
    }
    100% {
        .transform(rotate(360deg));
    }
});
*/
/*
.div{
	.rgba(.4,40);
}
*/
.hide {
  display: none;
}
.borb0 {
  border-bottom: 0rem !important;
}
.borr0 {
  border-right: 0rem !important;
}
img {
  max-width: 100%;
}
a {
  color: #333333;
}
.orange {
  color: #ff6402;
}
.disable {
  background: #D6D6D6 !important;
  color: #FFFFFF;
}
.boxwrap {
  background: #fff;
}
.mt12 {
  margin-top: 0.32rem;
}
.mt20 {
  margin-top: 0.26666667rem;
}
.pab50 {
  padding-bottom: 1.44rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 12px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
.bg-greyer {
  background: #f5f5f5;
}
/*迁入标准查询*/
.move-main {
  background: #FFFFFF;
}
.move-main .title {
  height: 1.46666667rem;
  color: #2f3540;
  padding: 0.42666667rem 0.4rem 0;
}
[data-dpr="1"] .move-main .title {
  font-size: 16px;
}
[data-dpr="2"] .move-main .title {
  font-size: 32px;
}
[data-dpr="3"] .move-main .title {
  font-size: 48px;
}
.move-main .title a {
  display: block;
  line-height: 0.56rem;
}
.move-main .title a span {
  float: right;
  padding-right: 0.4rem;
  line-height: 0.56rem;
  background: url(../../img/icon-right.png) no-repeat center right;
  background-size: 0.16rem 0.26666667rem;
}
.move-main .title hr {
  height: 1px;
  border-top: 1px solid #E5E5E5;
  margin-top: 0.46666667rem;
}
.move-main .btn {
  display: block;
  line-height: 1.2rem;
  background: #FF6402;
  border-radius: 0.06666667rem;
  color: #FFFFFF;
  text-align: center;
  margin: 0.8rem 0.4rem 1.06666667rem;
}
.move-main .result-wrap {
  padding: 0px 0.4rem;
}
.move-main .result-wrap .content {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 0.26666667rem;
}
.move-main .result-wrap dl {
  margin: 0.26666667rem 0;
}
.move-main .result-wrap dl dt {
  float: left;
  text-align: right;
  width: 2.08rem;
  color: #818d9a;
}
.move-main .result-wrap dl dd {
  margin-left: 2.24rem;
  color: #2f3540;
}
.col-title {
  height: 0.74666667rem;
  line-height: 0.74666667rem;
  color: #818d9a;
}
[data-dpr="1"] .col-title {
  font-size: 13px;
}
[data-dpr="2"] .col-title {
  font-size: 26px;
}
[data-dpr="3"] .col-title {
  font-size: 39px;
}
