@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(../fonts/cj2hunsrbhwmspr9ks589-lrc4du4e_yftj8ol60xk0.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url(../fonts/c92rd_x0v1lslsft3-qepmsgzsqheorxqdpu60nfwec.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(../fonts/0aksp294htd-nvjgucytaj0eavxt0g0bientp43qt6e.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/qqt14e8dy39u-eybzmppwz_tkvowliotbr7epgfopf4.ttf) format('truetype');
}
