<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
	<title>app下载PC版</title>
</head>
<body>
    {{{htmlWebpackPlugin.options.header}}}
    
	<ul id="sidemenu">
		<li data-menuanchor="page1" class="active"><a href="#page1">第一屏</a></li>
		<li data-menuanchor="page2"><a href="#page2">第二屏</a></li>
		<li data-menuanchor="page3"><a href="#page3">第三屏</a></li>
		<li data-menuanchor="page4"><a href="#page4">第四屏</a></li>
		<li data-menuanchor="page5"><a href="#page5">第五屏</a></li>
		<li data-menuanchor="page6"><a href="#page6">第六屏</a></li>
		<li data-menuanchor="page7"><a href="#page7">第七屏</a></li>
		<li data-menuanchor="page8"><a href="#page8">第八屏</a></li>
	</ul>


	<div id="appdownPc">
		<div class="section section1">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-1.html.png" />
			</div>
		</div>
		<div class="section section2">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-2.html.png" />
			</div>			
		</div>
		<div class="section section3">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-3.html.png" />
			</div>
		</div>
		<div class="section section4">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-4.html.png" />
			</div>
		</div>
		<div class="section section5">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-5.html.png" />
			</div>
		</div>
		<div class="section section6">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-6.html.png" />
			</div>
		</div>
		<div class="section section7">
			<div class="section_wrap">
				<img class="section_img" src="../images/appdown-txt-7.html.png" />
			</div>
		</div>
		<div class="section section8">

			<div class="section_cont"></div>

		</div>
	</div>

	{{{htmlWebpackPlugin.options.footer}}}

	<script src="{{htmlWebpackPlugin.options.script}}"></script>
	
</body>
</html>