<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- htmlWebpackPlugin  是模块的名字，不是自己定义的名字 common swiper-->
	<title><%=htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" type="text/css" href="../css/lib.css" />
  <script src="../js/vendor.js"></script>
  <script src="../js/lib.js"></script>
</head>
<body>
<img src="${require('../images/2.jpg')}">
    <div class="box">
    	<h3>this is box</h3>
    </div>
	<h2><%=htmlWebpackPlugin.options.title %></h2>
	 <% for(var key in htmlWebpackPlugin.files){ %>
	<br>
   	<%= key %>:<%=JSON.stringify(htmlWebpackPlugin.files[key])%>
   <% } %>
<br>
      <% for(var key in htmlWebpackPlugin.options){ %>
      <br>
   	<%= key %>:<%=JSON.stringify(htmlWebpackPlugin.options[key])%>
   <% } %>
</body>
</html>