@import 'sassHelper/vars';
@import 'sassHelper/mixin';

@mixin blockLayout{
    width: 1200px;
    margin-top: 40px;
}

@mixin blockTitle{
	font-size: 28px;
  font-weight: bolder;
  color: #000;
  margin-bottom: 10px;
}