.content .main-section{min-height:800px;}
.content .content-top{height:60px;}

table{border-collapse:collapse; border-spacing:0;width:100%;} 
tr{border:1px solid #F4F4F4;color:#949494;}
table tr td{text-align: center;width:15%;text-overflow:ellipsis;vertical-align:top;}
table tr .first{width:6%;}
table tr .name-td{width:8%;}
table tr .mobile{width:12%;}
table tr .nik-name{width:15%;}
table tr .brand-td{width:15%;}
table tr td img{width:120px;height:120px;}

.tablebox{background:#fff;margin:0 auto;margin-top:35px;}

.tablebox .table-head table tr{background:#F4FAFF;font-size:14px;height:60px;line-height:60px;color:#000;font-weight:80%;letter-spacing:2px;}

.table-body tr{height:50px;}
.table-body tr td{font-size:12px;padding:20px 0;}

.progress-td .finished .wancheng{color:#77B7FD;}
.progress-td .rejected .bohui{color:#F23057;}

.content .add-user{width:96px;height:30px;border:1px solid #379AF9;margin-left:30px;font-size:12px;color:#379AF9;text-align: center;background:#fff;margin-bottom:19px;padding-top:6px;cursor:pointer;}
.content  .add-user i{margin-right:5px;vertical-align:middle;}
