
<header class="header-bar" style="@style">
    <a href="javascript:void(0);"></a>
    <h1 class="font-nav">购车人信息</h1>
    <span></span>
</header>
<section class="product-name">
    <div><img src="@description.CompanyLogoImage"/></div>
    <h3>@description.PackageName</h3>
</section>
<section class="form-box">
    <header>您的信息仅作贷款审核使用，不会以任何形式泄露给其他人员或机构</header>
    <ul>
        <li class="name-form"><input class="font-input" type="text" placeholder="真实姓名"/>
        <li class="warning">姓名格式错误，请核实</li>
        <li class="id-form"><input type="text" class="font-input" placeholder="18位身份证号码" /></li>
        <li class="warning">身份证号格式错误，请核实</li>
       
        <li class="submit-form"><a href="javascript:void(0);" class="font-btn">提交</a></li>
    </ul>
    <footer>
        <form action="" id="formQ">
             <i class="cur"></i><span>我已详细阅读并同意</span>
            <a href="javascript:void(0);" class="service-pro">《车贷服务条款》</a>
        </form>
    </footer>
</section>