@import "../../lesshelp/lesshelp.less";

//公共css
body{font-size:12px;padding:0px;margin:0px;}
//公共less
.border-radius{.border-radius(54/@r);}


.header{width:100%;height:88/@r;box-shadow:0px 0px 2px #C4C4C4;}
.header .logo,.search{float:left;}

.header .logo{width:50%;height:88/@r;position:relative;}
.header .logo span{display:block;float:left;}
.header .logo .return img{width:18/@r;height:30/@r;margin:30/@r 40/@r;}
.header .logo .return:after{content:'';display:inline-block;width:1/@r;height:35/@r;border-left:2px solid #E5E5E5;position:absolute;left:85/@r;top:28/@r;}

.header .logo .logo_used img{width:81/@r;height:33/@r;margin:30/@r 0px 0px 30/@r;}
.header .logo .logo_used i{.fz(16px);position:relative;top:-5/@r;left:5/@r;}


.header .search{width:50%;height:88/@r;text-align:right;position:relative;}
.header .search a{display:inline-block;line-height:88/@r;}
.header .search .search_icon{width:32/@r;height:32/@r;background:url("../../img/search_sued.png") no-repeat center center;background-size:cover;vertical-align:middle;margin-right:35/@r;position:relative;top:-3/@r;}
.header .search .search_city{.fz(15px);}
.header .search .search_city i{display:inline-block;width:23/@r;height:23/@r;background:url("../../img/header_select.png") no-repeat center center;background-size:100%;margin-left:20/@r;position:relative;top:3/@r;}
.header .search .search_menu{display:inline-block;width:30/@r;height:30/@r;background:url("../../img/menu.png") no-repeat center center;background-size:cover;margin:0px 30/@r 0px 40/@r;position:relative;top:3/@r;}
.header .search .share_icon{width:32/@r;height:32/@r;background:url("../../img/fenxiang.png") no-repeat center center;background-size:cover;margin-left:20/@r;position:relative;left:10/@r;top:5/@r;}


@media screen and (device-width:320px) and (device-height:568px) and (-webkit-device-pixel-ratio:2){
.header .search .search_city i{position:relative;top:3/@r;}
.header .logo .logo_used i{.fz(14px);}
}

//menu_mobile
.menu_mobile{width:200/@r;background:rgba(47,53,64,0.9);position:absolute;right:20/@r;top:100/@r;z-index:100;border-radius:8/@r;margin-top:20/@r;}
.menu_mobile ul li{text-align:center;height:80/@r;line-height:80/@r;border-bottom:1px solid rgba(95,100,108,0.9);}
.menu_mobile ul li:last-child{border:none;}
.menu_mobile ul li a{color:white;.fz(14px);display:block !important;height:80/@r;line-height:75/@r !important;}
.menu_mobile ul:after{content:'';display:block;width:28px;height:30px;position:absolute;right:18/@r;top:-20/@r;background:url("../../img/snajiao.png") no-repeat center center;background-size:100%;}
