@import "../../lesshelp/lesshelp.less";

//公共css
body{font-size:12px;padding:0px;margin:0px;}
//公共less
.border-radius{.border-radius(54/@r);}


.header{width:100%;height:88/@r;background:white;}
.header .logo,.search,.city{float:left;}
.header .logo{display:block;width:146/@r;height:88/@r;text-align:center;vertical-align:middle;}
.header .logo img{width:79/@r;height:88/@r;display:inline-block;vertical-align:middle;}

.header .search{display:block;width:450/@r;height:60/@r;vertical-align:middle;margin:13/@r 0px;background:#F2F3F5;border-radius:54/@r;}
.header .search img{width:30/@r;height:30/@r;display:inline-block;margin:15/@r 10/@r 0/@r 35/@r;}
.header .search input{height:37/@r;.fz(13px);color:#B0B3B4;background:none;position:relative;top:-7/@r;}

.header .city{display:block;width:154/@r;height:88/@r;text-align:center;vertical-align:middle;}
.header .city span{;height:88/@r;line-height:88/@r;display:inline-block;vertical-align:middle;.fz(15px);}
.header .city i{display:inline-block;width:22/@r;height:22/@r;background:url("../../img/header_select.png") no-repeat center center;background-size:100%;position:relative;top:4/@r;margin-left:15/@r;}
