<!-- 百分比动画 -->
<div id="CircleDiv" class="choose_bot" style="display: none">
    <ul class="form_modu">
        <li class="form_modu_head uf uf_ac">
            <b>根据您所提供的资料正在匹配金融产品</b>
        </li>
        <li class="form_modu_body">
            <div class="circle-item">
                <div class="cg-wrap">
                    <div class="circle-left-wrap"><div class="circle-left"></div></div>
                    <div class="circle-right-wrap"><div class="circle-right"></div></div>
                    <div class="circle-mask"><span>100</span>%</div>
                </div>
            </div>
        </li>
    </ul>
</div>