<!-- 意向接电话时间 -->
<aside class="sel-control-box" data-aslider="occupation">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">意向接电话时间</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll">
            <ul class="slider">
                    <li data-id="345">任意时间</li>
                    <li data-id="346">9点-12点</li>
                    <li data-id="347">13点-18点</li>
                    <li data-id="348">18点-21点</li>
            </ul>
        </div>
    </div>
</aside>