@charset "utf-8";
[data-dpr="1"] .font_22 { font-size: 11px!important; }
[data-dpr="2"] .font_22 { font-size: 22px!important; }
[data-dpr="3"] .font_22 { font-size: 33px!important; }

[data-dpr="1"] .font_24 { font-size: 12px!important; }
[data-dpr="2"] .font_24 { font-size: 24px!important; }
[data-dpr="3"] .font_24 { font-size: 36px!important; }

[data-dpr="1"] .font_26{ font-size: 13px!important; }
[data-dpr="2"] .font_26 { font-size: 26px!important; }
[data-dpr="3"] .font_26 { font-size: 39px!important; }


[data-dpr="1"] .font_28 { font-size: 14px!important; }
[data-dpr="2"] .font_28 { font-size: 28px!important; }
[data-dpr="3"] .font_28 { font-size: 42px!important; }

[data-dpr="1"] .font_30 { font-size: 15px!important; }
[data-dpr="2"] .font_30 { font-size: 30px!important; }
[data-dpr="3"] .font_30 { font-size: 45px!important; }

[data-dpr="1"] .font_32 { font-size: 16px!important; }
[data-dpr="2"] .font_32 { font-size: 32px!important; }
[data-dpr="3"] .font_32 { font-size: 48px!important; }

[data-dpr="1"] .font_36 { font-size: 18px!important; }
[data-dpr="2"] .font_36 { font-size: 36px!important; }
[data-dpr="3"] .font_36 { font-size: 54px!important; }

[data-dpr="1"] .font_86 { font-size: 43px!important; }
[data-dpr="2"] .font_86 { font-size: 86px!important; }
[data-dpr="3"] .font_86 { font-size: 129px!important; }


.col_red { color: #fc654d!important }
.col_org { color: #d68a5c }
.col_black { color: #000 }
.col_grey { color: #a9a9a9 }
.col_grey2 { color: #777 }
.col_grey3 { color: #333 }
.col_grey6 { color: #666 }
.col_grey9 { color: #999 }
.col_white { color: #fff }
/*share*/
.ub { display: -webkit-box!important; display: box!important }
.ub-con { position: absolute; width: 100% }
.ub-f1, .ub-f2, .ub-f3, .ub-f4 { position: relative }
.ub-ac { -webkit-box-align: center; box-align: center }
.ub-ae { -webkit-box-align: end; box-align: end }
.ub-pc { -webkit-box-pack: center; box-pack: center }
.ub-pe { -webkit-box-pack: end; box-pack: end }
.ub-pj { -webkit-box-pack: justify; box-pack: justify }
.ub-ver { -webkit-box-orient: vertical; box-orient: vertical }
.ub-f1 { -webkit-box-flex: 1; box-flex: 1 }
.ub-f2 { -webkit-box-flex: 2; box-flex: 2 }
.ub-f3 { -webkit-box-flex: 3; box-flex: 3 }
.ub-f4 { -webkit-box-flex: 4; box-flex: 4 }
.ub-img { -webkit-background-size: contain; background-size: contain; background-repeat: no-repeat; background-position: center }
.ut-s { text-overflow: ellipsis; overflow: hidden; white-space: nowrap }
.box_sizing { box-sizing: border-box; -webkit-box-sizing: border-box }
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*body*/
body{background: #e8e8e8;}
.CustomerToCustomer{}
.c2b_banner{}
.c2b_banner img{ width: 100% }
/**{box-sizing: content-box;}*/
/*bottom*/
.c2b_bottom_con{ padding:0.533333rem 0.4rem 0;  }
.c2b_bot_ul{ padding: 0 0 0.4rem; }
.c2b_bot_ul .itme{margin-bottom: 0.213333rem;padding:0.026667rem 0.026667rem 0.026667rem 1rem;background-image:url(../images/c2b/icon_1.png); background-size:0.8rem 0.8rem; background-repeat: no-repeat;background-position: left center;}
.c2b_bot_ul .one_icon{background-image:url(../images/c2b/icon_1.png); }
.c2b_bot_ul .two_icon{background-image:url(../images/c2b/icon_2.png); }
.c2b_bot_ul .three_icon{background-image:url(../images/c2b/icon_3.png); }
.c2b_bot_ul .btn_txt{border-radius: 0.106667rem;padding:0.106667rem 0; color: #000; font-weight: bold; }
.c2b_bot_ul .info{text-align: left; color: #666;padding:0.106667rem 0;}
.c2b_bot_ul .col_red{ font-weight: bold; }
/*conter*/
.c2b_conter{ background-image:url(../images/c2b/banner_bg.png); background-size: 100% auto; background-repeat: no-repeat;}
.c2b_conter input{ border: 0; display: block; width: 100%; }
.login_box,.qualification_box{ padding:0 0.4rem; }
.c2b_from{  }
.c2b_from .row{padding-bottom:0.133333rem;  }
.c2b_from .row .blk10{display: none;}
.c2b_from .from_box_bg{padding:0.066667rem 0 0;border:solid 1px #eaeaea; border-radius: 0.066667rem;}
.c2b_from .from_box{padding:0.213333rem 0.266667rem;display: -webkit-box!important; display: box!important; background: #fff; border-radius:0.066667rem;height:0.666667rem;box-sizing: content-box;
  font{ display: block!important;}
}
.c2b_from .input{-webkit-box-flex: 1; box-flex: 1 ;display: -webkit-box; display: box;-webkit-box-align: center; box-align: center;}

/*.c2b_from .input input{ display: block; }*/
.c2b_from .btn_code{background: #dbb76c;display: -webkit-box;display: box;-webkit-box-align: center;box-align: center;-webkit-box-pack: center;box-pack: center;color: #fff;margin: -0.066667rem -0.08rem -0.053333rem 0;padding: 0 0.133333rem;border-radius: 0.066667rem;}
.c2b_from .btn_code.disable{background:#cecece;color: #fff;}

/*.c2b_from .percentage{display: -webkit-box; display: box;-webkit-box-align: center; box-align: center;padding-right: 0.133333rem;}
.c2b_from .sum{ width: 1.666667rem;display: -webkit-box; display: box;-webkit-box-pack: end; box-pack: end;-webkit-box-align: center; box-align: center;}*/
.c2b_from .input_end{display: -webkit-box; display: box;-webkit-box-pack: end; box-pack: end;-webkit-box-align: center; box-align: center;width: 2.666667rem;padding-right: 0.306667rem;}
.c2b_from .input_end input{text-align:right;}


.c2b_from .choose_box{display: -webkit-box; display: box;-webkit-box-pack: end; box-pack: end;-webkit-box-align: center; box-align: center;
  -webkit-box-flex: 1; box-flex: 1;}
.c2b_from .choose_box .choose{display: -webkit-box; display: box;-webkit-box-pack: end; box-pack: end;-webkit-box-align: center; box-align: center;
  -webkit-box-flex: 1; box-flex: 1;}
.c2b_from .tip_box{ width: 0.306667rem;padding-bottom:0.04rem; }


.c2b_from .tip_box .tip_r {width: 0.24rem;height: 0.24rem;display: inline-block;border-top: 1px #bebebe solid;border-left: 1px #bebebe solid;transform: rotate(135deg);-webkit-transform: rotate(135deg); margin-left: .133333rem ;   /* margin-top: 0.24rem;background: 0 0;position: absolute;right: 10px;    top: 0.45rem;*/}

.c2b_from .alert{ color: #e9474d;padding:0.266667rem; display: none; }
.btn_yellow{background: #dbb76c;width: 100%; height: 1.173333rem; line-height: 1.173333rem; text-align: center;color: #fff;border-radius: 0.066667rem;}
.qualification_box .btn_grey{/*background-color:#c00;*/background:#cecece; width: 100%; height: 1.173333rem; line-height: 1.173333rem; text-align: center;color: #fff;}
.btn_show_from{ height:1.173333rem;line-height: 1.173333rem; text-align: center; color: #dbb76c;border-radius: 0.066667rem;margin-bottom:0.533333rem; margin-top:0.1rem;border:solid 2px #eaeaea;    background: #fff;}
.btn_show_from .tip_t{width: 0.24rem;height: 0.24rem;display: inline-block;border-top: 1px #dbb76c solid;border-left: 1px #dbb76c solid;transform: rotate(-135deg);-webkit-transform: rotate(-135deg); margin-left: .133333rem ;    margin-top:-0.24rem;vertical-align: middle;}
.btn_show_from .tip_b{width: 0.24rem;height: 0.24rem;display: inline-block;border-top: 1px #dbb76c solid;border-left: 1px #dbb76c solid;transform: rotate(45deg);-webkit-transform: rotate(45deg); margin-left: .133333rem ;    /*margin-top: 0.24rem;*/vertical-align: middle;}
.c2b_qua_tip { color: #dbb76c;margin:0.24rem 0;padding:0;}
.c2b_qua_tip2 { color: #dbb76c;margin:0.4rem 0;padding:0;}
.blk10{ height:0.133333rem; overflow: hidden; clear: both; }
.from_qualification_box,.hide,#DetailsInfoForm{display:none; }
/*表单默认颜色*/
::-webkit-input-placeholder {color:#999;}
:placeholder {color:#999;}
#submitLogin{ margin: 0.2rem 0 0; }
/*20161226打包*/