/*
.adb{.fz(14px);}
.adbddd{.fz(14px,1);}
*/
/*
.button {
  .border-radius(6px);
}

.button {
  .border-radius;
}
*/
/*
.big-block {
  .box-shadow(2px; 5px);  
}  
}
*/
/*
.box4 {
  .gradient(180deg,#000,#fff);
}
*/
/*
.dfsdf{
	.transform(rotate(0deg));
}

.dddtranslate{
	.transform(translate(-50%, -50%));
}
*/
/*
.keyframes (line, {
    0% {
        background-size: 0% 2px;
    }
    100% {
        background-size: 100% 2px;
    }
});



.keyframes (line, {
    0% {
        .transform(rotate(0deg));
    }
    100% {
        .transform(rotate(360deg));
    }
});
*/
/*
.div{
	.rgba(.4,40);
}
*/
body {
  padding: 0px;
  margin: 0px;
  background: #F8F8F8;
  font-size: 12px;
}
.gradient {
  background: -webkit-linear-gradient(left, #ff5f58, #ff9000);
  background: -moz-linear-gradient(left, #ff5f58, #ff9000);
  background: -o-linear-gradient(left, #ff5f58, #ff9000);
  background: linear-gradient(left, #ff5f58, #ff9000);
  color: white !important;
}
.border-radius {
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.content_list {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 0.32rem;
}
.list {
  margin: 0 0.4rem;
  padding-bottom: 0.4rem;
}
.list .list_main {
  overflow: hidden;
}
.list .list_main img {
  width: 2.8rem;
  height: 1.86666667rem;
  display: inline-block;
  float: left;
  margin: 0.53333333rem 0;
}
.list .list_main .list_detail {
  float: left;
  width: 59%;
  margin-left: 4%;
  margin-top: 0.4rem;
}
.list .list_main .list_detail h2 {
  font-family: "微软雅黑";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 0.53333333rem;
}
[data-dpr="1"] .list .list_main .list_detail h2 {
  font-size: 16px;
}
[data-dpr="2"] .list .list_main .list_detail h2 {
  font-size: 32px;
}
[data-dpr="3"] .list .list_main .list_detail h2 {
  font-size: 48px;
}
.list .list_main .list_detail h3 {
  font-family: "微软雅黑";
  color: #999;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  margin-top: 0.13333333rem;
}
[data-dpr="1"] .list .list_main .list_detail h3 {
  font-size: 14px;
}
[data-dpr="2"] .list .list_main .list_detail h3 {
  font-size: 28px;
}
[data-dpr="3"] .list .list_main .list_detail h3 {
  font-size: 42px;
}
.list .list_main .list_detail h3 span {
  color: #FF6402;
}
[data-dpr="1"] .list .list_main .list_detail h3 span {
  font-size: 16px;
}
[data-dpr="2"] .list .list_main .list_detail h3 span {
  font-size: 32px;
}
[data-dpr="3"] .list .list_main .list_detail h3 span {
  font-size: 48px;
}
.list .list_main .list_detail p {
  color: #999;
  padding-top: 0.13333333rem;
}
[data-dpr="1"] .list .list_main .list_detail p {
  font-size: 13px;
}
[data-dpr="2"] .list .list_main .list_detail p {
  font-size: 26px;
}
[data-dpr="3"] .list .list_main .list_detail p {
  font-size: 39px;
}
.loan_reckon {
  width: 100%;
  background: #fff;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.loan_reckon .loan_title {
  height: 1.22666667rem;
  line-height: 1.22666667rem;
  padding-left: 0.4rem;
  font-family: "微软雅黑";
  font-size: 0.42666667rem;
  color: #333;
  border-bottom: 0.02666667rem solid #ececec;
}
.loan_reckon .loan_main {
  margin: 0.53333333rem 0.4rem;
  overflow: hidden;
  padding-bottom: 0.4rem;
  box-shadow: 0px 0px 0.4rem #e5e5e5;
  border-radius: 0.13333333rem;
}
.loan_reckon .loan_main .total {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-family: "微软雅黑";
  color: #333;
  margin: 0px 0.4rem;
  border-bottom: 1px solid #E5E5E5;
}
[data-dpr="1"] .loan_reckon .loan_main .total {
  font-size: 16px;
}
[data-dpr="2"] .loan_reckon .loan_main .total {
  font-size: 32px;
}
[data-dpr="3"] .loan_reckon .loan_main .total {
  font-size: 48px;
}
.loan_reckon .loan_main .total_left {
  width: 40%;
  float: left;
  font-family: "微软雅黑";
  color: #ff6d02;
}
[data-dpr="1"] .loan_reckon .loan_main .total_left {
  font-size: 16px;
}
[data-dpr="2"] .loan_reckon .loan_main .total_left {
  font-size: 32px;
}
[data-dpr="3"] .loan_reckon .loan_main .total_left {
  font-size: 48px;
}
.loan_reckon .loan_main .total_left .total_font {
  padding-left: 1.33333333rem;
  color: #818D9A;
}
[data-dpr="1"] .loan_reckon .loan_main .total_left .total_font {
  font-size: 14px;
}
[data-dpr="2"] .loan_reckon .loan_main .total_left .total_font {
  font-size: 28px;
}
[data-dpr="3"] .loan_reckon .loan_main .total_left .total_font {
  font-size: 42px;
}
.loan_reckon .loan_main .total_left .total_font i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../img/down.png") no-repeat center center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.loan_reckon .loan_main .total_left img {
  display: block;
  margin-bottom: 0.26666667rem;
}
.loan_reckon .loan_main .total_left .icon {
  vertical-align: middle;
}
[data-dpr="1"] .loan_reckon .loan_main .total_left .icon {
  font-size: 18px;
}
[data-dpr="2"] .loan_reckon .loan_main .total_left .icon {
  font-size: 36px;
}
[data-dpr="3"] .loan_reckon .loan_main .total_left .icon {
  font-size: 54px;
}
.loan_reckon .loan_main .total_left .icon1 {
  vertical-align: middle;
  color: #ff6d02;
}
[data-dpr="1"] .loan_reckon .loan_main .total_left .icon1 {
  font-size: 14px;
}
[data-dpr="2"] .loan_reckon .loan_main .total_left .icon1 {
  font-size: 28px;
}
[data-dpr="3"] .loan_reckon .loan_main .total_left .icon1 {
  font-size: 42px;
}
.loan_reckon .loan_main .total_right {
  width: 60%;
  float: left;
  margin-top: 0.66666667rem;
}
.loan_reckon .loan_main .total_right ul li {
  height: 0.8rem;
  line-height: 0.8rem;
  font-family: "微软雅黑";
}
[data-dpr="1"] .loan_reckon .loan_main .total_right ul li {
  font-size: 16px;
}
[data-dpr="2"] .loan_reckon .loan_main .total_right ul li {
  font-size: 32px;
}
[data-dpr="3"] .loan_reckon .loan_main .total_right ul li {
  font-size: 48px;
}
.loan_reckon .loan_main .total_right ul li span {
  float: right;
  margin-right: 0.8rem;
}
.loan_reckon .loan_main .total_right ul li i {
  display: inline-block;
  width: 0.26666667rem;
  height: 0.26666667rem;
  border-radius: 50%;
  margin-right: 10px;
}
.loan_reckon .loan_main .total_right ul li .i-color1 {
  background: #4f4f4f;
}
.loan_reckon .loan_main .total_right ul li .i-color2 {
  background: #9b9b9b;
}
.loan_reckon .loan_main .total_right ul li .i-color3 {
  background: #d2ae65;
}
.loan_reckon .slider {
  height: 1.6rem;
  width: 100%;
  text-align: center;
  padding-top: 0.4rem;
  margin-bottom: 0.4rem;
}
[data-dpr="1"] .loan_reckon .slider {
  font-size: 14px;
}
[data-dpr="2"] .loan_reckon .slider {
  font-size: 28px;
}
[data-dpr="3"] .loan_reckon .slider {
  font-size: 42px;
}
.loan_reckon .slider .slider_title {
  height: 1.06666667rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
[data-dpr="1"] .loan_reckon .slider .slider_title {
  font-size: 16px;
}
[data-dpr="2"] .loan_reckon .slider .slider_title {
  font-size: 32px;
}
[data-dpr="3"] .loan_reckon .slider .slider_title {
  font-size: 48px;
}
.container {
  width: 100%;
  margin: 0 0 0.4rem 0;
}
#myChart {
  display: block;
  height: 2.08rem !important;
  width: 2.10666667rem !important;
  margin-left: 0.26666667rem;
}
.ruler {
  width: 85%;
  height: 1.6rem;
  margin: 0 auto;
  position: relative;
}
.ruler h3 {
  font-family: "微软雅黑";
  color: #666666;
}
[data-dpr="1"] .ruler h3 {
  font-size: 14px;
}
[data-dpr="2"] .ruler h3 {
  font-size: 28px;
}
[data-dpr="3"] .ruler h3 {
  font-size: 42px;
}
.ruler span {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "微软雅黑";
  color: #ff6d02;
}
[data-dpr="1"] .ruler span {
  font-size: 14px;
}
[data-dpr="2"] .ruler span {
  font-size: 28px;
}
[data-dpr="3"] .ruler span {
  font-size: 42px;
}
.progress {
  position: relative;
  height: 0.66666667rem;
  width: 90%;
}
.progress-bar-wrapper {
  width: 100%;
  height: 0.16rem;
  position: absolute;
  top: 50%;
  margin-top: -0.08rem;
  left: 0;
  padding: 0 0.26666667rem;
  box-sizing: content-box;
}
.progress-bar {
  height: 0.16rem;
  border-radius: 0.13333333rem;
  position: absolute;
  top: 50%;
  margin-top: -0.08rem;
  left: 0;
  width: 100%;
}
.progress-bar-bc {
  background: #d8d8d8;
}
.progress-bar-active {
  width: 0;
  background-color: #ff9900;
}
.progress-btn {
  width: 0.66666667rem;
  height: 0.66666667rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.34666667rem;
  cursor: pointer;
  border: 0.02666667rem solid #ebebeb;
}
.ratio {
  position: absolute;
  width: 90%;
}
.ratio li {
  position: absolute;
  color: #3F3F3F;
  width: 20%;
}
[data-dpr="1"] .ratio li {
  font-size: 12px;
}
[data-dpr="2"] .ratio li {
  font-size: 24px;
}
[data-dpr="3"] .ratio li {
  font-size: 36px;
}
.ruler2 {
  margin-top: 0.53333333rem;
  margin-bottom: 1.06666667rem;
}
.schedule {
  width: 100%;
  background: #fff;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.schedule .loan_title {
  height: 1.22666667rem;
  line-height: 1.22666667rem;
  padding-left: 0.4rem;
  font-family: "微软雅黑";
  color: #333;
  border-bottom: 0.02666667rem solid #ececec;
}
[data-dpr="1"] .schedule .loan_title {
  font-size: 16px;
}
[data-dpr="2"] .schedule .loan_title {
  font-size: 32px;
}
[data-dpr="3"] .schedule .loan_title {
  font-size: 48px;
}
.schedule ul {
  padding: 0.53333333rem 0.66666667rem;
  overflow: hidden;
}
.schedule ul li {
  margin-top: -0.05333333rem;
}
.schedule ul li .sch_title {
  font-family: "微软雅黑";
  position: relative;
  padding-left: 0.45333333rem;
}
[data-dpr="1"] .schedule ul li .sch_title {
  font-size: 15px;
}
[data-dpr="2"] .schedule ul li .sch_title {
  font-size: 30px;
}
[data-dpr="3"] .schedule ul li .sch_title {
  font-size: 45px;
}
.schedule ul li .sch_title i {
  display: inline-block;
  width: 0.48rem;
  height: 0.48rem;
  background-color: #818D9A;
  color: white;
  border-radius: 50%;
  line-height: 0.48rem;
  text-align: center;
  position: absolute;
  left: -0.21333333rem;
  top: 0.05333333rem;
}
[data-dpr="1"] .schedule ul li .sch_title i {
  font-size: 12px;
}
[data-dpr="2"] .schedule ul li .sch_title i {
  font-size: 24px;
}
[data-dpr="3"] .schedule ul li .sch_title i {
  font-size: 36px;
}
.schedule ul li .sch_title .icon {
  position: relative;
  top: 0.05333333rem;
  left: -0.29333333rem;
  vertical-align: text-bottom;
}
[data-dpr="1"] .schedule ul li .sch_title .icon {
  font-size: 24px;
}
[data-dpr="2"] .schedule ul li .sch_title .icon {
  font-size: 48px;
}
[data-dpr="3"] .schedule ul li .sch_title .icon {
  font-size: 72px;
}
.schedule ul li .sch_main {
  height: 1.94666667rem;
}
.schedule ul li .sch_main .sch_main_details {
  width: 93.5%;
  height: 1.46666667rem;
  float: right;
  margin-top: 0.26666667rem;
}
.schedule ul li .sch_main .sch_main_details p {
  font-family: "微软雅黑";
  color: #999;
  margin-left: 0.26666667rem;
}
[data-dpr="1"] .schedule ul li .sch_main .sch_main_details p {
  font-size: 14px;
}
[data-dpr="2"] .schedule ul li .sch_main .sch_main_details p {
  font-size: 28px;
}
[data-dpr="3"] .schedule ul li .sch_main .sch_main_details p {
  font-size: 42px;
}
.schedule ul li .sch_nothing {
  height: 1.2rem;
  border-left: 0.02666667rem dashed #dedede;
}
.foo_nav {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
.foo_nav ul li {
  width: 26%;
  padding: 0.13333333rem 0;
  line-height: 0.58666667rem;
  float: left;
  text-align: center;
  color: #FF6402;
  border-top: 0.02666667rem solid #efefef;
}
[data-dpr="1"] .foo_nav ul li {
  font-size: 15px;
}
[data-dpr="2"] .foo_nav ul li {
  font-size: 30px;
}
[data-dpr="3"] .foo_nav ul li {
  font-size: 45px;
}
.foo_nav ul li i {
  display: block;
  width: 0.48rem;
  height: 0.48rem;
  margin: 0rem auto;
  margin-bottom: 0.13333333rem;
  margin-top: 0.13333333rem;
}
.foo_nav ul li.li_titleOne i {
  background: url("../img/mianfeizixun.png") no-repeat center center;
  background-size: contain;
}
.foo_nav ul li.li_titleTwo i {
  background: url("../img/switch.png") no-repeat center center;
  background-size: contain;
}
.foo_nav ul li.li1 {
  border-right: 0.02666667rem solid #efefef;
}
.foo_nav ul li.li3 {
  width: 48%;
  color: #fff;
  padding: 0.42666667rem 0;
  font-family: "微软雅黑";
  background: #FF6D02;
  height: 1.54666667rem;
  border-top: 0.02666667rem solid #d9d8d8;
}
[data-dpr="1"] .foo_nav ul li.li3 {
  font-size: 16px;
}
[data-dpr="2"] .foo_nav ul li.li3 {
  font-size: 32px;
}
[data-dpr="3"] .foo_nav ul li.li3 {
  font-size: 48px;
}
.foo_nav ul li.li3 .icon {
  color: #ffffff;
}
.foo_nav ul li .icon {
  color: #ff9900;
}
[data-dpr="1"] .foo_nav ul li .icon {
  font-size: 22px;
}
[data-dpr="2"] .foo_nav ul li .icon {
  font-size: 44px;
}
[data-dpr="3"] .foo_nav ul li .icon {
  font-size: 66px;
}
#shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 91;
}
.package_pop {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 92;
  height: 9.33333333rem;
}
.package_pop h2 {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-family: "微软雅黑";
  margin-top: 0.53333333rem;
  margin-bottom: 0.4rem;
}
[data-dpr="1"] .package_pop h2 {
  font-size: 18px;
}
[data-dpr="2"] .package_pop h2 {
  font-size: 36px;
}
[data-dpr="3"] .package_pop h2 {
  font-size: 54px;
}
.package_pop h2 i {
  position: absolute;
  right: 0.53333333rem;
  top: 0.74666667rem;
  color: #A1A1A1;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: url("../../img/close_changgui.png") no-repeat center center;
  background-size: contain;
}
.package_pop .package_ul {
  height: 78%;
  overflow-y: auto;
}
.package_pop ul {
  width: 90%;
  margin: 0 auto;
}
.package_pop ul li {
  border: 0.02666667rem solid #ededed;
  border-radius: 0.08rem;
  margin-top: 0.4rem;
  position: relative;
}
.package_pop ul li a {
  display: block;
}
.package_pop ul li.active {
  border: 0.02666667rem solid #ff6d02;
  background: url("http://image.bitautoimg.com/taoche/2017/m/xuanzhong.png") no-repeat 101% top;
  background-size: 14%;
}
.package_pop ul li.active img {
  display: block;
}
.package_pop ul li img {
  position: absolute;
  right: -0.02666667rem;
  top: 0;
  width: 12%;
  display: none;
}
.package_pop ul li .pop_title {
  width: 90%;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  margin: 0 auto;
  font-family: "微软雅黑";
}
[data-dpr="1"] .package_pop ul li .pop_title {
  font-size: 16px;
}
[data-dpr="2"] .package_pop ul li .pop_title {
  font-size: 32px;
}
[data-dpr="3"] .package_pop ul li .pop_title {
  font-size: 48px;
}
.package_pop ul li .pop_title span {
  float: right;
  font-family: "微软雅黑";
  color: #666;
  margin-right: 0.8rem;
}
[data-dpr="1"] .package_pop ul li .pop_title span {
  font-size: 14px;
}
[data-dpr="2"] .package_pop ul li .pop_title span {
  font-size: 28px;
}
[data-dpr="3"] .package_pop ul li .pop_title span {
  font-size: 42px;
}
.package_pop ul li .pop_main {
  width: 90%;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  margin: 0 auto;
  font-family: "微软雅黑";
  color: #666666;
}
[data-dpr="1"] .package_pop ul li .pop_main {
  font-size: 16px;
}
[data-dpr="2"] .package_pop ul li .pop_main {
  font-size: 32px;
}
[data-dpr="3"] .package_pop ul li .pop_main {
  font-size: 48px;
}
.package_pop ul li .pop_main span .orange {
  color: #ff6d02;
}
.package_pop ul li .pop_main span .black {
  color: #000000;
}
.package_pop ul li .pop_main .float_span {
  float: right;
  margin-right: 0.26666667rem;
}
.tab_total {
  width: 9.14666667rem;
  background-color: #fff;
  border-radius: 0.26666667rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -4.56rem;
  margin-top: -6.13333333rem;
  z-index: 92;
}
.tab_total img {
  position: absolute;
  left: 50%;
  bottom: -2.13333333rem;
  margin-left: -0.66666667rem;
  width: 1.06666667rem;
  height: 1.06666667rem;
}
.tab_total .close {
  position: absolute;
  right: 0.26666667rem;
  top: 0.26666667rem;
  color: #000000;
}
.tab_total h2 {
  color: #333;
  padding: 0.53333333rem 0 0.45333333rem 0.45333333rem;
  border-bottom: 0.02666667rem solid #ececec;
  font-family: "微软雅黑";
}
[data-dpr="1"] .tab_total h2 {
  font-size: 18px;
}
[data-dpr="2"] .tab_total h2 {
  font-size: 36px;
}
[data-dpr="3"] .tab_total h2 {
  font-size: 54px;
}
.tab_total h2 span {
  padding-left: 0.53333333rem;
}
.tab_total h1 {
  text-align: center;
  color: #2F3540;
  margin-top: 0.53333333rem;
}
[data-dpr="1"] .tab_total h1 {
  font-size: 16px;
}
[data-dpr="2"] .tab_total h1 {
  font-size: 32px;
}
[data-dpr="3"] .tab_total h1 {
  font-size: 48px;
}
.tab_total ul {
  padding-bottom: 0.88rem;
}
.tab_total ul li {
  height: 1.92rem;
  border-bottom: 0.02666667rem solid #ececec;
}
.tab_total ul li .li_left {
  width: 40%;
  float: left;
  padding-left: 0.53333333rem;
}
.tab_total ul li .li_left h4 {
  font-family: "微软雅黑";
  color: #000;
  padding-top: 0.26666667rem;
}
[data-dpr="1"] .tab_total ul li .li_left h4 {
  font-size: 18px;
}
[data-dpr="2"] .tab_total ul li .li_left h4 {
  font-size: 36px;
}
[data-dpr="3"] .tab_total ul li .li_left h4 {
  font-size: 54px;
}
.tab_total ul li .li_left h4.grey {
  color: #999999;
}
.tab_total ul li .li_left span.orange {
  color: #FF6D02;
  font-family: "微软雅黑";
  line-height: 0.93333333rem;
}
[data-dpr="1"] .tab_total ul li .li_left span.orange {
  font-size: 16px;
}
[data-dpr="2"] .tab_total ul li .li_left span.orange {
  font-size: 32px;
}
[data-dpr="3"] .tab_total ul li .li_left span.orange {
  font-size: 48px;
}
.tab_total ul li .li_left span.grey {
  color: #999;
  font-family: "微软雅黑";
  line-height: 0.93333333rem;
}
[data-dpr="1"] .tab_total ul li .li_left span.grey {
  font-size: 16px;
}
[data-dpr="2"] .tab_total ul li .li_left span.grey {
  font-size: 32px;
}
[data-dpr="3"] .tab_total ul li .li_left span.grey {
  font-size: 48px;
}
.tab_total ul li .li_right {
  width: 60%;
  float: left;
  text-align: center;
  position: relative;
}
.tab_total ul li .li_right .li_one {
  width: 50%;
  float: left;
}
.tab_total ul li .li_right i {
  position: absolute;
  left: 31%;
  top: 0.18666667rem;
  color: #2F3540;
}
[data-dpr="1"] .tab_total ul li .li_right i {
  font-size: 16px;
}
[data-dpr="2"] .tab_total ul li .li_right i {
  font-size: 32px;
}
[data-dpr="3"] .tab_total ul li .li_right i {
  font-size: 48px;
}
.tab_total ul li .li_right h6 {
  font-family: "微软雅黑";
  color: #999;
  line-height: 0.98666667rem;
  text-align: left;
}
[data-dpr="1"] .tab_total ul li .li_right h6 {
  font-size: 14px;
}
[data-dpr="2"] .tab_total ul li .li_right h6 {
  font-size: 28px;
}
[data-dpr="3"] .tab_total ul li .li_right h6 {
  font-size: 42px;
}
.tab_total ul li .li_right span {
  display: block;
  font-family: "微软雅黑";
  color: #333;
  text-align: left;
}
[data-dpr="1"] .tab_total ul li .li_right span {
  font-size: 16px;
}
[data-dpr="2"] .tab_total ul li .li_right span {
  font-size: 32px;
}
[data-dpr="3"] .tab_total ul li .li_right span {
  font-size: 48px;
}
.tab_total ul li .li_right .span_1 {
  color: #999999;
}
@media only screen and (min-device-width: 375px) {
  .schedule ul li .sch_main .sch_main_details p {
    font-family: "微软雅黑";
    color: #999;
    margin-left: 0.18666667rem;
  }
  [data-dpr="1"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 14px;
  }
  [data-dpr="2"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 28px;
  }
  [data-dpr="3"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 42px;
  }
}
@media only screen and (min-device-width: 360px) {
  .schedule ul li .sch_main .sch_main_details p {
    font-family: "微软雅黑";
    color: #999;
    margin-left: 0.24rem;
  }
  [data-dpr="1"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 14px;
  }
  [data-dpr="2"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 28px;
  }
  [data-dpr="3"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 42px;
  }
}
@media only screen and (min-device-width: 414px) {
  .schedule ul li .sch_main .sch_main_details p {
    font-family: "微软雅黑";
    color: #999;
    margin-left: 0.10666667rem;
  }
  [data-dpr="1"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 14px;
  }
  [data-dpr="2"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 28px;
  }
  [data-dpr="3"] .schedule ul li .sch_main .sch_main_details p {
    font-size: 42px;
  }
}
@media only screen and (max-device-width: 320px) {
  .tab_total ul li .li_left h4 {
    font-size: 28px !important;
  }
  .loan_reckon .loan_main .total_left .total_font {
    padding-left: 10px;
  }
  .package_pop ul li .pop_main {
    width: 93%;
    height: 0.93333333rem;
    line-height: 0.93333333rem;
    margin: 0 auto;
    font-family: "微软雅黑";
    color: #666666;
  }
  [data-dpr="1"] .package_pop ul li .pop_main {
    font-size: 14px;
  }
  [data-dpr="2"] .package_pop ul li .pop_main {
    font-size: 28px;
  }
  [data-dpr="3"] .package_pop ul li .pop_main {
    font-size: 42px;
  }
  .list .list_main .list_detail {
    float: left;
    width: 54%;
    margin-left: 4%;
    margin-top: 0.34666667rem;
  }
  .tab_total {
    width: 90%;
    background-color: #fff;
    border-radius: 0.26666667rem;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -45%;
    margin-top: -5.38666667rem;
    z-index: 92;
  }
}
