/*base*/
.w1000{width:1000px;margin:0 auto;}

/*index start*/
.header-bar{background-color:#f7f7f7;}
.header-bar-inner{height:31px;line-height:31px;}
.header-bar-inner a,span{font-size:12px;font-family:"宋体";color:#666666;}
.header-bar-inner .left{font-size:0;}
.header-bar-inner .left .star{display:inline-block;width:15px;height:14px;background:url('../images/star_03.png') no-repeat left top;vertical-align: middle;padding-right:4px;}
.header-bar-inner .left a{display:inline-block;vertical-align: middle;}
.header-bar-inner .right{font-size:0;}

/*header-logo*/
.header-logo{background-color:#1d7ad9;}
.header-logo-inner .logo{padding:13px 39px;}
.header-logo-inner .search-shop{padding-top:23px;}
.header-logo-inner .search{font-size:0;height: 100%;margin-right:;}
.header-logo-inner .search .search-txt{width:360px;height:36px;vertical-align: middle;border:0;text-indent: 2em;} 
.header-logo-inner  .serach-btn{font-size:14px;height:36px;line-height:36px;font-family: "微软雅黑";color:#ffffff;padding:0px 19px;background-color: #ff8c00;vertical-align: middle;display: inline-block;}

/*shop-car*/
.header-logo-inner .shop-car{font-size:0;}
.header-logo-inner .shop-car>span{display: inline-block;height:36px;line-height: 36px;background-color: #ff8c00;vertical-align: middle;}
.header-logo-inner .shop-car .shop-car-img,.shop-car-title{display: inline-block;vertical-align: middle;color:#ffffff;}
.header-logo-inner .shop-car .shop-car-left{padding-left:10px;font-size:0;}
.header-logo-inner .shop-car .shop-car-img{width:23px;height:20px;background:url('../images/shop_car_03.png') no-repeat left top;}
.header-logo-inner .shop-car .shop-car-title{padding:0 7px;border-right:1px solid #e27a00;}
.header-logo-inner .shop-car .shop-num{width:56px;text-align: center;color:#fff;vertical-align: middle;border-left:1px solid #ff9c01;}
.arrow-down{display: inline-block;vertical-align: middle;background:url('../images/arrow-down_03.png')no-repeat left top;width:12px;height: 12px;margin-left:6px;}