/*base*/
.w1000{width:1000px;margin:0 auto;}
a{color:#666666;}
a:hover{color:red;}

.display_none{display: none;}
.display_block{display:block;}
.display_inline_block{display:inline-block;}

/*header-bar*/
.header-bar{background-color:#f7f7f7;height:31px;line-height: 31px;}
.header-bar-inner {font-size:12px;}
.header-bar-inner .left a{font-weight:bold;background:url('../images/star_03.png') no-repeat left center;padding-left:19px;}

/*header-logo*/
/*header-logo-inner*/
.header-logo{background-color:#1d7ad9;height:86px;}
/*.header-logo .logo{height:86px;}*/
.header-logo-inner .logo{padding-left:39px;padding-top:13px;}
.header-logo-inner .search{width:430px;height:36px;padding-left:185px;padding-top:22px;}
.header-logo-inner .search .search-txt{width:362px;height:36px;line-height:36px\9;text-indent: 2em;background:#fff;}
.header-logo-inner .search .serach-btn{display:block;width:68px;height:36px;color:#fff;background-color: #ff8c00;line-height: 36px;text-align: center;}
/*shop-car*/
.header-logo-inner .shop-car{width:146px;height:36px;padding-top:22px;font-size:0;margin-right:59px;}
 .shop-car span{display:inline-block;height:36px;line-height:36px;background-color:#ff8c00;}
.shop-car-img{background-color:#ff8c00;width:46px;color:#fff;font-size:14px;background:url('../images/shop_car_03.png') no-repeat 10px center;padding-left:40px;border-right:1px solid #e27a00;}
.shop-car .shop-car-num{width:37px;font-size:14px;border-left:1px solid #ff9c01;background:url('../images/arrow-down_03.png') no-repeat 33px center #ff8c00;padding-left:19px;color:#fff;}

/*header-menu*/
.header-menu{background-color: #1369c0;height:35px;}
.header-menu  .shop-class{position:relative;}
.header-menu .shop-class h3{width:190px;height:35px;line-height:35px;font-size:16px;color:#fff;font-weight: bold;text-align: center;}
.header-menu .shop-class .arrow_all_down{display: inline-block;width:13px;height:7px;overflow:hidden;background:url('../images/arrow_all_down_03.png') no-repeat left center;margin-left:11px;cursor: pointer;}
.header-menu .menu-ul li{float:left;}
.header-menu .menu-ul a{display:inline-block;width:100px;height:35px;line-height:35px;text-align:center;color:#fff;}
.header-menu .menu-ul a:hover{background-color:#4593fd;color:#fff;}
.header-menu .menu-ul a.active{background-color:#4593fd;}

/*二级菜单 4593fd*/
.shop-all-class{background-color:#4593fd;position:absolute;left:0;right:0;top:35px;}
.shop-all-class .class-item{padding:11px 10px 12px 10px;border-top:1px solid #5aa1fe;border-bottom:1px solid #3487f2;border-left:1px solid #4593fd;box-sizing: border-box;}
.shop-all-class .class-item a{color:#fff;font-size:14px;margin-left:6px;text-align: center;}
.shop-all-class .class-item a.link{display:inline-block;width:48px;height: 20px;background:url('../images/alink_03.png') no-repeat left center;text-decoration: underline;}
.shop-all-class .class-item div{height:20px;line-height:20px;}
.shop-all-class .class-item .title{background:url('../images/arrow_right_03.png') no-repeat right center;}

/*.shop-all-class .class-item current*/
.shop-all-class .class-item.current{background-color: #fff;}
.shop-all-class .class-item.current a{color:#000;}

/*shop-class-list*/
.shop-class-list{width:530px;border:1px solid #dddddd;position:absolute;left:190px;top:35px;background-color:#fff;padding:0 19px;}
.shop-class-list dl{border-bottom:1px solid #e5e5e5;padding:10px 0;}
.shop-class-list dt{font-size:12px;font-weight:bold;color:#4b88da;height:24px;line-height: 24px;}
.shop-class-list dd{font-size:12px;color:#666666;padding-left:68px;margin-top:-24px;overflow: hidden;line-height: 24px;}
.shop-class-list dd a{margin-right:13px;height:24px;}
.shop-class-list dd a:hover{color:#ff7300;}
.shop-class-list dd a.link{color:#ff7300;}
 
/*channel*/
.shop-class-list .channel{font-size:0;padding:15px 0;}
.shop-class-list .channel a{display: inline-block;height:26px;line-height: 26px;padding:0 14px 0 8px;background-color:#2785e6;font-size:12px;color:#fff;margin-right: 10px;}

.shop-class-list .channel a span{display: inline-block;width:5px;height:8px;background:url('../images/channel_arrow.png') no-repeat left center;margin-left:7px ;}

/*banner-warpper*/
.banner-warpper .banner-bar{width:810px;position:relative;height:325px;float:right;overflow:hidden;}
.banner-warpper .banner-bar ul{width:810px;position:absolute;left:0px;top:0;height:325px;}
 .banner-bar ul li{width:810px;height:325px;opacity:0;position:absolute;left;O;top:0;}
.banner-warpper .img-num{position:absolute;left:50%;top:270px;margin-left:-405px;text-align: center;width:810px}
.banner-warpper .img-num a{display: inline-block;width:20px;height:5px;background-color: #fff;}
.banner-warpper .img-num a+a{margin-left:5px;}
.banner-warpper .img-num a:hover{background-color:#ff7700;}
.banner-warpper .img-num a.current{background-color:#ff7700;}

/*content*/
.content .nav {height:45px;padding:15px 0;position: relative;}
.content .nav h3{width:190px;font-size:24px;color:#000000;}
.content .nav h3 span{display:inline-block;width:44px;height:45px;background:url('../images/logo/appliance.png') no-repeat left center;vertical-align: middle;margin-right: 15px;}
.content .nav .more{font-size:12px;color:#000;margin-bottom:0;vertical-align: bottom;position:absolute;right: 20px;bottom:15px;}
.content .nav .more:hover{text-decoration: underline;}

/*floor-content*/
.floor-content{height:400px;}
.floor-content .floor-banner{width:190px;height:400px;position:relative;}
.floor-content .floor-banner ul li{position:absolute;left:0;top:0;width:190px;}

/*floor-goods*/
.floor-goods li{width:199px;height:396px;border-bottom: 3px solid #ff7201;border-right: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;float:left;}
.floor-goods li.last{width:209px;}
.floor-goods li .big-area{height:233px;border-bottom:1px solid #e5e5e5;padding-top:46px;}
.floor-goods li .big-area h3{font-size:16px;color:#000;margin-top:24px;text-align: center;}
.floor-goods li .big-area p{font-size:14px;color:#ff7300;text-align: center;margin-top:10px;}
.floor-goods li .small-area{padding-top:17px;}
.floor-goods li .small-area p{color:#000;float: left;}
.floor-goods li .small-area .small-area-img{width:100px;height: 98px;}
.floor-goods li .small-area .small-area-info{width:85px;}
.floor-goods li .small-area .title{font-size:12px;}
.floor-goods li .small-area .price{font-size:16px;}

/*footer*/
.footer{height:171px;background-color: #d4d4d4;margin-top:40px;padding-top:55px;}
.footer p {font-size:12px;color:#000; text-align: center;}
.footer .link a{font-size:12px;color:#000;}
.footer .copyright{margin-top:15px;}