<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<script type="text/javascript">
	var nickName = "111";
</script>
<div id="yxWrapper">
	<section class="lighting-wrapper">
		<img src="../images/1.html.png"/>
		<img src="../images/2.html.png"/>
	</section>
	<section class="diamond-wrapper">
	</section>
	<section class="result-info">
		<dl class="level-intr">
			<dt>恭喜您通过挑战！</dt>
			<dd>十一出游我们给你配了<br/>一辆<span class="car-name">索塔纳9</span>！</dd>
		</dl>
		<div class="car-info">
			<div>月供低至2164元起</div>
			<span>属于你的高品质生活,只想飞得更高！</span>
		</div>	
		<div class="button btn01">
			炫耀一下
		</div>
		<div class="button btn02">
			我要重玩
		</div>
		<div class="button btn03">
			十一大放价
		</div>
	</section>
	<section class="mask-layer hide">	
	</section>
	<section class="share hide">	
	</section>
</div>



<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>