<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<script>
	var carid = 117482;
</script>
<div id="yxWrapper">
	<section class="lighting-wrapper">
		<img src="../images/1.html.png"/>
		<img src="../images/2.html.png"/>
	</section>
	<section class="diamond-wrapper">
	</section>
	<section class="friends-info">
		<dl class="level-intr">
			<dd><b>XXXXXX</b>通过挑战获得<br/>十一出游<span class="car-name">索塔纳9</span>一辆</dd>
		</dl>
		<div class="car-info">
			<div>月供低至--元起</div>
			<span>属于你的高品质生活,只想飞得更高</span>
		</div>	
		<div class="button btn03">
			我也要玩
		</div>
	</section>
</div>



<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>