<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<script>
	var APIURL = "http://api.chedai.bitauto.com/";
    var xinche_m_url ="http://m.daikuan.com/";
    var turnCount = 0;
    var activityId = 11;

</script>
<div id="yxWrapper">
    <img class="share-icon" src="../images/share_icon.html.png">
	<section class="luck-draw">
		<div class="turntable" id="turntable"></div>
		<div class="pointer" id="pointer"></div>
		<div class="decorate"></div>
	</section>
	<dl class="express-news">
		<dt></dt>
		<dd class="swiper-container" id="winningExpress">
			<ul class="swiper-wrapper font-size-24">
				<li class="swiper-slide"><div>曾先生</div><div>北京</div><div>151****9284</div><div>爱物小屋券</div></li>
				<li class="swiper-slide"><div>吴先生</div><div>广州</div><div>138****3589</div><div>汽车超人券</div></li>
				<li class="swiper-slide"><div>王先生</div><div>武汉</div><div>177****5790</div><div>同程旅游券</div></li>
				<li class="swiper-slide"><div>刘先生</div><div>深圳</div><div>189****3232</div><div>吸尘器</div></li>
				<li class="swiper-slide"><div>牛先生</div><div>合肥</div><div>150****6261</div><div>芳香膏</div></li>
				<li class="swiper-slide"><div>韩先生</div><div>郑州</div><div>159****1271</div><div>车内净化膏</div></li>
				<li class="swiper-slide"><div>张先生</div><div>北京</div><div>188****1212</div><div>空气氧吧加湿器</div></li>
				<li class="swiper-slide"><div>王先生</div><div>苏州</div><div>139****8650</div><div>日本蓝牙耳机</div></li>
				<li class="swiper-slide"><div>李先生</div><div>成都</div><div>131****2179</div><div>车载支架</div></li>
				<li class="swiper-slide"><div>陈先生</div><div>杭州</div><div>150****1283</div><div>SEIWA车载充电器</div></li>
				<li class="swiper-slide"><div>胡先生</div><div>上海</div><div>189****0967</div><div>SEIWA挂式杂物筒</div></li>
				<li class="swiper-slide"><div>于先生</div><div>深圳</div><div>138****9778</div><div>爱物小屋券</div></li>
                <li class="swiper-slide"><div>刘先生</div><div>重庆</div><div>150****0866</div><div>汽车超人券</div></li>
                <li class="swiper-slide"><div>魏先生</div><div>沈阳</div><div>151****0634</div><div>同程旅游券</div></li>
                <li class="swiper-slide"><div>马先生</div><div>西安</div><div>177****2560</div><div>吸尘器</div></li>
                <li class="swiper-slide"><div>任先生</div><div>贵阳</div><div>135****5696</div><div>芳香膏</div></li>
                <li class="swiper-slide"><div>尚先生</div><div>济南</div><div>150****2735</div><div>车内净化膏</div></li>
                <li class="swiper-slide"><div>王先生</div><div>北京</div><div>139****2836</div><div>空气氧吧加湿器</div></li>
                <li class="swiper-slide"><div>高女士</div><div>青海</div><div>186****5567</div><div>日本蓝牙耳机</div></li>
			</ul>
		</dd>
	</dl>
    <section class="logo-list">
        <div class="swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide"><img src="../images/logo_jingdong.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_baidu.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tengxun.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_yiche.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tongcheng.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiangbain.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_qichecr.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_aiche.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiaogou.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_jingdong.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_baidu.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tengxun.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_yiche.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tongcheng.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiangbain.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_qichecr.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_aiche.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiaogou.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_jingdong.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_baidu.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tengxun.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_yiche.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tongcheng.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiangbain.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_qichecr.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_aiche.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiaogou.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_jingdong.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_baidu.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tengxun.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_yiche.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_tongcheng.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiangbain.html.jpg"></li>
                <li class="swiper-slide"><img src="../images/logo_qichecr.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_aiche.html.png"></li>
                <li class="swiper-slide"><img src="../images/logo_xiaogou.html.jpg"></li>
            </ul>
        </div>
    </section>
	<section class="orther-info"><div><img src="../images/orther.html.png"/></div></section>
	<a href="#" class="ad01"><img src="../images/guwenrukou.html.jpg"></a>

	<!-- 导航选车部分 -->
	<section class="second-block margin-top-20 bg-color-ffffff padding-top-30">
        <div class="second-block-line-1-size padding-left-30 padding-right-30">
            <a href="http://sq.m.daikuan.com/secretary/index?Source=689" class="second-block-line-1-block width-percent-33 float-left">
                <div class="height-percent-100 display-inlineblock margin-left-35">
                    <div class="relative-position-only second-block-line-1-block-icon">
                        <span class="index-icon second-block-line-1-block1-icon-img display-inlineblock display-inlineblock-algin-middle horizontal-center"></span>
                    </div>
                    <div class="relative-position-only margin-top-30 font-size-26 white-space-nowrap text-overflow-ellipsis text-align-center" style="line-height: 110%; overflow: visible;">帮您贷款</div>
                </div>
            </a>
            <a href="/home/budget?Source=690" class="second-block-line-1-block width-percent-33 height-percent-100 float-left">
                <div class="relative-position-only width-percent-100 second-block-line-1-block-icon">
                    <span class="index-icon second-block-line-1-block2-icon-img display-inlineblock display-inlineblock-algin-middle horizontal-center"></span>
                </div>
                <div class="relative-position-only width-percent-100 margin-top-30">
                    <span class="font-size-26 horizontal-center white-space-nowrap text-overflow-ellipsis" style="line-height: 110%; overflow: visible;">按预算贷车</span>
                </div>
            </a>
            <a href="http://shop.m.daikuan.com?source=691" class="third-block-line-1-block width-percent-33 height-percent-100 float-left">
                <div class="height-percent-100 display-inlineblock margin-right-35 float-right">
                    <div class="relative-position-only second-block-line-1-block-icon">
                        <span class="index-icon second-block-line-1-block3-icon-img display-inlineblock display-inlineblock-algin-middle horizontal-center"></span>
                    </div>
                    <div class="relative-position-only margin-top-30 font-size-26 white-space-nowrap text-overflow-ellipsis text-align-center" style="line-height: 110%; overflow: visible;">旗舰店直通</div>
                </div>
                <div class="clear"></div>
            </a>
            <div class="clear"></div>
        </div>
        <div id="selectCar" class="second-block-line-2 relative-position-only margin-top-30 padding-left-30 padding-right-30">
            <div class="display-as-table width-percent-100 height-percent-100">
                <div class="height-percent-100 width-percent-100 border-radius-10 bg-color-dbb76c  padding-left-30 padding-right-30 display-as-tablecell display-inlineblock-algin-middle">
                    <div class="font-size-32 font-color-ffffff float-left"><span class="display-inlineblock display-inlineblock-algin-middle font-weight-bold">新车贷款</span></div>
                    <div class="font-size-28 font-color-ffffff float-right margin-top-3"><span class="display-inlineblock display-inlineblock-algin-middle">按品牌选车</span><span class="index-icon selectCarByBrand margin-left-20"></span></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="second-block-line-3 margin-top-30 padding-left-30 padding-right-30 relative-position-only border-top">
            <div class="relative-position">
                <div class="second-block-line-3-applyNow vertical-middle border-right">
                    <div id="applyNowPepoleNum" class="font-size-24 text-overflow-ellipsis line-height-percent-100 font-color-333333"></div>
                    <div class="font-size-24 font-color-999999 margin-top-20 line-height-percent-100">正在申请</div>
                </div>
                <div class="second-block-line-3-applyHistory">
                    <div class="relative-position">
                        <div class="vertical-middle width-percent-100" style="height: 0.4rem;">
                            <div class="width-percent-100 height-percent-100 padding-left-20">
                                <div class="relative-position">
                                    <div class="font-color-999999 font-size-24 height-percent-100 absolute-position-only" style="width: 1.733333333333333rem; line-height: 0.4rem;">最近申请</div>
                                    <div class="font-color-333333 font-size-24 height-percent-100 width-percent-100" style="padding-left: 1.733333333333333rem;">
                                        <div class="relative-position">
                                            <div class="swiper-container width-percent-100 height-percent-100">
                                                <div class="swiper-wrapper swiper-no-swiping" id="applyHistoryInfo"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--限时抢购-->
    <section class="five-block margin-top-20 width-percent-100 bg-color-ffffff">
        <header class="block-header common-title-size border-bottom width-percent-100">
            <div class="header-title">
                <span class="index-icon five-block-title-icon header-title-text header-title-icon"></span>
                <span class="font-size-30 font-weight-bold font-color-000000 margin-left-10 header-title-text">限时抢购</span>
            </div>
        </header>
        <div class="five-block-timeLimit-ul padding-left-30 padding-top-20 padding-bottom-20">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <a href="http://m.daikuan.com/beijing/m113041/p77302?source=695" class="five-block-timeLimit-ul-li height-percent-100 margin-right-20 swiper-slide border-bottom border-top border-right border-left">
                        <div class="font-size-26 font-color-ffffff five-block-timeLimit-ul-li-time bg-color-dbb76c">
                            2天0时41分
                        </div>
                        <div class="margin-top-10">
                            <img src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img1.bitautoimg.com/autoalbum/files/20141016/755/0945107556_8.jpg' alt="本田XR-V汽车贷款" style="width: 2rem; height: 1.333333333333333rem;">
                        </div>
                        <div><span class="font-size-24 line-height-percent-100 text-overflow-ellipsis">本田XR-V</span></div>
                        <div class="margin-top-10 width-percent-100 text-align-center">
                            <div class="bg-color-000000 five-block-timeLimit-ul-li-tips font-color-ffffff font-size-22 text-overflow-ellipsis" style="margin: 0 auto">超低首付不超5万</div>
                        </div>
                        <div class="five-block-timeLimit-ul-li-price margin-top-10 line-height-percent-100 text-overflow-ellipsis">
                            <span class="font-color-e15436 font-size-26">3021元</span>
                            <span class="font-size-24">*36期</span>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m113041/p77302?source=695" class="five-block-timeLimit-ul-li height-percent-100 margin-right-20 swiper-slide border-bottom border-top border-right border-left">
                        <div class="font-size-26 font-color-ffffff five-block-timeLimit-ul-li-time bg-color-dbb76c">
                            2天0时41分
                        </div>
                        <div class="margin-top-10">
                            <img src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img1.bitautoimg.com/autoalbum/files/20141016/755/0945107556_8.jpg' alt="本田XR-V汽车贷款" style="width: 2rem; height: 1.333333333333333rem;">
                        </div>
                        <div><span class="font-size-24 line-height-percent-100 text-overflow-ellipsis">本田XR-V</span></div>
                        <div class="margin-top-10 width-percent-100 text-align-center">
                            <div class="bg-color-000000 five-block-timeLimit-ul-li-tips font-color-ffffff font-size-22 text-overflow-ellipsis" style="margin: 0 auto">超低首付不超5万</div>
                        </div>
                        <div class="five-block-timeLimit-ul-li-price margin-top-10 line-height-percent-100 text-overflow-ellipsis">
                            <span class="font-color-e15436 font-size-26">3021元</span>
                            <span class="font-size-24">*36期</span>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m113041/p77302?source=695" class="five-block-timeLimit-ul-li height-percent-100 margin-right-20 swiper-slide border-bottom border-top border-right border-left">
                        <div class="font-size-26 font-color-ffffff five-block-timeLimit-ul-li-time bg-color-dbb76c">
                            2天0时41分
                        </div>
                        <div class="margin-top-10">
                            <img src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img1.bitautoimg.com/autoalbum/files/20141016/755/0945107556_8.jpg' alt="本田XR-V汽车贷款" style="width: 2rem; height: 1.333333333333333rem;">
                        </div>
                        <div><span class="font-size-24 line-height-percent-100 text-overflow-ellipsis">本田XR-V</span></div>
                        <div class="margin-top-10 width-percent-100 text-align-center">
                            <div class="bg-color-000000 five-block-timeLimit-ul-li-tips font-color-ffffff font-size-22 text-overflow-ellipsis" style="margin: 0 auto">超低首付不超5万</div>
                        </div>
                        <div class="five-block-timeLimit-ul-li-price margin-top-10 line-height-percent-100 text-overflow-ellipsis">
                            <span class="font-color-e15436 font-size-26">3021元</span>
                            <span class="font-size-24">*36期</span>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m113041/p77302?source=695" class="five-block-timeLimit-ul-li height-percent-100 margin-right-20 swiper-slide border-bottom border-top border-right border-left">
                        <div class="font-size-26 font-color-ffffff five-block-timeLimit-ul-li-time bg-color-dbb76c">
                            2天0时41分
                        </div>
                        <div class="margin-top-10">
                            <img src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img1.bitautoimg.com/autoalbum/files/20141016/755/0945107556_8.jpg' alt="本田XR-V汽车贷款" style="width: 2rem; height: 1.333333333333333rem;">
                        </div>
                        <div><span class="font-size-24 line-height-percent-100 text-overflow-ellipsis">本田XR-V</span></div>
                        <div class="margin-top-10 width-percent-100 text-align-center">
                            <div class="bg-color-000000 five-block-timeLimit-ul-li-tips font-color-ffffff font-size-22 text-overflow-ellipsis" style="margin: 0 auto">超低首付不超5万</div>
                        </div>
                        <div class="five-block-timeLimit-ul-li-price margin-top-10 line-height-percent-100 text-overflow-ellipsis">
                            <span class="font-color-e15436 font-size-26">3021元</span>
                            <span class="font-size-24">*36期</span>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m113041/p77302?source=695" class="five-block-timeLimit-ul-li height-percent-100 margin-right-20 swiper-slide border-bottom border-top border-right border-left">
                        <div class="font-size-26 font-color-ffffff five-block-timeLimit-ul-li-time bg-color-dbb76c">
                            2天0时41分
                        </div>
                        <div class="margin-top-10">
                            <img src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img1.bitautoimg.com/autoalbum/files/20141016/755/0945107556_8.jpg' alt="本田XR-V汽车贷款" style="width: 2rem; height: 1.333333333333333rem;">
                        </div>
                        <div><span class="font-size-24 line-height-percent-100 text-overflow-ellipsis">本田XR-V</span></div>
                        <div class="margin-top-10 width-percent-100 text-align-center">
                            <div class="bg-color-000000 five-block-timeLimit-ul-li-tips font-color-ffffff font-size-22 text-overflow-ellipsis" style="margin: 0 auto">超低首付不超5万</div>
                        </div>
                        <div class="five-block-timeLimit-ul-li-price margin-top-10 line-height-percent-100 text-overflow-ellipsis">
                            <span class="font-color-e15436 font-size-26">3021元</span>
                            <span class="font-size-24">*36期</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

	<!--本周特惠/推荐金融-->
    <section class="six-block margin-top-20 width-percent-100 bg-color-ffffff">
        <header class="block-header common-title-size border-bottom width-percent-100">
            <div class="header-title">
                <span class="index-icon six-block-title-icon header-title-text header-title-icon"></span>
                <span class="font-size-30 font-weight-bold font-color-000000 margin-left-10 header-title-text">本周特惠</span>
            </div>
        </header>
        <div class="width-percent-100 relative-position" style="height: 5.333333333333333rem;">
   			<a href="http://m.daikuan.com/beijing/m118206/p77302?source=696" class="six-block-left height-percent-100 padding-top-24 padding-bottom-30 padding-left-30 border-right">
		        <div class="width-percent-100 six-block-left-top">
	                <div class="six-block-left-title">
	                    <span class="index-icon six-block-left-title-icon header-title-icon display-inlineblock display-inline block-algin-middle"></span>
	                    <span class="font-size-30 font-color-000000 font-weight-bold margin-left-10 display-inlineblock display-inlineblock-algin-middle text-overflow-ellipsis">仅身份证</span>
	                </div>
	                <div class="margin-top-20">
	                    <span class="hollow-block-tips font-color-e0a834 font-size-24 text-overflow-ellipsis">月费率低至0.63%</span>
	                </div>
		            <div class="font-color-666666 font-size-26 margin-top-20">
		                月供3009元
		            </div>
		        </div>
		        <div class="width-percent-100 six-block-left-bottom">
		            <div class="relative-position width-percent-100 height-percent-100">
		                <img src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img3.bitautoimg.com/autoalbum/files/20160721/474/1126154745_8.jpg' alt="MISTRA名图汽车贷款" class="vertical-bottom height-percent-100" style="width: 2.8rem;">
		            </div>
		        </div>
    		</a>
            <div class="six-block-right width-percent-100 height-percent-100">
                <div class="relative-position">
                    <a href="http://m.daikuan.com/beijing/m112062/p115705?source=696" class="width-percent-50 height-percent-50 padding-left-30 padding-right-30 border-bottom border-right relative-position float-left over-flow-hide">
                        <div class="six-block-right-top absolute-position-only">
                            <div class="font-size-26 margin-top-10">雪铁龙C3-XR</div>
                            <div class="margin-top-10">
                                <span class="hollow-block-tips font-color-e0a834 font-size-24">日供49元起</span>
                            </div>
                        </div>
                        <div class="six-block-right-bottom padding-bottom-10 width-percent-100 height-percent-100">
                            <div class="width-percent-100 height-percent-100 relative-position">
                                <img class="vertical-middle horizontal-right" alt="雪铁龙C3-XR汽车贷款"
                                     src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img3.bitautoimg.com/autoalbum/files/20140919/795/0331227955_8.jpg' style="width: 2rem; height: 1.333333333333333rem;">
                            </div>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m118397/p120842?source=696" class="width-percent-50 height-percent-50 padding-left-30 padding-right-30 border-bottom border-right relative-position float-left over-flow-hide">
                        <div class="six-block-right-top absolute-position-only">
                            <div class="font-size-26 margin-top-10">宝马7系(进口)</div>
                            <div class="margin-top-10">
                                <span class="hollow-block-tips font-color-e0a834 font-size-24">日供299元起</span>
                            </div>
                        </div>
                        <div class="six-block-right-bottom padding-bottom-10 width-percent-100 height-percent-100">
                            <div class="width-percent-100 height-percent-100 relative-position">
                                <img class="vertical-middle horizontal-right" alt="宝马7系(进口)汽车贷款"
                                     src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img4.bitautoimg.com/autoalbum/files/20160721/116/0436041167_8.jpg' style="width: 2rem; height: 1.333333333333333rem;">
                            </div>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m116785/p127655?source=696" class="width-percent-50 height-percent-50 padding-left-30 padding-right-30 border-bottom border-right relative-position float-left over-flow-hide">
                        <div class="six-block-right-top absolute-position-only">
                            <div class="font-size-26 margin-top-10">奔腾B30</div>
                            <div class="margin-top-10">
                                <span class="hollow-block-tips font-color-e0a834 font-size-24">利息直降1900</span>
                            </div>
                        </div>
                        <div class="six-block-right-bottom padding-bottom-10 width-percent-100 height-percent-100">
                            <div class="width-percent-100 height-percent-100 relative-position">
                                <img class="vertical-middle horizontal-right" alt="奔腾B30汽车贷款"
                                     src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img2.bitautoimg.com/autoalbum/files/20160721/364/0438533644_8.jpg' style="width: 2rem; height: 1.333333333333333rem;">
                            </div>
                        </div>
                    </a>
                    <a href="http://m.daikuan.com/beijing/m119240/p131784?source=696" class="width-percent-50 height-percent-50 padding-left-30 padding-right-30 border-bottom border-right relative-position float-left over-flow-hide">
                        <div class="six-block-right-top absolute-position-only">
                            <div class="font-size-26 margin-top-10">宝沃BX7</div>
                            <div class="margin-top-10">
                                <span class="hollow-block-tips font-color-e0a834 font-size-24">限时0利息</span>
                            </div>
                        </div>
                        <div class="six-block-right-bottom padding-bottom-10 width-percent-100 height-percent-100">
                            <div class="width-percent-100 height-percent-100 relative-position">
                                <img class="vertical-middle horizontal-right" alt="宝沃BX7汽车贷款"
                                     src='data:image/gif;base64,R0lGODlhgAKCAIAAAP///wAAACH5BAEHAAEALAAAAACAAoIAAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aNkxw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzbAKAAA7' data-echo='http://img3.bitautoimg.com/autoalbum/files/20160902/583/0450495832_8.jpg' style="width: 2rem; height: 1.333333333333333rem;">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

	<!--车贷流程-->
    <section class="thirteen-block margin-top-20 width-percent-100 bg-color-ffffff">
        <header class="block-header common-title-size border-bottom width-percent-100">
            <div class="header-title">
                <span class="index-icon thirteen-block-title-icon header-title-text header-title-icon"></span>
                <span class="font-size-30 font-weight-bold font-color-000000 margin-left-10 header-title-text">车贷流程</span>
            </div>
        </header>
        <div class="thirteen-block-process padding-left-80 padding-right-80 padding-top-30 padding-bottom-30 white-space-nowrap">
            <div class="width-percent-14-28 height-percent-100 float-left relative-position-only">
                <div class="relative-position-center">
                    <div class="width-percent-100 display-as-table">
                        <span class="thirteen-block-process-apply-online display-as-tablecell display-inlineblock-algin-middle"></span>
                    </div>
                    <div class="width-percent-100 margin-top-30">
                        <span class="font-color-666666 font-size-24 margin-top-30">线上申请</span>
                    </div>
                </div>
            </div>
            <div class="float-left width-percent-14-28 height-percent-100 relative-position-only">
                <div class="relative-position-center">
                    <span class="thirteen-block-process-arrow display-inlineblock"></span>
                </div>
            </div>
            <div class="width-percent-14-28 height-percent-100 float-left relative-position-only">
                <div class="relative-position-center">
                    <div class="width-percent-100 display-as-table">
                        <span class="thirteen-block-process-phone-callback display-as-tablecell display-inlineblock-algin-middle"></span>
                    </div>
                    <div class="width-percent-100 margin-top-30">
                        <span class="font-color-666666 font-size-24 margin-top-30">电话回访</span>
                    </div>
                </div>
            </div>
            <div class="float-left width-percent-14-28 height-percent-100 relative-position-only">
                <div class="relative-position-center">
                    <span class="thirteen-block-process-arrow display-inlineblock"></span>
                </div>
            </div>
            <div class="width-percent-14-28 height-percent-100 float-left relative-position-only">
                <div class="relative-position-center">
                    <div class="width-percent-100 display-as-table">
                        <span class="thirteen-block-process-service-home display-as-tablecell display-inlineblock-algin-middle"></span>
                    </div>
                    <div class="width-percent-100 margin-top-30">
                        <span class="font-color-666666 font-size-24 margin-top-30">上门服务</span>
                    </div>
                </div>
            </div>
            <div class="float-left width-percent-14-28 height-percent-100 relative-position-only">
                <div class="relative-position-center">
                    <span class="thirteen-block-process-arrow display-inlineblock"></span>
                </div>
            </div>
            <div class="width-percent-14-28 height-percent-100 float-left relative-position-only">
                <div class="relative-position-center">
                    <div class="width-percent-100 display-as-table">
                        <span class="thirteen-block-process-pick-offline display-as-tablecell display-inlineblock-algin-middle"></span>
                    </div>
                    <div class="width-percent-100 margin-top-30">
                        <span class="font-color-666666 font-size-24 margin-top-30">线下提车</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!--底通-->
    <section class="escdk13">
        <div class="escdk131 font-ctn">易车、腾讯、京东、百度旗下的中国领先互联网汽车金融平台</div>
            <div class="escdk132">
                <div><span>触屏版</span></div>
                <div>
                    <a href="http://www.daikuan.com/?from=newmweb">电脑版</a>
                </div>

                <div>
                    <a href='http://m.daikuan.com/home/about#!/'>关于我们</a>
                </div>
                <div>
                    <a href='http://m.daikuan.com/Feedback/'>意见反馈</a>
                </div>
            </div>
        <div class="escdk133">服务电话：4000-169-169 (9:00-21:00)</div>
    </section>

    <section id="elasticLayer">
        <div class="elastic-layer">
            <dl>
                <dt class="font-size-32">恭喜您获得<div class="prize-name font-size-24">----</div></dt>
                <dd class="font-size-22"><div class="prize-img"></div>奖品介绍：<span class="prize-intro">----</span></dd>
            </dl>
            <div class="layer-bottom">
                <div class="layer-bottom01">
                  <div class="ver-code-wrapper">
                    <div class="ver-code">
                        <input placeholder="请输入验证码" size="6" maxlength="6" type="tel"/>
                    </div>
                    <div class="ver-code-btn font-size-24 font-color-ffffff">获取验证码</div>
                  </div>
                  <div class="send-msg-btn font-size-30 font-color-ffffff">发送兑换短信</div>
                  <div class="close-btn"></div>
                </div>
                <div class="layer-bottom02">
                  <div class="send-btn font-size-30 font-color-ffffff">重新发送</div>
                  <div class="completed-btn font-size-30 font-color-ffffff">发送完成</div>
                  <div class="close-btn"></div>
                </div>
                <div class="tel-box">
                  <input type="tel" size="11" maxlength="11" placeholder="请输入手机号" />
                </div>
            </div>
        </div>

    </section>
</div>



<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>
