/*选车工具*/

/*淘车网补丁*/
.leftPopup li.current a { color: #FF9934; }
.leftPopup li.sub em { color: #FF9934; }
.leftPopup li.pulist_tit { padding: 0; }
.leftPopup li.pulist_tit a { color: #000000; padding: 0 20px; }
.first-list a i { color: #FF9934; }
.leftPopup li  a strong.rigq{width:68px;text-align:right;display:block;}
.leftPopup li  a strong.ritshj{width:90px;text-align:right;display:block;position:absolute;right:22px;top:0;font-size:1.4rem;}


/*黑色蒙版*/
.leftmask{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.3);z-index:99;top:0;left:0;}
/*.leftmask:before,.leftmask:after{content:'';position:absolute;width:8px;height:8px;top:50%;margin-top:-4px;border-right:4px solid #fff;border-bottom:4px solid #fff;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}*/
.leftmask:before{right:275px;}
.leftmask:after{right:285px;}

/*弹出层*/
.leftPopup{width:270px;height:100%;position:fixed;top:0;right:0;z-index:100;overflow:hidden;font-size:1.8rem;color:#333;}
.leftPopup .first-list.absolute,.leftPopup .tt-list.absolute{position:absolute;width:100%;}
.leftPopup a{color:#333;}
.leftPopup .swipeLeft{min-height:100%;overflow:hidden;width:250px;background:#fff;-webkit-transform:translate(250px,0);transform:translate(250px,0); /*-webkit-transform:translate(0, 0); 
            transform:translate(0, 0);*/-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px 0px;}
.leftPopup .swipeLeft-block{-webkit-transform:translate(20px,0px);transform:translate(20px,0px);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px 0px;}
.leftPopup .swipeLeft-sub{background:#fff;box-shadow: 0 0 20px  rgba(51,51,51,0.2);}
.leftPopup .swipe-h{height:100%;overflow-x:hidden;overflow-y:scroll;position:relative;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;}
.leftPopup .swipe-h::-webkit-scrollbar{height:0px;}

/*列表*/
.leftPopup li{height:50px;line-height:50px;padding:0 20px;}
.leftPopup li a{display:block;border-bottom:1px solid #E9E9E9;}
.leftPopup li a.star{background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/right-star-hui.png);background-repeat:no-repeat;background-position:right center;background-size:7px 12px;}
.leftPopup li.current a{color:#f6d02;}

/*价格筛选*/
.leftPopup li.filter{height:90px;line-height:16px;}
.leftPopup li.filter div{border-bottom:1px solid #E9E9E9;padding:10px 0;}
.leftPopup li.filter input[type="number"]{width:50px;height:33px;line-height:35px;background:#fff;border:none;text-align:center;color:#333;font-size:1.6rem;vertical-align:middle;padding:0;border:1px solid #D9D9D9;}
.leftPopup li.filter .btn-go{width:53px;height:31px;background:#F8F8F8;padding:0;color:#333;font-size:1.6rem;vertical-align:middle;cursor:pointer;border:1px solid #D2D2D2;}
.leftPopup li.filter b{font-weight:normal;padding:0 6px;}
.leftPopup li.filter em.alert{color:#c00;font-size:1.2rem;padding:10px 0 0;display:block;}

/*下箭头*/
.leftPopup li.sub a{position:relative;}
.leftPopup li.sub a:after { display: block; position: absolute; top: 21px; right: 0; width: 14px; height: 8px; background: url(http://image.bitautoimg.com/uimg/mbt2014/images/m_popup_arrow_img_gray.png) no-repeat 0 0; background-size: 14px auto; content: ''; font-size: 0; line-height: 0; color: transparent; }
.leftPopup li.sub em{color:#1663A6;font-size:1.4rem;position:absolute;right:25px;top:16px;line-height:16px;}

/*上箭头*/
.leftPopup li.root,.leftPopup dt.root{background:#F0F0F0;height:50px;line-height:50px;padding:0 20px;box-sizing:border-box;}
.leftPopup li.root a,.leftPopup dt.root a{border-bottom-color:#F0F0F0;padding:0 20px;position:relative;border-bottom:none;}
.leftPopup li.root a:after { display: block; position: absolute; top: 21px; right: 20px; width: 14px; height: 8px; background: url(http://image.bitautoimg.com/uimg/mbt2014/images/m_popup_arrow_img_gray.png) no-repeat 0 -42px; background-size: 14px auto; content: ''; font-size: 0; line-height: 0; color: transparent; }

/*向左箭头*/
.leftPopup li.root a:before,.leftPopup dt.root a:before{background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/left-star-hui.png);background-size:12px 21px;width:12px;height:21px;background-repeat:no-repeat;content:'';display:inline-block;position:absolute;left:0px;top:50%;margin-top:-12px;}
.leftPopup dt.root a,.leftPopup li.root a p,.leftPopup dt.root a p{font-size:1.6rem;color:#333;}

/*checkbox label*/
.leftPopup li label{border-bottom:1px solid #E9E9E9;}

/*年月层*/
.leftPopup li.tt-small{height:33px;line-height:33px;padding:0;}

/*二级列表*/
.leftPopup .second-list{font-size:1.4rem;}
.leftPopup .second-list li{padding-left:40px;}

/*完成&清除*/
.leftPopup .btn-bottom{width:230px;height:64px;line-height:64px;background:#F0F0F0;font-size:1.6rem;padding:0 10px 0 10px;}
.leftPopup .btn-bottom .btn-clear{display:block;width:74px;height:39px;line-height:39px;float:left;color:#C3C3C3;border:1px solid #D4D4D4;background:#F0F0F0;cursor:default;text-align:center;margin-top:12px;}
.leftPopup .btn-bottom .btn-clear-selected{color:#333;cursor:pointer;}
.leftPopup .btn-bottom .btn-complete{display:block;width:144px;height:39px;line-height:39px;float:right;margin-top:12px;color:#fff;}

/*车款列表*/
.leftPopup .tt-list{width:100%;}
.leftPopup dt{width:100%;height:26px;line-height:26px;background:#F3F3F3;color:#999;font-size:1.2rem;margin-top:-1px;}
.leftPopup dt span{padding:0 20px;}
.leftPopup dd{padding:0 20px;}
.leftPopup dd.current p{color:#297DCC;}
.leftPopup dd.top-item a{border:none;padding:15px 0;}
.leftPopup dd.top-item p{margin:0;}
.leftPopup dd a{display:block;border-bottom:1px solid #E9E9E9;padding:10px 0 8px;position:relative;}
.leftPopup dd p{color:#333;font-size:1.6rem;line-height:20px;margin:0 0 2px;}
.leftPopup dd strong{color:#999;font-size:1.2rem;}
.leftPopup dd em{color:#999;font-size:1.2rem;position:absolute;bottom:8px;right:0;}
.leftPopup dd span.re{font-size:1.2rem;background:#EC4131;color:#fff;padding:0 1px;}
.leftPopup dd.none p,.leftPopup dd.none strong{color:#bbb;}
.leftPopup dd.none span.re{background:#bbb;}
.leftPopup .popup-tips{font-size:1.2rem;line-height:20px;padding:0 20px;color:#666;margin:15px 0 0;}

/*对比弹出层(带下按钮)*/

/*按钮层*/
.swipeLeft-header{width:100%;height:50px;box-sizing:border-box;padding:7px 10px;display:none;background-color:#f7f7f7;position:absolute;bottom:0;}
.swipeLeft-header .btn-comparison{width:127px;height:35px;font-size:1.4rem;color:#fff;text-align:center;line-height:35px;float:right;border-radius:5px;}
.swipeLeft-header .btn-comparison.disable{background-color:#ccc;color:#999;}
.swipeLeft-header a.btn-clear{float:left;line-height:14px;font-size:1.4rem;margin-top:10px;color:#333;}
.swipeLeft-header a.btn-clear.disable{color:#b7b7b7;}
.swipeLeft-header a.btn-clear::before{content:'';background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/duibi-public.png);background-size:250px auto;background-repeat:no-repeat;background-position:-46px -14px;width:13px;height:17px;display:inline-block;vertical-align:-3px;margin-right:2px;}
.swipeLeft-header a.btn-clear.disable::before{background-position:-32px -14px;}

/*内容层*/
.y2015-car-01{position:relative;}
.y2015-car-01 .first-list li{border-bottom:1px solid #E9E9E9;margin:0 10px;height:auto;line-height:normal;padding:0;}
.y2015-car-01 .first-list li .line-box{padding:10px 0px 10px 0;display:table;width:100%;box-sizing:border-box;}
.y2015-car-01 .first-list li.add .line-box a{width:100%;color:#333;display:block;}

/*.y2015-car-01 .first-list li.add .line-box a:before { content: ''; background-image: url(http://image.bitautoimg.com/uimg/mbt2015/images/duibi-public.png); background-repeat: no-repeat; background-size: 250px auto; background-position: -108px -1px; width: 12px; height: 12px; display: inline-block; margin-right: 7px; }*/
.y2015-car-01 .first-list li a{position:relative;line-height:25px;border:none;display:table-cell;}
.y2015-car-01 .first-list li a:last-child{width:40px;position:relative;}
.y2015-car-01 .first-list li a::after{background:none!important;}
.y2015-car-01 .first-list li .btn-close i{position:absolute;background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/duibi-public.png);background-repeat:no-repeat;background-size:250px auto;background-position:-96px -1px;width:10px;height:10px;left:50%;top:50%;margin-left:-5px;margin-top:-5px;}
.y2015-car-01 .first-list li.alert{font-size:1.4rem;color:#8c8c8c;line-height:20px;border-bottom:none;padding:5px 0;}

/*选车控件loading*/
.leftPopup .swipeLeft{position:relative;}
.loading{width:250px;height:80px;position:absolute;top:50%;left:50%;margin-left:-125px;margin-top:-40px;}
.loading img{width:31px;height:31px;display:block;margin:0 auto;}
.loading p{color:#999;text-align:center;font-size:1.4rem;margin-top:5px;}
/* 品牌 loading */
.cont-loading{position:relative;min-height:400px;background:#fff;width:100%;}
.cont-loading .loading{top:30%;margin-top:0;}

/*颜色*/
.color-list em{width:18px;height:18px;display:inline-block;vertical-align:middle;margin-right:10px;border:1px solid #ECECEC;}
.color-list li a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*车型层*/
.leftPopup.car-model .pic-txt-9060 .imgbox-2{display:table;padding:15px 0 9px;width:100%;box-sizing:border-box;}
.leftPopup.car-model .pic-txt-9060 .imgbox-2 .img-box{display:table-cell;vertical-align:middle;width:90px;}
.leftPopup.car-model .pic-txt-9060 .imgbox-2 .img-box img{float:none;}
.leftPopup.car-model .pic-txt-9060 .c-box{display:table-cell;vertical-align:middle;padding-left:8px;}
.leftPopup.car-model .pic-txt-9060 li{height:auto;line-height:normal;box-sizing:border-box;border:none;border-bottom:1px solid #ececec;padding:0 10px;margin:0;padding:0;}
.leftPopup.car-model .pic-txt-9060 li:last-child{border-bottom:none;}
.leftPopup.car-model .pic-txt-9060 li a{border-bottom:none;}
.leftPopup.car-model .pic-txt-9060 .c-box h4{padding:0;line-height:20px;font-size:1.6rem;}
.leftPopup.car-model .pic-txt-9060 .c-box p{display:inline-block;font-size:1.2rem;line-height:18px;color:#b2b2c7;}
.leftPopup.car-model .pic-txt-9060 .c-box .ico-down{font-size:1.2rem;color:#009900;margin-left:5px;background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_ico_downprice.gif) no-repeat left center;background-size:10px 10px;padding-left:12px;}

/*品牌浮动头*/
.flex-header{position:fixed;width:100%;height:33px;line-height:33px;background:#F5F5F5;color:#828282;font-size:1.4rem;overflow:hidden;top:0;left:0;z-index:100;display:none;opacity:0.8;}

/*车款层*/
.leftPopup.models .header,.leftPopup.firstmodels .header{height:70px;width:100%;box-sizing:border-box;background-color:#fff;}
.leftPopup.models dt,.leftPopup.firstmodels dt{height:34px;line-height:34px;}
.leftPopup.models .current p,.leftPopup.firstmodels .current p{color:#3469b1;}
.leftPopup.models dd a,.leftPopup.firstmodels dd a{padding:13px 0;}
.leftPopup.models dd strong,.leftPopup.firstmodels dd strong{color:#b7b7b7;}
.leftPopup.models .return,.leftPopup.firstmodels .return{font-size:1.8rem;color:#333;line-height:20px;padding:26px 0px;display:block;}
.leftPopup.models .return:before,.leftPopup.firstmodels .return:before{content:'';background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/left-star.png);background-repeat:no-repeat;background-size:12px 21px;width:12px;height:21px;display:inline-block;vertical-align:-4px;margin-right:10px;}
.leftPopup.models .swipeLeft-block,.leftPopup.firstmodels .swipeLeft-block{-webkit-transform:translate(10px,0px);transform:translate(10px,0px);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px 0px;}
.leftPopup.models .swipeLeft,.leftPopup.firstmodels .swipeLeft{box-shadow:rgba(0,0,0,0.2) 0 0 10px;}

/*带折叠菜单功能*/
.leftPopup.models .header,.leftPopup.firstmodels .header{height:70px;width:100%;box-sizing:border-box;background-color:#fff;}
.leftPopup.models .return,.leftPopup.firstmodels .return{font-size:1.8rem;color:#333;line-height:20px;padding:26px 15px;display:block;}
.leftPopup.models .return:before,.leftPopup.firstmodels .return:before{content:'';background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/left-star.png);background-repeat:no-repeat;background-size:12px 21px;width:12px;height:21px;display:inline-block;vertical-align:-4px;margin-right:10px;}
.leftPopup.models .pic-txt-h,.leftPopup.firstmodels .pic-txt-h{overflow:hidden;box-sizing:border-box;}
.leftPopup.models .pic-txt-h li,.leftPopup.firstmodels .pic-txt-h li{width:100%;border-bottom:1px solid #ececec;overflow:hidden;}
.leftPopup.models .pic-txt-h li.current h4,.leftPopup.firstmodels .pic-txt-h li.current h4{color:#3269b4;}
.leftPopup.models .pic-txt-h a,.leftPopup.firstmodels .pic-txt-h a{display:block;overflow:hidden;}
.leftPopup.models .pic-txt-h strong,.leftPopup.firstmodels .pic-txt-h strong{color:#b7b7b7;}
.leftPopup.models .pic-txt-h p em,.leftPopup.firstmodels .pic-txt-h p em{font-size:1.2rem;background:#EC4131;color:#fff;padding:0 1px;}
.leftPopup.models .pic-txt-h li.none h4,.leftPopup.firstmodels .pic-txt-h li.none h4,.pic-txt-h li.none p,.pic-txt-h li.none strong{color:#bbb;}
.leftPopup.models .pic-txt-h li.none em,.leftPopup.firstmodels .pic-txt-h li.none em{color:#fff;background:#bbb;}
.leftPopup.models .pic-txt-9060 li a,.leftPopup.firstmodels .pic-txt-9060 li a{padding:14px 0;}
.leftPopup.models .pic-txt-9060 img,.leftPopup.firstmodels .pic-txt-9060 img{width:90px;height:60px;}
.leftPopup.models .pic-txt-9060 h4,.leftPopup.firstmodels .pic-txt-9060 h4{font-size:1.6rem;padding:0 0 6px;color:#333;}
.leftPopup.models .pic-txt-9060 p,.leftPopup.firstmodels .pic-txt-9060 p{color:#999;font-size:1.2rem;}

/*二级层*/
.leftPopup.model2{width:250px!important;}
.leftPopup.model2 .swipeLeft-block{-webkit-transform:translate(10px,0px);transform:translate(10px,0px);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px 0px;}
.leftPopup.model2 .swipeLeft{box-shadow:rgba(0,0,0,0.2) 0 0 10px;}
.leftPopup.model2 li.root a:after{right:20px;}
.leftPopup.model2 .swipeLeft{width:240px;}
.leftPopup.model2.original .first-list.absolute,.leftPopup.model2 .tt-list.absolute{width:240px!important;}

/*三级层*/
.leftPopup.model3{width:250px!important;}
.leftPopup.model3 .swipeLeft-block{-webkit-transform:translate(20px,0px);transform:translate(20px,0px);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px 0px;}
.leftPopup.model3 .swipeLeft{box-shadow:rgba(0,0,0,0.2) 0 0 10px;}
.leftPopup.model3 li.root a:after{right:20px;}
.leftPopup.model3 .swipeLeft{width:240px;}
.leftPopup.model3.original .first-list.absolute,.leftPopup.model3 .tt-list.absolute{width:240px!important;}

/*单级车款层*/
.leftPopup.models.original .first-list.absolute,.leftPopup.models.original .tt-list.absolute{width:250px;}
.leftPopup.models.original .swipeLeft-block{-webkit-transform:translate(0px,0px);transform:translate(0px,0px);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px 0px;}
.leftPopup.models.original .swipeLeft{box-shadow:none;}
.leftPopup .pic-txt-9060 ul{padding:0 15px;box-sizing:border-box;display:block;}

/*品牌浮层*/
.selectModels{position:absolute;top:0;left:0;z-index:999999;width:100%;display:none;background-color:#fff;}
.selectModels.swipeModels-block{display:block;}
.selectModelsUp{position:absolute;top:0;left:0;z-index:10;width:100%;-webkit-transform:translate(0,100%);transform:translate(0,100%);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:0px -100%;}
.selectModelsUp.swipeModels-block{-webkit-transform:translate(0,0);transform:translate(0,0);}
.selectModelsRight{position:absolute;top:0;left:0;z-index:10;width:100%;-webkit-transform:translate(100%,0);transform:translate(100%,0);-webkit-transition:-webkit-transform 0.4s;transition:transform 0.4s;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transform-origin:100% 0px;}
.selectModelsRight.swipeModels-block{-webkit-transform:translate(0,0);transform:translate(0,0);}
.leftPopup ul{position:relative;}

/*2015最新浮层改版*/
.leftPopup.year a{background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/right-star-hui.png);background-repeat:no-repeat;background-position:right center;background-size:7px 12px;}
.leftPopup.year a.nbg{background-image:none;}
.leftPopup.year .first-list a.current,.leftPopup.month .first-list a.current{color:#FF6D02;}
.leftPopup.year .tt-list a.current,.leftPopup.month .tt-list a.current{color:#FF6D02;}
.leftPopup.year .tt-list a.current p,.leftPopup.month .tt-list a.current p{color:#FF6D02;}

/*返回按钮*/
.leftPopup.min .header .return{font-size:1.6rem;color:#333;border-bottom:none;}
.leftPopup.min .header .return:before{content:'';background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/left-star-hui.png);background-repeat:no-repeat;background-size:12px 21px;width:12px;height:21px;display:inline-block;position:relative;top:4px;left:-5px;margin-right:5px;}

/*选择城市*/
.choice_city{width:100%;}
.choice_city dt{width:100%;height:33px;line-height:33px;background:#f5f5f5;color:#666;font-size:1.4rem;}
.choice_city dt span{padding:0 15px;}
.choice_city dd{background:#fff;display:block;}
.choice_city dd a{padding:15px 15px 15px 0;margin-left:15px;margin-right:15px;font-size:1.4rem;display:block;white-space:nowrap;border-bottom:1px solid #ececec;}
.choice_city dd a:last-child{border-bottom:none;}
.choice_city dd strong{color:#c00;font-size:1.2rem;}
.choice_city dd em{color:#999;font-size:1.2rem;position:absolute;bottom:8px;right:0;}
.choice_city dd span.re{font-size:1.2rem;background:#EC4131;color:#fff;padding:0 1px;}
.choice_city dd.none p,.choice_city dd.none strong{color:#bbb;}
.choice_city dd.none span.re{background:#bbb;}
.choice_city .popup-tips{font-size:1.2rem;line-height:20px;padding:0 20px;color:#666;margin:15px 0 0;}
.choice_city dd.title-sigle{padding:15px 0 15px 15px;}
.choice_city dd.title-sigle a{display:inline-block;padding:0;margin-left:0;border-bottom:none;}

/*选择经销商*/
.dealer dd p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:20px;}
.dealer dd strong{font-size:1.4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:18px;color:#b7b7b7;display:block;}


/* 车型层修改 2016.9.21 */
.leftPopup.car-model .pic-txt-9060 .c-box h4{line-height:22px;}
.leftPopup .pic-txt-9060 ul{padding:0 0 0 15px;}
.leftPopup.car-model .pic-txt-9060 .imgbox-2{padding:14px 0;}
.leftPopup.car-model .pic-txt-9060 .c-box{padding-left:0;}

/* 车型层新增 2016.9.21 */
.choose-car-unlimit{background:#fff;}
.choose-car-unlimit a{display:block;padding:15px 0 14px 15px;}