

/*蒙层*/
.cover-layer-box{ position: fixed;top:0;left:0; width: 100%; height: 100%; z-index: 9995}
.cover-layer{position:relative;height: 100%;padding:40px 15px; z-index: 4;overflow:hidden;}
.cover-layer h2{ font-size: 1.8rem; color: #fff; text-align: center; margin-bottom: 30px }
.icon-ground li{position:relative; float: left; width: 33%; height: 80px; text-align: center; background: url(http://image.bitautoimg.com/taoche/2016taoche_m/icon-ground.png) no-repeat; background-size:60px auto; margin: 0 0 30px 0  }
.icon-ground li a{ display: block; color: #fff;padding-top:63px;font-size:1.4rem;}
.icon-ground li.icon-1{ background-position: center -977px }
.icon-ground li.icon-2{ background-position: center -1298px}
.icon-ground li.icon-3{ background-position: center -1613px}
.icon-ground li.icon-4{ background-position: center -1088px}
.icon-ground li.icon-5{ background-position: center -1406px }
.icon-ground li.icon-6{ background-position: center -1721px}
.icon-ground li.icon-7{ background-position: center -1195px }
.icon-ground li.icon-8{ background-position: center -1514px }
.icon-ground li.icon-9{ background-position: center -1828px }

.icon-ground li.icon-10{ background-position: center 0 }
.icon-ground li.icon-11{ background-position: center -326px}
.icon-ground li.icon-12{ background-position: center -646px}
.icon-ground li.icon-13{ background-position: center -108px}
.icon-ground li.icon-14{ background-position: center -435px }
.icon-ground li.icon-15{ background-position: center -754px}
.icon-ground li.icon-16{ background-position: center -216px }
.icon-ground li.icon-17{ background-position: center -544px }
.icon-ground li.icon-18{ background-position: center -863px }
.icon-ground li.icon-19{ background-position: center -1939px }
.layer-bg{ background: #000; opacity: 0.8; position:fixed;top:0;left:0; width: 100%; height: 100%; z-index: 3}
.cover-layer .close{ width:45px; height:45px; display: block; background: url(http://image.bitautoimg.com/taoche/2016taoche_m/close.png) no-repeat; background-size:45px 45px;margin:20px auto;}
.cover-layer .focus-box .wrap{ height: 340px;}
.pagination-ld{text-align:center;position:relative;left:0;}
.pagination-ld .swiper-pagination-bullet-active{background:#fff;}
.pagination-ld .swiper-pagination-bullet{margin:0 5px;}
.icon-ground li a .ico-zp{
	background:url(http://image.bitautoimg.com/taoche/2016taoche_m/d_sprite.png) no-repeat;background-size:78px auto;
}
.icon-ground li a .ico-zp{position:absolute;top:0;left:50%;width:50px;margin-left:0;height:16px;background-position:0 -207px;}

/* 评价   */
.eva-iconul li{ float:left;width:50%;margin-bottom:30px;}
.evaul{ overflow: hidden;zoom:1; }
.evaul li{text-align: center;}
.evaul li.icon-1{background: url(http://image.bitautoimg.com/taoche/2016taoche_m/mask_eva/p_01.png) no-repeat center 0; background-size: 70px 70px}
.evaul li.icon-2{background: url(http://image.bitautoimg.com/taoche/2016taoche_m/mask_eva/p_02.png) no-repeat center 0; background-size: 70px 70px}
.evaul li.icon-3{background: url(http://image.bitautoimg.com/taoche/2016taoche_m/mask_eva/p_03.png) no-repeat center 0; background-size: 70px 70px}
.evaul li.icon-4{background: url(http://image.bitautoimg.com/taoche/2016taoche_m/mask_eva/p_04.png) no-repeat center 0; background-size: 70px 70px}
.evaul li a{ color: #fff; display: block;padding:80px 0 0 0; position: relative; }
.evaul li h3{font-size: 1.2rem;line-height:19px; }
.evaul li p{ color: #999;font-size: 1.2rem;line-height:19px; }
.evaul li i{background: url(http://image.bitautoimg.com/taoche/2016taoche_m/p_current.png) no-repeat center 0; background-size: 15px 15px;width: 15px; height: 15px; display: none; position: absolute; top:56px;left:50%; margin-left: 15px}
.evaul li.current i{ display: block; }

/*表单*/
.form-box{padding-top:25px;overflow:hidden;zoom:1;position:relative;}
.form-box ul{margin:0 15px;}
.form-box li{overflow:hidden;min-height:50px;padding:15px 0 10px; line-height: 35px; font-size: 1.6rem; display:table; width: 100%; border-bottom: 1px solid #666; position: relative; }
.form-box label{display:table-cell;width:75px;font-size: 1.6rem; height: 20px; line-height: 20px;color:#fff; }
.form-box input{display:table-cell;width:60%; height: 20px; line-height: 20px; border:0; font-size: 1.6rem;padding:0;background:none;border:none;color:#fff;}
.get-yzm{padding-left:8px;}
.form-box .f-right{position: absolute;top:50%;margin-top:-15px;right:0;padding-left:12px;width:108px;height:30px;line-height:30px;display: block; border-left:1px solid #666;}
.form-box .f-right img{width: 48px; height: 20px; margin:0 10px 0 8px; display: inline-block; vertical-align:middle; }
.form-box .f-right a{color:#ff6d02;font-size:1.4rem;}
.form-box a.change{width: 15px; height:15px; background: url(http://image.bitautoimg.com/taoche/2016taoche_m/change.png) no-repeat; background-size: 15px 15px; display: inline-block; vertical-align:middle; margin-top: 2px }
.re-get{color:#b7b7b7;font-size:1.4rem;}
.form-box .error{ display: block; width: 100%; color: #dd2727; font-size: 1.4rem; line-height: 16px;padding:5px 0 0 }

/* btn */
.re-select{ text-align: center; font-size: 1.4rem;padding:20px 0; color: #999 }
.btn-block a{ display:block;height: 44px; line-height: 44px; text-align: center; margin: 25px 15px 0; background: #ff9900; color: #fff;font-size: 1.6rem; border-radius: 3px}
.btn-block2 a{ width: 48%; display: inline-block; }
.btn-block2 a:last-child{ margin:0 0 0 10px!important; }
.btn a{display:inline-block;padding:0 20px; height: 35px; line-height: 35px; text-align: center; background: #fff; color: #ff6d02; border:1px solid #ff6d02;font-size: 1.4rem; border-radius: 3px;}

/* 上牌须知   */
.xz-box{padding-top:33px;}
.xz-box h3{font-size:1.6rem;color:#fff;line-height:45px;text-align:center;}
.xz-box p{font-size:1.4rem;color:#999;line-height:24px;text-align:center;}
.btn-cx{text-align:center;}
.btn-cx a{display:inline-block;border:1px solid #dedede;color:#999;font-size:1.4rem;line-height:34px;text-align:center;width:141px;margin:35px auto;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

/* 小屏幕时   */
@media screen and (max-width: 320px) {
	.cover-layer h2{margin-bottom:20px;}
    .xz-box{padding-top:13px;}
    .btn-cx a{margin:20px 0;}
    .cover-layer .close{position:absolute;left:50%;margin:0 0 0 -22px;bottom:10px;}
}