.icon{width:1em;height:1em;vertical-align:-.15em;fill:currentColor;overflow:hidden}
body,html{padding:0;margin:0;width:100%;font-family:"微软雅黑";background-color:#F5F5F5;margin-bottom:35px}
li,ul{padding:0;margin:0;list-style-type:none}
img{border:none}
a,span{display:inline-block;text-decoration:none}
.content_list{width:100%;height:auto;background:#fff;margin-bottom:12px}
.list{margin:0 15px}
.list .list_main{overflow:hidden}
.list .list_main img{width:120px;height:80px;display:inline-block;float:left;margin:15px 0}
.list .list_main .list_detail{float:left;width:59%;margin-left:4%;margin-top:13px}
.list .list_main .list_detail h2{font-family:"微软雅黑";font-size:16px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;line-height:20px}
.list .list_main .list_detail h3{font-family:"微软雅黑";font-size:14px;color:#999;height:25px;line-height:25px}
.list .list_main .list_detail p{color:#999;font-size:12px}
.loan_reckon{width:100%;background:#fff;overflow:hidden;margin-bottom:15px}
.loan_reckon .loan_title{height:46px;line-height:46px;padding-left:15px;font-family:"微软雅黑";font-size:16px;color:#333;border-bottom:1px solid #ECECEC}
.loan_reckon .loan_main{width:88%;margin:0 auto;overflow:hidden;padding-bottom:15px;border-bottom:1px solid #ECECEC}
.loan_reckon .loan_main .total{height:40px;line-height:40px;font-family:"微软雅黑";font-size:16px;color:#333}
.loan_reckon .loan_main .total_left{width:40%;float:left;font-family:"微软雅黑";font-size:16px;color:#FF6D02}
.loan_reckon .loan_main .total_left .total_font{padding-left:20px}
.loan_reckon .loan_main .total_left img{display:block;margin-bottom:10px}
.loan_reckon .loan_main .total_left .icon{font-size:18px;vertical-align:middle}
.loan_reckon .loan_main .total_left .icon1{font-size:14px;vertical-align:middle;color:#FF6D02}
.loan_reckon .loan_main .total_right{width:60%;float:left}
.loan_reckon .loan_main .total_right ul li{height:30px;line-height:30px;font-family:"微软雅黑";font-size:16px}
.loan_reckon .loan_main .total_right ul li span{float:right}
.loan_reckon .loan_main .total_right ul li i{display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:10px}
.loan_reckon .loan_main .total_right ul li .i-color1{background:#4F4F4F}
.loan_reckon .loan_main .total_right ul li .i-color2{background:#9B9B9B}
.loan_reckon .loan_main .total_right ul li .i-color3{background:#D2AE65}
.loan_reckon .slider{height:60px;width:100%;text-align:center;padding-top:15px;font-size:14px;margin-bottom:15px}
.loan_reckon .slider .slider_title{height:40px;width:48%;margin:0 auto;text-align:center;font-size:14px}
.container{width:100%;margin:0 0 15px 0}
#myChart{display:block;height:78px!important;width:79px!important;margin-left:10px}
.ruler{width:85%;height:60px;margin:0 auto;position:relative}
.ruler h3{font-family:"微软雅黑";font-size:14px;color:#666}
.ruler span{position:absolute;right:0;top:0;font-family:"微软雅黑";font-size:14px;color:#FF6D02}
.progress{position:relative;height:25px;width:90%}
.progress-bar-wrapper{width:100%;height:6px;position:absolute;top:50%;margin-top:-3px;left:0;padding:0 10px;box-sizing:content-box}
.progress-bar{height:6px;border-radius:5px;position:absolute;top:50%;margin-top:-3px;left:0;width:100%}
.progress-bar-bc{background:#D8D8D8}
.progress-bar-active{width:0;background-color:#F90}
.progress-btn{width:25px;height:25px;border-radius:50%;background-color:#fff;position:absolute;left:0;top:50%;margin-top:-13px;cursor:pointer;border:1px solid #EBEBEB}
.ratio{position:absolute;width:90%}
.ratio li{position:absolute;font-size:12px;color:#3F3F3F;width:20%}
.ruler2{margin-top:20px;margin-bottom:40px}
.schedule{width:100%;background:#fff;overflow:hidden;margin-bottom:15px}
.schedule .loan_title{height:46px;line-height:46px;padding-left:15px;font-family:"微软雅黑";font-size:16px;color:#333;border-bottom:1px solid #ECECEC}
.schedule ul{padding:20px 25px;overflow:hidden}
.schedule ul li{margin-top:-2px}
.schedule ul li .sch_title{font-family:"微软雅黑";font-size:14px}
.schedule ul li .sch_title .icon{font-size:24px;position:relative;top:2px;left:-11px;vertical-align:text-bottom}
.schedule ul li .sch_main{border-left:1px solid #F90;height:73px}
.schedule ul li .sch_main .sch_main_details{width:93.5%;height:55px;float:right;margin-top:10px}
.schedule ul li .sch_main .sch_main_details p{font-family:"微软雅黑";font-size:14px;color:#999;margin-left:10px}
.schedule ul li .sch_nothing{height:45px;border-left:1px dashed #DEDEDE}
.foo_nav{width:100%;background:#fff;overflow:hidden;position:fixed;bottom:0}
.foo_nav ul li{width:26%;padding:5px 0;line-height:22px;float:left;text-align:center;color:#F90;border-top:1px solid #efefef}
.foo_nav ul li a{color:#F90}
.foo_nav ul li.li1{border-right:1px solid #efefef}
.foo_nav ul li.li3{width:48%;color:#fff;padding:16px 0;font-family:"微软雅黑";font-size:16px;background:#FF6D02;height:58px;border-top:1px solid #d9d8d8}
.foo_nav ul li.li3 .icon{color:#fff}
.foo_nav ul li .icon{font-size:22px;color:#F90}
#shadow{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;left:0;top:0;z-index:91}
.package_pop{width:100%;background:#fff;position:fixed;bottom:0;left:0;z-index:92}
.package_pop h2{height:30px;line-height:30px;text-align:center;font-family:"微软雅黑";font-size:18px;margin-top:30px}
.package_pop h2 i{position:absolute;right:20px;top:10px;color:#A1A1A1}
.package_pop ul{width:90%;margin:0 auto}
.package_pop ul li{border:1px solid #EDEDED;border-radius:3px;margin-top:20px;position:relative;margin-bottom:25px}
.package_pop ul li a{display:block}
.package_pop ul li.active{border:1px solid #ff6d02;background:url(http://image.bitautoimg.com/taoche/2017/m/xuanzhong.png) no-repeat 101% top;background-size:14%}
.package_pop ul li.active img{display:block}
.package_pop ul li img{position:absolute;right:-1px;top:0;width:12%;display:none}
.package_pop ul li .pop_title{width:90%;height:35px;line-height:35px;margin:0 auto;font-family:"微软雅黑";font-size:16px}
.package_pop ul li .pop_title span{float:right;font-family:"微软雅黑";font-size:14px;color:#666;margin-right:30px}
.package_pop ul li .pop_main{width:90%;height:35px;line-height:35px;margin:0 auto;font-family:"微软雅黑";font-size:16px;color:#666}
.package_pop ul li .pop_main span .orange{color:#ff6d02}
.package_pop ul li .pop_main span .black{color:#000}
.package_pop ul li .pop_main .float_span{float:right;margin-right:10px}
.tab_total{width:343px;background-color:#fff;border-radius:10px;position:fixed;left:50%;top:50%;margin-left:-171px;margin-top:-202px;z-index:92}
.tab_total .close{position:absolute;right:10px;top:10px;color:#000}
.tab_total h2{font-size:18px;color:#333;padding:56px 0 17px 17px;border-bottom:1px solid #ECECEC;font-family:"微软雅黑"}
.tab_total ul li{height:72px;border-bottom:1px solid #ECECEC}
.tab_total ul li .li_left{width:40%;float:left;padding-left:20px}
.tab_total ul li .li_left h4{font-family:"微软雅黑";font-size:18px;color:#000;padding-top:10px}
.tab_total ul li .li_left h4.grey{color:#999}
.tab_total ul li .li_left span.orange{color:#FF6D02;font-family:"微软雅黑";font-size:16px;line-height:35px}
.tab_total ul li .li_left span.grey{color:#999;font-family:"微软雅黑";font-size:16px;line-height:35px}
.tab_total ul li .li_right{width:60%;float:left;text-align:center;position:relative}
.tab_total ul li .li_right .li_one{width:50%;float:left}
.tab_total ul li .li_right i{position:absolute;left:31%;top:9px}
.tab_total ul li .li_right h6{font-family:"微软雅黑";font-size:14px;color:#999;line-height:37px;text-align:left}
.tab_total ul li .li_right span{display:block;font-family:"微软雅黑";font-size:16px;color:#333;text-align:left}
.tab_total ul li .li_right .span_1{color:#999}
@media only screen and (max-width:320px){.loan_reckon .loan_main .total_left .total_font{padding-left:10px}
.package_pop ul li .pop_main{width:93%;height:35px;line-height:35px;margin:0 auto;font-family:"微软雅黑";font-size:14px;color:#666}
.list .list_main .list_detail{float:left;width:54%;margin-left:4%;margin-top:13px}
.tab_total{width:90%;background-color:#fff;border-radius:10px;position:fixed;left:50%;top:50%;margin-left:-45%;margin-top:-202px;z-index:92}
}

@media only screen and (min-width:375px) {
.schedule ul li .sch_main .sch_main_details p{font-family:"微软雅黑";font-size:14px;color:#999;margin-left:7px}
}

@media only screen and (min-width:360px) {
.schedule ul li .sch_main .sch_main_details p{font-family:"微软雅黑";font-size:14px;color:#999;margin-left:9px}
}

@media only screen and (min-width:414px) {
.schedule ul li .sch_main .sch_main_details p{font-family:"微软雅黑";font-size:14px;color:#999;margin-left:4px}
}