.bor0{ border-right: 0px !important;}
.new_appoint_see{ padding: 10px 15px; }
.new_m_tle{ width: 100%; height: 40px;line-height: 40px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/new_xq_yykc.png") right center no-repeat; background-size: 191px 40px;}
.new_appoint_see h2{ font-size: 18px; color: #333333;}
.appoint_inputtel{ height: 35px; margin-top: 8px;}
.appoint_inputtel input{ height: 33px; border: #DEDEDE solid 1px; width: 68%; float: left; border-radius: 3px; padding-left: 11px; font-size: 1.4rem; vertical-align: middle; padding-top: 7px; padding-bottom: 5px; line-height: 23px; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;}

.appoint_inputtel a{ width: 30%; height: 33px; display: inline-block; float: left; background: #FF9900 ; color: #ffffff;  text-align: center; margin-left: 2%; border-radius: 3px; font-size: 1.6rem; line-height: 33px;}

.appoint_txt{ clear: both; color: #B7B7B7; font-size: 1.2rem; line-height: 28px;}
.new_flase_txt{clear: both; width: 100%; line-height: 20px;color: #FF4A36; padding-top:4px; }
.new_succe_txt{clear: both; width: 100%; line-height: 20px;color: #60A90F; padding-top:4px;}
.flase_ico{ font-size: 1.5rem; color: #FF4A36; height: 20px; margin-right: 2px; display: inline-block; line-height: 22px; }
.succes_ico{font-size: 1.5rem; color: #60A90F ; height: 20px; margin-right: 2px; display: inline-block; line-height: 22px; }
.bord-red{ border:#FF4A36 solid 1px !important; }

.new_seller_btn{ border-top:  1px solid #ececec; clear: both; width: 100%; text-align: center;padding-bottom: 10px;}
.seller_btn_two,.seller_btn_one{ width: 100%; margin: 10px 0; height: 30px; display: table; clear: both; margin-bottom: 0px;}
.seller_btn_two a{ width: 50%; display: inline-table; height: 30px; color: #FF6D02; font-size: 1.4rem; line-height: 30px;}
.seller_btn_one a{display: inline-block; height: 30px; color: #FF6D02; font-size: 1.4rem; line-height: 30px;  width: 100%;}
.seller_btn_two a:last-child{ border-left: #ECECEC solid 1px;}
.ico_seller_mykj{ font-size: 15px; margin-right: 5px;}
.ico_seller_mfzx{ font-size: 13px; vertical-align: middle; margin-right: 5px;}

.new_ico_botwokj{ font-size: 17px;}
/*.new_ico_botmfzx{ font-size: 18px;}*/
.new_ico_botmfzx{ width: 19px; height: 19px; display: inline-block; vertical-align: sub;
  }

.new_ico_jjtz{display: block;  margin: 0 auto;  width: 22px;  height: 22px;  vertical-align: middle; font-size: 18px;}
.bgff2{ background: #FF6D02 !important;}

.new_mfzx_fix{ position: fixed; width: 230px; height: 50px; right: 15px; bottom: 63px;  border-radius: 3px; z-index: 100;  }
.mfzx_fix_c{ position: absolute; left: 0; top: 0; z-index: 110; width: 230px; height: 34px; padding: 8px;}
.mfzx_fix_c:after{  content: '';  width: 0;  height: 0;  font-size: 0;  overflow: hidden;  border-width: 7px;  border-style: solid dashed dashed dashed;  border-color: #000 transparent transparent transparent;filter:alpha(opacity=70);  -moz-opacity:0.7;  -khtml-opacity: 0.7;  opacity: 0.7;
    display: block; position: absolute; right: 12px; bottom: -30px;
}
.mfzx_fix_img{ width: 44px; height: 34px; float: left; margin-right: 7px;}
.mfzx_fix_img img{ width: 100%; height: 100%;}
.mfzx_fix_c h2{color: #ffffff; font-size: 1.2rem; line-height: 17px; }
.bg_opacity70{    background: #000000;filter:alpha(opacity=70);  -moz-opacity:0.7;  -khtml-opacity: 0.7;  opacity: 0.7;position: absolute ;left: 0; top: 0; width: 100%; height: 100%;border-radius: 3px; overflow: hidden;}

/*停留弹层*/
.longtime_fix{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index:  999;}
.logtime_cover{ width: 100%; height: 100%;  background: #000000;filter:alpha(opacity=60);  -moz-opacity:0.6;  -khtml-opacity: 0.6;  opacity: 0.6;}
.logtime_box{ background: #ffffff; width: 270px; height: 313px; position: absolute; left: 50%; margin-left: -135px; top: 50%; margin-top: -156px; border-radius: 3px; padding: 15px; text-align: center;}
.logtim_clost{ color: #ABABAB; width: 16px; height: 16px; float: right; display: block; cursor: pointer;}
.logtime_box h2{font-size: 1.6rem; color: #333; clear: both; line-height: 30px;}
.logtime_box h3{font-size: 1.4rem; color: #999; clear: both; line-height: 21px;}
.lgotime_img{ width: 115px; height: 115px; margin: 8px  auto 10px;}
.lgotime_btn{ border-radius: 3px; font-size: 1.6rem; height: 40px; line-height: 40px;display: block;  text-align: center;  color: #fff;  background: #ff9900;}
.lgotime_lxwm{ font-size: 1.4rem; text-align: center; color:#ff9900;line-height: 20px; margin-top: 20px; display: inline-block; }
.lgotime_lxwm:after{content:"\e635"; font-size: 10px; height: 20px; line-height: 18px; margin-left: 3px; display: inline-block;}



.bord-red::-webkit-input-placeholder { /* WebKit browsers */
    color: #C2C2C2;
}
.bord-red:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #C2C2C2;
}
.bord-red::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #C2C2C2;
}
.bord-red:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #C2C2C2;
}



/*右侧动画*/

@-webkit-keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translate3d(500px,0,0)}100%{opacity:1;-webkit-transform:translate3d(0,0,0)}}
@keyframes fadeInRightBig{0%{opacity:0;transform:translate3d(500px,0,0)}100%{opacity:1;transform:translate3d(0,0,0)}}

@-webkit-keyframes bounce{0%,20%,50%,80%,100%{-webkit-transform:rotate(0deg);-webkit-transform-origin:right center 0}40%{-webkit-transform:rotate(-15deg);-webkit-transform-origin:right center 0}60%{-webkit-transform:rotate(-5deg);-webkit-transform-origin:right center 0}}
@keyframes bounce{0%,20%,50%,80%,100%{transform:rotate(0deg);transform-origin:right center 0}40%{transform:rotate(-10deg);transform-origin:right center 0}60%{transform:rotate(-5deg);transform-origin:right center 0}}

@-webkit-keyframes fadeOutRightBig{0%{opacity:1;-webkit-transform:translate3d(0,0,0)}100%{opacity:0;-webkit-transform:translate3d(500px,0,0)}}
@keyframes fadeOutRightBig{0%{opacity:1;transform:translate3d(0,0,0)}100%{opacity:0;transform:translate3d(500px,0,0)}}


.store-tips{width:100px;height:45px;position:fixed;bottom:140px; right:0; z-index: 2;}
.store-tips *{position:absolute;right:0;bottom:0;}
.store-tips a{display:inline-block;width:60px;height:45px}
.store-tips .tip-A,.store-tips.in .tip-B{-webkit-animation:fadeInRightBig .75s .2s ease both;animation:fadeInRightBig .75s .2s ease both}
.store-tips .tip-B,.store-tips.in .tip-A{-webkit-animation:fadeOutRightBig .75s .2s ease both;animation:fadeOutRightBig .75s .2s ease both}
.store-tips .ani-1{width:50px;right:20px;bottom:2px;-webkit-animation:bounce 1.3s .2s infinite both;animation:bounce 1.3s .2s infinite both}
.store-tips .ani-2{width:29px;}
.store-tips .ani-3{width:62px;}


/*20170810*/
.new-bzc{ position: absolute;  left: 15px;  bottom: 10px;  z-index: 10;  display: block;  width: 87px;  height: 25px;  background: url("//image.bitautoimg.com/taoche/2016taoche_m/new-bzc.png") no-repeat;  background-size: 100% auto;}
.new-rzc{ position: absolute;  left: 15px;  bottom: 10px;  z-index: 10;  display: block;  width: 87px;  height: 25px;  background: url("//image.bitautoimg.com/taoche/2016taoche_m/new-rzc.png") no-repeat;  background-size: 100% auto;}

/*20170814luoli*/
.rzc-ba{ width: 35px; height: 14px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/tc-rz-ccio.png") no-repeat; background-size: 35px 14px; position: absolute; left: 0px; top: 0px;}
.mcar-img{ position: relative;}

/*20170907dlj*/
/*20170907dlj*/
.xq-onepic{ width: 100%; height: 45px; background: #FFF6EF; margin-top: 10px; padding: 9px 11px; line-height: 27px;}
.xq-onepic s{ width: 27px; height: 27px; display: inline-block; float: left;}
.xq-onepic span{font-size: 14px;  color: #FF6D02;  letter-spacing: 0; padding-left: 15px; float: left; display: inline-block; padding-top: 1px;}
.xq-onepic span em{ padding: 0 8px;}
.xq-onepic a{ display: block; height: 27px;}
.xq-onepic b{ float: right;font-size: 1.2rem;  color: #FF6D02;  letter-spacing: 0; display: inline-block;  margin-top: 1px; }
.xq-onepic i{ font-size: 10px; color: #FF6D02; padding-left: 3px; font-weight: bold; }
.pab15{ padding-bottom: 15px;}
.xq-onepic{margin-top: 20px; }
.xq-onepic a{position:relative;}
.xq-onepic s{width: 40px;height: 64px;position:absolute; top:-30px; left:-10px;}
.xq-onepic span{padding-left: 48px;}

@media screen and (device-width: 320px) {
    .xq-onepic{ padding: 9px 5px 9px 6px;}
    .xq-onepic span{ padding-left: 37px;}
    .xq-onepic span em{ padding: 0px;}
    .xq-onepic i{ padding-left: 0px;}
    .tc-rzcar-box{ padding: 20px 10px; padding-bottom: 0px;}
    .fz-box{ padding: 30px 0px 20px;}
    .jcbg_item_a li dl{ width: 60%;}
    .jcbg_item_b{ padding: 25px 20px;}
    .jcbg_item_a{ padding: 35px 15px 0;}
    .double-jc h3{ font-size: 1.4rem;}
    .z-max .logtime_box{ width: 290px; margin-left: -145px;}
    .tw-double h3{ font-size: 1.4rem;}
    .f12{font-size: 1.7rem;}
    .cover-layer h2 {margin-bottom: 10px !important;}

    .xq-onepic s {width: 30px;height: 48px;position: absolute; top: -14px; left: -5px;}
}
