.pab15{ padding-bottom: 15px;}
.hide{ display:none;}
.pab25{ padding-bottom: 25px !important;}
.col9{    color: #999999 !important;}
.colc2{    color: #C2C2C2!important;}
.mat30{ margin-top: 30px!important;}
.pal7{ padding-left: 7px;}

.detail_box{height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;}

.ico-taob_rzc{    position: absolute;  left: 15px;  bottom: 10px;  z-index: 10;  display: block;  width: 87px;  height: 25px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/tc-renz-car.png") no-repeat;  background-size: 100% auto;  }
.xq-onepic{ width: 100%; height: 45px; background: #FFF6EF; margin-top: 10px; margin-bottom:0; padding: 9px 11px; line-height: 27px;}
.xq-onepic s{ width: 27px; height: 27px; display: inline-block; float: left;}
.xq-onepic span{font-size: 14px;  color: #FF6D02;  letter-spacing: 0; padding-left: 15px; float: left; display: inline-block; padding-top: 1px;}
.xq-onepic span em{ padding: 0 8px;}
.xq-onepic a{ display: block; height: 27px;}
.xq-onepic b{ float: right;font-size: 1.2rem;  color: #FF6D02;  letter-spacing: 0; display: inline-block;  margin-top: 1px; }
.xq-onepic i{ font-size: 10px; color: #FF6D02; padding-left: 3px; font-weight: bold; }

.mtle-link{ font-size: 1.4rem; float: right;  color: #666666;  letter-spacing: 0;     background: url("//image.bitautoimg.com/taoche/2016taoche_m/arrow-right.png") no-repeat right center;  background-size: 7px 11px; padding-right: 13px;}

/*放心选*/
.hard-chang-list{ padding: 20px 15px;  overflow: hidden;}
.hard-chang-list li{ width: 25%;float: left; text-align: center;}
.hard-chang-list li img{ display: inline-block; width: 35px; height: 36px;}
.hard-chang-list li p{ line-height: 20px;font-size: 1.4rem;  color: #666666;  letter-spacing: 0;}

/*淘宝认证车*/
.tc-rzcar-table{ width: 100%; clear: both; overflow: hidden;}
.tc-rzcar-nav{height: 90px; background: #F8F8F8;}
.tc-rzcar-nav ul{ padding: 0 15px; text-align: center; display: table; width: 100%;}
.tc-rzcar-nav ul li{ width: 25%; display:table-cell;height: 90px; text-align: center; line-height: 20px;font-size: 14px;
    letter-spacing: 0;}
.tc-rzcar-nav ul li a i{ font-size: 30px; display: inline-block; padding-bottom: 9px; margin-top: 10px;}
.tc-rzcar-nav ul li a { color: #666666; display: block; height: 90px; padding-top: 12px; position: relative;  }

.tc-rzcar-nav ul li a.rzcar-nav-sel{color: #FE7816;}
.tc-rzcar-nav ul li a.rzcar-nav-sel:after{  content: "";  width: 0;  height: 0;  font-size: 0;  overflow: hidden;  border-width: 9px;  border-style: solid dashed dashed dashed;  border-color:transparent transparent #ffffff  transparent;  display: block; position: absolute; bottom: 0; left: 50%; margin-left: -9px;  }

/**/
.tc-rzcar-box{ padding: 20px 15px; padding-bottom: 0px;}
.double-jc{ background: url("//image.bitautoimg.com/taoche/2016taoche_m/jc-bg.png") no-repeat; background-size: 100% 478px;  padding-top: 30px; position: relative; height: 478px; margin-bottom: 15px;}
.double-jc h3{ font-size: 1.6rem;  color: #666666;  letter-spacing: 0.4px; text-align: center; line-height: 20px; padding: 0 15px;}
.double-jc h3 span{font-size: 1.8rem;  color: #333333;  letter-spacing: 0.45px; padding-bottom: 9px; display: block;}

.yinzhang{ width: 69px; height: 68px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/hege.png") no-repeat; background-size: 100% 100%; display: block; position: absolute; right: 2px; top: 23px;}
/**/
.jcbg_item_a{ padding: 35px 15px 0; clear: both;}
.jcbg_item_a li{  width: 100%; line-height: 18px; clear: both; min-height: 36px;}
.jcbg_item_a li em{ float: left; font-size: 20px; display:inline-block; text-align: center; width: 30px;color:#696A86;}
.jcbg_item_a li dl{ width: 67%; float: left; padding-left: 9px;}
.jcbg_item_a li dt{font-size: 1.4rem;  color: #696A86;  letter-spacing: 0.35px; float: left; width: 40px; }
.jcbg_item_a li dd{font-size: 1.2rem;  color: #999999;  letter-spacing: 0.3px; margin-left: 40px; max-height: 36px; overflow: hidden;}
.jcbg_item_a li a{ float: right; color: #666666; font-size: 1.2rem; line-height: 18px; display: inline-block;}
.jcbg_item_a li a i{margin-left: 6px; font-size: 14px;}
.jcbg_item_a li a.jc-txt-t i{ color: #4CC38B; }
.jcbg_item_a li a.jc-txt-f{ color:#E34C4C; }

/**/
.jcbg_item_b{ padding:25px; clear: both; overflow: hidden;}
.jcbg_item_b li{ width: 33.3%; float: left; text-align: center; font-size:1.4rem;  color: #666666;  letter-spacing: 0.35px;}
.jcbg_item_b li img{ width: 41px; height: 41px; display: inline-block; }
.jcbg_item_b li p{ padding-top:5px;}
.jcbg_item_b li a{ display: inline-block;}
/**/
.jcbg-time{ clear: both; text-align: center;ont-size: 1.2rem;  color: #999999;  letter-spacing: 0.3px; padding: 10px 0;}
.jcbg-look{ width: 100%; text-align: center;font-size: 1rem;  color: #999999;  letter-spacing: 0.25px; line-height: 20px;}
.jcbg-look a{font-size: 1.4rem;  color: #666666;  letter-spacing: 0.35px;display: block;}
.jcbg-look a i{ font-size: 12px; font-weight: bold; color: #B3B3B3;}

/**/
.fz-box{ padding: 30px 0px 20px;text-align: center; }
.dk-fa{ width: 88px; height: 80px;}
.dk-fb{ width: 74px; height: 85px;}
.dk-fc{ width: 62px; height: 78px;}
.fz-box-a img{ display: inline-block;}
.fz-box-a h3{font-size: 1.8rem;  color: #333333;  letter-spacing: 0.45px; padding-top: 20px;}
.fz-wen{ padding-top: 10px;}
.fz-wen span:first-child{ padding-right: 38px;}
.fz-wen span:before{ content: ""; width: 7px; height: 7px; background: #FF9900; border-radius: 50%; display: inline-block; margin-right: 5px; }
.fz-box-b,.fz-box-c{ border: 1px solid #ECECEC;  border-radius: 4px; margin-top:10px;text-align: center; margin: 10px 10px 0;}
.fz-box-b h3{ background: #F6F6F6;  border-radius: 4px 4px 0 0; line-height: 39px;font-size: 1.8rem;  color: #333333;  letter-spacing: 0.45px;  }
.fz-box-b p{ height: 80px; padding:9px 0px; letter-spacing: 0.35px;}
.fz-box-b p span{ width: 50%; float: left;font-size: 1.4rem;  color: #333333; height: 56px; padding-top: 6px; }
.fz-box-b p span em{font-size: 2rem;  color: #FF6D02;  letter-spacing: 0.5px; display: block; margin-top: 8px;}
.fz-box-b p span:first-child{ border-right: 1px solid #ECECEC;}
.dk-txt{ padding: 25px 10px 0;font-size: 1.2rem;  color: #999999;  letter-spacing: 0.3px;  line-height: 14px; line-height: 18px;}
.rz-btn{ height: 44px; border: 1px solid #FF9900;  border-radius: 3px; line-height: 44px; font-size: 1.6rem;  color: #FF9900;  letter-spacing: -0.39px; display: block; margin-top: 17px;}
.fz-box-c{ padding: 12px 15px;margin: 10px 10px 0;}
.fz-box-c p{ line-height: 18px; font-size: 1.4rem; text-align: left;}
.fz-box-c  a{ padding-top: 22px; text-decoration: underline; display:inline-block; font-size: 1.4rem;}

.byjj-item{ padding: 15px;}
.byjj-item p{font-size: 1.4rem;  color: #666666;  letter-spacing: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 20px;}
.new-bujj-btn a{ font-size: 1.4rem; width: 25%;}
.new-bujj-btn input{ width: 73%;height: 33px;  border: #DEDEDE solid 1px;  float: left;  border-radius: 3px;  padding-left: 11px;  font-size: 1.4rem;  vertical-align: middle;  padding-top: 7px;  padding-bottom: 5px;  line-height: 23px;  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;}

.byjj-xx-btn{ width: 60%; text-align: center; height: 44px;border: 1px solid #FF9900;
    border-radius: 3px; line-height: 44px; margin-top: 25px; display: inline-block;font-size: 1.6rem;  color: #FF9900;  letter-spacing: -0.39px; margin-left: 20%; margin-bottom: 5px;}
.wxbb-suc{font-size: 1.4rem;  color: #666666;  letter-spacing: 0; padding-left: 15px;}
.wxbb-suc i{ color: #79CF29; font-size: 15px; margin-right: 6px;}

/*--two---*/
.tw-double{ width: 100%; padding-top: 8px;}
.tw-double h3{ text-align: center;font-size: 1.6rem;  color: #333333;  letter-spacing: 0.4px; line-height: 30px;}
.tw-double-list{ margin:20px 15px 0px; height: 230px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-19.png") 7px 0 no-repeat; background-size: 73px 199px; }
.tw-double-list p{ padding-left: 89px;font-size: 1.4rem;  color: #999999;  letter-spacing: 0.35px;  line-height: 17px; }
.tw-double-list  span{font-size: 1.6rem;  color: #666666;  letter-spacing: 0.4px; line-height: 25px; display: block;}
.tw-double-list p.h126{ height: 126px;}
.tw-double-em{padding: 15px 15px 20px;font-size: 1.2rem;  color: #999999;  letter-spacing: 0.25px; text-align: center;  }
.tw-double-btn{ width: 100%; height: 48px; text-align: center; line-height: 48px;}
.tw-double-btn a{font-size: 1.4rem;  color: #666666;  letter-spacing: 0.35px;    background: url("//image.bitautoimg.com/taoche/2016taoche_m/arrow-right.png") no-repeat right center;
    background-size: 7px 11px;
    padding-right: 13px;}


/*购车流程*/

.gclc-box{margin-top: 22px; position: relative; height: 80px; }
.gclc-hr{ border-top:#DEDEDE solid 1px; width: 82%; margin: 0 auto;}
.gclc-table{height: 50px;  width: 100%; position: absolute; left: 0px; top: -8px;  }
.gclc-table li{ width: 20%; height: 50px; float: left; text-align: center;}
.gclc-table li i{ width: 9px; height: 9px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-13.png") no-repeat; background-size: 100% 100%; display: inline-block;}
.gclc-table li span{ display:block; padding-top: 5px;font-size: 1.2rem;  color: #666666;  letter-spacing: 0; line-height: 16px; width: 100%;}
/*底部导航*/
.new_ico_shoucang{    display: block;  margin: 0 auto;  width: 20px;  height: 20px;  vertical-align: middle;  font-size: 19px;}
.new_ico_kanj{display: block;  margin: 0 auto;  width: 20px;  height: 20px;  vertical-align: middle;  font-size: 18px;}
.new_ico_xixun{  font-size: 20px; vertical-align: middle;}
.new_ico_mianfei{ font-size: 20px;}
.new-dis{ width: 90px; text-align: center; bottom: 67px; height: 46px;}
.new-dis .mfzx_fix_c{ width: 90px; padding-top: 5px; padding-left: 0px; padding-right: 0px;}
.new-dis .mfzx_fix_c:after{ right: 35px;ont-size: 1.2rem;  color: #FFFFFF;  letter-spacing: -0.69px; bottom: -26px;}


/*弹层*/
.z-max{ z-index: 10000 !important;}
.z-max .logtime_box{ width: 314px; margin-left: -157px;}
.bot-fixed span{ font-size: 1.2rem;}


/*淘车认证车服务介绍*/
.jies-box{ width: 100%; clear: both;}
.jies-box h2{ height: 58px; line-height: 58px; background: #F5F5F5; text-align: center;font-size: 1.8rem;  color: #333333;  letter-spacing: 0.45px; }
.jies-title{ height: 58px; border-bottom: #ECECEC solid 1px; line-height: 58px; padding-left: 25px;font-size: 1.8rem;  color: #666666;  letter-spacing: 0;}
.jies-title i{ display: inline-block; position: relative; top: 10px; margin-right: 8px;}
.jies-jc{ width: 36px; height: 36px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-20.png") no-repeat; background-size: 100% 100%;}
.jies-bt{ width: 36px; height: 33px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-21.png") no-repeat; background-size: 100% 100%;}
.jies-bx{ width: 36px; height: 33px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-22.png") no-repeat; background-size: 100% 100%;}
.jies-sg{ width: 36px; height: 33px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-23.png") no-repeat; background-size: 100% 100%;}
.jies-tl{width: 36px; height: 33px; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-21.png") no-repeat; background-size: 100% 100%;}
.jies-txt{ padding: 20px 20px 4px;}
.jies-txt p{font-size: 1.4rem;  color: #999999;  letter-spacing: 0;  line-height: 18px; padding-bottom: 16px;}
.rod-ico{ display: inline-block; width: 8px; height: 8px; background: #FF8124; border-radius: 50%; margin-right: 5px; position: relative; top: -2px; }
.bt-jdbz{ font-size: 1.4rem; text-decoration: underline;  color: #999999;  letter-spacing: 0; text-align: center; padding-bottom: 13px; width: 100%; clear: both; display: inline-block;}
.bt-liuc{ width: 100%; line-height: 50px; text-align: center;}
.bt-liuc a{font-size: 1.4rem;  color: #999999;  letter-spacing: 0;text-decoration: underline;}


/*baoxiu*/
.bx-txt{ padding: 15px 20px 20px;}
.bx-itm{font-size: 1.4rem;  color: #666666 !important;  letter-spacing: 0;  line-height: 18px !important; padding-bottom: 10px !important;}
.bx-table{ padding-top: 10px;}
.bx-table p{font-size: 1.4rem;  color: #666666;  letter-spacing: 0;  line-height: 18px; height:25px; }
.bx-tab{ border-top:#F6F6F6 solid 1px;border-left:#F6F6F6 solid 1px; width: 100%; }
.bx-tab tr{ height: 30px; line-height: 30px; text-align: center;}
.bx-tab tr td{border-bottom:#F6F6F6 solid 1px;border-right:#F6F6F6 solid 1px; height: 30px; font-size: 1.2rem; color: #999999; width: 25%;}
.pat25{ padding-top: 15px;}
.paing0{ padding: 0px !important;}
.bx-sitm{ padding-bottom:25px;font-size: 1.2rem;  color: #999999;  letter-spacing: 0;  line-height: 18px;}

.xs-bx-01{ padding-top:10px;font-size: 1.2rem;  color: #999999;  letter-spacing: 0;  line-height: 18px;}
.xs-bx-01 span{font-size: 1.4rem;  color: #666666;  letter-spacing: 0;  line-height: 18px;}
.xs-bx-01 p{ padding-left: 13px; padding-top:3px;}
.xs-bx-01 p em{ font-style: normal; color: #FF8124;}
/*sunshang*/
.nbao{ padding-top: 10px; color: #2A2A2A; padding-bottom: 15px !important;}
.pab15{ padding-bottom: 15px;}
.pab0{ padding-bottom: 0px !important;}


/*20170907dlj*/
.xq-onepic{margin-top: 20px;}
.xq-onepic a{position:relative;}
.xq-onepic s{width: 40px;height: 64px;position:absolute; top:-30px; left:-10px;}
.xq-onepic span{padding-left: 48px;}

@media screen and (device-width: 320px) {
    .xq-onepic{ padding: 9px 5px 9px 6px;}
    .xq-onepic span{ padding-left: 37px;}
    .xq-onepic span em{ padding: 0px;}
    .xq-onepic i{ padding-left: 0px;}
    .tc-rzcar-box{ padding: 20px 10px; padding-bottom: 0px;}
    .fz-box{ padding: 30px 0px 20px;}
    .jcbg_item_a li dl{ width: 60%;}
    .jcbg_item_b{ padding: 25px 20px;}
    .jcbg_item_a{ padding: 35px 15px 0;}
    .double-jc h3{ font-size: 1.4rem;}
    .z-max .logtime_box{ width: 290px; margin-left: -145px;}
    .tw-double h3{ font-size: 1.4rem;}
    .f12{font-size: 1.7rem;}
    .cover-layer h2 {
        margin-bottom: 10px !important;
    }

    .xq-onepic s { width: 30px;height: 48px;position: absolute;top: -14px;left: -5px;
    }
}
