/*loading*/
.todos-loding{  opacity: 0.8;  background: #000000;  border-radius: 5px;  width: 100px; letter-spacing: 0.3px;  position: absolute;  left: 50%;  margin-left: -50px;  top: 50%;  margin-top: -50px; height: 100px;}
.todos-loding img.copy-loding{ width: 30px; height: 30px; display: inline-block; margin: 35px auto;}

/*提示层*/
.toast-fix{ opacity: 0.8;  background: #000000;  border-radius: 5px;  position: absolute;  top: 45%;  width:70%; left:15%;  }
.toast-fix p{ padding: 20px 15px; line-height: 20px;  font-size: 1.4rem;  color: #FFFFFF;  letter-spacing: 0.3px;min-height: 60px; text-align: center; }
