
/*举报车源*/
.report-reason{padding:10px; overflow: hidden;zoom:1; background-color:#ffffff;}
.report-reason li{float:left;width:33.3%;overflow: hidden;padding:5px;}
.report-reason li a{color:#666666;padding:7px 5px;border: 1px solid #dedede;border-radius: 3px; background: #fff; text-align: center;display: block}
.report-reason li a.current{border-color:#ff6d02;color:#ff6d02;}
.report-main .btn-block{margin-bottom:5px;}
.report-main .btn-block a{margin:15px 15px 0;}
.information-p{padding:15px;font-size:1.3rem;line-height:1.5; color:#999999;margin-bottom:30px;}
.information-p em{font-style: normal;color: #ff6d02}
.information-text{margin:10px 15px;position: relative}
.information-text textarea{width:100%;display:block;border:1px solid #ffffff;padding:5px; margin: 0; height:80px;color:#b7b7b7;font-size:16px;background-color:#ffffff;-webkit-appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.information-text .error{position: absolute;top: 2rem;left:6px;}
.other-information{background-color:#ffffff;}
.other-information li{position:relative}
.other-information .getSMS,.other-information .getCode,.other-information .getCode+.iconfont{position: absolute;top: 9px;display:inline-block}
.other-information .getSMS{color:#FF9900;right: 0;width: 10.8rem;padding:4px 5px;border: 1px solid #FF9900;border-radius: 3px;background: #fff; text-align: center;line-height: normal; font-size: 1.6rem}
.other-information .getSMS.disabled{border-color:#B7B7B7;color:#B7B7B7;}
.other-information .getCode{width: 8rem;right:2.8rem;max-height: 3rem}
.other-information .getCode+.iconfont{right: 0;color:#999999;}
.other-information .getCode+.iconfont.active{color:#FF9900;-webkit-animation:activeRotate 1s linear infinite;animation:activeRotate 1s linear infinite}
@keyframes activeRotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
@-webkit-keyframes activeRotate{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
/*举报信息*/
.report-new ul{margin:0 15px;}
.report-new ul li{padding:10px 0 8px;border-bottom:1px solid #ececec;}
.report-new-time{line-height:16px;font-size:1.2rem;color:#999999;margin-bottom:4px;}
.report-new-time span{float:right;color:#4cc38b;}
.report-new-text {line-height:22px;font-size:1.4rem;color:#666666;}
.report-new-text strong{color:#333333;font-weight:normal;}