/*footer box*/
.footer-box{/*overflow:hidden;*/ /*margin-top:20px;*/  background:#fff;padding:10px 0 0; /*position:relative; z-index:1;*/}

/*底部通栏广告*/
.ad-bottom-line img{width:100%; display:block;}

/*footer*/
.footer{width:100%; height:45px; line-height:45px; background:#333; font-size:1.2rem; position:relative; z-index:1;}
.footer em{color:#444;}
.footer a{color:#999; padding:0 10px;}
.footer a.current{color:#fff;}
.footer .left-part{float:left;}
.footer .right-part{float:right;}
.footer .ico-yjdc{position:relative;}
.footer .ico-yjdc i{width:5px; height:5px; background:#c00; border-radius:5px; position:absolute; top:0px; right:7px;}

/*20151110 新底部*/
.footer15{background:#fff; margin:0; padding:0 0 80px; border-top:12px solid #f2f2f2;}

/*footer search*/
.m-s-box{width:100%; height:50px; background:#F8F8F8; border-bottom:1px solid #E2E2E2; display:table;}
.m-s-box .m-close-box{display:table-cell; padding:9px 0 0 10px; width:100%;}
.m-s-box .m-close-box-in{position:relative; width:100%;}
.m-s-box input[type="text"], .m-s-box input[type="search"]{width:100%; height:38px; font-size:1.5rem; color:#A0A0A0; vertical-align:middle; padding:0; box-sizing:content-box; border:none; box-shadow:0px 0px 0px 1px #dedede inset; text-indent:10px; position:relative; z-index:10; border-top-left-radius:30px; border-bottom-left-radius:30px; background-image:none;}

.m-s-box .m-btn-box{display:table-cell; width:67px; padding:9px 10px 0 0;}
.m-s-box input[type="submit"]{width:66px; height:38px; border:1px solid #dedede; border-left:none; background-color:#fbfbfb; background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/nav_ico_all.png); background-repeat:no-repeat; background-position:-112px 10px; background-size:150px auto; text-indent:-999em; cursor:pointer; vertical-align:middle; border-top-right-radius:30px; border-bottom-right-radius:30px;}
.m-s-box .m-btn-close{width:20px; height:20px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat 2px -72px; background-size:100px auto; position:absolute; top:8px; right:5px; text-indent:-999em; z-index:11; display:none;}
.m-s-box-bottom{border-top:1px solid #E2E2E2; position:relative; z-index:1; /*margin-top:20px;*/}

.footer15 .m-s-box{background:#FFF; border:none; height:auto; padding:15px 0 0;}
.footer15 .m-s-box .m-close-box{padding:0 0 0 15px;}
.footer15 .m-s-box .m-btn-box{padding:0 15px 0 0;}

.footer15 .opt-change{text-align:center; font-size:1.4rem; color:#dedede; margin-top:18px;}
.footer15 .opt-change em{padding:0 10px;}
.footer15 .opt-change a{color:#666;}
.footer15 .opt-change a.current{color:#3269b4;}
.footer15 .opt-change span{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_feedback.png) no-repeat; background-size:10px auto; padding-left:16px;}

.footer15 .foot-contact{font-size:1.2rem; color:#999; text-align:center; margin-top:34px;}
.footer15 .foot-contact p{border-top:1px solid #ececec; display:inline; padding:18px 0 0;}
.footer15 .foot-contact a{color:#999; font-weight:bold; font-size:1.4rem;}

.footer15 .foot-copyright{font-size:1.2rem; color:#999; text-align:center; margin-top:6px;}
.footer15 .foot-copyright a{color:#999;}

.footer15 .breadcrumb{height:44px; line-height:44px; background:#f5f5f5; margin:15px 0 0; color:#b7b7b7; font-size:1.6rem;overflow:hidden; overflow-x:scroll; -webkit-overflow-scrolling:touch; -ms-overflow-style:none;}
.footer15 .breadcrumb-box{white-space:nowrap; padding:0 15px;}
.footer15 .breadcrumb a{color:#666;}
.footer15 .breadcrumb span{color:#999; padding-right:15px;}

.footer15 .ico-f-pc{background-position:0 1px; padding:0 0 0 20px;}
.footer15 .ico-f-map{background-position:0 -20px; padding:0 0 0 20px;}
.footer15 .ico-f-feedback{background-position:0 -40px; padding-left:15px;}
.footer15 .ico-f-pc, .footer15 .ico-f-map, .footer15 .ico-f-feedback{background-image:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_footer_img.png); background-repeat:no-repeat; background-size:20px auto;}

