
/* 成交排行列表   */
.seller-rank-wrap{overflow:hidden;}
.boxwrap{background:#fff;}
.transbg{position:fixed;right:0;z-index:1;background:rgba(255,255,255,0.5);width:15px;height:40px;}
.tab-rank-t{overflow:hidden;overflow-x:scroll;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;border-bottom:1px solid #ececec;}
.tab-rank-t::-webkit-scrollbar{height:0px;}
.tab-rank-t ul{white-space:nowrap;padding:0 15px;}
.tab-rank-t ul li{display:inline-block;white-space:nowrap;padding-right:31px;line-height:50px;}
.tab-rank-t ul li:last-child{padding-right:15px;}
.tab-rank-t li a{display:inline-block;font-size:1.5rem;color:#666;}
.tab-rank-t li.cur a{color:#ff6d02;border-bottom:2px solid #ff6d02;}

.rank-list .swiper-slide ul{padding:0 15px;}
.rank-list li{padding:18px 0;border-bottom:1px solid #ececec;}
.rank-list li:last-child{border-bottom:none;}
.rank-list li a{display:block;overflow:hidden;}
.rank-list li.hot .rank-num{color:#ff6d02;}
.rank-num{float:left;width:30px;height:53px;line-height:53px;color:#333;font-size:1.6rem;}
.rank-img{float:left;width:80px;height:53px;margin-right:14px;}
.rank-desc .car-style{font-size:1.6rem;line-height:20px;}
.rank-desc .car-pri{font-size:1.4rem;color:#ff6d02;line-height:31px;}
.rank-desc .car-pri span{color:#b7b7b7;font-size:1.2rem;padding-left:10px;}
