.hide{ display: none;}
.borb0{ border-bottom: 0px !important;}
.borr0{ border-right:0px !important; }

.index-sel-list{ width: 100%; background: #ffffff;}
.index-sel-nav{ height: 45px; border-bottom: #ececec solid 1px; }
.index-sel-nav span{ width:25%; height: 45px; display: inline-block; float: left; text-align: center; font-size: 1.5rem;  }
.index-sel-nav span a{ display: inline-block; height: 45px;line-height: 45px; }
.index-sel-nav span a.sel-item{ color: #FF6C02; border-bottom:#FF6C02 solid 2px; padding: 0 7px; }

.index-sel-box{ clear: both; width: 100%; padding-bottom: 20px;}
/**/
.lb-carlist-show{ background: #ffffff; width: 100%; clear: both; }
.bor-show0{    box-shadow: none !important;  -webkit-box-shadow: none !important;}
/**/
.lb-carlist { padding-top: 15px; overflow: hidden;    padding-bottom: 6px;}
.lb-carlist li{    display: block; width: 20%; float: left; height: 46px; margin-bottom: 12px; text-align: center;}
.lb-carlist li a{ display: block;}
.lb-carlist li a img{ width: 27px; height: 27px;}
.lb-carlist-more{ color:#ff9933; }
.lb-carlist-more i{width: 25px; height: 25px; font-size: 20px; display: inline-block; margin-top: 4px;}

.lb-carlist-wz{ clear: both;padding-top:6px;padding-bottom: 4px; }
/*border-top:  #ECECEC solid 1px;*/
.bort{border-top:  #ECECEC solid 1px; clear: both; height: 16px; margin-top: 12px;}
.lb-carlist-wz{ clear: both;border-top:1px solid #ececec; padding-top:16px;padding-bottom: 4px; }
.lb-carlist-wz p{font-size: 1.2rem; height: 33px; text-align: center;}
.lb-carlist-wz p a{ width:20%; display: inline-block; float: left; }
.lb-carlist-wz span{ width: 20%; display: inline-block; float: left; color: #999999 }

.index-sel-btn{ margin: 0 15px;  height: 34px;background: rgba(255,109,2,0.05);  border: 1px solid #FF6D02;  border-radius: 4px; text-align: center; line-height: 34px;}
.index-sel-btn a{ display: block; color: #FF6D02; font-size: 1.4rem; }
.index-sel-btn a i{ font-size: 12px; margin-left: 2px;}
/**/
.new-cari-item{ padding: 10px 0 10px 24px; overflow: hidden;}
.new-cari-item h3{font-size: 1.1rem;  color: #999999; padding-bottom:5px; padding-top: 10px; clear: both;}
.new-cari-item p{ overflow: hidden;}
.new-cari-item p a{ width: 25%; line-height: 30px; font-size: 1.2rem; color: #333333; display: inline-block; float: left;}

/*贷款购车*/
.index-dk-box{  background: #ffffff; clear: both;}
.new-ico-title{ height: 40px; border-bottom:#ececec solid 1px; padding: 11px 0; text-align: center; }
.new-ico-title span{ width: 190px; height: 18px; display: inline-block; font-size: 1.6rem;  color: #EA474D; padding-left: 30px; }
.dk-ico{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/ico-title01.jpg") no-repeat; background-size: 100% auto;}
.dk-ico-a{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/ico-title02.jpg") no-repeat; background-size: 100% auto; color: #FF6C02!important; }

.dk-ul{ height: 134px; border-bottom:#F8F8F8 solid 1px;  }
.dk-ul dt{ width: 46%; height: 134px; float: left; border-right:#F8F8F8 solid 1px; text-align: center; }
.dk-ul dt span{ display: block;  color: #666666; line-height: 20px;}
.dk-ul dt a{ display: block;padding-top: 20px; height: 134px;}
.dk-ul dt span i{ display: block; font-size: 1.6rem; color: #333;}
.dk-ul dt img{ width: 56px; height: 55px; display: inline-block;}

.dk-ul dd{ width: 54%; height: 134px; float: left;}
.dk-ul dd p{ height: 67px; border-bottom:#F8F8F8 solid 1px; width: 100%; padding-top: 15px; padding-left: 16px;  }
.dk-ul dd p img{ width: 42px; height: 37px; display: inline-block; float: left; margin-right: 10px;}
.dk-ul dt span{ display: block;  color: #666666; line-height: 20px; }
.dk-ul dd span i{ display: block; font-size: 1.6rem; color: #333;}

.limit-list::-webkit-scrollbar{height:0px;}
.limit-list{  padding: 20px 15px;    overflow: hidden;  overflow-x: scroll;  -webkit-overflow-scrolling: touch;  -ms-overflow-style: none; margin-right: 5px;  }
.limit-list ul{ height: 162px; white-space: nowrap; }
.limit-list li{ width: 125px; height: 160px;  margin-right: 10px;border: 1px solid #E5E5E5;    display: inline-block;
    white-space: nowrap; text-align: center; position: relative;}
.limit-list li a{ display: block; width: 100%;}
.limit-list li h3{  color: #A4A4A4; line-height: 22px; font-size: 1.2rem; padding-left: 13px;}
.limit-list li img{ width: 105px; height: 70px; margin: 0 auto; border: 0px;}
.limit-list li p{color: #666666;font-size: 1.2rem;}


.limit-list li p b{font-size: 1.4rem;  color: #333333; display: block;padding: 0 5px;  line-height: 14px;  overflow: hidden;  max-width: 110px;  white-space: nowrap;  text-overflow: ellipsis; text-align: center; margin: 0 auto 3px;}



.limit-list li p em{ display: inline-block;border: 1px solid #E9474D;  border-radius: 16px; color:#E9474D; padding: 0 5px; line-height: 14px; overflow: hidden; max-width: 110px; white-space: nowrap; text-overflow: ellipsis; }
.limit-list li p span{ display:block;}
.limit-list li i{ background: #E9474D;  border-radius: 1px; height: 15px; color: #ffffff; position: absolute; left: 0px; top: 0px; font-size:9px; padding:3px 3px 2px; line-height: 10px;}

/*超值二手车*/
.index-cz-box{ background: #ffffff;}
.cz-list01{ width: 100%; overflow: hidden; }
.cz-list01 li{ width: 50%; height: 120px; float: left; border-bottom: #F8F8F8 solid 1px; border-right:#F8F8F8 solid 1px; }
.cz-list01 li.cz-tiem01{ overflow: hidden;}
/*.tiem01-a{ width: 100%; height: 120px;}*/
.cz-list01 li a.tiem01-a { padding-top: 0px;}
.cz-list01 li a.tiem01-a img{ height: 120px; width: 100%;}

.cz-tiem01  div { width: 100%; height: 120px;}
.cz-tiem01  div img {  height: 120px; }


.cz-list01 li a{ width: 100%; height: 120px; display: block; text-align: center;padding-top: 14px;}
.cz-list01 li em{ width: 59px; height: 51px; display: inline-block;}
.cz-list01 li p{color: #666666; line-height: 19px; padding-top: 3px; }
.cz-list01 li p span{ font-size: 1.6rem;  color: #333333; display: block;}

.cz-tiem01 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-ico01.png") no-repeat; background-size: 100% auto;}
.cz-tiem02 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-ico02.png") no-repeat; background-size: 100% auto;}
.cz-tiem03 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-ico03.png") no-repeat; background-size: 100% auto;}
.cz-tiem04 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-ico04.png") no-repeat; background-size: 100% auto;}
.cz-tiem05 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-car-ico01.png") no-repeat; background-size: 100% auto;}
.cz-tiem06 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-car-ico02.png") no-repeat; background-size: 100% auto;}
.cz-tiem07 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-car-ico03.png") 0 5px no-repeat; background-size: 100% auto;}

.three-itm{border-bottom: #ECECEC solid 1px;}
.three-itm li{ width: 33.33%; height: 120px; float: left;border-right:#F8F8F8 solid 1px; border-bottom: 0px; }
.three-itm li p span{ font-size: 1.4rem;}
.three-itm li:last-child em{ width: 76px;}

/**/
.new-m-tle{position: relative; text-align: center;  padding: 0 15px;  overflow: hidden;}
.new-m-tle .h2{ line-height:20px;padding-top: 15px; height: 35px;}



/*车险*/
.gg-sel-box{padding-bottom: 0px;}
.cx-item01{ height: 80px;}
.cx-item01 a{ width: 33.3%; height: 80px; float: left; text-align: center; display: block;ont-size: 1.2rem;
    color: #666666;}
.cx-item01 a em{ display:block;height: 52px; }
.cx-item01 a em img{ width: 40px; height: 40px; display: inline-block; margin-top: 13px;}
.cx-item01 a em img.ie0a{ width: 63px; height: 40px; margin-top: 12px; margin-left: 24px;}

.cx-adve{ width: 100%; clear: both; background: #ffffff; height: 240px; }
.cx-adve ul{ box-sizing: border-box; clear: both;}
.cx-adve ul li{ width: 50%; height: 80px; border-top: 1px solid #ececec; border-right:1px solid #ececec; float: left; padding-right: 15px;font-size: 1.2rem;  }
.cx-adve ul li a{ display: block; width: 100%; height: 80px; position: relative; line-height: 18px;}
.adve-img{ width: 65px; height: 78px; float: left; margin-left: 10px;}
.adve-img img{ margin-top: 13px;}
.adve-img em{ width: 35px; height: 33px; position: absolute; top: -1px; left: -1px; display: inline-block;}
.hd-ico01{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/jb-gg01.png") no-repeat; background-size: 35px 33px;}
.hd-ico02{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/jb-gg02.png") no-repeat; background-size: 35px 33px;}
.cx-adve ul li a h3{ padding-top: 25px; color: #333333; text-align: right;}
.cx-adve ul li a h4{ color: #666666; text-align: right;}







/*20170721 luoli*/

.cz-list01 li a{ width: 100%; height: 120px; display: block; text-align: center;padding-top: 12px;}
.cz-list01 li em{ width: 59px; height: 59px; display: inline-block;}
.cz-list01 li p{color: #666666; line-height: 19px; padding-top:0px; }
.cz-tiem02 em{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-ico02.jpg") no-repeat; background-size: 100% auto;}
/*.cz-tiem04 em{ background: url("../images/cz-ico055.jpg") no-repeat; background-size: 100% auto;}*/

.hot-rz{ position: relative;}
.hot-rz i{ display: inline-block; width: 24px; height: 14px; position: absolute; right:2px; top: -14px;}

.rzc-h{ width: 59px; height: 62px; margin: 0 auto; position: relative; text-align: center;}
.rzc-h em{background: url("http://image.bitautoimg.com/taoche/2016taoche_m/cz-ico055.jpg") no-repeat; background-size: 100% auto;}
.rzc-h i{display: inline-block; width: 24px; height: 14px; position: absolute; right:-25px; top: -1px;}

/*20170814luoli*/
.rzc-ba{ width: 48px; height: 18px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/tc-rz-ccio.png") no-repeat; background-size: 48px 18px; position: absolute;}

.p-pri{ overflow: hidden; height: 20px;}
.txt-r{ text-align: right;}
.p-pri i{ float: left; display: inline-block; height: 20px;}
.p-pri em{  font-size: 1.0rem;  line-height: 14px;  height: 14px;  display: inline-block;  border-radius: 2px;  -moz-border-radius: 2px;  -webkit-border-radius: 2px;   padding: 0 1px;}

/*.s-bt {  color: #FFAC71;  border: 1px solid #FFAC71;    }*/
/*.s-bx {  color: #72CD95;  border: 1px solid #72CD95;  }*/
/*.s-fqgc {  color: #79BAF2;  border: 1px solid #79BAF2;  }*/



/*20180831luoli*/
.index-sel-list{ clear: both;}
.index-tdico{ clear: both; width: 100%; background: #ffffff; padding:20px 1%;margin-bottom: 12px; overflow: hidden;}
.index-tdico ul li{ width: 25%; height: 68px; float: left; text-align: center;}
.index-tdico ul li a{ display:block;}
.index-tdico ul li span{ width: 48px; height: 48px; display: inline-block; position: relative;}
.tdico-txt{ width: 38px; height: 15px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/tdico-txt.png") no-repeat; background-size: 100% 100%; display: inline-block; position: absolute; right: -21px; top: -2px;}
.index-tdico ul li p{font-size: 1.3rem;  color: #394043; line-height: 20px; }
.tdico-a{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/inxex-tdico.png") 0 0 no-repeat; background-size: 48px 213px;}
.tdico-b{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/inxex-tdico.png") 0 -51px no-repeat; background-size: 48px 213px;}
.tdico-c{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/inxex-tdico.png") 0 -104px no-repeat; background-size: 48px 213px;}
.tdico-d{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/inxex-tdico.png") 0 -155px no-repeat; background-size: 48px 213px;}



/*20170912luoli*/
.carlist-title{ height: 53px; text-align: center; line-height: 53px;font-size: 1.6rem;  color: #333333;  letter-spacing: 0.18px; margin: 0 15px; position: relative;}
.carlist-title a{ float: right;font-size: 1.2rem;  color: #868A8B;    background: url(http://image.bitautoimg.com/taoche/2016taoche_m/arrow-right.png) no-repeat right center;  background-size: 7px 11px; display: inline-block; position: absolute; right: 0px; top: 0px; padding-right: 10px;}
.pat0{ padding-top: 0px !important;}
/**/
.gohome-list::-webkit-scrollbar{height:0px;}
.gohome-list{  padding:0px 15px;overflow: hidden;  overflow-x: scroll;  -webkit-overflow-scrolling: touch;  -ms-overflow-style: none;  margin-right: 5px;}
.gohome-list ul{    height: 162px;  white-space: nowrap;}
.gohome-list ul li{  width: 125px;  height: 160px;  margin-right: 10px;  border: 1px solid #E5E5E5;  display: inline-block;  white-space: nowrap;  text-align: center;  }
.gohome-list ul li a{ display: block; width: 100%; height: 160px;}
.gohome-a{ padding-top:10px;text-align: center; line-height: 18px; height: 44px; width: 100px; margin: 0 auto;}
.gohome-a span{ display: block;font-size: 1.2rem;  color: #FF6C02; text-align: right;}
.gohome-a span em{color: #333333; width: 50px; display:block; float: left;}
.gohome-b{  height: 16px; line-height: 15px; text-align: center;font-size: 1.1rem;  color: #FFFFFF; margin: 0 auto;  text-align: center; margin-top: 5px; max-width: 100px; padding-top: 1px;}
.gohome-b span{overflow: hidden; background: #FF6C02;  border-radius: 3px; display: block;   white-space: nowrap;  text-overflow: ellipsis; padding: 0 2px;}
.gohome-list ul li img{width: 90px;  height: 60px;  margin: 3px auto 0;  border: 0px; display: block;}
.gohome-c{ text-align: center;font-size: 1.4rem;  color: #333333; padding: 0 5px;  overflow: hidden;  max-width: 110px;  white-space: nowrap;  text-overflow: ellipsis;  text-align: center;  margin: 3px auto 0;}
.mt20{ width: 100%; height: 20px; clear: both;}
.patb0{ padding-top: 0px; padding-bottom: 0px;}

@media screen and (device-width: 320px) {
    .cx-adve ul li{ padding-right: 10px;}
    .adve-img{ margin-left: 0px;}
    .hot-rz i{ right:-5px;}
    .index-tdico{padding:20px 2%;}
}


























