.hide{ display: none;}

.dlsq-box{ width: 100%; clear: both;}
.dlsq-txt{ height: 30px;background: #F5F5F5; text-align: center; line-height: 30px;ont-size: 1.2rem;  color: #666666;  letter-spacing: -0.29px;}

.l15{ left: 15px !important; top:0px !important;}
.pal40{ padding-left: 40px !important;}
.pal17{ padding-left: 17px !important;}

.submit_success .sub_su_main .new-xj-txt{ height: auto;  padding-bottom: 23px;}

.yy-su-img{ width: 100%; height: 90px;text-align: center;}
.yy-su-img img{ display: inline-block; width: 90px; height: 90px;}