.hide{ display: none;}
.mab20{ margin-bottom: 20px;}
/*车源名片*/
.wbcx-car{ width: 100%; height: 112px; padding: 15px 15px 0px 15px;}
.wbcx-car-img{ width: 120px; height: 80px; float: left; position: relative;}
.wbcx-car-name{ padding-left: 130px;line-height: 20px;font-size: 1.6rem; }
.wbcx-car-name h3{  color: #333333;  letter-spacing: 0.4px; overflow: hidden; height: 40px; }
.wbcx-car-name h4{ color: #FF6D02;  letter-spacing: -0.12px; padding-top: 4px; }
.wbcx-car-name h5{font-size: 1.2rem;  color: #999999; letter-spacing: -0.1px; }
.wbcx-car-name h5 em{ padding: 0 5px;}

/*详细记录*/
.wbcx-datail{ width: 100%;}
.wbcx-title{ height: 46px; border-bottom: #ECECEC solid 1px; padding: 0 15px;font-size: 1.6rem;  color: #333333;  letter-spacing: 0; line-height: 46px;}
.wbcx-title span{ float: right;font-size: 1.4rem;  color: #999999;  letter-spacing: 0;}

.wbcx-list{ padding: 22px;border-bottom: #ECECEC solid 1px; padding-bottom: 0px; }
.wbcx-list li{border-left:#ECECEC solid 1px; position: relative; width: 100%; clear: both; }
.wbcx-list li:last-child{ border-left:none; }
.data-num{font-size: 1.4rem;  color: #999999;  letter-spacing: 0; height: 20px; position: absolute; top: -10px; left: -5px; height: 20px;}
.wbcx-ico{ width: 10px; height: 10px; background: #FF9900; border-radius: 50%; display: inline-block; margin-right: 15px; }
.wbcx-item{ padding: 13px 20px 23px; }
.wbcx-item p{font-size: 1.4rem; color: #666;  letter-spacing: 0;  line-height: 18px;}
.wbcx-item p em{ display: block; float: left; color: #333333;}
.wbcx-item p span{ padding-left: 42px; display: block;}

/*免责声明*/
.wbcx-mzsm{ width: 100%; clear: both; padding: 22px 20px;font-size: 1.2rem;  color: #999999;letter-spacing: 0; border-bottom: #F8F8F8 solid 1px;  }
.wbcx-mzsm p{  line-height: 15px;}
.wbcx-mzsm h3{ display: block; padding-bottom: 6px; text-align: center;}

/*弹层*/
.z-max{ z-index: 10000 !important;}
.z-max .logtime_box{ width: 314px; margin-left: -157px;}
.bot-fixed span{ font-size: 1.2rem;}

/*底部导航*/
.bgff2 {  background: #FF6D02 !important;  }
.bot-fixed ul li.li-dhzx{border-top:#DEDEDE solid 1px;}
.bot-fixed ul li.li-dhzx p{line-height:54px; height: 54px;}
.li-dhzx a{color: #FF9900;  font-size: 1.6rem;  height: 54px;}
.new_ico_dianh,.new_ico_mianfei{font-size: 20px!important;}
.new_ico_dianh{ font-size: 18px!important; vertical-align: middle;}
.new_ico_botwokj{font-size: 18px!important;}
.bor0{ border-right: 0px !important; }
.new_ico_xixun{font-size: 18px!important; vertical-align: middle;}
/*.new_ico_xixun{font-size: 20px!important;}*/
.new_ico_mianfei{font-size: 20px!important;}

/*检测报告*/
.jcbg-car{ position: relative;}
.jcbg-car h5{ padding-top: 3px;}
.jcbg-car h4{ padding-top: 0px;}
.jcbg-c-btn{ padding-left: 10px; padding-right: 10px; height: 28px; border: 1px solid #FF9900;  border-radius: 2px; text-align: center; display: block; line-height: 28px;font-size: 1.4rem;  color: #FF6D02;  letter-spacing: -0.1px; position: absolute; right: 0px; bottom: -7px;}
.new-brb{border-bottom: #F8F8F8 solid 1px;}
.notes-box{ width: 100%; }
.notes-title{ height: 31px; line-height: 31px; background: #F5F5F5; padding: 0 15px;font-size: 1.6rem;  color: #333333;  letter-spacing: 0; border-bottom: #ECECEC solid 1px;}
.bob0{ border-bottom: 0px !important;}
.only-ques{ font-size: 1.2rem; color: #666666; padding-left: 6px;}


.notes-title a{ float: right; height: 31px; display: block;font-size: 1.4rem;  color: #666666;  letter-spacing: 0; position: relative;}
.notes-title a.colred{ color: #E51616;}
.notes-title a i{ width: 16px; height: 10px; display: inline-block; background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-17.png") no-repeat; background-size: 100% 100%; margin-left: 7px;}
.notes-title a i.san-ico-x{ background: url("//image.bitautoimg.com/taoche/2016taoche_m/rez-xq-16.png") no-repeat; background-size: 100% 100%; }

.notes-pic{ margin: 0 15px;}
.notes-pic-txt{ padding: 12px 5px; border-bottom: #ECECEC solid 1px;font-size: 1.4rem;  color: #999999;  letter-spacing: 0; line-height: 20px;}
.notes-pic-img{ width: 100%;overflow: hidden; border-bottom: #ECECEC solid 1px;}
.notes-pic-img img{ display:block; width: 90%; margin: 12px auto; }

.notes-list{ margin: 0 15px 10px;}
.notes-list li{  border-bottom:  #ECECEC solid 1px; min-height:36px;line-height: 36px;font-size: 1.4rem;  color: #666666;  letter-spacing: 0; padding-left: 5px;}
.notes-list li span{ float: right;font-size: 1.2rem;  color: #999999;  letter-spacing: 0;}
.notes-list li i{ width: 14px; height: 14px; display: inline-block; vertical-align: middle; margin-left: 7px;}
.notes-list li i.notes-true{ background: url("//image.bitautoimg.com/taoche/2016taoche_m/i_ok.png") no-repeat; background-size: 100% 100%; }
.notes-list li i.notes-false{background: url("//image.bitautoimg.com/taoche/2016taoche_m/i_no.png") no-repeat; background-size: 100% 100%;}

.jc-not-txt{ line-height: 20px; font-size: 1.2rem; padding-bottom: 8px;}

.quest-pic{ clear: both; padding-bottom: 10px;margin: 0 15px;}
.quest-pic h3{ color: #999999; font-size: 1.4rem; height: 30px; padding-left: 5px; }
.quest-list{  overflow: hidden;  overflow-x: scroll;  -webkit-overflow-scrolling: touch;  -ms-overflow-style: none;}
.quest-list::-webkit-scrollbar{height:0px;}
/*.quest-list img{ width: 100%; position: absolute; left: 0px; top: 0px;}*/
/*.fix-loaing img{ width: 35px; height: 35px; }*/
.quest-list ul{ white-space: nowrap; padding-left: 5px;  }
.quest-list li{width:102px; margin-right:10px; display:inline-block;text-align: center;  position: relative;  height: 114px;  }
.quest-list li:last-child{ margin-right: 0px;}

.fix-loaing{ border: #ECECEC solid 1px; position: absolute; top: 0px; left: 0px; overflow: hidden; width:102px; height: 76px; }
.pic-car{ width: 100%; display: block; height: 76px; }
.pic-log{ width: 30px; height: 30px; position: absolute; left: 50%; margin-left: -15px; top: 50%; margin-top: -15px;}

.quest-list li p{ font-size: 1.2rem; color: #666666; line-height: 18px; height: 36px;white-space: normal;overflow: hidden; position: absolute; bottom: 0px; left: 0px; text-align: left; }

/*20170808*/
.false-fix{ position: relative; }
.fals-txt{ position: absolute; width:88%;  letter-spacing: -0.29px;background: rgba(0,0,0,0.65);
    border-radius: 51px;bottom: 37px; right:0px; }
.fals-txt p{font-size: 1.2rem;  color: #FFFFFF; line-height: 18px;padding: 12px; }

.fale-jiao{width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: solid dashed dashed dashed;
    border-color: #000 transparent transparent transparent;
    opacity: 0.65;
    display:block; position:absolute; right:30px; bottom: -18px;}




@media screen and (device-width: 320px) {
    .jcbg-c-btn{ padding-left: 8px; padding-right: 8px; height: 24px; line-height: 24px;}
}








