
/*无信息*/
.cont-none{ font-size: 1.5rem;padding:30px 15px 15px; background: #fff; text-align: center;min-height:auto!important; }
.cont-none i{ display: block; width:104px; height: 92px;margin: 0 auto 13px; background: url(http://image.bitautoimg.com/taoche/2016taoche_m/suc.png) no-repeat; background-size: 104px 92px }
.cont-none h2{font-size: 1.8rem; margin-bottom: 10px}
.cont-none p{ font-size: 1.4rem; color: #999;}

.bg-white{ background:#fff }
.foot-tel{ font-size: 1.2rem; color: #999; text-align: center; }

/*推荐同款车*/

.img-info-layout .img{width:105px;height:70px;}
.identical-car .img-info-layout .p-list .name{height:18px;line-height:18px;}
.identical-car .img-info-layout .p-list .price{line-height:16px;}
.identical-car .img-info-layout:last-child{border-bottom:none;}