
/*筛选标题*/
.tt-first{width:100%; height:33px; border-bottom:1px solid #eee; position:relative; margin:15px 0 0;}
.tags-sub{position:absolute; top:0; left:12px; font-size:1.6rem;}
.tags-sub li{float:left; margin:0 12px 0 6px;}
.tags-sub li a{color:#666; display:block; height:32px; line-height:28px;}
.tags-sub li.current a{color:#ff6d02; border-bottom:2px solid #ff6d02;}
.tags-sub li.arrow{position:relative;margin-right:26px;}
.tags-sub li.arrow i, .tags-sub li.arrow s{width:0; height:4px; border:4px solid #c7c7c7; border-color:#AAA transparent; position:absolute; right:-12px;}
.tags-sub li.arrow i{border-width:4px 4px 0 4px; top:16px;}
.tags-sub li.arrow s{border-width:0 4px 4px 4px; top:8px;}
.tags-sub li.arrow-d-t s{border-color:#ff6d02 transparent;}
.tags-sub li.arrow-t-d i{border-color:#ff6d02 transparent;}
.tags-sub li.pxxjt a{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/xjt_ico.png) no-repeat right center;background-size:13px 8px;padding-right:17px;}


/*图文排列-水平*/
.img-info-layout{padding: 15px 0px 15px 0px; margin:0 15px; display: table; border-bottom: 1px solid #ececec;}
.img-info-layout a{  width: 100%;  display: table; }
.img-info-noborder .img-info-layout:last-child {border-bottom: none;}

.img-info-layout .img{ display:inline-block; vertical-align: top; width:105px; height: 70px; position: relative; margin-right: 10px}
.w270-h180 .img{width:135px; height: 90px;}
.img-info-layout .p-list{ width: 80%; display: table-cell; vertical-align:top; position: relative; line-height: 18px; margin-top: -4px }
.img-info-layout .p-list li{ width: 100% }
.img-info-layout .p-list .name{ font-size: 1.4rem;height:36px; line-height:18px;overflow: hidden }
.img-info-layout .p-list .info{ color: #999; font-size: 1.2rem; line-height:18px;}
.img-info-layout .p-list .info span{float:right;}
.img-info-layout .p-list .price{line-height:18px; color: #999;}
.img-info-layout .p-list .price em{color:#ff6d02;font-size: 1.4rem; }
.img-info-layout .p-list .price span{float:right;font-size:1.2rem;}
.p-list  i{position:absolute;bottom:0;border-radius:2px;margin-right:5px;height:15px;line-height:13px;padding:0 2px;font-size:1.0rem;overflow:hidden;float:left;}
.i-color1{ border:1px solid #ff6d02; color: #ff6d02; }
.i-color2{ border:1px solid #4cc38b; color: #4cc38b;}
.i-color3{ border:1px solid #8dc6fc; color: #8dc6fc; }
.i-color4{ border:1px solid #ff6d02; color: #ff6d02; }

/*车型列表--垂直2列*/
.col-xs-2{padding:15px 15px 0 5px;}
.col-xs-2 > ul{ overflow: hidden;zoom:1 }
.col-xs-2 > ul > li{  float: left; width: 50%; margin-bottom: 15px}
.img-info-layout-vertical{position: relative;display: block;overflow: hidden;}
.img-info-layout-vertical > a > .img{overflow: hidden;position: relative;}
.img-info-layout-vertical > a > .img .tag{ position: absolute;top:0;left:0; background: #e4393c; color: #fff;padding:0 5px; font-size:1.2rem }
.img-info-layout-vertical > a > .p-list{list-style: none;}
.img-info-layout-vertical > a > .p-list li{ line-height: 20px;font-size:1.2rem }
.img-info-layout-vertical > a > .p-list .name{ font-size: 1.4rem; height:36px; line-height:18px; overflow:hidden}
.img-info-layout-vertical > a > .p-list .info{ color: #999 }
.img-info-layout-vertical  > a >  .p-list > .price{ color: #ff6d02;font-size: 1.4rem;}
.img-info-layout-vertical  .price i{margin-top:2px;height:16px;line-height:14px;float:right;font-size:1.2rem;}
.img-info-layout-vertical-center{	text-align: center;}
.col-xs-2 .img-info-layout-vertical{ margin-left: 10px }
.img-info-layout .p-list .ads{ float: none; position: absolute;bottom:16px;right:0; color: #999; width:75px; }
.img-info-layout .p-list .ads a.btn{border:1px solid #ff6d02; color: #ff6d02; display: block; width: 75px; height: 35px; line-height: 35px; text-align: center; font-size: 1.4rem; border-radius: 3px}
.img-info-layout .p-list .ads a.btn2{ color:#666;border:1px solid #d2d2d2}

/*图文排列-水平 补充*/
.col-auto {width: 100%; background: #fff;margin-top: 12px; position: relative;}
.col-no-top {margin: 0;}
.no-bt-line{ border-bottom: 0;padding:15px; }
.no-bt-line a{ border-bottom: 0;padding:0; }
.no-bt-line .p-list .name{ height: 36px; margin-bottom: 3px; font-size: 1.4rem }
.no-bt-line  .img{width:105px;height:70px;}
.no-bt-line .p-list .info{line-height:14px;}



