/*
.adb{.fz(14px);}
.adbddd{.fz(14px,1);}
*/
/*
.button {
  .border-radius(6px);
}

.button {
  .border-radius;
}
*/
/*
.big-block {
  .box-shadow(2px; 5px);  
}  
}
*/
/*
.box4 {
  .gradient(180deg,#000,#fff);
}
*/
/*
.dfsdf{
	.transform(rotate(0deg));
}

.dddtranslate{
	.transform(translate(-50%, -50%));
}
*/
/*
.keyframes (line, {
    0% {
        background-size: 0% 2px;
    }
    100% {
        background-size: 100% 2px;
    }
});



.keyframes (line, {
    0% {
        .transform(rotate(0deg));
    }
    100% {
        .transform(rotate(360deg));
    }
});
*/
/*
.div{
	.rgba(.4,40);
}
*/
.hide {
  display: none;
}
.borb0 {
  border-bottom: 0rem !important;
}
.borr0 {
  border-right: 0rem !important;
}
img {
  max-width: 100%;
}
a {
  color: #333333;
}
.orange {
  color: #ff6402;
}
.disable {
  background: #D6D6D6 !important;
  color: #FFFFFF;
}
.boxwrap {
  background: #fff;
}
.mt12 {
  margin-top: 0.32rem;
}
.mt20 {
  margin-top: 0.26666667rem;
}
.pab50 {
  padding-bottom: 1.44rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 12px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
.bg-greyer {
  background: #f5f5f5;
}
/*参数配置*/
.param-main {
  background: #FFFFFF;
}
.param-main .title {
  line-height: 1.33333333rem;
  color: #2f3540;
  padding: 0 0.4rem;
}
[data-dpr="1"] .param-main .title {
  font-size: 16px;
}
[data-dpr="2"] .param-main .title {
  font-size: 32px;
}
[data-dpr="3"] .param-main .title {
  font-size: 48px;
}
.param-main .car-pic {
  height: 12.62666667rem;
  width: 100%;
  position: relative;
}
.param-main .car-pic .img {
  height: 9.52rem;
  width: 8.30666667rem;
  margin: 0.8rem auto 0;
  background: url(../../img/car-config.png) no-repeat;
  background-size: contain;
}
.param-main .car-pic .config-img .desc-l {
  position: absolute;
  top: 2.93333333rem;
  left: 50%;
  margin-left: 0.53333333rem;
}
.param-main .car-pic .config-img .desc-w {
  position: absolute;
  top: 2.93333333rem;
  left: 50%;
  margin-left: -2.4rem;
}
.param-main .car-pic .config-img .desc-h {
  position: absolute;
  top: 1.06666667rem;
  left: 50%;
  margin-left: 2.93333333rem;
}
.param-main .car-pic .config-img .desc-front {
  position: absolute;
  top: 6.93333333rem;
  left: 50%;
  margin-left: -3.46666667rem;
}
.param-main .car-pic .config-img .desc-after {
  position: absolute;
  top: 6.93333333rem;
  left: 50%;
  margin-left: 1.2rem;
}
.param-main .car-pic .config-img .desc-left {
  position: absolute;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-100%);
  margin-left: -1.33333333rem;
}
.param-main .car-pic .config-img .desc-right {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: 0.53333333rem;
  text-align: center;
}
.param-main .col-title {
  background: #F8F8F8;
  color: #2f3540;
  line-height: 0.74666667rem;
}
[data-dpr="1"] .param-main .col-title {
  font-size: 13px;
}
[data-dpr="2"] .param-main .col-title {
  font-size: 26px;
}
[data-dpr="3"] .param-main .col-title {
  font-size: 39px;
}
.param-main .col-title .col-desc {
  float: right;
}
.param-main .col-title .col-desc .noren em {
  display: inline-block;
  border: 1px solid #2f3540;
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  margin-right: 0.13333333rem;
}
.param-main .col-title .col-desc .noren.current em {
  background-color: #2f3540;
}
.param-main .col-title .col-desc .no em {
  display: inline-block;
  width: 0.26666667rem;
  height: 0.02666667rem;
  background-color: #2f3540;
  margin-bottom: 0.10666667rem;
}
.param-main .param-area {
  margin: 0 0.4rem;
}
.param-main .param-area ul li {
  line-height: 1.33333333rem;
  display: flex;
}
[data-dpr="1"] .param-main .param-area ul li {
  font-size: 15px;
}
[data-dpr="2"] .param-main .param-area ul li {
  font-size: 30px;
}
[data-dpr="3"] .param-main .param-area ul li {
  font-size: 45px;
}
.param-main .param-area ul li .item-title {
  flex: 1;
  width: 50%;
  color: #818d9a;
}
.param-main .param-area ul li .item-content {
  flex: 1;
  width: 50%;
  color: #2f3540;
  text-align: right;
}
.param-menu {
  position: fixed;
  bottom: 2.66666667rem;
  right: 0.4rem;
  width: 1.73333333rem;
  height: 1.73333333rem;
  background: url(../../img/icon-open.png) no-repeat center;
  background-size: contain;
}
.menu-list {
  position: fixed;
  bottom: 4.66666667rem;
  right: 0.4rem;
  width: 8.88rem;
  height: 8.93333333rem;
  background: rgba(47, 53, 64, 0.9);
  box-shadow: 0 0 0.10666667rem 0 rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  color: #FFFFFF;
  padding: 0.4rem 0.4rem 0.4rem 1.33333333rem;
  z-index: 999;
}
.menu-list ul li {
  float: left;
  width: 50%;
  line-height: 0.61333333rem;
  margin-top: 0.26666667rem;
}
.menu-list ul li a {
  color: #FFFFFF;
}
[data-dpr="1"] .menu-list ul li a {
  font-size: 15px;
}
[data-dpr="2"] .menu-list ul li a {
  font-size: 30px;
}
[data-dpr="3"] .menu-list ul li a {
  font-size: 45px;
}
.menu-list ul li:nth-child(odd) {
  padding-left: 0.26666667rem;
}
.menu-list:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0.66666667rem;
  width: 0px;
  height: 0px;
  border: 0.26666667rem solid transparent;
  border-top-color: #2f3540;
  opacity: 0.9;
  border-bottom: 0;
  margin-bottom: -0.25333333rem;
}
