<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="game-wrapper fade-transition" _v-08c64c1b="" style="">
    <div class="game-canvas taped" id="game-canvas" _v-08c64c1b="">
        <div class="icon fish speed-2" _v-08c64c1b=""
             style="left: 80%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 40%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-2" _v-08c64c1b=""
             style="left: 0%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 80%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-1" _v-08c64c1b=""
             style="left: 40%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 0%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon dumpling speed-2" _v-08c64c1b=""
             style="left: 100%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-2" _v-08c64c1b=""
             style="left: 60%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 20%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-1" _v-08c64c1b=""
             style="left: 90%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 50%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 10%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-1" _v-08c64c1b=""
             style="left: 90%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-2" _v-08c64c1b=""
             style="left: 50%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 10%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-2" _v-08c64c1b=""
             style="left: 90%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-2" _v-08c64c1b=""
             style="left: 50%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b=""
             style="left: 10%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-2" _v-08c64c1b=""
             style="left: 80%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-2" _v-08c64c1b=""
             style="left: 40%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-2" _v-08c64c1b=""
             style="left: 0%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-1" _v-08c64c1b=""
             style="left: 80%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-2" _v-08c64c1b=""
             style="left: 40%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-1" _v-08c64c1b=""
             style="left: 0%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-1" _v-08c64c1b=""
             style="left: 90%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon fish speed-2" _v-08c64c1b=""
             style="left: 50%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon coin speed-2" _v-08c64c1b=""
             style="left: 10%; transform: translate3d(-50%, -735px, 0px);"></div>
        <div class="icon crab speed-1" _v-08c64c1b="" style="left: 100%;"></div>
        <div class="icon fish speed-2" _v-08c64c1b="" style="left: 60%;"></div>
        <div class="icon fish speed-1" _v-08c64c1b="" style="left: 20%;"></div>
    </div>
    <div class="timer" _v-08c64c1b="">
        <div class="timer-bar" _v-08c64c1b="">
            <div class="timer-inner" _v-08c64c1b="" style="width: 0%; transition: all 45s linear;">
                <div class="timer-inner-color" _v-08c64c1b=""></div>
                <div class="timer-inner-number" _v-08c64c1b="">16s</div>
            </div>
        </div>
    </div>
    <div class="dragonBoat" _v-08c64c1b=""></div>
    <div class="dragonBoatHead" _v-08c64c1b=""></div>
</section>
</body>
</html>