.no-date {margin-bottom:40px;}
.no-date-bg{text-align:center;background:url(http://image.bitautoimg.com/taoche/2016taoche_m/fail_320_182.png) no-repeat center 50px; background-size:160px 91px;padding-top:160px;font-size:1.5rem;color:#999999;line-height:22px;}
.no-date-bg strong{color:#333333;margin-bottom:5px;display:block;font-size:1.6rem;}
.no-date-btn{text-align:center;margin-top:27px;}
.no-date-btn a{height:45px;line-height:45px;text-align:center;width:155px;font-size:1.6rem;color:#ffffff;background-color:#ff9900;border-radius:4px;display:block;margin:0 auto;}
.no-date-text{text-align:center;font-size:1.4rem;line-height:22px;margin-top:10px;color:#999999;}
.no-date-text em{color:#ff6d02;}
