
/* public css */
.boxwrap{background:#fff;}
.mt12{margin-top:12px;}

.alink a em,
.car-ban-item ul li a{
	background:url(http://image.bitautoimg.com/taoche/2016taoche_m/arrow-right.png) no-repeat right center;background-size:7px 11px;
}

/* public tle */
.m-tle{position:relative;border-bottom:1px solid #ececec;padding:0 15px;overflow:hidden;}
.h2{font-size:18px;color:#333;line-height:50px;}

/* banner */
.pagination {position: absolute;z-index: 20;left: 10px;bottom: 10px;width:100%;text-align:right;padding-right:12px;}
.swiper-pagination-switch {display: inline-block;width: 0.5rem;height: 0.5rem;border-radius: 0.5rem;background: #999;margin-right: 0.5rem;opacity: 0.8;cursor: pointer;  }
.swiper-active-switch {background: #dd2727;}
.ban_swiper .swiper-slide {text-align: center;font-size: 1.8rem;background: #fff;position:relative;  }
.ban_swiper .swiper-slide a{display:block;width:100%;}
.ban_swiper .swiper-slide a:after{content: '';display: block;width: 100%;padding-top:31.33333%;}
.ban_swiper .swiper-slide img{width: 100%;display:block;height:100%;top:0;left:0;position:absolute;}
.ban_swiper .swiper-pagination-bullet{margin-right:0.5rem;width:8px;height:8px;background:#fff;opacity:0.4;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
}
.ban_swiper .swiper-pagination-bullet-active{background:#ff6d02;opacity:1;}

/* track-wrap */
.track-wrap{padding:0 15px;}
.tract-top{padding:12px 0;border-bottom:1px solid #ececec;}
.tra-span{float:left;font-size:1.4rem;color:#666;line-height:25px;}
.track-div{overflow:hidden;overflow-x:scroll;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;}
.trackul{white-space:nowrap;}
.trackul li{display:inline-block;white-space:nowrap;padding-right:8px;}
.trackul li a{display:inline-block;padding:0 10px;background:#f5f5f5;line-height:25px;text-align:center;font-size:1.4rem;color:#666;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
}
.trackul li a em{color:#ccc;padding:0 3px;}
.track-div::-webkit-scrollbar{height:0px;}
.car-item ul{overflow:hidden;padding:20px 0 10px;}
.car-item ul li{float:left;margin-bottom:5px;width:25%;text-align:center;}
.car-item ul li a{font-size:1.2rem;color:#666;display:block;}
.car-item ul li em{display:inline-block;background:url(http://image.bitautoimg.com/taoche/2016taoche_m/home/ico_item.png) no-repeat;background-size:303px 126px;width:45px;height:45px;}
.car-item ul li.item2 em{background-position:-86px 0;}
.car-item ul li.item3 em{background-position:-172px 0;}
.car-item ul li.item4 em{background-position:-258px 0;}
.car-item ul li.item5 em{background-position:0 -81px;}
.car-item ul li.item6 em{background-position:-86px -81px;}
.car-item ul li.item7 em{background-position:-172px -81px;}
.car-item ul li.item8 em{background-position:-258px -81px;}
.car-item ul li p{line-height:31px;font-size:1.2rem;}

/* car-fly-wrap */
.car-fly-wrap{padding:15px 15px 0;}
.car-brand{overflow:hidden;}
.car-brand li{width:25%;float:left;text-align:center;}
.car-brand li a{display:block;}
.c-brand{width:50px;height:50px;margin:0 auto;}
.c-b-txt{line-height:21px;}
.car-price{padding-top:8px;overflow:hidden;}
.car-price li{float:left;line-height:42px;text-align:center;width:25%}
.car-price li a{font-size:1.4rem;}
.car-style{overflow:hidden;}
.car-style li{float:left;line-height:42px;text-align:center;width:25%;font-size:1.4rem;}
.alink{line-height:50px;text-align:center;border-top:1px solid #ececec;}
.alink a{display:block;}
.alink a em{padding-right:13px;font-size:1.4rem;color:#666;}

/* car-buy-wrap */
.car-buy-wrap{overflow:hidden;display:table;width:100%;}
.car-buyul{display:table-cell;vertical-align:middle;}
.car-buyul li{border-bottom:1px solid #ececec;}
.car-buyul li:last-child{border-bottom:none;}
.car-buyul li .ico{display:inline-block;background:url(http://image.bitautoimg.com/taoche/2016taoche_m/home/ico_style.png) no-repeat;background-size:75px auto;width:75px;height:60px;}
.car-buyul li.carli_l2 .ico{background-position:0 -60px;}
.car-buyul li.carli_r1 .ico{background-position:0 -120px;}
.car-buyul li.carli_r2 .ico{background-position:0 -180px;}
.car-buyul li.carli_r3 .ico{background-position:0 -240px;}
.carli-txt h3{font-size:1.6rem;color:#333;line-height:25px;}
.carli-txt p{font-size:1.2rem;color:#999;line-height:21px;}
.car-buyul-l li{padding:5px 0 6px;text-align:center;border-right:1px solid #ececec;}
.car-buyul-r li .ico{float:left;}
.car-buyul-r li{padding:5px 0 15px;}
.car-buyul-r li .carli-txt{margin-left:75px;padding-top:12px;}
.car-buyul-l li a,.car-buyul-r li a{display:block;}

/* car-ban-swiper */
.car-swiper-box{position:relative;}
.car-ban-swiper .pagination{bottom:20%;}
.car-ban-swiper .swiper-slide {text-align: center;font-size: 1.8rem;background: #fff;position:relative;  }
.car-ban-swiper .swiper-slide a{display:block;width:100%;}
.car-ban-swiper .swiper-slide a:after{content: '';display: block;width: 100%;padding-top:44%;}
.car-ban-swiper .swiper-slide img{width: 100%;display:block;height:100%;top:0;left:0;position:absolute;}
.car-ban-swiper .swiper-pagination-bullet{margin-right:0.5rem;width:8px;height:8px;background:#fff;opacity:0.4;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
}
.car-ban-swiper .swiper-pagination-bullet-active{background:#fff;opacity:1;}
.car-ban-bottxt{position:absolute;bottom:0;z-index:100;margin:0 15px;line-height:30px;height:30px;overflow:hidden;}
.car-ban-bottxt ul li{height:30px;line-height:30px;position:relative;top:0;}
.car-ban-bottxt ul li a{font-size:1.2rem;color:#666;}
.car-ban-item ul{padding:10px 0;display:-webkit-box;display:flex;display:-webkit-flex;}
.car-ban-item ul li{border-right:1px solid #ececec;padding:0 15px;-webkit-box-flex:1;flex:1;-webkit-flex:1;}
.car-ban-item ul li:last-child{border-right:none;}
.car-ban-item ul li a{display:block;}
.car-ban-item ul li h3{color:#ff6d02;font-size:1.6rem;line-height:25px;}
.car-ban-item ul li p{color:#999;line-height:21px;}

/* car-like-wrap */
.car-like-list{overflow:hidden;}
.car-like-list ul{overflow:hidden;padding:0 15px;margin-right:-10px;padding-bottom:16px;}
.car-like-list ul li{width:50%;float:left;}
.car-like-list ul li a{display:block;margin:15px 10px 2px 0;}
.p-img{margin-bottom:7px;}
.p-tle{font-size:1.4rem;line-height:17px;height:34px;overflow:hidden;}
.p-time{font-size:1.2rem;color:#999;line-height:20px;padding-top:8px;}
.p-pri{font-size:1.4rem;color:#ff6d02;line-height:20px;}
.p-img img{display:block;}

/* all-look-wrap */
.all-look-wrap{padding:15px;}
.look-span{float:left;line-height:25px;font-size:1.2rem;color:#666;}
.look-div{overflow:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;}
.lookul{white-space:nowrap;}
.lookul li{display:inline-block;white-space:nowrap;padding-right:5px;}
.lookul li a{display:inline-block;padding:0 10px;background:#fff;line-height:25px;text-align:center;font-size:1.2rem;color:#666;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
}
.look-div::-webkit-scrollbar{height:0px;}
.car-next-wrap .alink{margin:0 15px;}

/* carmen-wrap */
.carmen-list{padding:0 15px;}
.carmen-list li{border-bottom:1px solid #ececec;}
.carmen-list li:last-child{border-bottom:none;}
.carmen-list li a{display:block;padding:15px 0;overflow:hidden;}
.listcar-img{float:left;width:90px;height:60px;}
.listcar-txt{position:relative;margin-left:100px;height:60px;}
.listcar-tle{font-size:1.6rem;color:#333;line-height:20px;}
.listcar-bot{position:absolute;bottom:0;color:#999;font-size:1.2rem;line-height:1;}
.listcar-bot .date{padding-right:8px;display:inline-block;}

/* app-part-wrap */
.app-part-wrap .m-tle{border-bottom:none;line-height:46px;}
.appul ul{overflow:hidden;padding:6px 15px 10px;}
.appul ul li{width:20%;float:left;}
.app-img{padding:0 10px;text-align:center;}
.app-name{line-height:31px;text-align:center;}

/* 双十一入口    */
.double11{position:fixed;right:15px;bottom:125px;display:block;background:url(http://image.bitautoimg.com/taoche/2016taoche_m/double11.png) no-repeat;background-size:45px auto;width:45px;height:45px;z-index:999;}


