.new-six{ background: url("http://image.bitautoimg.com/taoche/2016taoche_m/double66-det.png") no-repeat;    background-size: 110px auto;}
.double6 {  position: fixed;  right: 15px;  bottom: 125px;  display: block;  background: url("http://image.bitautoimg.com/taoche/2016taoche_m/double6.png") no-repeat;  background-size: 45px auto;  width: 45px;  height: 45px;  z-index: 999;}
.r11{ right: 11px !important;}
.new-tract{ padding: 6px 15px; height: 40px;}
.new-tract .tra-span{ line-height: 28px;}
.new-tract .trackul li{ line-height: 28px; height: 28px;}
.new-tract .trackul li a{border-radius: 3px;
    -webkit-border-radius: 3px; font-size: 1.4rem;
    -moz-border-radius: 20px; height: 28px;line-height: 28px; }
.new-tract .trackul li.double11-list a.selected{ font-size: 1.3rem;}
.new-tract .trackul li.double11-list a.selected em { margin-left: 8px;  background-size: 9px auto;  width: 9px;  height: 9px;  }
.new-tract .trackul li.double11-list a.next-selected{border: 1px solid #FF3500;
    border-radius: 3px; color: #FF3500; background: #F5F5F5; line-height: 26px;}
.double-6-a{ position: absolute; left: 0; top: 0; width: 55px; height:21px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/double-6-a.png") no-repeat; background-size: 100% auto;}
.double-6-b{ position: absolute; left: 0; top: 0; width: 46px; height:21px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/double-6-b.png") no-repeat; background-size: 100% auto;}
.double-6-c{ position: absolute; left: 0; top: 0; width: 46px; height:21px; background: url("http://image.bitautoimg.com/taoche/2016taoche_m/double-6-c.png") no-repeat; background-size: 100% auto;}