.seach-box-pop .seach .select_span{position:absolute;left:0px;top:0px;width:60px;padding-left:10px;font-family: "微软雅黑";font-size:14px;line-height:32px;color:#979797;}
.seach-box-pop .seach .select_span i{background:none;font-size:12px;transform:scale(0.45);position:relative;top:-19px;right:-44px;color:#979797;}
.seach-box-pop .seach .select_span .select_v{background:none;}
.seach-box-pop input{background:none;padding-left:75px;}

/*select_pop*/
.seach-box-pop .seach .select_pop{display:none;position:absolute;left:0px;top:50px;z-index:10;width:120px;height:120px;background:url(../images/background_san.png) no-repeat center center;background-size:100%;}
.seach-box-pop .seach .select_pop ul{padding-top:20px;height:100%;}
.seach-box-pop .seach .select_pop ul li{color:white;position:relative;line-height:30px;margin-top:6px;height:40px;text-align:left;padding-right:15px;font-family: "微软雅黑";font-size:14px;padding-left:62px;}
.seach-box-pop .seach .select_pop ul li i{background:none;font-size:25px;}
.seach-box-pop .seach .select_pop ul li .icon-ershouche{position:absolute;left:18px;top:7px;}
.seach-box-pop .seach .select_pop ul li .icon-fenqi{position:absolute;left:18px;top:7px;}
.seach-box-pop .seach .select_pop ul .first_li{border-bottom:2px solid black;}
.seach-box-pop{background:#f8f8f8;;}
.seach-box-pop .seach{position: relative;background:white;border-radius:20px;}
.list-txt-block h2{height:50px;line-height:50px;background:white;border-bottom:1px solid #ececec;}
.list-txt-list{padding:18px 15px 0;}
.list-txt-list li a.active{border:1px solid #ff9446;color:#ff9446;}




















