.bor0{ border-right:0px !important; }
.filter-seller ul.new-seller li.new-lb-item{ position: relative;-webkit-box-flex:0.3;flex:0.3;-webkit-flex:0.3;-moz-flex:0.3; text-align: right; margin-right: 15px;}
.filter-seller ul.new-seller li.new-lb-item span{ display: inline-block; width: 18px; height: 18px; font-size: 18px; margin-top: 1px;}

.filter-seller ul.new-seller li{-webkit-box-flex:1.1;flex:1.1;-webkit-flex:1.1;-moz-flex:1.1;}

.mar50{ margin-right: 60px !important;}
.track-del{ width: 50px; height: 28px; position:absolute; right: 15px; top: 7px; line-height: 28px; text-align: right; font-size: 14px; }
.track-del em{  margin-right: 5px; font-size: 17px;}
.post-re{ position: relative;}
.trackul li i{ color:#808080; font-size:10px; margin-left: 9px;}

/**/
.td-nav{ background: #ffffff; padding: 19px 0; height: 100px; text-align: center;}
.td-nav a{ display: block; width: 25%; float: left;}
.td-nav a img{ width: 40px; height: 40px; display: inline-block;}
.td-nav a p{ font-size: 1.4rem; color: #333333; padding-top:5px; line-height: 17px;}
.colff3{ color: #ff9933;}

/**/
.lb-carlist-show{ background: #ffffff; width: 100%; clear: both;  border-top:1px solid #ececec; }
.bor-show0{    box-shadow: none !important;  -webkit-box-shadow: none !important;}
/**/
.lb-carlist { padding-top: 15px; overflow: hidden;}
.lb-carlist li{    display: block; width: 20%; float: left; height: 44px; margin-bottom: 12px; text-align: center;}
.lb-carlist li a{ display: block;}
.lb-carlist li a img{ width: 25px; height: 25px;}
.lb-carlist-more{ color:#ff9933; }
.lb-carlist-more i{width: 25px; height: 25px; font-size: 20px; display: inline-block; margin-top: 4px;}

.lb-carlist-wz{ clear: both;border-top:1px solid #ececec; padding-top:18px;padding-bottom: 4px; }
.lb-carlist-wz p{font-size: 1.2rem; height: 33px; text-align: center;}
.lb-carlist-wz p a{ width:22%; display: inline-block; float: left; }
.lb-carlist-wz p span{ width: 12%; color: #999999;float: left;}



















