.hide{ display: none;}
.borb0{ border-bottom: 0px !important;}
.borr0{ border-right:0px !important; }

.index-sel-list{ width: 100%; background: #ffffff;}
.index-sel-nav{ height: 45px; border-bottom: #ececec solid 1px; padding: 0 30px;}
.index-sel-nav span{ width:33.3%; height: 45px; display: inline-block; float: left; text-align: center; font-size: 1.4rem;  }
.index-sel-nav span a{ display: inline-block; height: 45px;line-height: 45px; }
.index-sel-nav span a.sel-item{ color: #FF6C02; border-bottom:#FF6C02 solid 2px; }

.index-sel-box{ clear: both; width: 100%; padding-bottom: 20px;}
/**/
.lb-carlist-show{ background: #ffffff; width: 100%; clear: both; }
.bor-show0{    box-shadow: none !important;  -webkit-box-shadow: none !important;}
/**/
.lb-carlist { padding-top: 15px; overflow: hidden;}
.lb-carlist li{    display: block; width: 20%; float: left; height: 44px; margin-bottom: 12px; text-align: center;}
.lb-carlist li a{ display: block;}
.lb-carlist li a img{ width: 25px; height: 25px;}
.lb-carlist-more{ color:#ff9933; }
.lb-carlist-more i{width: 25px; height: 25px; font-size: 20px; display: inline-block; margin-top: 4px;}

.lb-carlist-wz{ clear: both;padding-top:6px;padding-bottom: 4px; margin-left: 16px;}
.lb-carlist-wz p{font-size: 1.2rem; height: 33px; text-align: center;}
.lb-carlist-wz p a{ width:22%; display: inline-block; float: left; }
.lb-carlist-wz p span{ width: 12%; color: #999999; float: left; text-align: left;}

.index-sel-btn{ margin: 0 15px;  height: 34px;background: rgba(255,109,2,0.05);  border: 1px solid #FF6D02;  border-radius: 4px; text-align: center; line-height: 34px;}
.index-sel-btn a{ display: block; color: #FF6D02; font-size: 1.4rem; }
.index-sel-btn a i{ font-size: 12px; margin-left: 2px;}
/**/
.new-cari-item{ padding: 10px 0 10px 24px; overflow: hidden;}
.new-cari-item h3{font-size: 1.1rem;  color: #999999; padding-bottom:5px; padding-top: 10px; clear: both;}
.new-cari-item p{ overflow: hidden;}
.new-cari-item p a{ width: 25%; line-height: 30px; font-size: 1.2rem; color: #333333; display: inline-block; float: left;}

/*贷款购车*/
.index-dk-box{  background: #ffffff;}
.new-ico-title{ height: 40px; border-bottom:#ececec solid 1px; padding: 11px 0; text-align: center; }
.new-ico-title span{ width: 190px; height: 18px; display: inline-block; font-size: 1.6rem;  color: #EA474D; padding-left: 30px; }
.dk-ico{ background: url("../images/ico-title01.jpg") no-repeat; background-size: 100% auto;}

.dk-ul{ height: 134px; border-bottom:#ececec solid 1px;  }
.dk-ul dt{ width: 46%; height: 134px; float: left; border-right:#ececec solid 1px; text-align: center;  }
.dk-ul dt span{ display: block;  color: #666666; line-height: 20px;}
.dk-ul dt a{ display: block;padding-top: 20px; height: 134px;}
.dk-ul dt span i{ display: block; font-size: 1.6rem; color: #333;}
.dk-ul dt img{ width: 56px; height: 55px; display: inline-block;}

.dk-ul dd{ width: 54%; height: 134px; float: left;}
.dk-ul dd p{ height: 67px; border-bottom:#ececec solid 1px; width: 100%; padding-top: 15px; padding-left: 16px;  }
.dk-ul dd p img{ width: 42px; height: 37px; display: inline-block; float: left; margin-right: 10px;}
.dk-ul dt span{ display: block;  color: #666666; line-height: 20px; }
.dk-ul dd span i{ display: block; font-size: 1.6rem; color: #333;}

.limit-list::-webkit-scrollbar{height:0px;}
.limit-list{  padding: 20px 15px;    overflow: hidden;  overflow-x: scroll;  -webkit-overflow-scrolling: touch;  -ms-overflow-style: none; margin-right: 5px;  }
.limit-list ul{ height: 162px; white-space: nowrap; }
.limit-list li{ width: 125px; height: 160px;  margin-right: 10px;border: 2px solid #E5E5E5;    display: inline-block;
    white-space: nowrap; text-align: center; position: relative;}
.limit-list li a{ display: block; width: 100%;}
.limit-list li h3{  color: #A4A4A4; line-height: 22px; font-size: 1.2rem;}
.limit-list li img{ width: 105px; height: 70px; margin: 0 auto; border: 0px;}
.limit-list li p{color: #666666;font-size: 1.2rem;}
.limit-list li p b{font-size: 1.4rem;  color: #333333; display: block;}
.limit-list li p em{ display: inline-block;border: 1px solid #E9474D;  border-radius: 16px; color:#E9474D; padding: 0 5px; line-height: 14px; }
.limit-list li p span{ display:block;}
.limit-list li i{ background: #E9474D;  border-radius: 1px; height: 14px; color: #ffffff; position: absolute; left: 0px; top: 0px; font-size:9px; padding: 0 4px; line-height: 14px; }

/*超值二手车*/
.index-cz-box{ background: #ffffff;}
.cz-list01{ width: 100%; overflow: hidden; }
.cz-list01 li{ width: 50%; height: 120px; float: left; border-bottom: #ececec solid 1px; border-right:#ececec solid 1px; }
.cz-list01 li a{ width: 100%; height: 120px; display: block; text-align: center; padding-top: 14px;}
.cz-list01 li em{ width: 59px; height: 51px; display: inline-block;}
.cz-list01 li p{color: #666666; line-height: 19px; padding-top: 3px; }
.cz-list01 li p span{ font-size: 1.6rem;  color: #333333; display: block;}

.cz-tiem01 em{ background: url("../images/cz-ico01.png") no-repeat; background-size: 100% auto;}
.cz-tiem02 em{ background: url("../images/cz-ico02.png") no-repeat; background-size: 100% auto;}
.cz-tiem03 em{ background: url("../images/cz-ico03.png") no-repeat; background-size: 100% auto;}
.cz-tiem04 em{ background: url("../images/cz-ico04.png") no-repeat; background-size: 100% auto;}
.cz-tiem05 em{ background: url("../images/cz-car-ico01.png") no-repeat; background-size: 100% auto;}
.cz-tiem06 em{ background: url("../images/cz-car-ico02.png") no-repeat; background-size: 100% auto;}
.cz-tiem07 em{ background: url("../images/cz-car-ico03.png") 0 5px no-repeat; background-size: 100% auto;}

.three-itm{border-bottom: #ececec solid 1px;}
.three-itm li{ width: 33.33%; height: 120px; float: left;border-right:#ececec solid 1px; border-bottom: 0px; }
.three-itm li p span{ font-size: 1.4rem;}
.three-itm li:last-child em{ width: 76px;}

/**/
.new-m-tle{position: relative; text-align: center;  padding: 0 15px;  overflow: hidden;}
.new-m-tle .h2{ line-height:20px;padding-top: 15px; height: 35px;}