@r: 50rem;
.important {
    font-weight: bold;
}
.section {
    padding: 0 30/@r;
    .section-titile {
        padding-top: 54/@r;
        text-align: center;
        font-size: 36/@r;
        color: #423e3d;
    }
}
.desc {
    margin-top: 75/@r;
    line-height: 55/@r;
    text-indent: 2em;
    font-size: 24/@r;
    color: #423e3d;
}
.detail {
    color: #423e3d;
    h4 {
        font-size: 28/@r;
        padding-top: 80/@r;
        padding-bottom:50/@r;
    }
    p {
        // text-indent: 2em;
        line-height: 55/@r;
        font-size: 24/@r;
    }
}