.banner-section img {
  width: 100%;
}
.section .section-title {
  height: 2.9rem;
  line-height: 2.9rem;
  text-align: center;
  font-size: 0.72rem;
  color: #161311;
  background: #f5f3f3;
}
/*service-section*/
.service-section ul {
  background: #fff;
}
.service-section ul li {
  overflow: hidden;
  padding: 0.6rem 0.6rem;
  border-bottom: 1px solid #f5f3f3;
}
.service-section ul li .service-img {
  float: left;
  width: 4rem;
  height: 4rem;
}
.service-section ul li .service-img img {
  width: 100%;
  height: 100%;
}
.service-section ul li .service-detail {
  width: 100%;
  padding-left: 4.4rem;
  color: #2e2e2e;
}
.service-section ul li .service-detail h3 {
  font-size: 0.56rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.service-section ul li .service-detail p {
  font-size: 0.48rem;
}
.operation-section {
  padding-bottom: 1.1rem;
}
.operation-section ul {
  padding: 0 0.6rem;
}
.operation-section ul li {
  padding-top: 1.1rem;
}
.operation-section ul li .operation-img img {
  width: 3.5rem;
  margin: 0 auto;
}
.operation-section ul li .operaiton-detail {
  margin-top: 0.6rem;
  color: #161311;
}
.operation-section ul li .operaiton-detail h3 {
  text-align: center;
  font-size: 0.56rem;
}
.operation-section ul li .operaiton-detail p {
  margin-top: 0.3rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.4rem;
}
.cooperation-section ul {
  overflow: hidden;
  padding: 0.6rem 0;
}
.cooperation-section ul li {
  float: left;
  width: 50%;
  padding: 0.6rem 0;
}
.cooperation-section ul li img {
  width: 60%;
  margin: 0 auto;
}
.data-section {
  padding-bottom: 1.9rem;
}
.data-section img {
  width: 2.7rem;
  margin: 0 auto;
}
.data-section li {
  margin-top: 1.9rem;
}
.data-section li .data-detail {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.64rem;
  color: #161311;
}
.data-section li .data-detail .number {
  padding-left: 0.4rem;
}
.data-section li .data-detail .number em {
  font-size: 0.88rem;
  color: #cf433a;
}
.copyright-section {
  background: #e41d0d;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}
.copyright-section a {
  font-size: 0.56rem;
  color: #fff;
}
.copyright-section .split {
  padding: 0 0.2rem;
}
/*linkme-layer*/
.linkme-layer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-left: -5.64rem;
  margin-top: -5rem;
  width: 11.3rem;
  height: 10rem;
}
.linkme-layer .link-way {
  width: 100%;
  height: 6.6rem;
  background: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
}
.linkme-layer .link-way h4 {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 0.56rem;
  font-weight: bold;
  color: #161312;
}
.linkme-layer .link-way p {
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.48rem;
  color: #6e6e6e;
}
.linkme-layer .link-way p i {
  padding-right: 0.6rem;
  font-size: 0.48rem;
}
.linkme-layer .close {
  margin: 0 auto;
  margin-top: 1.4rem;
  width: 1.6rem;
  height: 1.6rem;
}
.linkme-layer .close img {
  width: 100%;
  height: 100%;
}
.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.8;
}
.oper {
  display: none;
}
