#footer{color:#fff;}
#footer .link-menu{padding-bottom:20px;}
#footer a{text-decoration:none;color:#fff;display: inline-block;padding-right:10px;}
#footer .footer-top{background:#515151;padding:6% 0;}
#footer .footer-bottom{background:#222222;}
#footer .copyright{padding:15px;text-align: center;}