@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(../fonts/qx1lsqts-ntikclw4n03ic5fjmzltoaawo2fp7ihu2o.ttf) format('truetype');
}
