<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>app下载PC版</title>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>

<div id="appdownPage">

	<section class="wrap1">
		<div class="container">
			<h2>易鑫汽车报价App</h2>
			<p>基于真实交易价格的汽车报价App</p>
			<div class="btns">
				<a href="https://itunes.apple.com/app/id1234142598" class="btn-ios">iOS下载</a>
				<a href="http://static.yixinfinance.com.cn/rar/baojia_yixin_2250.apk" class="btn-android">Android下载</a>
			</div>
            <img src="../images/downloadQrcode.html.png" alt="" class="qrcode">
		</div>
	</section>
	<section class="wrap2">
		<div class="container">
			<h3>如何买车最划算，早点早知道</h3>
			<p>全款还是贷款，任你选择</p>
		</div>
	</section>
	<section class="wrap3">
		<div class="container">
            <h3>全品牌车型，真实报价</h3>
            <p>权威报价，快速找到最中意方案！</p>
		</div>
	</section>
	<section class="wrap4">
		<div class="container">
			<h3>海量二手车，真实车源</h3>
			<p>安心挑选有保障</p>
		</div>
	</section>
	<section class="wrap5">
		<div class="container">
			<h3>只选对的，不选贵的</h3>
			<p>只为您推荐最适合的产品</p>
		</div>
	</section>

</div>
{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.script}}"></script>
	
</body>
</html>