<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="hover"></div>
<a class="hover-target" href="http://v.bitauto.com/vplay/412047.html" target="_blank"></a>
<form action=""  autocomplete="off">

	<input type="text" class="name text" name="UserName">

	<input type="text" name="Telephone" class="tel text">

	<div class="sex-wrapper select-wrapper">
		<select name="Sex" id="select-sex" class="sex select">
			<option value="先生">先生</option>
			<option value="女士">女士</option>
		</select>
	</div>

	<div class="car-wrapper select-wrapper">
		<select name="CarSerial" id="select-car" class="car select">
			<option value="东南DX7">东南DX7</option>
			<option value="东南V3菱悦">东南V3菱悦</option>
			<option value="东南V5 plus">东南V5 plus</option>
			<option value="三菱新翼神">三菱新翼神</option>
			<option value="三菱蓝瑟">三菱蓝瑟</option>
		</select>
	</div>

	<div class="province-wrapper select-wrapper">
		<select name="Province" id="select-province" class="province select">
			<option value="陕西省">陕西省</option>
			<option value="甘肃省">甘肃省</option>
		</select>
	</div>


	<div class="city-wrapper select-wrapper">
		<select name="City" id="select-city" class="city select">
		</select>
	</div>
	<input type="submit" class="submit">
</form>

<div id="maskLayer"></div>

<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>