/*
.adb{.fz(14px);}
.adbddd{.fz(14px,1);}
*/
/*
.button {
  .border-radius(6px);
}

.button {
  .border-radius;
}
*/
/*
.big-block {
  .box-shadow(2px; 5px);  
}  
}
*/
/*
.box4 {
  .gradient(180deg,#000,#fff);
}
*/
/*
.dfsdf{
	.transform(rotate(0deg));
}

.dddtranslate{
	.transform(translate(-50%, -50%));
}
*/
/*
.keyframes (line, {
    0% {
        background-size: 0% 2px;
    }
    100% {
        background-size: 100% 2px;
    }
});



.keyframes (line, {
    0% {
        .transform(rotate(0deg));
    }
    100% {
        .transform(rotate(360deg));
    }
});
*/
/*
.div{
	.rgba(.4,40);
}
*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #B0B3B4;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #B0B3B4;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #B0B3B4;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #B0B3B4;
}
.layer-cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.layer-fix {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  padding-bottom: 0.8rem;
}
.layer-close {
  width: 0.32rem;
  height: 0.32rem;
  position: absolute;
  right: 0.4rem;
  top: 0.6rem;
  background: url("../../img/layer-closed.png") no-repeat;
  background-size: 100% 100%;
}
.layer-title {
  margin-top: 0.46666667rem;
  text-align: center;
  line-height: 0.6rem;
  color: #2F3540;
}
[data-dpr="1"] .layer-title {
  font-size: 16px;
}
[data-dpr="2"] .layer-title {
  font-size: 32px;
}
[data-dpr="3"] .layer-title {
  font-size: 48px;
}
.layer-box {
  margin: 0 0.4rem;
}
.layer-pab {
  padding-bottom: 0.8rem;
}
.layer-btn {
  width: 100%;
  clear: both;
  padding: 0 0.4rem;
}
.layer-btn span {
  width: 100%;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  display: inline-block;
}
[data-dpr="1"] .layer-btn span {
  font-size: 16px;
}
[data-dpr="2"] .layer-btn span {
  font-size: 32px;
}
[data-dpr="3"] .layer-btn span {
  font-size: 48px;
}
.btn-disable {
  background: #D6D6D6;
  border-radius: 5px;
  color: #FFFFFF;
}
.btn-sub {
  background: #FF6402;
  border-radius: 5px;
  color: #FFFFFF;
}
.colff2 {
  color: #FF6402 !important;
}
.layer-li {
  width: 100%;
  height: 1.46666667rem;
  padding: 0.42666667rem 0;
  border-bottom: #E5E5E5 solid 1px;
}
.layer-li p {
  display: block;
  float: left;
  height: 0.61333333rem;
  line-height: 0.61333333rem;
}
[data-dpr="1"] .layer-li p {
  font-size: 15px;
}
[data-dpr="2"] .layer-li p {
  font-size: 30px;
}
[data-dpr="3"] .layer-li p {
  font-size: 45px;
}
.layer-li p.iphone-input {
  width: 5.98666667rem;
  border-right: #E5E5E5 solid 1px ;
  position: relative;
}
.iphone-input-all {
  width: 100%;
  position: relative;
}
.input-del {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  right: 0;
  top: 0.06666667rem;
  background: url("../../img/del-ico.png") no-repeat;
  display: inline-block;
  background-size: 100% auto;
}
.layer-li p.iphone-input .input-del {
  right: 0.4rem;
}
.input-txt {
  color: #2F3540;
  line-height: 46px;
  position: absolute;
  width: 0.48rem;
  height: 0.61333333rem;
  right: 0;
  top: 0;
}
[data-dpr="1"] .input-txt {
  font-size: 15px;
}
[data-dpr="2"] .input-txt {
  font-size: 30px;
}
[data-dpr="3"] .input-txt {
  font-size: 45px;
}
.layer-li p.iphone-time {
  width: 3.06666667rem;
  text-align: center;
  color: #D6D6D6;
}
.layer-li span.iphone-time a.colff2 {
  color: #FF6402;
}
.layer-input {
  width: 100%;
  height: 0.61333333rem;
  border: 0;
  outline: none;
  line-height: 0.61333333rem;
  color: #2F3540;
}
[data-dpr="1"] .layer-input {
  font-size: 15px;
}
[data-dpr="2"] .layer-input {
  font-size: 30px;
}
[data-dpr="3"] .layer-input {
  font-size: 45px;
}
.layer-yzm {
  width: 100%;
  height: 1.46666667rem;
  padding: 0.42666667rem 0;
  border-bottom: #E5E5E5 solid 1px;
}
.layer-error {
  color: #FF2D4F;
  line-height: 0.61333333rem;
  padding: 0.26666667rem 0 0.4rem;
  text-align: center;
}
[data-dpr="1"] .layer-error {
  font-size: 13px;
}
[data-dpr="2"] .layer-error {
  font-size: 26px;
}
[data-dpr="3"] .layer-error {
  font-size: 39px;
}
.postr {
  position: relative;
}
.iphone-time img {
  width: 2rem;
  height: 0.61333333rem;
  display: inline-block;
}
.ribsh-ico {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  background: url("../../img/rabish-ico.png") no-repeat;
  background-size: 100% auto;
  float: right;
  margin-top: 0.10666667rem;
}
.kj-txt {
  margin-top: 0.53333333rem;
  height: 0.61333333rem;
  line-height: 0.61333333rem;
  text-align: center;
}
.kj-txt a {
  display: inline-block;
  height: 0.61333333rem;
  color: #FF6402;
}
[data-dpr="1"] .kj-txt a {
  font-size: 13px;
}
[data-dpr="2"] .kj-txt a {
  font-size: 26px;
}
[data-dpr="3"] .kj-txt a {
  font-size: 39px;
}
.kj-txt a:before {
  content: '';
  width: 0.36rem;
  height: 0.38666667rem;
  display: inline-block;
  background: url("../../img/layer-telico.png") no-repeat;
  background-size: 100% auto;
  margin-right: 0.13333333rem;
  vertical-align: middle;
}
.mat0 {
  margin-top: 0 !important;
}
.error-h {
  min-height: 0.8rem;
}
.minh23 {
  min-height: 0.30666667rem;
}
.minhauto {
  min-height: 0 !important;
}
.sjbj-selet {
  margin-top: 0.30666667rem;
  height: 0.61333333rem;
  line-height: 0.61333333rem;
  color: #818D9A;
  margin-bottom: 0.6rem;
}
[data-dpr="1"] .sjbj-selet {
  font-size: 13px;
}
[data-dpr="2"] .sjbj-selet {
  font-size: 26px;
}
[data-dpr="3"] .sjbj-selet {
  font-size: 39px;
}
.sjbj-selet em {
  width: 0.48rem;
  height: 0.48rem;
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-top: 0.08rem;
  border: #818D9A solid 1px;
  border-radius: 0.10666667rem;
  margin-right: 0.26666667rem;
  background: #fff;
}
.sjbj-selet em.selet-cur {
  border: 1px solid #FF6402;
  border-radius: 0.06666667rem;
  background: #FF6402 url("../../img/layer-gou.png") 0.05333333rem 0.10666667rem no-repeat;
  background-size: 0.34666667rem 0.26666667rem;
}
.xjcc-box {
  text-align: center;
  padding-top: 0.64rem;
  padding-bottom: 0.53333333rem;
}
.xjcc-box img {
  display: inline-block;
  width: 1.33333333rem;
  height: 1.33333333rem;
  margin-bottom: 0.4rem;
}
.xjcc-box span {
  display: block;
  color: #2F3540;
  line-height: 0.61333333rem;
}
[data-dpr="1"] .xjcc-box span {
  font-size: 15px;
}
[data-dpr="2"] .xjcc-box span {
  font-size: 30px;
}
[data-dpr="3"] .xjcc-box span {
  font-size: 45px;
}
.yhts-sroller {
  padding: 0.8rem 0.26666667rem 0;
}
.yhts-pic {
  text-align: center;
  color: #2F3540;
}
[data-dpr="1"] .yhts-pic {
  font-size: 13px;
}
[data-dpr="2"] .yhts-pic {
  font-size: 26px;
}
[data-dpr="3"] .yhts-pic {
  font-size: 39px;
}
.yhts-pic span {
  color: #FF6402;
  line-height: 0.56rem;
  padding-bottom: 0.13333333rem;
  display: block;
}
[data-dpr="1"] .yhts-pic span {
  font-size: 24px;
}
[data-dpr="2"] .yhts-pic span {
  font-size: 48px;
}
[data-dpr="3"] .yhts-pic span {
  font-size: 72px;
}
.yhts-sroller .progress {
  position: relative;
  height: 0.77333333rem;
  width: 97%;
  margin-top: 0.25333333rem;
}
.yhts-sroller .progress-bar-wrapper {
  width: 100%;
  height: 0.08rem;
  position: absolute;
  top: 50%;
  margin-top: -0.04rem;
  left: 0;
  box-sizing: content-box;
  padding: 0 0.13333333rem;
}
.yhts-sroller .progress-bar {
  height: 0.04rem;
  border-radius: 0.06666667rem;
  position: absolute;
  top: 50%;
  margin-top: -0.04rem;
  left: 0;
  width: 100%;
}
.yhts-sroller .progress-bar-bc {
  background: #E8E8E8;
}
.yhts-sroller .progress-bar-active {
  width: 0;
  background: #FF974C;
}
.yhts-sroller .progress-btn {
  width: 0.72rem;
  height: 0.72rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.36rem;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0 4px 4px 0 rgba(164, 164, 164, 0.5);
}
/**/
.pg-yhts-box {
  padding-bottom: 28px;
}
.yhts-sjbj {
  width: 100%;
  text-align: right;
  color: #818D9A;
  line-height: 0.49333333rem;
  padding-right: 0.26666667rem;
}
[data-dpr="1"] .yhts-sjbj {
  font-size: 13px;
}
[data-dpr="2"] .yhts-sjbj {
  font-size: 26px;
}
[data-dpr="3"] .yhts-sjbj {
  font-size: 39px;
}
.yhts-sjbj span {
  color: #FF6402;
}
.kj-li {
  border-top: #E5E5E5 solid 1px;
  margin-bottom: 0.8rem;
  margin-top: 0.46666667rem;
}
