/*金融产品*/

.loan-top-pic{height:410px;display:block;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/jrcp_top_ad.jpg) no-repeat center top;margin-bottom:40px;}
.loan-list{height:353px;background-color:#f5f7fb;position:relative;border-radius:3px;margin-bottom:40px;}

.loan-tit{width:260px;height:353px;*width:0;padding-left:260px;font-size:0;line-height:0;overflow:hidden;display:block;float:left;margin-right:30px;}
.loan-list-half  .loan-tit{margin-right:70px;}

.loan-tit-bg1{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/jrcp_bg1.jpg) no-repeat left top;}
.loan-tit-bg2{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/jrcp_bg2.jpg) no-repeat left top;}
.loan-tit-bg3{background:url(../images/jrcp_bg3.jpg) no-repeat left top;}
.loan-tit-bg4{background:url(../images/jrcp_bg4.jpg) no-repeat left top;}
.loan-tit-bg5{background:url(../images/jrcp_bg5.jpg) no-repeat left top;}
.loan-tit-bg6{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/jrcp_bg6.jpg) no-repeat left top;}
.loan-mid{width:620px;float:left;margin-top:30px;}
.loan-list-half  .loan-mid{width:580px;} 
.loan-half-price{height:210px;}
.loan-half-price li{float:left;height:210px;}
.loan-half-price li h3{font-size:24px;font-weight:bold;line-height:70px;text-align:center;}
.loan-half-price li em{width:75px;height:73px;display:block;margin:0 auto;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/jrcp_bg8.png) no-repeat left top;}
.loan-half-price li p{font-size:14px;color:#666666;text-align:center;line-height:25px;}
.loan-half-price li.loan-half-price-bg1{width:190px;*width:145px;padding-right:35px;border-right:1px solid #dfe6f3;}
.loan-half-price li.loan-half-price-bg1 em{background-position:left top;margin-bottom:20px;}
.loan-half-price li.loan-half-price-bg2{width:210px;*width:135px;padding-left:40px;padding-right:40px;border-right:1px solid #dfe6f3;}
.loan-half-price li.loan-half-price-bg2 em{background-position:-76px top;margin-bottom:20px;}
.loan-half-price li.loan-half-price-bg3{width:135px;margin-left:40px;padding-right:5px;}
.loan-half-price li.loan-half-price-bg3 em{background-position:-162px top;margin-bottom:20px;}
.loan-count{line-height:22px;padding-top:30px;border-top:1px solid #dfe6f3;margin-top:30px;font-size:14px;color:#999999;}
.loan-count em{color:#ffffff;height:22px;width:22px;text-align:center;float:left;margin-right:10px;margin-left:55px;background-color:#fd9933;display:block;border-radius:3px;font-size:15px;}
.loan-list-half .loan-count em{margin-left:15px;}

.loan-count a{margin-left:30px;}
.loan-but{float:left;height:290px;margin-top:30px;margin-left:35px;*margin-left:30px;width:255px;border-left:1px solid #dfe6f3;}
.loan-but p{text-align:center;margin-top:105px;font-size:14px;color:#999999;margin-bottom:10px;}
.loan-but span{margin-left:60px;}
.loan-details{position:absolute;right:0;bottom:0;font-size:14px;}
.loan-details a{width:73px;*width:38px;padding-left:35px;height:73px;*height:30px;padding-top:43px;position:absolute;right:0;bottom:0;font-size:14px;background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/jrcp_bg7.png) no-repeat -78px top;color:#ffffff;}
.loan-details a:hover{text-decoration:none;background-position:left top;}
.loan-Shoufu{display:table;height:100px;}
.loan-Shoufu li{padding-top:20px;width:145px;text-align:center;float:left;font-size:18px;}
.loan-Shoufu li p{font-size:28px;font-weight:bold;line-height:45px;}
.loan-explain{height:80px;*height:50px;padding-top:30px;border-top:1px solid #dfe6f3;margin-top:30px;}
.loan-explain li{float:left;margin-left:45px;width:245px;*width:175px;padding-left:70px;position:relative;}
.loan-explain li em{width:50px;height:50px;border-radius:25px;display:block;position:absolute;left:0;top:0;line-height:50px;text-align:center;color:#ffffff;font-size:24px;font-weight:bold;}
.loan-explain li em.loan-explain-bga{background-color:#7eabea;}
.loan-explain li em.loan-explain-bgb{background-color:#e7b978;}
.loan-explain li em.loan-explain-bgc{background-color:#81cbf1;}
.loan-explain li em.loan-explain-bgd{background-color:#bb9df9;}
.loan-explain li h4{font-size:16px;font-weight:normal;color:#333333;line-height:25px;}
.loan-explain li  p{font-size:14px;color:#666666;line-height:25px;}
.loan-list-customized {height:169px;}
.loan-list-customized  .loan-tit{margin-right:80px;}
.loan-list-customized .loan-but{height:100px;*height:75px;padding-top:25px;margin-left:0;}
.loan-list-customized .loan-but p{margin-top:0;}
.loan-customized-mid{width:605px;*width:600px;float:left;display:block;margin-top:30px;}
.loan-customized-mid p{font-size:18px;line-height:40px;margin-bottom:15px;}
.loan-customized-mid .form-input{height:40px;margin-top:1px;padding-top:0;padding-bottom:0;line-height:38px;vertical-align:middle;margin-right:20px;color:#cbcbcb;font-size:16px;}
.loan-list-customized .loan-but p{text-align:left;padding-left:60px;margin-bottom:5px;}
.loan-list-customized .loan-but p em{color:#fd9933;}
.loan-list-customized .loan-tit{height:169px;}
.loan-answers-list{width:1200px;overflow:hidden;}
.loan-answers-list li{width:1230px;height:170px;overflow:hidden;border-top:1px solid #e9e9e9;margin-top:-1px;}
.loan-answers-list li dl{width:570px;margin-right:30px;float:left;margin-top:26px;}
.loan-answers-list li dl dt{font-size:14px;line-height:20px;margin-bottom:12px;}
.loan-answers-list li dl dt em{color:#fd9933;}
.loan-answers-list li dl  dd{font-size:14px;color:#999999;line-height:30px;}
.loan-answers .title-s-size h4{font-size:24px;}

.loan-product{width:480px;float:left;margin-top:35px;}
.loan-product h5{font-size:18px;line-height:40px;margin-bottom:15px;}
.loan-product ul li{width:142px;margin-right:10px;float:left;line-height:25px;margin-bottom:8px;font-size:14px;}
.loan-product ul li strong{color:#999999;}
.loan-product ul li.loan-product-one{width:365px;display:block;margin-left:70px;position:relative;}
.loan-product ul li.loan-product-one strong{position:absolute;left:-70px;top:0;}
.loan-qualifications{width:370px;}
.loan-qualifications ul li.loan-product-one{width:300px;}
.loan-customized-mid .form-on{color:#333333;}

/*10月14 首页添加优质融 两证通*/
.loan-tit-bg8{background:url(../images/jrcp_bg8.jpg) no-repeat left top;}
.loan-tit-bg9{background:url(../images/jrcp_bg9.jpg) no-repeat left top;}
.loan-explain li em.loan-explain-bge{background-color:#b3d180;}
.loan-explain li em.loan-explain-bgf{background-color:#eb9595;}
