<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script type="text/javascript">
        var citySpell = 'beijing';
        var APIURL = "http://testapi.chedai.bitauto.com/";
        var RESURL = "http://192.168.145.9:8011/Web/";
        var USERCENTERURL = "http://test.i.daikuan.com";
        var BusinessLine = 550;
        var mobile = '13269031795';
        var uid = 2712400;
        var product = 111363;
        var xincheUrl ="http://zujs.test.daikuan.com";
    </script>
</head>
<body>
 {{{htmlWebpackPlugin.options.header}}}

 <div class="bg_col">
    <article class="user_warp">
        
<script>
    var arrImg = ['http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-001.png?v=',
      'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-002.png?v=',
          'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-003.png?v=',
          'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-004.png?v=',
          'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-005.png?v=',
          'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-006.png?v=',
          'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-007.png?v=',
          'http://192.168.154.243:8011/Web/css/gerenzhongxin/images/car-008.png?v='];    
</script>


<article class="user_nav_box" id="userLeft">
    
    <div class="user_photo_box">
        <div class="user_photo">
            <img src="http://192.168.154.243:8011/Web/css/gerenzhongxin/images/user_photo_bg.png?v=" class="user_photo_bg" />
            <span class="bg_txt">点我换一个</span>
                <img src="http://192.168.154.243:8011/Web/css/gerenzhongxin/images/photo.jpg?v=" class="photo" />
        </div>
        <div class="user_name">152****9638</div>
    </div>
    <article class="user_icon_art">
            <a class="user_icon l add_info" href="/User/ViewUserProfile">
                <i class="i_1" onclick=""></i>
                <span class="text">
                    <i class="tip_top"></i>完善您的个人资料
                </span>
            </a>
                    <section class="user_icon c">
                <i class="i_2"></i>
                <span class="text"><i class="tip_top"></i>完善您的信用信息</span>
            </section>
                    <a class="user_icon r add_info" href="/User/ViewCertificateInfo">
                <i class="i_3"></i>
                <span class="text"><i class="tip_top"></i>完善您的认证信息</span>
            </a>

    </article>
    <nav class="user_nav">
        <ul class="user_ul">
            <li class=""><a href="/">我的订单<i class="tip_r"></i></a></li>
            <li class=""><a href="/User/ViewUserProfile">个人资料<i class="tip_r"></i></a></li>
            <li class=""><a href="/User/ViewQualification">信用信息<i class="tip_r"></i></a></li>
            <li class="cur"><a href="/User/ViewCertificateInfo">实名认证<i class="tip_r"></i></a></li>
            <li class=""><a href="/MyComment/ServedAdviserList">我的顾问<i class="tip_r"></i></a></li>
            <li class=""><a href="/User/ViewChangePwd">修改密码<i class="tip_r"></i></a></li>
            <li class=""><a href="/MyComment">我的评价<i class="tip_r"></i></a></li>
                    <li class=" show_shareorder_QRCode"><a href="javascript:void(0);">晒单记录<label class="shareOrder_label">show</label><i class="tip_r"></i></a></li>
                    </ul>
    </nav>

    <!-- 二维码弹层 -->
    <div class="QRCode_box clrfix box-sizing hide">
        <aside class="fl QRCode">
            <img src="http://192.168.154.243:8011/Web/css/gerenzhongxin/images/qrcode.png?v=">
        </aside>
        <aside class="fl share_r">
            <div class="close closeEvent"></div>
            <div class="QRCode_title">手机扫码来晒单 赢取缤纷好礼</div>
            <div class="clrfix">
                <div class="fl scanning"></div>
                <div class="fl share_txt">
                    <div>开启扫描工具</div>
                    <div>扫一扫立即秀车</div>
                </div>
            </div>
        </aside>
    </div>   
</article>

        <article class="user_con" id="userRight">
            <div class="title_box">
                <h2 class="h2">实名认证</h2>
            </div>
            <div class="user_prompt_cart">
                <div class="user_p_c_left">
                    <div class="user_p_c_box">
                        <div class="user_p_c_tit">实名认证前，您需要：</div>
                        <div class="user_p_c_con">
                            <ul class="user_p_c_ul">
                                <li>提供本人有效期内身份证件信息，不得使用或冒用他人信息。</li>
                                <li>阅读并同意《易鑫实名认证服务协议》</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="user_p_c_right">
                    <div class="user_p_c_box">
                        <div class="user_p_c_tit">实名认证后，您可以：</div>
                        <div class="user_p_c_con">
                            <ul class="user_p_c_ul">
                                <li>获取精准易鑫一证贷额度</li>
                                <li>快速申请、极速审批特权</li>
                                <li>提升申请额度、提高账户安全等级</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section class="user_from_box">
                    <div class="tab_input_box user_from_box_cer" id="tabTextBoxCer" style="display:block;">
                        <ul class="user_from">
                            <li class="item">
                                <div class="txt">真实姓名</div>
                                <div class="info">
                                    <span class="input"><input type="text" name="name" class="input_line" value="测试" id="UserRealName" placeholder="请输入您的真实姓名" autocomplete="off" /></span>
                                    <span class="alert"><i></i>您输入的姓名有误</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="txt">证件类型</div>
                                <div class="info">
                                    <span class="input"><input type="text" name="name" class="input_line2" value="身份证" data-id="105" readonly="readonly" id="CertificateType" autocomplete="off" /></span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="txt">证件号码</div>
                                <div class="info">
                                    <span class="input"><input type="text" name="IdCardCode" class="input_line UsernameInput" id="IdCardCode" autocomplete="off" maxlength="18" placeholder="请输入您的证件号" /></span>
                                    <span class="alert"><i></i>您输入的证件号有误</span>
                                </div>
                            </li>

                            <li class="item imgValidateCodeBox">
                                <div class="txt">图片验证码</div>
                                <div class="info">
                                    <span class="input">
                                        <input type="text" name="captcha" class="input_line UsernameInput" value="" id="imgValidateCode" autocomplete="off" maxlength="4" placeholder="请输入图片验证码" />
                                        <div id="GetImgValidateCode" class="GetImgValidateCode fr"><img src="../images/GetImageValidateCode.html.jpg"></div>
                                        <a class="changeCode" id="changeCode">换一张</a>
                                    </span>
                                    <span class="alert"><i></i>请输入正确的验证码</span>
                                </div>
                            </li>


                            <li class="item">
                                <div class="txt"></div>
                                <div class="info">
                                    <span class="checkbox_span"><input type="checkbox" checked="checked" id="checkboxID" /></span>阅读并同意<a href="/User/CertificateXieYi" target="_blank">《易鑫实名认证服务协议》</a>
                                </div>
                            </li>
                        </ul>

                        <div class="user_btn_box">
                            <a href="javascript:;" class="btn_org" id="UserEditBtnCer">提交认证信息</a>
                        </div>
                    </div>
                    <div class="tab_text_box user_from_box_cer_t" id="tabInputBox" style="display:none;">
                        <div class="u_f_b_cer_t"><i class="ok"></i>您已通过实名认证！</div>
                        <ul class="user_from">
                            <li class="item">
                                <div class="txt">真实姓名</div>
                                <div class="info">
                                    <span class="i_txt" id="UserRealNameTxt"></span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="txt">证件类型</div>
                                <div class="info">
                                    <span class="i_txt" id="CertificateTypeTxt">身份证</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="txt">证件号码</div>
                                <div class="info">
                                    <span class="i_txt" id="IdCardCodeTxt"></span>
                                </div>
                            </li>
                        </ul>

                    </div>

                

            </section>
        </article>
    </article>
</div>

 {{{htmlWebpackPlugin.options.footer}}}
 <script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>