<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>直通模式</title>
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}


<div id="yxWrapper">
    <header class="header-bar">
        <a href="javascript:history.go(-1);"></a>
        <h1 class="font-nav">直通模式</h1>
        <span class="font-title"></span>
    </header>

    <div class="m-no-result2">
        <div class="loanResult-box">
            <div class="face face-succeed"></div>
            <h6>恭喜您<br/>获得<span style="color: #DD2727">26.10万元</span>可贷额度！</h6>
        </div>
        <p class="mt_5">您还可以<a href="http://m.daikuan.com/">返回首页</a>进行其他操作。
        </p>
    </div>
    <div class="result-btn">
        <a href="http://i.m.daikuan.com/" class="btn-one btn-orange" id="step1">查看贷款进度</a>
    </div>

    <div class="tt-first bg3 ResultTableTop recommend">
        <h3 class="font14">为您匹配以下金融产品：</h3>
        <div class="clear"></div>
    </div>
    <div class="BudegtList">
        <div class="recommend-black">
            <div class="recommend-top">
                <img src="http://img1.bitautoimg.com/chedai/a5a360f5-203c-43bb-aa96-e6287040e991.jpg">
                <h5>奥迪零息特惠</h5>
                <em>中国建设银行</em>
            </div>
            <div class="content">
                <h5>奥迪 A4L</h5>
                <div class="table mt_20">

                    <a href="http://m.daikuan.com//www/m120656/p34555?channel=667&amp;source=702">
                        <ul class="col-3">
                            <li>
                                <div class="c-box">
                                    <h6>月供</h6>
                                    <em class="price current">7249元</em>
                                </div>
                            </li>
                            <!--<li>
                                <div class="c-box">
                                    <h6>手续费</h6>
                                    <em class="price">0元</em>
                                </div>
                            </li>-->
                            <li>
                                <div class="c-box">
                                    <h6>总成本</h6>
                                    <em class="price">1.70万</em>
                                </div>
                            </li>

                        </ul>
                        <!-- <div class="right">
                            <span class="arrows-right">
                                <i></i>
                            </span>
                        </div> -->
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>


{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>