@charset "utf-8";


.public-header{
	width:100%;
	height:1.6rem;
	line-height:1.6rem;
	background-color:#ff9900;
	font-size:0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.header-go-back{
	display: inline-block;
	/*float:left;*/
	width:1.7rem;
	height:100%;
	text-align: center;
}

.header-go-back span{
	display: inline-block;
	font-size:0.84rem;
	color:#fee5bf;
}
.header-go-menu{
	display: inline-block;
    /*float:right;*/
	width:2.14rem;
	height:100%;
	text-align: center;
}

.header-go-menu span{
	color:#fee5bf;
}

.header-title{
	text-align: center;
	width:2.14rem;
	display:inline-block;
	/*vertical-align:middle;*/
	color:#fee5bf;
	font-size:0.68rem;
	font-family:"Helvetica,Arial,sans-serif";
}

.divide-line{
	height:0.5rem;
	background-color:#f5f5f5;
}

.filter-nav{
	font-size:0;
	box-sizing: border-box;
	border-bottom:0.02rem solid #f5f5f5;
	display:flex;
}
.nav-item{
	height:2rem;
	line-height: 2rem;
	float:left;
	display: inline-block;
	font-size:0.68rem;
	font-family:"Helvetica,Arial,sans-serif";
	color:#666666;
	/*width:20%;*/
	text-align:center;
	flex-grow:1;
}
.active{
	color:#ff6d02 !important;
}
 span.active{
	color:#ff6d02 !important;
}
.icon-warp{
	display: inline-block;
	vertical-align: middle;
	font-size:0;
	position: relative;
	height: 100%;
	width:0.48rem;
}
.nav-shang,.nav-xia{
	color:#cccccc;
	font-size:0.34rem;
	display: inline-block;
	position:absolute;
	left:0;
}
.nav-xia{
	top:-0.2rem;
}
.nav-shang{
	bottom:-0.2rem;
}
