/*个人中心登录页面*/
.bg-grayer{background-color:#f5f5f5}

.land-menu-ico{background-color:#ffffff;margin-top:10px;width:100%;display:table;overflow:hidden;}

.land-menu-ico li{width:33%;border-top:1px solid #ececec;border-left:1px solid #ececec;float:left;text-align:center;margin-top:-1px;margin-left:-1px;text-align:center;font-size:1.4rem;color:#666666;height:88px;}
.land-menu-ico li a{display:block;padding-top:15px;height:73px;}
.land-down-btn{height:75px;margin:15px 15px 35px;}
a.land-btn{width:100%;height:43px;line-height:43px;display:block;text-align:center;font-size:1.6rem;color:#ff6d02;border:1px solid #ff6d02;border-radius:5px;margin-bottom:12px;}
.land-down-btn p{text-align:center;color:#ff6d02;line-height:20px;font-size:1.4rem;}
.land-down-btn p a{color:#ff6d02;}
.car_list_box{background-color:#ffffff;margin-bottom:10px;}
.car_list_box .car_270_180:last-child {border-bottom:none;}
.car_list_box .car_list_box_tit{margin-top:-1px;}

.guanz-grzx .land-down-btn p a{color:#999999;}

.car_list_box_tit{height:35px;line-height:35px;background-color:#f5f5f5;padding:0 15px;font-size:1.4rem;color:#666666;}
.guanz-grzx-time .car_270_180{margin-bottom:-1px;}



/*2016-5-17 已发车源  */
.car_list_box{padding-top:1px;}
.car_270_180{margin:0 15px;padding:15px 0;border-bottom:1px solid #ececec;}
.car_270_180 .img-box{width:135px;height:90px;float:left;margin-right:10px;position:relative;}
.car_270_180 .img-box img{width:135px;}
.car_270_180 .txt-box{font-size:1.2rem;line-height:17px;}
.car_270_180 .txt-box h4 {font-size:1.4rem;height:36px;line-height:18px;margin-bottom:2px;overflow:hidden;display:table;}
.car_270_180 .txt-box h4.one-line a{}
.car_270_180 .txt-box h4 a{font-size:1.4rem;color:#333333;display:table-cell;vertical-align:middle;}
.car_270_180 .txt-box .time{color:#999999;line-height:16px;margin-bottom:1px;}
.car_270_180 .txt-box .time i{float:right;}
.car_270_180 .price{font-size:1.4rem;color:#ff6d02;line-height:16px;margin-bottom:2px;}
.car_270_180 .price span{float:right;color:#999999;font-size:1.2rem;}
.car_270_180  .txt-box-ico{height:17px;margin-top:2px;}
.car_270_180  .txt-box-ico em{display:inlie;height:15px;line-height:15px;color:#ff6d02;border:1px solid #ff6d02;padding:0 2px;border-radius:2px;}
.car_270_180  .txt-box-ico em.txt-box-ico-blue{border:1px solid #4cc38b;color:#4cc38b;}
.car_270_180  .txt-box-ico span{float:right;}
.car_270_180  .txt-box-ico span a{margin-top:3px;width:0px;padding-left:12px;font-size:0;line-height:0;overflow:hidden;height:13px;display:block;}
.img-box-ico{height:15px;position:absolute;left:0;top:0;}
.img-box-ico i{float:left;background-color:#ff6d02;height:15px;line-height:15px;padding:0 1px 0 5px;font-size:12px;color:#ffffff;}
.img-box-ico-bg2 i{background-color:#cccccc;}
.img-box-ico-bg3 i{background-color:#f53e3e;}
