<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var jtlj="";
        var addQualificationUrl = "/";
        var paymentUrl = "/";
        var isNeedPay = true;
        var queryResultUrl = "/";
        var resultUrl = "/";
        var productId = 312
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<header class="header-bar">
    <a href="javascript:void(0);"></a>
    <h1 class="font-nav">贷款购车经销商</h1>
    <span></span>
</header>
<section class="form-box">
    <header>我们为您推荐以下经销商办理车贷并咨询购车</header>
    <ul>
        <li id="Mobile" class="font-title">
            <i></i><b>手机号</b><span><input type="tel" id="Telphone" name="Telphone" placeholder="请输入" value="" class="iptbox" maxlength="11" /></span>
        </li>
        <li class="warning">请输入正确的手机号</li>

        <li id="Code" class="font-title">
            <i></i><b>验证码</b><span><input type="tel" placeholder="请输入" name="ValidateCode" id="ValidateCode" class="iptbox" maxlength="6" /></span><div class="getValidateCodeBtn" id="GetValidateCodeBtn">获取验证码</div>
        </li>
        <li class="warning">请输入正确的验证码</li>
    </ul>
    <ul>
        <li id="DealerCode" class="font-title select-con" data-aslider-in="dealerCode|fade|bottom">
            <i></i><b>贷款购车经销商</b><span><em>请选择</em></span>
        </li>
        <li class="warning">请选择贷款购车经销商</li>
    </ul>
    <div class="submit-form cur">
        <form action="" id="formQ"></form>
        <a href="javascript:void(0);" class="font-btn">下一步</a>        
    </div> 
</section>

<section id="popCool" class="hide"></section>

<!-- 经销商 -->
<aside class="sel-control-box" data-aslider="dealerCode">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav" id="closeDealerCode">取消</div>
            <div class="sel-ctrl-title font-nav">经销商</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider" id="ulDealerList">
                  
                </ul>
            </div>
        </div>
    </div>
</aside>

<blockquote class="loadmask hide">
    <div class="load"></div>
</blockquote>



<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>