<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var jtlj="";
        var addQualificationUrl = "/";
        var paymentUrl = "/";
        var isNeedPay = true;
        var queryResultUrl = "/";
        var resultUrl = "/";
        var productId = 312
        var frameUrl = "http://m.seehoo.cn/CL/m/homem.html?middleIframeUrl=http://zujs.m.order.daikuan.com/LoanApplyYxHxm/MiddleIframe&c=1234#/2";
        var resultUrl = "/result/?orderId=141484625377440";
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}


<header class="header-bar">
    <a href="javascript:void(0);"></a>
    <h1 class="font-nav">运营商选择</h1>
    <span></span>
</header>
<div class="iframe-box">
    <iframe width="100%" height="480" frameborder="0" scrolling="no" src="http://m.seehoo.cn/CL/m/homem.html?middleIframeUrl=http://zujs.m.order.daikuan.com/LoanApplyYxHxm/MiddleIframe&c=1234#/2"></iframe>
</div>

<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>