body {
  /*background-image: url("http://t.image.bitautoimg.com/chedai/5ae29a47-2a91-4c20-b473-afe821ea6930.jpg") ;*/
  background-repeat: no-repeat;background-size: 100% 100%; background-position:top right;
}
#yxWrapper{
  max-width: none !important;
}
area{
  //border:1px solid #f00;
  display:block;
}
.header-bar{
.font-nav{-webkit-box-pack: center;
  box-pack: center;-webkit-box-orient: vertical;
  box-orient: vertical; text-align: center;display: -webkit-box ;
  display: box ;}
}
/*#Content{

  p{
    position: relative;
    height: 3000px;
    width: 100%;
    *{
      padding: 0px;margin: 0px;
    }
  }

}*/
.style_box {
  width: 100%;
  *{
    font-size: 0;
  }

}

.style_box_con {
  width: 100%;
  overflow: hidden;
}

.style_box img {
  width: 100%;
 display: block;overflow: hidden;
}

.swiper_box {
  position: absolute;
  top: 2rem;
  left: 0;
  padding: 0 10%;
  width: 80%;
  z-index: 8;
}

/*swiperTopBanner banner*/

.swiperTopBanner {
  height: 3.07rem
}

.swiperTopBanner img {
  width: 100%;
  height: 100%
}

.swiperTopBanner .swiper-pagination {
  text-align: right;
  padding: 0 px2rem(20) 0;
}

.swiperTopBanner .swiper-pagination-bullet {
  width: 0.19rem;
  height: 0.19rem;
  display: inline-block;
  border-radius: 1rem;
  border: 1px solid #d4d4d4;
  background: #fff;
  opacity: 1
}

.swiperTopBanner .swiper-pagination-bullet-active {
  border-radius: 1rem;
  border: 1px solid #dbb76c;
  background: #dbb76c;
  opacity: 1
}