@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1487729515869'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1487729515869#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1487729515869') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1487729515869') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1487729515869#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moreunfold:before { content: "\e6a6"; }