.evaluate-list li{
	background:#fff;
	margin-top:0.266667rem;
	color:#333;
}
.evaluate-list dt{
	height:1.066667rem;
	line-height:1.066667rem;
	border-bottom:1px solid #eee;
	padding:0 0.4rem;
}
.evaluate-list dt h3{
	display:inline-block;
	white-space: nowrap;
	color:#000;
}
.display-flex,
.evaluate-list dt h3.display-flex{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.evaluate-list dt h3.display-flex{
	color:#333;
}
.display-flex{
	height:1.066667rem;
	line-height:1.066667rem;
}
.evaluate-list dt .car-info{
	flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#666666;
}
.evaluate-list dd{
	padding-left: 0.4rem;
}
.evaluate-list dd header{
	font-size:0;
}
.evaluate-list footer{
	line-height:150%;
	padding-right: 0.4rem;
	padding-bottom:0.4rem;
}
.adviser-box>h3>img{
	width: 0.853333rem;
	height:0.853333rem;
	border-radius: 50%;
	margin-right:0.266667rem;
}
.date-box{
	color:#c2c2c2;
	padding:0 0 0.4rem 0;
}
.adviser-box .adviser-h3 a{
	display: inline-block;
    width: .48rem;
    height: .58rem;
    float: right;
    margin-top: .19rem;
    background: url(images/detail4.png) left top no-repeat;
    background-size: .48rem .48rem;
    margin-right:0.4rem;
    margin-left:0.35rem;
}
.adviser-box .adviser-h3{
	font-size: 0;
    min-height: 1.066667rem;
    display: block;
    height: auto;
}
.adviser-box .adviser-h3 .adviser-name,
.adviser-box .adviser-h3 span.date-box24{
	display:inline-block;
	line-height: 1.066667rem;
	vertical-align: top;
}
.evaluate-list header label{
	color:#e79500;
	border:1px solid #e79500;
	display:inline-block;
	margin-right:0.4rem;
	height:0.67rem;
	line-height:0.67rem;
	padding:0 0.32rem;
	border-radius: 0.066667rem;
	margin-bottom:0.4rem;
}
.star-level{
	margin:0.4rem 0;
	width:2.8rem;
	height:0.41rem;
	background:url(images/star.png) repeat-x left top;
	background-size: auto 0.82rem !important;
	position:relative;
	left:-0.08rem;
}
.star-level>div{
	background:url(images/star.png) repeat-x left bottom;
	background-size: auto 0.82rem !important;
	height:0.41rem;
}
dd.adviser-box h3{
	border-top:1px solid #eee;
	padding-top:0.4rem;	
}
.adviser-box h3.display-flex{
	color:#666 !important;
}
.adviser-box i{
	margin:0.34rem 0.266667rem 0 0.266667rem;
	background:url(images/detail6.png) no-repeat left top;
	background-size: .32rem .35rem;
	width:0.32rem;
	height:.35rem;
	display:inline-block;
	vertical-align: top;
}
.adviser-box i.medal-2{ 
	background: url(images/detail7.png) no-repeat left top;
	background-size: 0.32rem 0.35rem; 
}
.adviser-box i.medal-1{ 
	background: url(images/detail8.png) no-repeat left top; 
	background-size: 0.32rem 0.35rem; 
}
[data-dpr="1"] .adviser-name{
  font-size: 14px;
}
[data-dpr="2"] .adviser-name{
  font-size: 28px;
}
[data-dpr="3"] .adviser-name{
  font-size: 42px;
}
[data-dpr="1"] .no-comment{
  font-size: 14px;
}
[data-dpr="2"] .no-comment{
  font-size: 28px;
}
[data-dpr="3"] .no-comment{
  font-size: 42px;
}

[data-dpr="1"] .date-box24{
  font-size: 12px;
}
[data-dpr="2"] .date-box24{
  font-size: 24px;
}
[data-dpr="3"] .date-box24{
  font-size: 36px;
}
[data-dpr="1"] .no-comment span{
  font-size: 16px;
}
[data-dpr="2"] .no-comment span{
  font-size: 32px;
}
[data-dpr="3"] .no-comment span{
  font-size: 48px;
}
.sliderUp-box{
	width: 100%;
	text-align: center;
	padding: 0.266667rem 0;
}
.sliderUp{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	background: url(images/pullup.png) no-repeat;
	background-size: 100%;
	margin-right: 0.2rem;
	position: relative;
	top: 0.08rem;
}
.no-comment{
	padding:3.2rem 0;
	text-align:center;
	color:#999;
	line-height:150%;
}
.no-comment a{
	color:#5fc3e8;
}
.no-comment span{
	color:#000;
	margin-bottom:0.4rem;
	display:block;
}
