a:hover {
  text-decoration: none!important;
}
a:active{
  color: #000 !important;
}
.uf{
  position: relative;

  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.uf-dc{
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.uf-wp{
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.uf-js{
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
.uf-ja{
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
}
.uf-wn{
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.uf-f1{
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -moz-flex:1;
  -ms-flex:1;
}
.uf-f2{
  flex: 2;
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  -moz-flex:2;
  -ms-flex:2;
}
.uf-f3{
  flex: 3;
  -webkit-flex: 3;
  -webkit-box-flex: 3;
  -moz-flex:3;
  -ms-flex:3;
}

.uf-ic{
  align-items: center;
  -webkit-align-items:center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.ut-s{
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  outline: 0 !important;
}
.ut-c{
  text-align: center;
}
.ut-l{
  text-align: left;
}
.ut-r{
  text-align: right;
}
.box_sizing{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.p-rel{
  position: relative;
}
.maxW-190{
  max-width: 2.586667rem;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-60{
  width: 0.8rem;
}
.w-180{
  min-width: 2.4rem;
}
.w-250{
  width: 3.333333rem;
}
.h-100{
  height: 100%;
}
.h-30{
  height: 0.4rem;
}
.h-btn{
  height: 1.333333rem;
}
.o-f{
  overflow: hidden;
}

.font-18{
  font-size: 0.24rem;
}
.font-20{
  font-size: 0.266667rem;
}
.font-22{
  font-size: 0.293333rem;
}
.font-24{
  font-size: 0.32rem;
}
.font-26{
  font-size: 0.346667rem;
}
.font-28{
  font-size: 0.373333rem;
}
.font-30{
  font-size: 0.4rem;
}
.font-34{
  font-size: 0.453333rem;
}
.font-40{
  font-size: 0.533333rem;
}
.font-42{
  font-size: 0.56rem;
}
input::-webkit-input-placeholder{
  font-size: 0.346667rem;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder  {
  color:#d0d0d0 !important;
}

input{
  color: #000;
}
.dis-block{
  display: block;
}
.f-gray{
  color: #d0d0d0;
}
.f-gray2{
  color: #909090;
}
.f-gray3{
  color: #333;
}
.f-gray6{
  color: #666 !important;
}
.f-gray9{
  color: #999;
}
.f-white{
  color: #fff !important;
}
.f-red{
  color: #e15436;
}
.f-A4{
  color: #a4a4a4;
}
.f-B6{
  color: #b6b6b6;
}
.f-yellow{
  color: #dbb76c;
}
.f-C2{
  color: #c2c2c2;
}
.f-blod{
  font-weight: 600;
}
.pad0R{
  padding-right: 0!important;
}
.pad20A{
  padding: 0.266667rem 0.133333rem 0 0.266667rem;
}
.pad30A{
  padding: 0.4rem;
}
.pad30L{
  padding-left: 0.4rem;
}
.pad40L{
  padding-left: 0.533333rem;
}
.pad30R{
  padding-right: 0.4rem !important;
}
.pad30B{
  padding-bottom: 0.4rem;
}
.pad30TB{
  padding: 0.4rem 0;
}
.pad30RL{
  padding: 0 0.4rem;
}
.pad20R{
  padding-right: 0.266667rem;
}
.pad45TB{
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.pad45RL{
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
.mag0B{
  margin-bottom: 0!important;
}
.mag20T{
  margin-top: 0.266667rem;
}
.mag20B{
  margin-bottom: 0.266667rem;
}
.mag10T{
  margin-top: 0.133333rem;
}
.mag10RL{
  margin-right: 0.133333rem;
  margin-right: 0.133333rem;
}
.mag15T{
  margin-top: 0.2rem;
}
.mag20R{
  margin-right: 0.266667rem;
}
.mag25R{
  margin-right: 0.333333rem;
}
.mag25B{
  margin-bottom: 0.333333rem;
}
.mag30R{
  margin-right: 0.4rem;
}
.mag30RL{
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}
.mag40R{
  margin-right: 0.533333rem;
}
.mag60L{
  margin-left: 0.8rem;
}
.mag25TB{
  margin: 0.333333rem 0;
}
.mag30B{
  margin-bottom: 0.4rem;
}
.mag40B{
  margin-bottom: 0.533333rem;
}
.bg-white{
  background-color: #fff !important;
}
.bg-yellow{
  background-color: #dbb76c !important;
}
.bg-blue{
  background-color: #516393 !important;
}
.b-gray{
  border: 1px solid #eee !important;
}
.bb-gray{
  border-bottom: 1px solid #eee;
}
.b-dashed{
  border-bottom: 1px dashed #eee;
}
.b-F2{
  background-color: #f2f2f2 !important;
}
.b-Fa{
  background-color: #fafafa !important;
}
.bg-black{
  background-color: rgba(0,0,0,0.8);
}

.bd0 { border: 0!important; }
.label-yellow{
  display: inline-block;
  background-color: #dbb76c;
  color: #fff;
  border-radius: 0.066667rem;
  padding: 0.066667rem;
  margin: 0.266667rem 0;
}
.label{
  display: inline-block;
  color: #999;
  border: 1px solid #eee;
  border-radius: 0.066667rem;
  padding: 0.04rem 0.066667rem;
  margin-right: 0.32rem;
}
.form{
  padding: 0.133333rem 0.133333rem 0;
}
.right{
  display: inline-block;
  width: 0.32rem;
  height: 0.373333rem;
  background: url(../images/icon2.png) no-repeat;
  background-size: 100%;
}
.form .input-items{
  background-color: #fff;
  padding: 0 0.4rem;
  border-bottom: 1px solid #eee;
  height: 1.173333rem;
}
.form .items-name{
  width: 1.733333rem;
}
.form .input-items input{
  margin: 0 0.133333rem;
  border:0;
}
.btn{
  padding: 0.333333rem 0;
}
.btn-fixed{
  width: 10rem;
  position: fixed !important;
  bottom: 0;
}
.btn-black{
  background-color:#000;
  color: #fff;
  height: 100%;
  line-height: 100%;
}
.btn-gray{
  background-color: #e5e5e5;
  color: #999;
  height: 100%;
  line-height: 100%;
}
.card-box{
  margin: 0.266667rem 0;
  background-color: #fff;
}
.card-box > header{

  border-bottom: 1px solid #eee;
}
/*.card-box > header.ctn-header{
    padding-left: 0.4rem;
}*/
.ctn-header li{
  display: block;
  padding: 0.333333rem 0;
}
.ctn-header li.cur{
  color: #dbb76c;
}
.ctn-header i{
  display: inline-block;
  width: 0.4rem;
  height: 0.24rem;
  background: url(../images/icon21.png) no-repeat;
  background-size: 100%;
  margin-left: 0.266667rem;
}
.card-box > header > span{
  display: inline-block;
}
.card-box > header > span:nth-child(2){
  position: relative;
  bottom: 0.133333rem;
  margin-left: 0.266667rem;
}
.com-box .com-box-ctn{
  margin-left: .4rem;
  padding: 0.373333rem 0 0.466667rem 0;
}
.com-box:not(:last-child) .com-box-ctn{
  border-bottom: 1px solid #eee;
}
.com-box .check-box{
  width: 1rem;
  margin-right: .2rem;
  margin-left: -.4rem;
}
.com-box .check{
  display: inline-block;
  width: 0.4rem;
  height: 0.42rem;
  margin-left: 0.4rem;
  background: url(../images/check01.png) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.com-box .check.cur{
  display: inline-block;
  width: 0.4rem;
  height: 0.42rem;
  margin-left: 0.4rem;
  background: url(../images/check02.png) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.com-box .com-logo{
  width: 1.133333rem;
  margin-right: 0.266667rem;
}
/*swiper dot*/

.swiper-pagination-bullet {
  width: 0.16rem;
  height:0.16rem;
  display: inline-block;
  border-radius: 100%;
  border: 0px solid #808080;
  background: #D4D4D4;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 0.16rem;
  height:0.16rem;
  display: inline-block;
  border-radius: 100%;
  border: 0px solid #808080;
  background: #000000;
  opacity: 0.5;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}
#mouthPay{
  position: relative;
}
#mouthPay:after{
  content: "";
  position: absolute;
  right: -.026667rem;
  top: -.026667rem;
  z-index: 2;
  width: 0.4rem;
  height: 1.05rem;
  background-color: #fff;
  opacity: .8;
  box-shadow: -.066667rem 0 .133333rem #f2f2f2;
}
/*swiper dot*/
.select-con{
  padding: 0.2rem 0.266667rem;
  border: 1px solid #eee;
  border-radius: 0.16rem;
}
.down{
  display: inline-block;
  width: 0.266667rem;
  height: 0.16rem;
  background: url(../images/icon21.png) no-repeat;
  background-size: 100%;
}
.point{
  width: 0.266667rem;
  height: 0.266667rem;
  border-radius: 0.133333rem;
  background-color: #e2e2e2;
}
.sel-control-box{
  z-index: 2;
}

.login-box{
  width: 2.133333rem;
  height: 2.133333rem;
  margin: 0 auto;
  background: url(../images/loading_white.gif) no-repeat;
  background-size: 100%;
}

.btn_vali.disable { color: #d0d0d0!important; }

/*------common-------*/
.uf { display: -webkit-box; display: -webkit-flex; display: flex; position:relative;}
.uf_inline { display: -webkit-inline-flex; display: inline-flex; }
.uf_ac{
  align-items: center;
  -webkit-align-items:center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.uf_ae{ -webkit-align-items: flex-end; align-items: flex-end;}
.uf_as { -webkit-align-items: stretch; align-items: stretch; }
.uf_acs { -webkit-align-content: flex-start; align-content: flex-start; }
.uf_ase { -webkit-align-content: flex-end; align-content: flex-end; }
.uf_asc { -webkit-align-content: center; align-content: center; }
.uf_asb { -webkit-align-content: space-between; align-content: space-between; }
.uf_asa { -webkit-align-content: space-around; align-content: space-around; }

.uf_f1{ position:relative; -webkit-box-flex: 1; box-flex: 1; -webkit-flex: 1; flex: 1; }
.uf_f2{ position:relative; -webkit-box-flex: 2; box-flex: 2; -webkit-flex: 2; flex: 2; }
.uf_f3{ position:relative; -webkit-box-flex: 3; box-flex: 3; -webkit-flex: 3; flex: 3; }
.uf_f4{ position:relative; -webkit-box-flex: 4; box-flex: 4; -webkit-flex: 4; flex: 4; }

.tx_c{text-align:center !important;}
.tx_l{text-align:left !important;}
.tx_r{text-align:right !important;}

.bg_fff { background-color: #fff; }
.bg-yellow{ background-color: #dbb76c !important;}
.c_high { color: #ea544a !important; }
.c_blue { color: #5ac3ea; }
.c6 { color: #666; }
.c9 { color: #999; }
.f-gray6{color: #666 !important;}
.f-red{ color: #e15436 !important;}

.pad20B{ padding-bottom: 0.266667rem;}
.uw100{width:100%;}
.uh100{height:100%;}
.box_siz {box-sizing:border-box;-webkit-box-sizing:border-box;}
.img_res { width: 100%; height: auto; }
.ell { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.hide { display: none; }

.u_bdt,
.u_bdb { position: relative; }
.u_bdb:after { content:""; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 1px; background: #eee; }
.u_bdt:before { content:""; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 1px; background: #eee; }

.u_wrap { padding-left: 0.4rem; padding-right: 0.4rem; }
a:hover { text-decoration: none; }
/*--------/ common--------*/

/*form register*/
.msg_form { margin: 0 0.4rem; padding: 0.266667rem 0; font-size: 0.266667rem; color: #8b8b8b; }
.form_reg { padding: 0.266667rem 0.266667rem 0; }
.form_reg .ipt_item { height: 1.28rem; margin-bottom: 0.266667rem; font-size: 0.373333rem; border: 1px solid #eee; background-color: #fff; }
.form_reg .ipt_item label { display: block; width: 1.866667rem; padding-left: 0.4rem; color: #000; }
.form_reg .ipt_item input { height: 100%; padding: 0 0.133333rem; border: 0; color: #666; display: block;}
.form_reg .ipt_item .btn_vali { display: block; width: 2.666667rem; height: 1.28rem; line-height: 1.28rem; text-align: center; border-left: 1px solid #eee; }
.form_reg .ipt_item .btn_vali.disable { color: #d0d0d0; }
.form_reg .vali_txt { display: none; height: 0.56rem; margin: 0 0.4rem 0.266667rem; font-size: 0.32rem; line-height: 0.56rem; color: #e15436; }

/*form apply*/
.msg_reg { margin-top: 0.4rem; padding: 0 0.266667rem; font-size: 0.32rem; color: #9a9a9a; line-height: 0.533333rem; }
.form_apply { margin-bottom: 0.4rem; padding-left: 0.4rem; background-color: #fff; }
.form_apply .ipt_item { height: 1.44rem; font-size: 0.373333rem; line-height: 1.44rem; border-bottom: 1px solid #eee; }
.form_apply .ipt_item label { display: block; width: 2.4rem; padding-left: 0.213333rem; color: #000; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form_apply .ipt_item input { width: 100%; height: 98%; padding: 0 0.133333rem; border: 0; color: #666; text-align: right; }
.form_apply .ipt_item span { padding-right: 0.4rem; text-align: right; }
.form_apply .ipt_item em { color: #d0d0d0; }
.form_apply .ipt_item .icon { display: block; margin-left: -0.133333rem; }
.form_apply input[type="radio"] { display: inline-block; width: 1.2rem; height: 1.2rem; padding: 0.266667rem; vertical-align: middle; margin-top: -0.026667rem; background: #fff url(../images/icon-spr.png) -0.64rem 0.266667rem no-repeat; -webkit-background-size: 1.546667rem auto !important; background-size: 1.546667rem auto !important; -webkit-appearance: none; appearance: none; }
.form_apply input[type="radio"]:checked { background-position: -0.64rem -1.013333rem; }
.form_apply .radio { display: inline-block; width: 1.2rem; height: 1.2rem; padding: 0.266667rem; vertical-align: middle; margin-top: -0.026667rem; background: #fff url(../images/icon-spr.png) -0.64rem 0.266667rem no-repeat; -webkit-background-size: 1.546667rem auto !important; background-size: 1.546667rem auto !important; -webkit-appearance: none; appearance: none; }
.form_apply .radio.on { background-position: -0.64rem -1.013333rem; }
.form_apply .ipt_item.selcon { position: relative; }
.form_apply .ipt_item.selcon span { padding-right: 0; display: block;}
.form_apply .ipt_item.selcon:after { content: ""; display: block; width: 0.266667rem; height: 0.266667rem; margin-left: 0.133333rem; margin-right: 0.4rem; border-top: 1px solid #bebebe; border-right: 1px solid #bebebe; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.form_apply .input-tip{ padding-right: 0.4rem; }
/*result*/
.res_wrap { text-align: center; background-color: #fff; }
.res_wrap .res_img { margin-top: 0.64rem; width: 1.333333rem; height: 1.333333rem; }
.res_wrap .res_tit { margin-top: 0.266667rem; font-size: 0.4rem; color: #000; }
.res_wrap .res_txt { margin-top: 0.24rem; font-size: 0.373333rem; }
.res_wrap .res_msg { padding: 0.4rem 0; font-size: 0.293333rem; color: #c2c2c2; }
.fina_wrap { background-color: #fff; }
.fina_wrap .success_box header{
  font-size: 0.346667rem;
  color: #666;
  border-bottom: 1px solid #eee;
}
/*icon*/
.icon { display: inline-block; width: 0.666667rem; height: 0.666667rem; background: #fff url(../images/icon-spr.png) 0 0 no-repeat; -webkit-background-size: 1.546667rem auto !important; background-size: 1.546667rem auto !important; }
.icon_car { background-position: 0 0; }
.icon_time { background-position: 0 -0.64rem; }
.icon_city { background-position: 0 -1.28rem; }
.icon_mile { background-position: 0 -1.92rem; }
.icon_status { background-position: 0 -2.56rem; }
.icon_expires { background-position: 0 -3.2rem; }
.icon_gender { background-position: 0 -3.84rem; }
.icon_age { background-position: 0 -4.48rem; }

/*form qualification*/
.form_quali { padding-left: 0.4rem; background-color: #fff; }
.form_quali li { border-bottom: 1px solid #eee; }
.form_quali .quali_hd { height: 1.066667rem; padding-top: 0.2rem; font-size: 0.346667rem; line-height: 1.066667rem; color: #000; font-weight: 600; }
.form_quali .btn_radio { display: inline-block; height: 0.746667rem; min-width: 1.546667rem; margin-right: 0.266667rem; margin-bottom: 0.426667rem; padding-left: 0.213333rem; padding-right: 0.213333rem; line-height: 0.746667rem; color: #666; font-size: 0.346667rem; text-align: center; border: 1px solid #eee; border-radius: 0.133333rem; }
.form_quali .btn_radio.select { color: #fff; background-color: #dbb76c; }



.sel-control-box{ z-index: 2;}
.tip{ padding: 0.266667rem 0; border-bottom: 1px solid #eee; display: none;}
/*#goBack{ font-size: 0.4rem; width: 100%; height: 1.333333rem; background-color: #ccc; color: #f8f8f8; line-height: 1.333333rem;}*/
/*btn*/
.btn_main { display: block; width: 100%; height: 1.306667rem; font-size: 0.426667rem; color: #f8f8f8; line-height: 1.306667rem; text-align: center; background-color: #ccc; border-radius: 0.16rem }
.btn_main.btn-yellow{ color: #fff; background-color: #dbb76c;}
.btn_black { display: block; width: 100%; height: 1.333333rem; font-size: 0.4rem; color: #fff; line-height: 1.333333rem; text-align: center; background-color: #303030; }

.com-box-ctn .label { border-color: #999; }

.list .car-img{
  width: 1.6rem;
  max-height: 2.133333rem;
  border: 1px solid #eee;
  border-radius: 0.16rem;
}
.list .car-img img{
  width: 100%;
}
.list .car-name{
  line-height: 0.533333rem;
}
.list .card-header{
  height: 1.333333rem;
  border-bottom: 1px solid #eee;
}
.list .label{
  width: 100%;
  padding: 0.133333rem 0;
  text-align: center;
}
.list .label.cur{
  background-color: #dbb76c;
  color: #fff;
  border-color: #dbb76c;
}

.list .swiper-slide{
  /*width: 1.333333rem !important;*/
  /*margin-right: 0.32rem;*/
}

.list .swiper-slide .label {
  padding: 0;
  height: 0.746667rem;
  line-height: 0.746667rem;
}

.list .com-box .label{
  padding: 0.026667rem 0.066667rem;
  width: auto;
  border-radius: 0.04rem;
  border-color: #999;
  margin-left: 0.266667rem;
  margin-right: 0;
}
.list .btn-black{
  background-color:#000;
  color: #fff;
  height: 100%;
  line-height: 100%;
}
.list .btn-gray{
  background-color: #ccc;
  color: #f8f8f8;
  height: 100%;
  line-height: 100%;
}
.list .form{
  padding: 0.266667rem 0;
}
.list .form .input-items{
  /*padding-top: 0.533333rem;*/
  /*padding-bottom: 0.533333rem;*/
  line-height: 1.173333rem;
}
.list .form .items-name{
  width: 2.033333rem;
}
[data-dpr="1"] .list input::-webkit-input-placeholder{
  font-size: 15px;
}
[data-dpr="2"] .list input::-webkit-input-placeholder{
  font-size: 30px;
}
[data-dpr="3"] .list input::-webkit-input-placeholder{
  font-size: 45px;
}
.list .form-txt{
  display: inline-block;
  width: 1.466667rem;
}
.list .btn-submit{
  margin: 0.44rem 0.4rem 0;
  border-radius: 0.16rem;
}
.list .form .input-items input{
  margin: 0;
}
.list .quali{
  position: fixed;
  top: 0;
  width: 10rem;
  z-index: 99;
}
.list .e-btn{
  position: fixed;
  bottom: 0;
  width: 10rem;
}
.list .close-box{
  /*width: 0.5rem;
  height: 0.5rem;*/
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.4rem 0.3rem 0.3rem;
  z-index: 3;
}
.list .close{
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  background: url(../images/close.png) no-repeat;
  background-size: 100%;
}
.list .default-box{
  padding: 1.066667rem 0;
}
.list .default{
  width: 4.96rem;
  height: 4.24rem;
  margin: 0 auto;
  background: url(../images/default.png) no-repeat;
  background-size: 100%;
}
.sliderUp-box{
  width: 100%;
  text-align: center;
  padding: 0.266667rem 0;
}
.sliderUp{
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url(../images/pullup.png) no-repeat;
  background-size: 100%;
  margin-right: 0.2rem;
  position: relative;
  top: 0.08rem;
}
.list .dail-label{
  width: auto;
  margin-right: 0;
  margin-left: 0.133333rem;
  border-color: #999;
  padding: 0.026667rem 0.066667rem;
  line-height: 0.333333rem;
}

.detail-box{
  padding-left: 0.4rem;
  background-color: #fff;
}
.detail-box li:first-child .det-txt{
  border-top: 1px dashed #eee;
}
.detail-box li:not(:last-child) .det-txt{
  border-bottom: 1px dashed #eee;
}
.detail-box header{
  padding: 0.533333rem 0;
}
.det-icon{
  display: block;
  width: 0.32rem;
  height: 0.35rem;
  background: url(../images/icon30.png) no-repeat;
  background-size: 100%;
  position: relative;
  top: 0.59rem;
}
.det-txt{
  line-height: 0.666667rem;
}
.detail .select-con{
  width: 2.146666rem;
  margin-left: 0.333333rem;
}
.detail .select-con{
  position: relative;
}
.detail .select-con:after{
  content: "";
  display: inline-block;
  width: 0.266667rem;
  height: 0.16rem;
  background: url(../images/icon21.png) no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0.2rem;
  top: 0.333333rem;
}

#quilty{
  overflow: hidden;
  background-color: #fff;
}
#mouthPay {
  height: 0.8rem; padding-right: 0.4rem;
}

.ml-dkqx { width: 8.08rem; padding-left: 0.48rem; }
.mt-bycj { margin-top: 0.186667rem; }
.mr-link { margin-right: .4rem; }
.citySelect-search-input{
  line-height:100%;
}