
/*------------------new liu-------------------------*/
[data-dpr="1"] .font-34 { font-size: 17px; }
[data-dpr="2"] .font-34 { font-size: 34px; }
[data-dpr="3"] .font-34 { font-size: 51px; }
[data-dpr="1"] .font-32 { font-size: 16px; }
[data-dpr="2"] .font-32 { font-size: 32px; }
[data-dpr="3"] .font-32 { font-size: 48px; }
[data-dpr="1"] .font-30 { font-size: 15px; }
[data-dpr="2"] .font-30 { font-size: 30px; }
[data-dpr="3"] .font-30 { font-size: 45px; }
[data-dpr="1"] .font-28 { font-size: 14px; }
[data-dpr="2"] .font-28 { font-size: 28px; }
[data-dpr="3"] .font-28 { font-size: 42px; }

[data-dpr="1"] .font-26 { font-size: 13px; }
[data-dpr="2"] .font-26 { font-size: 26px; }
[data-dpr="3"] .font-26 { font-size: 39px; }

[data-dpr="1"] .font-24 { font-size: 12px!important; }
[data-dpr="2"] .font-24 { font-size: 24px!important; }
[data-dpr="3"] .font-24 { font-size: 36px!important; }
[data-dpr="1"] .font-22 { font-size: 11px; }
[data-dpr="2"] .font-22 { font-size: 22px; }
[data-dpr="3"] .font-22 { font-size: 33px; }

body{
    /*background: #fff;*/
}
.qua-groups{
	padding: .32rem .53rem;
    border-bottom: 1px solid #ececec;
}
.qua-groups .qua-header{
	color: #000;
	padding: 0.266667rem 0 0 0;
}
.qua-groups .qua-body > a{
	display: inline-block;
    color: #9a9a9a;
    padding: .133333rem .33rem;
	border-radius: .07rem;
    margin-right: .32rem;
    margin-top: .53rem;
    border: 1px solid #ddd;
}
.qua-groups .qua-body > a.cur{
	color: #fff!important;
    background: #dbb76c;
    border-color: #dbb76c;
}
.qua-btn{
    width: 100%!important;
    position: fixed!important;
    bottom: 0;
}
.qua-btn > div{
    display: block;
    height: 1.33rem;
    line-height: 1.33rem;
    color: #9a9a9a;
    background-color: #fff;
}
.qua-btn > .ensure{
    color: #fff!important;
    background: #dbb76c;
}
.uf{
    position: relative;

    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.ut-c {
    text-align: center;
}
.uf-f1 {
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
}
.qua-btn > div {
    display: block;
    height: 1.33rem;
    line-height: 1.33rem;
    color: #9a9a9a;
    background-color: #fff;
}


.top-tip{
    color:#fff;
    background:#ff6446;
    height: 1.2rem;
    line-height: 1.2rem;
    padding:0 .53rem;
}