<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script type="text/javascript">
        var citySpell = 'beijing';
        var APIURL = "http://testapi.chedai.bitauto.com/";
        var RESURL = "http://192.168.145.9:8011/Web/";
        var USERCENTERURL = "http://test.i.daikuan.com";
        var BusinessLine = 550;
        var authUrl = 'http://testapi.chedai.bitauto.com/api/YxRiskOnline/RealNameAuthenticate';
        var mobile = '13269031795';
        var uid = 2712400;
        var product = 111363;
        var xincheUrl ="http://zujs.test.daikuan.com";
        var id_checking_url = '/common/idchecking';
        var image_code_getting_url = '/common/getimagecode';
    </script>
</head>
<body>
 {{{htmlWebpackPlugin.options.header}}}
 <div class="xykztt-con">
    <div class="xykztt">
        <a href="">首页</a> > 信用卡直通
    </div>
</div>
<div class="xykztc-con">
    <div class="xykztc">
        <div class="xykztc1" style="padding:0 42px 80px 42px;width:842px;">
            <!-- <p>申请异常：错误信息</p> -->
       
            <div class="xykztc13">
                <div class="sqtjcg">恭喜您，申请提交成功！</div>
                <div class="kded">您的可贷额度为 111</div>
                <a href="" class="ckdkjd">查看贷款进度</a>
            </div>
            <div class="xykztc14">已为您匹配了以下金融产品<div class="jgpp" style="left:180px;top:1px;">以下数据根据易鑫车贷建议的首付30%，36个月还款期计算<i></i></div></div>
            <div class="xykztc15">
                <div class="fq">
                    <img src="http://placehold.it/40x40" width="40" />
                    <div class="zsyh">产品名</div>
                    <div class="qcfq">测试</div>
                </div>
                <div class="tdyq">
                    <div class="td">特点<span>测试1，测试2</span></div>
                    <div class="yq">要求<span>测试1，测试2</span></div>
                </div>
                <div class="syz">
                    <div class="sf">首&nbsp;&nbsp;&nbsp;付<span>123</span></div>
                    <div class="yg">月&nbsp;&nbsp;&nbsp;供<span>123</span></div>
                    <div class="zcb">总成本<span>123</span></div>
                </div>
                <div class="ckxq"><a href="">查看详情</a></div>
            </div>
        </div>
        <div class="xykztc2">
            <div class="xykztc21">
                <div class="dkbz"><div class="dkbzz">贷款步骤</div></div>
                <div class="d1">
                    <div class="xdac">选定爱车</div>
                    <div class="xssq">线上申请</div>
                </div>
                <div class="d2">
                    <div class="dhhf">电话回访</div>
                    <div class="zrfw">专人服务</div>
                </div>
                <div class="d3">
                    <div class="sptg">审批通过</div>
                    <div class="fktc">放款提车</div>
                </div>
            </div>
            <div class="xykztc22 hide"><img class="lazy" data-original="http://placehold.it/100x100" /></div>
        </div>
    </div>
</div>
 {{{htmlWebpackPlugin.options.footer}}}
 <script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>