<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/lib/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--app_1-->
		<div class="app_1">
			<h1 v-if="ok">Yes</h1>
			<h1 v-else>No</h1>
		</div>
		<script type="text/javascript">
			new Vue({
				el: ".app_1",
				data: {
					ok: false
				}
			});
		</script>

		<!--app_2-->
		<div class="app_2">
			<div v-if="Math.random()>0.5">
				Now you see me
			</div>
			<div v-else>
				Now you don't
			</div>
		</div>

		<script type="text/javascript">
			new Vue({
				el: ".app_2"
			});
		</script>

		<!--app_3-->
		<div class="app_3">
			<div v-if="type === 'A'">
				A
			</div>
			<div v-else-if="type === 'B'">
				B
			</div>
			<div v-else-if="type === 'C'">
				C
			</div>
			<div v-else>
				Not A/B/C
			</div>
		</div>
		<script type="text/javascript">
			new Vue({
				el: ".app_3",
				data: {
					type: "B"
				}
			});
		</script>

		<!--app_4-->
		<div class="app_4">
			<template v-if="loginType === 'username'">
				<label>Username</label>
				<input placeholder="Enter your username">
			</template>
			<template v-else>
				<label>Email</label>
				<input placeholder="Enter your email address">
			</template>
		</div>
		<div id="toogle">
			<button>toogletoogletoogle</button>
		</div>
		<script type="text/javascript">
			var app_4=new Vue({
				el: ".app_4",
				data: {
					loginType: "username"
				}
			});
			var tag=false;
			document.querySelector('#toogle').addEventListener('click',function(){
				console.log('d');
				if (tag) {
					app_4.loginType="username";
					tag=false;
				} else{
					app_4.loginType="";
					tag=true;
				}
			})
		</script>
		
		<!--app_5-->
		<div class="app_5" v-show="ok">
			<h1>Hellow v-show</h1>
		</div>
		<div id="toogleapp_5">
			<button>toogletoogletoogle</button>
		</div>
		<script type="text/javascript">
			var app_5=new Vue({
				el: ".app_5",
				data: {
					ok:true
				}
			});
			var app_5_tag=false;
			document.querySelector('#toogleapp_5').addEventListener('click',function(){
				if (app_5_tag) {
					app_5.ok="username";
					app_5_tag=false;
				} else{
					app_5.ok="";
					app_5_tag=true;
				}
			})
		</script>
	</body>

</html>