<div id="TelPopUpMask" class="hide">
</div>
<div id="TelPopUp" class="popUp-box hide">
    <div class="close"></div>
    <div>
        <h3>短信验证码已发送至您的手机 <font id="TelNum">--</font></h3>
        <div class="verification uf">
            <div class="text">验证码</div>
            <div class="uf-f1"><input class="validateCode" type="tel" name="" placeholder="请输入验证码" maxlength="4"></div>
            <input type="hidden" id="Phone" value="">
            <div id="GetValidateCode" class="btn">获取验证码</div>
        </div>
        <div class="btn-box">
            <div class="tips"><p>请输入正确验证码</p></div>
            <div class="apply-btn">确定</div>
        </div>
    </div>
</div>

<div id="telSuccess" class="success-box hide">
    <div class="icon-success"></div>
    <h3>感谢您的支持！</h3>
    <p>我们将24小时内与您联系，请关注来电～</p>
    <p>周末节假日顺延</p>
    <div class="ok-btn">我知道了</div>
</div>

<div id="maskLayer"></div>
<div class="bottom-to-top">
	<img src='http://img3.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201610191590'/>
</div>
