<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="header">
	<span class="logo"></span>
	<div class="content">
		<a href="javascript:void(0)" class="next"></a>
		<a href="javascript:void(0)" class="prev"></a>
	</div>
	<div class="timebar">距活动结束还剩：<em>12</em>天<em>23</em>时<em>12</em>分</div>
</div>

<div class="container-wrapper">
	<div class="container">
		<section class="car-list" rel="a">
			<div class="list">
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
			</div>
		</section>
		<section class="car-list" rel="b">
			<div class="list">
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
			</div>
		</section>
		<section class="car-list" rel="c">
			<div class="list">
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt>
							<img src="http://img3.bitautoimg.com/autoalbum/files/20150608/029/0622000295_8.jpg">
						</dt>
						<dd>
							<p>宝马5系</p>
							<em>易鑫金融易鑫金融</em>
							<h6>0首付购车</h6>
							<span class="btn">立即抢购</span>
						</dd>
					</dl>
				</a>
			</div>
		</section>
		<a class="link link-vip" href=""></a>


		<h3>银行及合作机构</h3>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		      <a class="swiper-slide" href=""><img src="../images/bank1.html.jpg"></a>
		      <a class="swiper-slide" href=""><img src="../images/bank6.html.jpg"></a>
		      <a class="swiper-slide" href=""><img src="../images/bank7.html.jpg"></a>
		      <a class="swiper-slide" href=""><img src="../images/bank4.html.jpg"></a>
		      <a class="swiper-slide" href=""><img src="../images/bank2.html.jpg"></a>
		      <a class="swiper-slide" href=""><img src="../images/bank9.html.jpg"></a>
		  </div>
		  <div class="swiper-pagination"></div>
		</div>

		<a class="link link-vip" href=""></a>
		<a class="link link-bar1" href=""></a>

		<!-- 自营产品 -->
		<h3>自营产品</h3>
		<section class="product-list">
			<dl>
				<dt class="product-item-1">
					<a href="">
						<h6>易鑫贴息</h6>
						<p>1-3年0息起</p>
						<p>数量有限  先到先得</p>
						<em>立即抢购</em>
					</a>
				</dt>
				<dd class="product-item-2">
					<a href="">
						<h6>一证贷</h6>
						<p>一证在手 轻松带走</p>
					</a>
				</dd>
				<dd class="product-item-3">
					<a href="">
						<h6>极速贷</h6>
						<p>体验一小时审批</p>
					</a>
				</dd>
				<dd class="product-item-4">
					<a href="">
						<h6>轻松贷</h6>
						<p>低月供 随心购车</p>
					</a>
				</dd>
				<dd class="product-item-5">
					<a href="">
						<h6>两证通</h6>
						<p>一证贷+低首付</p>
					</a>
				</dd>
				<dd class="product-item-6">
					<a href="">
						<h6>付一半</h6>
						<p>付一半 开一年</p>
					</a>
				</dd>
				<dd class="product-item-7">
					<a href="">
						<h6>低息贷</h6>
						<p>超低月供 一整搞定</p>
					</a>
				</dd>
			</dl>
		</section>
		

		<div class="app-code"></div>
	</div>
</div>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>