<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../Bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../Bootstrap/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="/Script/jquery-2.1.1.js"></script>
    <script src="../../Script/jsrender.js"></script>
</head>
<body>
    <div>
        <ul class="list-group" id="cityContainer"></ul>
    </div>

    <!--1-->
    <script type="text/html" id="cityTemplate_1">
        <li class="list-group-item"><em>{{:#index+1}}</em>:<span>{{:#data}}</span></li>
    </script>

    <!--2-->
    <script type="text/html" id="cityTemplate_2">
        {{if #data.indexOf('C')==0}}
        <li class="list-group-item"><em>{{:#index+1}}</em>:<span>{{:#data}}</span></li>
        {{/if}}
    </script>

    <!--3-->
    <script type="text/html" id="cityTemplate_3">
        {{if #data.indexOf('C')==0}}
        <li class="list-group-item"><em>{{:#getIndex()+1}}</em>:<span>{{:#data}}</span></li>
        {{/if}}
    </script>
    <script type="text/javascript">
        $(function () {
            var cities = ["Chicago ", "Frankfort", "Hawaii ", "Columbus", "Washington D. C. ", "San Francisco"];
            $("#cityContainer").html($("#cityTemplate_2").render(cities));
            //$("#cityContainer").html($("#cityTemplate_1").render(cities))
        });
    </script>
</body>
</html>
