<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../Bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../Bootstrap/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <!--<link href="../../css/base.css" rel="stylesheet" />
    <link href="../../css/table_css.css" rel="stylesheet" />-->
    <script src="/Script/jquery-2.1.1.js"></script>
    <script src="../../Script/jsrender.js"></script>
</head>
<body>
   <div>
       <ul class="list-group"  id="animalContainer">
           <!--容器-->
       </ul>
   </div>

    <script type="text/html" id="animalTemplate">
        <li class="list-group-item"><em>{{:#index+1}}</em>:<span>{{:#data}}</span></li>
    </script>
    <script type="text/javascript">
        $(function () {
            var animals = ["山鸡", "豹子", "梅花鹿", "老虎", "野兔", "大灰狼"];

            $("#animalContainer").html($("#animalTemplate").render(animals));
        });
    </script> 
</body>
</html>
