<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../css/table_css.css" rel="stylesheet" />
    <script src="/Script/jquery-2.1.1.js"></script>
    <script src="../../Script/jsrender.js"></script>
</head>
<body>
    <table class="imagetable " id="bookTableId">
        <thead><tr><th>姓名</th><th>信息</th></tr></thead>
        <tbody id="resultList"></tbody>
    </table>

    <script id="peopleTemplate" type="text/html">
        <tr>
            <td>{{>name}}</td>
            <td>{{props  address tmpl="#addressTemplate"/}}</td>
        </tr>
    </script>

    <script type="text/html" id="addressTemplate">
        <b>key:{{>key}}</b>&nbsp;value:{{>prop}}
        <br />
        <br />
    </script>

    <script type="text/javascript">
        $(function () {
            var people = [
      {
          "name": "汤姆猫",
          "address": {
              "street": "西直门东大街168号",
              "city": "北京"
          }
      },
      {
          "name": "汪星人",
          "address": {
              "street": "天门1号",
              "city": "南京",
              "country": "Australia"
          }
      }];

            var html = $("#peopleTemplate").render(people);
            $("#resultList").html(html);


        })
    </script>
</body>
</html>
