.container {
  width: 100%;
  height: 670px;
  margin: 0 auto;
  background: url(../images/bg.png) center center no-repeat;
  overflow: hidden;
}
.content {
  width: 760px;
  margin: 0 auto;
  margin-top: 165px;
  padding: 0 50px;
  background-color: #fff;
  padding-top: 30px;
}
.line {
  height: 2px;
  background-color: #e7788d;
}
.section-title {
  padding: 12px 0 18px 0;
}
.section-title img,
.section-title span {
  float: left;
}
.title-logo {
  width: 23px;
  height: 22px;
  margin-right: 10px;
}
.section-title span {
  font-size: 16px;
  color: #e7788d;
}
.business {
  border-bottom: 1px dashed #3a3a3a;
  padding-bottom: 10px;
}
.business li {
  float: left;
  margin-right: 40px;
}
.business .last {
  margin-right: 0;
}
.business a {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  box-sizing: border;
  padding: 15px 0;
}
.business p {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #3a3a3a;
}
.coloums > div {
  float: left;
}
.coloums {
  margin-bottom: 10px;
}
.coloums .catgloary {
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-right: 7px;
  background: #e7788d;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.coloums .item-list {
  font-size: 0;
}
.coloums .item-list a {
  display: inline-block;
  width: 89px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #3a3a3a;
  box-sizing: border-box;
}
.coloums .item-list a:hover {
  color: #e7788d;
}
.coloums .item-list i {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #3a3a3a;
}
.new-business {
  padding: 30px 0 20px 0;
}
.bottom-title {
  border: 1px solid #000;
  line-height: 48px;
  height: 58px;
  font-size: 16px;
  padding-left: 30px;
  background: url('../images/title_logo.png') no-repeat left 13px;
}
