<div id="carCityDiv" class="choose_bot" style="display: none">
    <ul class="form_modu">
        <li id="selectCar" class="form_modu_head uf uf_ac selcon">

            <div class="icon-unmber"><i class="icon icon_car"></i></div>

            <b>选择心仪车型</b><span class="uf_f1"><em>请选择您心仪的车型</em></span>
        </li>
        <li id="CarValidata" class="warning">请选择车型</li>
        <li id="selectCity" class="form_modu_head uf uf_ac selcon">
            <div class="icon-unmber"><i class="icon icon_target"></i></div>
           
            <b>选择购车城市</b><span class="uf_f1">{{cityName}}</span>
        </li>
        <li id="CityValidata" class="warning">请选择您的购车城市</li>
    </ul>
    <div class="bdb">
        <a id="carAndCity" href="javascript:void(0);" class="btn_main">确定</a>
    </div>
</div>