<div id="certificate" class="panel">
	<div class="wrapper">
		<h6>您已成功提交订单，补充以下实名认证信息，以加快审批速度，提高通过几率</h6>
		<div class="form-item">
			<label>姓名</label>
			<input type="text" placeholder="请输入您的真实姓名" id="RealName" name="RealName">
		  <p id="RealNameValidata" class="warning">姓名错误</p>
		</div>
		<div class="form-item">
			<label>身份证</label>
			<input type="text" name="CertificateNumber" id="CertificateNumber" placeholder="请输入您的身份证号码" />
			<p id="CertificateNumberValidata" class="warning">身份证号错误</p>
		</div>
		<button id="certificate-submit">实名认证</button>
		<a href="javascript:void(0)" id="skip-certificate">跳过此步&gt;&gt;</a>
	</div>
	<div class="cover"></div>
</div>