@import "sassHelper/mixin";
@import "../../../../vars";

.city-wrapper{
	position: relative;
	width: 375px;

	&:after{
		@include size(12px);
		content:' ';
		position: absolute;
		background:url(jiantou.png) no-repeat left top;
		right:10px;
		top:20px;
	}

	input{
		width: 373px;
		height:$height;
		line-height: $height;
		padding:0 10px;
		display: block;
		cursor:pointer;
		border:1px solid $border;
		box-sizing:border-box;
		border-radius: 2px;
	}

	.sel-city-menu{
		top:40px;
		left:0;
		width: 427px;
	}
}