
.payment{background-color:#f5f5f5;padding-bottom:40px;}
.payment-con{width:1200px;overflow:hidden;margin:0 auto;background:#fff;padding-bottom:62px;}
.payment1{height:132px;padding:0 90px;background:#f5f5f5;}
.payment1 ul{overflow:hidden;}
.payment1 li{width:249px;height:132px;float:left;}
.marl8{margin-left:8px;}

.payment2{padding:70px 0 20px 498px;background:#fff url(images/payment3.png) no-repeat 426px 68px;}
.payment2 p{font-size:22px;color:#333333;height:22px;line-height:22px;}
.payment3{text-align:center;padding-bottom:48px;background:#fff;}
.payment3 a{display:inline-block;width:180px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:18px;background:#ff6446;}

.payment1 li.pass1{background:url(images/layx1.png) no-repeat left top;}
.payment1 li.nopass1{background:url(images/layx2.png) no-repeat left top;}
.payment1 li.passing1{background:url(images/layx3.png) no-repeat left top;}
.payment1 li.pass2{background:url(images/payment1.png) no-repeat left top;}
.payment1 li.nopass2{background:url(images/layx5.png) no-repeat left top;}
.payment1 li.passing2{background:url(images/layx2.png) no-repeat left top;}
.payment1 li.pass3{background:url(images/layx7.png) no-repeat left top;}
.payment1 li.nopass3{background:url(images/layx3.png) no-repeat left top;}
.payment1 li.passing3{background:url(images/payment2.png) no-repeat left top;}
.payment1 li.pass4{background:url(images/layx10.png) no-repeat left top;}
.payment1 li.nopass4{background:url(images/layx4.png) no-repeat left top;}
.payment1 li.passing4{background:url(images/layx12.png) no-repeat left top;}

.payment4{padding:58px 58px 40px 58px;border:1px solid #eeeeee;width:980px;margin:0 auto;overflow:hidden;}
.payment41{float:left;}
.payment41 img{float:left;margin-right:24px;width:64px;height:64px;}
.payment41-jrgw{height:28px;line-height:28px;font-size:18px;color:#666666;}
.payment41-wtzx{margin-top:5px;font-size:16px;height:26px;line-height:26px;color:#999999;border-top:1px dashed #ececec;}
.payment42{float:right;}
.payment42 .payment42-lxdh{height:24px;line-height:24px;padding-left:82px;font-size:16px;color:#ff6446;text-align:right;background:url(images/payment4.png) no-repeat 64px 0;}
.payment42 p{font-size:14px;color:#999999;height:20px;line-height:20px;}
.payment42 p span{color:#ff6446;}
#Footer{margin-top:0;}

.payment5{margin-top:10px;padding-left:100px;font-size:18px;color:#666666;height:20px;line-height:20px;}
.payment6-con{padding:0 50px;}
.payment6{margin-top:10px;padding:9px 0 9px 50px;border:1px solid #eeeeee;}
.payment6 input{vertical-align:middle;}
.payment6 a{position:relative;cursor:text;display:inline-block;width:85px;height:38px;line-height:38px;border:1px solid #dddddd;font-size:18px;color:#333333;padding-left:53px;vertical-align:middle;}
.payment6 a.on{border:1px solid #ff6446;}
.payment6 a i{position:absolute;right:0;bottom:0;background:url(images/layx8.png) no-repeat left top;width:16px;height:16px;display:none;}

.payment6 input{margin-right:20px;}



.layx{background-color:#f5f5f5;}
.layx-con{width:1200px;overflow:hidden;margin:0 auto;}
.layx1{height:132px;padding:0 90px;}
.layx1 ul{overflow:hidden;}
.layx1 li{width:249px;height:132px;float:left;}
.marl8{margin-left:8px;}
.layx3{background:#7a7a7a;margin-top:30px;}
#Footer{margin-top:0;}
.layx2{background:#fff;padding:30px 50px 40px 50px;overflow:hidden;}
.layx21{font-size:18px;color:#333333;height:20px;line-height:20px;position:relative;}
.layx22{margin-top:20px;}
.layx22-left{/*min-height:541px;*/width:748px;float:left;border:1px solid #eeeeee;}
.layx22-right{float:right;width:338px;/*height:543px;*/}
.layx22-left1{height:38px;line-height:38px;padding-left:19px;font-size:18px;color:#666666;background:#fafafa;border-bottom:1px solid #eeeeee;}
.layx22-left2{padding:50px 0 0 90px;}
.layx22-left2-zsxm input,.layx22-left2-sfzh input{margin:0 10px 0 20px;width:242px;height:28px;font-size:14px;color:#c4c4c4;padding:5px 9px;vertical-align:middle;border:1px solid #dddddd;}
.layx22-left2-zsxm span,.layx22-left2-sfzh span{font-size:16px;color:#666666;}
.layx22-left2-sfzh{margin-top:20px;}
.layx22-left2-cwxx{background:#fff2ea url(images/layx6.png) no-repeat 9px center;color:#666666;font-size:14px;height:22px;line-height:22px;padding:0 10px 0 33px;border:1px solid #ff6446;margin-top:10px;display:inline-block;margin-left:84px;}
.layx22-left2-cwxx2{position:relative;width:358px;height:78px;margin-top:20px;margin-left:84px;background:#fff2ea;border:1px solid #ff6446;line-height:78px;text-align:center;font-size:14px;color:#666666;}
.layx1 li.pass1{background:url(images/layx1.png) no-repeat left top;}
.layx1 li.nopass1{background:url(images/layx2.png) no-repeat left top;}
.layx1 li.passing1{background:url(images/layx3.png) no-repeat left top;}
.layx1 li.pass2{background:url(images/payment1.png) no-repeat left top;}
.layx1 li.nopass2{background:url(images/layx5.png) no-repeat left top;}
.layx1 li.passing2{background:url(images/layx2.png) no-repeat left top;}
.layx1 li.pass3{background:url(images/layx7.png) no-repeat left top;}
.layx1 li.nopass3{background:url(images/layx3.png) no-repeat left top;}
.layx1 li.passing3{background:url(images/payment2.png) no-repeat left top;}
.layx1 li.pass4{background:url(images/layx10.png) no-repeat left top;}
.layx1 li.nopass4{background:url(images/layx4.png) no-repeat left top;}
.layx1 li.passing4{background:url(images/layx12.png) no-repeat left top;}

.layx3-con{padding:15px 50px 15px 0;text-align:right;margin:0 auto;width:1150px;overflow:hidden;}
.layx3-con .qzf{height:50px;line-height:50px;width:180px;text-align:center;color:#fff;font-size:18px;background:#ff6446;vertical-align:middle;display:inline-block;margin-left:18px;}
.layx3-con input{vertical-align:middle;margin-right:10px;}
.layx3-con a{font-size:16px;color:#97bffd;}
.layx3-con{color:#ffffff;font-size:18px;}
.layx3-con span{font-size:20px;color:#ff6446;margin-left:10px;}
.layx3-con span.yfdjz{color:#fff;font-size: 18px;}

.layx22-right1{padding:18px 18px 0 18px;border:1px solid #eeeeee;}
.layx22-right1-ck img{float:left;height:40px;width:55px;margin-right:20px;}
.layx22-right1-ck p{font-size:14px;color:#333333;height:14px;line-height:14px;margin-top:10px;}
.layx22-right1-ck p span{color:#ff6446;}
.layx22-right1-ck{padding-bottom:15px;border-bottom:1px dashed #ececec;}
.layx22-right1-dkfa{height:54px;line-height:54px;font-size:14px;color:#666666;}
.layx22-right1-dkfa img{vertical-align:middle;margin-top:-2px;margin-right:28px;width:40px;height:14px;margin-left:10px;}
.layx22-right2{border:1px solid #eeeeee;margin-top:0px;}
.layx22-right2-gcje{padding:0 20px 0 10px;border-bottom:1px solid #eeeeee;overflow:hidden;}
.layx22-right2-gcje1{height:38px;line-height:38px;float:left;font-size:16px;color:#666666;}
.layx22-right2-gcje2{height:38px;line-height:38px;float:right;font-size:16px;color:#666666;}
.layx22-right2-gcje2 span{color:#ff6446;}
.layx22-right2-sf{padding:0 20px 0 10px;overflow:hidden;}
.layx22-right2-sf1{height:32px;line-height:32px;font-size:16px;color:#666666;float:left;}
.layx22-right2-sf2{height:32px;line-height:32px;font-size:16px;color:#666666;float:right;}
.layx22-right2-yh{padding:0 10px;}
.layx22-right2-yh1{padding:10px 10px 16px 0px;background:#f9f9f9;overflow:hidden;}
.layx22-right2-yh1-t{font-size:16px;color:#666666;height:20px;line-height:20px;}
.layx22-right2-yh1-c{margin-top:15px;overflow:hidden;}
.layx22-right2-yh1-c1{font-size:14px;color:#333333;height:20px;line-height:20px;float:left;}
.layx22-right2-yh1-c2{font-size:14px;color:#333333;height:20px;line-height:20px;float:right;}
.layx22-right2-sfbc{margin-top:7px;padding:0 20px 16px 10px;overflow:hidden;}
.layx22-right2-sfbc1{font-size:14px;color:#333333;height:20px;line-height:20px;float:left;}
.layx22-right2-sfbc2{font-size:14px;color:#ff6446;height:20px;line-height:20px;float:right;}
.layx22-right3{height:132px;overflow:hidden;border:1px solid #eeeeee;border-top:0;}
.layx22-right3-dked{margin-top:18px;overflow:hidden;padding:0 20px 0 10px;}
.layx22-right3-dked1{font-size:16px;color:#666666;height:20px;line-height:20px;float:left;}
.layx22-right3-dked2{font-size:16px;color:#666666;height:20px;line-height:20px;float:right;}
.layx22-right3-zcb{margin-top:15px;padding:0 20px 0 10px;overflow:hidden;}
.layx22-right3-zcb1{font-size:14px;color:#666666;height:20px;line-height:20px;float:left;}
.layx22-right3-zcb2{font-size:14px;color:#666666;height:20px;line-height:20px;float:right;}
.layx22-right3-yg{margin-top:4px;padding:0 20px 0 10px;overflow:hidden;}
.layx22-right3-yg1{font-size:14px;color:#666666;height:20px;line-height:20px;float:left;}
.layx22-right3-yg2{font-size:14px;color:#666666;height:20px;line-height:20px;float:right;}
.layx21 div{position:absolute;height:18px;line-height:18px;padding:0 7px;border:1px solid #f5dead;background:#f8f5da;font-size:12px;color:#d68a5c;top:0px;left:80px;}
.layx21 div i{position:absolute;top:4px;left:-6px;width:6px;height:10px;background:url(images/ccl19.png) no-repeat left top;}

.payment7{padding:20px 0 18px 40px;border-bottom:1px dashed #ececec;}
.payment7 img{float:left;height:35px;width:55px;margin-right:30px;}
.payment7-ck{height:16px;line-height:16px;font-size:16px;color:#333333;}
.payment7-bj{height:14px;line-height:14px;color:#666666;font-size:14px;margin-top:10px;}
.payment7-bj span{color:#ff6446;}
.payment8{height:80px;line-height:80px;padding-left:40px;font-size:16px;color:#666666;border-bottom:1px solid #eeeeee;}
.payment8 img{width:40px;height:40px;vertical-align:middle;margin-top:-2px;margin-right:40px;margin-left: 5px;}

.payment9{border-bottom:1px solid #ececec;background:#f9fdff;}
.payment91,.payment10{height:78px;line-height:78px;padding-left:48px;}
.payment91 input,.payment10 input{vertical-align:middle;margin-right:20px;margin-top:-2px;}
.payment91-zfdj{font-size:16px;color:#333333;margin-right:20px;}
.payment91-m{font-size:18px;color:#ff6446;margin-right:20px;}
.payment91 img{vertical-align:middle;width:18px;height:18px;margin-right:4px;margin-top:-2px;}
.payment91-yh{font-size:14px;color:#999999;}

.payment92{padding:20px 0 20px 81px;border-top:1px dashed #ececec;}
.payment92 a{margin-right:10px;position:relative;background-color:#fff;display:inline-block;width:85px;height:38px;line-height:38px;border:1px solid #dddddd;font-size:18px;color:#333333;padding-left:53px;vertical-align:middle;}
.payment92 a.on{border:1px solid #ff6446;}
.payment92 a i{position:absolute;right:0;bottom:0;background:url(images/layx8.png) no-repeat left top;width:16px;height:16px;display:none;}

.payment10{font-size:16px;color:#999999;}
.layx3f{position:fixed;width:100%;bottom:0;z-index:77777;}



.layx22-right4{
  border: 1px solid #eeeeee;
  margin-top: 10px;
  padding-bottom:10px;
  position:relative;
}
.layx22-right4-zcb{
  padding:0 20px 0 10px;overflow:hidden;
}
.layx22-right4-dked2{
  line-height:20px;
  float:right;
  font-size:14px;
  text-decoration: underline;
  color:#999;
  cursor: pointer;
}
.layx22-right4 font.tip{
  position: absolute;
  font-size: 12px;
  color: #e89064;
  background: #f8f1da;
  border: 1px solid #f7cfa9;
  padding: 5px;
  line-height: 150%;
  border-radius: 5px;
  text-align: left;
  top: -35px;
  width: 178px;
  z-index: 10;
  left: 147px;
  display:none;
}
.layx22-right4 font.tip:after{
  content: " ";
  position: absolute;
  display: block;
  width: 178px;
  height: 6px;
  z-index: 11;
  bottom: -6px;
  left: 50%;
  margin-left: 27px;
  background: url(images/sel_icons.png) 8px -424px no-repeat;
}
/*弹层*/
.pop-up-layer {
  width: 760px;
  height: 480px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -240px;
  margin-left: -380px;
  border: 1px solid #eee;
  border-radius: 6px;
  z-index: 999999;
  display: none;
}
.pop-up-layer header {
  display: block;
  height: 60px;
  line-height: 60px;
  position: relative;
  border-bottom: 1px solid #eee;
  padding-left: 30px;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.pop-up-layer header img{
  position: relative;
  left: -10px;
  top: 6px;
}
.pop-up-layer .close-layer {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url(images/sel_icons.png) left -284px no-repeat;
}
.layer-con-left{
  float:left;
  width:405px;
  text-align:center;
  padding-top:45px;
}
.layer-left-title{
  color:#666666;
}
.layer-left-title font{
  font-size:24px;
  color:#fc6052;
}
.layer-left-con{
  width:230px;
  height:280px;
  margin:0 auto;
  margin-top:10px;
  background:url(images/weixincode.jpg) no-repeat center top;
  text-align:center;
  padding-top:14px;
}
.layer-left-con img{
  margin:0 auto;
}
.layer-con-right{
  float:left;
  width:260px;
  height:320px;
  margin-top:54px;
  background:url(images/phone.png) no-repeat center top;
}

// 新的成功页
#Header, #Footer, .footer-bottom {
    display: none;
}

html {
  background: #f5f5f5;
}
html, body, .payment {
  height: 100%;
  box-sizing: border-box;
}

.payment-box {
  min-height: 100%;
  padding:30px 0 58px;
  box-sizing: border-box;
}
.payment-con {
  padding: 30px 0 40px;
  box-sizing: border-box;
}
.payment {
  padding-top: 0;
  padding-bottom: 0;
  .logo {
    display: block;
    width: 1200px;
    height: 50px;
    margin: 0 auto 30px;
    background: url(./images/new/logo.png) no-repeat left top;
  } 
  .payment2 {
    padding: 67px 0 37px 535px;
    background: url(./images/new/mark.png) no-repeat 424px 60px;
    > p {
      height: auto;
    }
    .top {
      font-size: 22px;
      color: #000;
      letter-spacing: 0;
      line-height: 34px;
      font-weight: bold;
    }
    .bottom {
      font-size: 14px;
      color: #666;
      letter-spacing: 0;
      line-height: 22px;
      margin-top: 10px;
    }
  }

  .payment3 {
    padding-bottom: 60px;
    > a {
      width: 160px;
      height: auto;
      border-radius: 3px;
      font-size: 18px;
      line-height: 28px;
      &.order {
        padding: 6px 0;
        color: #fff;
        background: #E9474D;
        margin-right: 20px;
        &:hover {
          background: #D13F45;
        }
      }
      &.back {
        color: #E9474D;
        padding: 5px 0;
        background: #fff;
        border: 1px solid #E9474D;
      }
    }
  }

  .payment4 {
    width: auto;
    padding: 35px 45px 35px 50px;
    margin: 0 30px;

    .payment41 {
      padding-top: 15px;
    }
    .payment41-jrgw {
      height: 24px;
      font-size: 16px;
      color: #333;
      line-height: 24px;
    }

    .payment41-wtzx {
      font-size: 12px;
      color: #999;
      height: auto;
      line-height: 18px;
      margin-top: 4px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #eee;
      border-top: 0;
    }

    .payment41-lxdh {
      padding-left: 26px;
      font-size: 16px;
      color: #E9474D;
      line-height: 24px;
      margin-top: 10px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 18px;
        height: 20px;
        background: url(./images/new/adviser_icon.png) no-repeat left top;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
      }
    }

    .payment42{
      text-align: center;
      img {
        width: 90px;
        height: 90px;
      }

      p {
        font-size: 16px;
        color: #333;
        line-height: 18px;
      }
    }
  }
}
.footer{
  text-align: center;
  font-size: 12px;
  color: #C2C2C2;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -58px;
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // margin-left: -361px;
  > a {
    color: #C2C2C2;
  }
}