/*404*/

.succ-box{padding:20px 0 0 175px;height:150px;margin-top:90px;margin-left:115px;}
.succ-box h6{font-size:24px;padding-bottom:15px;color:#666666;}
.succ-box p{color:#999999;line-height:25px;font-size:14px;}
 .worry{background:url(http://image.bitautoimg.com/taoche/2016_pc_usedcar/fail_150_150.png) 0 0 no-repeat}
 

