.container,.home-main-logo,.home-main-logo ul{width:1190px}
.home-city-right{width:225px}
.home-main-car-right{width:950px}
.home-main-car-list{width:960px}
.recommended-businesses-tab{margin-left:25px;width:924px}
.recommended-businesses-tab ul li{width:230px;*width:230px}
.home-main-car-list ul li{margin-left:27px}
.exclusive-list ul li{width:238px!important;*width:237px}
.exclusive-list ul li img{margin:15px 14px 3px 14px}
.home-information-right{width:280px}
.home-buycar-step h4{width:227px;*width:210px}
.high-price-right{width:948px}
.high-price-right ul li{margin-right:83px;margin-left:25px}
.slider-root-box{margin: auto}
.slider-root-box,.slider-list,.slider-root-box .slider-menu-1{min-width: 1190px;width: 1190px}
.models-choice{margin-left: -575px;}
.models-choice-brand{width: 861px;}
.models-choice-brand ul{margin-left:19px;width: 260px;*width: 250px;}