@charset "UTF-8";


.container{
   *width: 1200px !important;
}

/*车源详情*/
.right-nav-app-ewm{*width:140px;*height:190px;}
.popover-big-prev a{*width:0;}
.popover-big-next a{*width:0;}
.taoche-details-titbox{*height:97px;}
.header-city-province-mian ul li strong{top:2px;!important;}


/*IE7 8禁用动画*/
.animated{
    *visibility: visible !important;
}

.screen-sort-text a em{margin-top:3px!important;}



/*经销商人车生活*/
.active-merchant li em{margin-top:2px!important;}
.btn-xxsm a{line-height:40px!important;}
.distributor-home-search-rit input.form-input{line-height:40px!important;}
.essential-information{min-height:490px!important;}

.tbuycar-enrol-but .btn-xxsm a{line-height:52px!important;}
.btn-sm a{line-height:50px!important;}


.qc-detail-advisory .phone_signin_text input{padding:8px;}
.qc-detail-advisory .phone_signin_text .tip{padding-top:9px}
.qc-detail-advisory .phone_signin_button{padding:8px 30px 2px 30px;}
.taoche-details-flow .phone_signin_text .tip{line-height: 35px}
.taoche-details-btn-price,.taoche-details-btn-phone{line-height:50px}
.tab-menu-fixed .tab-menu .taoche-details-btn-phone,
.tab-menu-fixed .tab-menu .taoche-details-btn-price span{line-height:40px}
