.toast{position:fixed;bottom:0;height:100%;width:100%;text-align:center;z-index:999;padding:0 100px;display:table-cell}
.toast-box{font-size:20px;padding:50px;position:relative;top:50%;margin-top:-60px;display:inline-block;text-align:left;line-height:normal;color:white;border-radius:2px;background-color:rgba(0,0,0,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd000000,endColorstr=#dd000000);}

