
/*图片列表*/
.carpic-box{position:relative;width:1240px;}
.carpic-list{padding:30px 40px 0 0px;*width:270px;}
.carpic-list  h3{font-size:16px;height:23px;line-height:23px;margin-bottom:11px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap}
.pic-price{height:20px;line-height:20px;margin-bottom:5px;}
.pic-price span{color:#d4160a;font-size:18px;}
.carpic-list p{font-size:14px;color:#999999;}
.carpic-list img{max-width:100%;height:auto;}


/*竖排列表*/
.carlist-vertical{border:1px solid #e9e9e9;border-radius:4px;}
.carlist-vertical ul{margin:20px 15px 0;}
.carlist-vertical ul li{margin-bottom:20px;height:80px;font-size:14px;line-height:22px;}
.carlist-vertical ul li img{width:120px;height:80px;float:left;margin-right:10px;}
.carlist-vertical ul li h5{color:#666666;font-size:14px;line-height:25px;height:25px;overflow:hidden;}
.carlist-vertical ul li p{color:#999999;line-height:24px;height:24px;overflow:hidden;}
.carlist-vertical ul li em{color:#ff9a1f;}





