#id1{position:absolute;left:100px;top:100px;}
#id2{position:absolute;left:900px;top:100px;}
#id3{position:absolute;left:100px;top:800px;margin-bottom:100px;}
#id4{position:absolute;left:1010px;top:800px;margin-bottom:100px;}
#id5{position:absolute;left:273px;top:1500px;margin-bottom:100px;}
#id6{position:absolute;left:1010px;top:800px;margin-bottom:100px;}
#id7{position: absolute;left:800px;top:1300px;margin-bottom:100px;}
#id8{position: absolute;left:102px;top:2000px;margin-bottom:100px;}
#id9{position: absolute;left:102px;top:2500px;margin-bottom:100px;}
#id10{position: absolute;left:102px;top:2500px;margin-bottom:100px;}
#id11{position: absolute;left:102px;top:3300px;margin-bottom:100px;}
/*清空样式*/

/*样式覆盖*/
.store-tel-box_news{padding:10px 0 48px 0;}
.store-tel-box-title dd{margin-top:23px;margin-bottom:16px;}
.store-tel-box-form .error_title{line-height:30px;}
.store-tel-box-form .submit{margin-top:0px;}
.store-tel-box_news .submit_cg{margin-top:140px;}
.store-tel-box-form .img_code_main .tips_top{padding:0px 14px;}
.store-tel-box_news .icons{top:0px;}
.store-tel-box_news .submit_main_public{border:1px solid #ff9a1f;background-color:#ff9a1f;color:white;}
.store-tel-box_news .submit_main_public:hover{background:#ff9a1f;}
.store-tel-box_news .submit_my{background-color:white;color:#ff9a1f;}
.store-tel-box_news .submit_my:hover{background-color:white;color:#ff9a1f;}



/*贷款弹层loan*/
.loan{width:810px;height:418px;position:absolute;background-color:#fff;z-index:13000;-webkit-box-shadow:0 0 3px rgba(66,132,217,.3);-moz-box-shadow:0 0 3px rgba(66,132,217,.3);box-shadow:0 0 3px rgba(66,132,217,.3);border:1px solid #d9d9d9;font-family:PingFangSC-Regular,"Hiragino Sans GB","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif}

/*外层容器*/
.loan .loan_content{overflow:hidden;}
.loan .loan_main{padding:0px 50px;overflow:hidden;}

.loan .loan_title{width:100%;text-align:center;padding-bottom:32px;}
.loan .loan_title h1{font-family:"微软雅黑";font-size:24px;font-weight:400;padding:40px 0px 22px 0px;color:#333333;}
.loan .loan_title h3{font-family:"微软雅黑";font-size:18px;color:#333333;font-weight:400;}

/*左容器*/
.loan .loan_left{float:left;width:50%;background:url(../images/bg_pop.png) no-repeat right center;}
.loan .loan_left .payment{overflow:hidden;}
.loan .loan_left .payment:first-child{margin-bottom:10px;padding-top:10px;}
.loan .loan_left .payment span{display:block;float:left;width:90px;height:30px;line-height:28px;font-family:"微软雅黑";font-size:16px}
.loan .loan_left .payment ul{float:left;width:70%;}
.loan .loan_left .payment ul li{float:left;margin:0px 10px 13px 0px;padding:5px 10px;border:1px solid #dddddd;color:#5b5b5b;}
.loan .loan_left .payment ul li.active{color:#ff9a1f;border:1px solid #FF9A1F;}


/*右容器*/
.loan .loan_right{float:left;width:50%;}
.loan .loan_right .loan_main{width:100%;margin:0 auto;overflow:hidden;padding-bottom:15px;padding: 0px 20px;}
.loan .loan_right .loan_main .total{height:40px;line-height:40px;font-family:"微软雅黑";font-size:14px;color:#333;}
.loan .loan_right .loan_main .total span{float:right;font-family: "微软雅黑";font-size:14px;color:#333333;}
.loan .loan_right .loan_main .total span i{font-style:normal;font-family: "微软雅黑";font-size:24px;color:#ff9a1f;}
.loan .loan_right .loan_main .total_left{width:40%;float:left;font-family:"微软雅黑";font-size:16px;color:#FF6D02;}
.loan .loan_right .loan_main .total_left .total_font{padding-left:20px}
.loan .loan_right .loan_main .total_left img{display:block;margin-bottom:10px}
.loan .loan_right .loan_main .total_left .icon{font-size:18px;vertical-align:middle}
.loan .loan_right .loan_main .total_left .icon1{font-size:14px;vertical-align:middle;color:#FF6D02}
.loan .loan_right .loan_main .total_right{width:60%;float:left}
.loan .loan_right .loan_main .total_right ul li{height:30px;line-height:30px;font-family:"微软雅黑";font-size:16px;}
.loan .loan_right .loan_main .total_right ul li span{float:right}
.loan .loan_right .loan_main .total_right ul li i{display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:10px}
.loan .loan_right .loan_main .total_right ul li .i-color1{background:#4F4F4F}
.loan .loan_right .loan_main .total_right ul li .i-color2{background:#9B9B9B}
.loan .loan_right .loan_main .total_right ul li .i-color3{background:#D2AE65}
#myChart{width:8% !important; height:auto !important;}


/*tab*/
.Apply{height:100px;margin-top:25px;text-align:center;position:relative;}
.Apply input[type="text"]{width:260px;height:50px;border:1px solid #dddddd;border-radius:3px;color:#cbcbcb;margin:0 5px;padding-left:15px;}
.Apply input[type="text"] ~ i{display:block;width:100px;height:25px;line-height:25px;border-left:1px solid #dddddd;font-family:"微软雅黑";font-size:14px;position:absolute;right:152px;top:12px;}
.Apply input[type="text"] ~ i.code{color:red;font-family:"微软雅黑";font-size:14px;position:absolute;left:288px;border:none;top:59px;}
.Apply input[type=button]{width:130px;height:50px;line-height:50px;background:#ff9a1f;color:#fff;font-family:"微软雅黑";font-size:18px;text-align:center;border:none;border-radius:4px;position:relative;top:2px}

/*贷款明细*/
.tab_total{width:600px;height:472px;background-color:#fff;position:fixed;left:50%;top:50%;margin-left:-171px;margin-top:-202px;z-index:1020;}
.tab_total .close{position:absolute;right:10px;top:10px;color:#000}
.tab_total .loan_title{width:100%;text-align:center;padding-bottom:32px;}
.tab_total .loan_title h1{font-family:"微软雅黑";font-size:24px;font-weight:400;padding:40px 0px 22px 0px;color:#333333;}
.tab_total .loan_title h3{font-family:"微软雅黑";font-size:18px;color:#333333;font-weight:400;}
.tab_total .loan_title h3 span{color:#ff9a1f;}

.tab_total ul{width:85%;margin:0 auto;}
.tab_total ul li{height:72px;background:#f9f9f9;margin-top:5px;}
.tab_total ul li .li_left{width:40%;float:left;padding-left:20px;position:relative;}
.tab_total ul li .li_left h4{font-family:"微软雅黑";font-size:18px;color:#666666;padding-top:10px}
.tab_total ul li .li_left h4.grey{color:#666666;}
.tab_total ul li .li_left span.orange{color:#FF6D02;font-family:"微软雅黑";font-size:16px;line-height:35px}
.tab_total ul li .li_left span.grey{color:#999;font-family:"微软雅黑";font-size:16px;line-height:35px}
.tab_total ul li .li_right{width:60%;float:left;text-align:center;position:relative}
.tab_total ul li .li_right .li_one{width:50%;float:left}
.tab_total ul li .li_right i{position:absolute;left:31%;top:23px;display:block;color:#333333;}
.tab_total ul li .li_left i{position:absolute;left:64%;top:25px;display:block;color:#333333;}
.tab_total ul li .li_right h6{font-family:"微软雅黑";font-size:14px;color:#999;line-height:37px;text-align:left}
.tab_total ul li .li_right span{display:block;font-family:"微软雅黑";font-size:16px;color:#333;text-align:left}
.tab_total ul li .li_right .span_1{color:#999}

/*维修保养*/
.repairs{width:1024px;height:585px;}
.repairs .repairs_left{width:728px;height:583px;border-right:1px solid #dddddd;float:left;}
.repairs .repairs_left .repairs_left_title{width:90%;margin:0 auto;height:96px;line-height:100px;font-family:"微软雅黑";font-size:24px;}
.repairs .repairs_left .repairs_left_title span{float:right;font-family:"微软雅黑";font-size:16px;color:#999999;}

.table_title{width:90%;margin:0 auto;height:45px;line-height:45px;font-family: "微软雅黑";font-size:16px;text-align:center;background:#f9f9f9;}
.table_main{width:100%;height:333px;overflow-y:auto;}
#table_main{width:90%;height:100%;margin:0 auto;}
#table_main tr{border-bottom:1px solid #f2f2f2;}
#table_main tr td{height:110px;line-height:110px;text-align:center;font-family: "微软雅黑";font-size:16px;}
#table_main tr td.td3{line-height:20px;text-align:left;padding-left:30px;}
#table_main tr td.td3 p{overflow:hidden;height:20px;position:relative;top:-10px;}
#table_main tr td.td3 p span.key{display:block;width:37px;height:20px;line-height:20px;float:left;}
#table_main tr td.td3 p span.value{display:block;width:60%;height:20px;line-height:20px;float:left;}
.statement{font-family: "微软雅黑";font-size:14px;color:#999999;line-height:20px;padding:30px 25px;}


.repairs_right{float:left;width:293px;}
.repairs_right h2{font-family:"微软雅黑";font-size:20px;line-height:28px;padding:85px 25px;color:#333333;padding-bottom:40px;}
.repairs_right ul{margin-top:-5px;margin-bottom:40px;}
.repairs_right ul li{height:40px;line-height:40px;font-family:"微软雅黑";font-size:16px;color:#666666;padding:0px 25px;}
.repairs_right p{font-family: "微软雅黑";font-size:18px;color:#333333;padding:0px 25px;}
.repairs_right span{display:block;font-family: "微软雅黑";font-size:16px;color:#999999;margin:15px 25px;}

.repairs_right .btn_tel{display:block;width:90%;background-color:#ff9a1f;color:white;text-align:center;height:45px;line-height:45px;border:none;margin:0 auto;border-radius:3px;font-size:18px;}
.repairs_right .btn_seller{display:block;width:90%;background-color:white;color:#ff9a1f;text-align:center;height:45px;line-height:45px;border:none;margin:0 auto;border-radius:3px;font-size:18px;border:1px solid #ff9a1f;margin-top:15px;}



/*bannner*/
.popover-big-picbox{    left: -70px;
    width: 884px;height: 583px;}
.popover-big-pic{    float: left;
    width: 727px;
    height: 583px;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;}
.popover-big-pic ul li img{width:100%;height:583px;}




