.GOUCHE_ICON{display:inline-block;background:url(http://img1.bitautoimg.com/taoche/2017/pc/20170606/20170606.png) no-repeat}
.GOUCHE_ICON.GOUCHE_1{position:absolute;top:0;left:0;width:110px;height:45px;background-position:0 0}
.GOUCHE_ICON.GOUCHE_2{position:absolute;top:0;left:0;width:93px;height:45px;background-position:0 -45px}
.GOUCHE_ICON.GOUCHE_3{position:absolute;top:0;left:0;width:93px;height:45px;background-position:0 -90px}
.GOUCHE_ICON.GOUCHE_4{position:absolute;top:0;left:0;width:87px;height:45px;background-position:0 -135px}
.GOUCHE_ICON.GOUCHE_5{position:absolute;top:0;left:0;width:77px;height:45px;background-position:0 -180px}
.GOUCHE_ICON.GOUCHE_6{position:absolute;top:0;left:0;width:77px;height:45px;background-position:0 -225px}
.GOUCHE_ICON.GOUCHE_7{width:340px;height:35px;background-position:0 -270px;font-size:14px;background-color:#ffeae5;padding:0 20px;overflow:hidden;margin:1px auto;text-align:right;position:relative;border-radius:2px;color:#ff3500;line-height:35px}
.GOUCHE_ICON.GOUCHE_7 a{color:#ff3500;text-decoration:none; font-weight:bold}
.GOUCHE_ICON.GOUCHE_8{position:absolute;bottom:38px;left:35px;width:100px;height:38px;background-position:0 -315px}
.GOUCHE_CHECKBOX, .GOUCHE_CHECKBOX .iconfont{color:#ff3500!important}
.GOUCHE.sort .select_pop_main .select_pop{white-space:nowrap}

.car_list .img_stop .GOUCHE_ICON{top:20px;left:0}
.car_list li .GOUCHE_ICON{top:22px;left:22px}
.exclusive-list-two .GOUCHE_ICON{top:15px;left:15px}