.service_wrap{
	
}
.ser_mod_1{
	height:380px;
	padding-top:44px;
	background:url(./images/ser_mod1_bg.png) repeat-x 0 0;
}
.ser_top_cont{
	width:817px;
	height:291px;
	margin:0 auto;
	padding-top:182px;
	background:url(./images/ser_mod1_br.png) no-repeat 0 0;
}
.ser_top_title{
	padding:0 210px;
	height:30px;
	line-height: 30px;
	font-size:22px;
	color:#996600;
	font-weight: bold;
}
.ser_top_item{
	padding-left:24px;
	background:url(./images/star.png) no-repeat 0 center;
}
.ser_top_tmp{
	padding:0 210px;
	padding-top:12px;
	font-size:14px;
	height:10px;
	line-height: 30px;
	color:#996600;
	font-weight: bold;
	text-align:center;
}
.ser_top_item2{
	padding-left:24px;
	background:url(./images/tmp.png) no-repeat 0 center;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.ser_mod_2{
	height:102px;
	text-align:center;
}
.ser_mod2_list{
	display:inline-block;
	margin-top:15px;
	margin-right: -140px;
}
.ser_mod2_list li{
	float:left;
	font-size:18px;
	color:#cc9b52;
	height:73px;
	line-height: 73px;
	padding-left:84px;
	padding-right:146px;
}
.ser_mod2_list li.ser_m2_ico1{
	background:url(./images/ser_mod2_ico.png) no-repeat 0 0;
}
.ser_mod2_list li.ser_m2_ico2{
	background:url(./images/ser_mod2_ico.png) no-repeat 0 -73px;
}
.ser_mod2_list li.ser_m2_ico3{
	background:url(./images/ser_mod2_ico.png) no-repeat 0 -146px;
}
.ser_mod_3{
	height:450px;
	background-color:#f7f7f7;
}
.ser_mod_3 .xuanche{
	width:1200px;
	height:100%;
	margin:0 auto;
	padding:0 80px;
	background:url(./images/ser_m3_bg.png) no-repeat 550px 120px;
}
.ser_mod_3 .xuanche h2{
	font-size:48px;
	color:#1f293a;
	height:138px;
	line-height: 68px;
	padding-top:70px;
	margin-bottom:15px;
	font-weight: bold;
}
.ser_mod_3 .xuanche p{
	color:#1f293a;
	font-size:16px;
	line-height: 30px;
	width:448px;
}
.ser_mod_3 .xuanche a{
	color:#ff7e00;
	font-size:16px;
	line-height: 30px;
}
.ser_mod_4{
	height:450px;
}
.ser_mod_4 .gouche{
	width:1200px;
	height:100%;
	margin:0 auto;
	padding:0 80px;
	background:url(./images/ser_m4_bg.png) no-repeat 23px 94px;
}
.ser_mod_4 .gouche h2{
	font-size:48px;
	color:#1f293a;
	height:138px;
	line-height: 68px;
	padding-top:70px;
	margin-bottom:15px;
	text-align:right;
	font-weight: bold;
}
.ser_mod_4 .gouche p{
	color:#1f293a;
	font-size:16px;
	line-height: 30px;
	text-align:right;
}
.ser_mod_5{
	height:450px;
	background:#f7f7f7;
}
.ser_mod_5 .shouhou{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.ser_mod_5 .shouhou h2{
	height:130px;
	padding-top:40px;
	line-height: 90px;
	text-align:center;
	font-size:48px;
	color:#1f293a;
	font-weight: bold;
}
.ser_mod_5 .shouhou ul{
	overflow:hidden;
	padding:0 80px;
}
.ser_mod_5 .shouhou li{
	width:340px;
	text-align:center;
	color:#1f293a;
}
.ser_mod_5 .shouhou h3{
	height:158px;
	padding-top:100px;
	line-height:56px;
	font-size:24px;
	font-weight: bold;
}
.ser_mod_5 .shouhou h3.sh_30{
	background:url(./images/ser_mod5_ico.png) no-repeat center 0;
}
.ser_mod_5 .shouhou h3.sh_year{
	background:url(./images/ser_mod5_ico.png) no-repeat center -160px;
}
.ser_mod_5 .shouhou p{
	font-size:16px;
	color:#1f293a;
	line-height: 28px;
	padding:0 2px;
	margin-bottom:16px;
}
.ser_mod_5 .shouhou a{
	font-size:16px;
	color:#ff7e00;
}
.ser_mod_6{
	height:190px;
	padding-top:50px;
	text-align:center;
}
.ser_mod_6 .xuangou_btn{
	display:inline-block;
	width:500px;
	height:60px;
	line-height: 60px;
	text-align: center;
	font-size:22px;
	font-weight: bold;
	color:#fff;
	background: #ff6d02;
	border-radius:30px;
	text-decoration: none;
}