/* CSS Document */
/*--------------reset--------------*/
body,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin:0;		
}
body{
	font:12px "微软雅黑";	
}
ul,ol{
	margin:0;
	padding:0;
	list-style:none;	
}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:normal;	
}
a{
	text-decoration:none;
}
img{
	vertical-align:top;
	border:none;	
}
i,em{
	font-style:normal;	
}
.fl{
	float:left;	
}
.fr{
	float:right;	
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;	
}
.clearfix{
	zoom:1;	
}
