@charset "utf-8";

/*common.css*/

.w1200 {
	width: 1200px;
	margin: 0 auto;
}


/*home.css*/

.public-header {
	margin-top: 12px;
	background: url(../images/public_bc.jpg) repeat-x left top;
}

.public-nav .public-nav-item {
	float: left;
	*display: inline;
}

.public-nav .public-nav-item a.item-a {
	display: block;
	padding: 0 5em;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #888;
	height: 20px;
	border-right: 1px solid #c8c8c8;
	line-height: 20px;
	text-align: center;
}

.public-nav .public-nav-item a.item-a:hover {
	color: #1295D8;
}

.public-nav .public-nav-item a.item-a.last {
	border: 0;
}

.public-nav .public-nav-item a.item-a .home-icon {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 14px;
	/*width:6px;
	height:5px;*/
	background: url(../images/icon.png) no-repeat 0 0;
}

.public-nav .public-nav-item a.language {
	text-transform: capitalize;
}

.public-nav .public-nav-item a.language i {
	display: inline-block;
	vertical-align: middle;
}

.public-nav .language-item {
	position: relative;
}

.language-ul {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0;
	left: -9999em;
	-webkit-transition: height 0.8s ease-out;
	transition: opacity 3s ease-out;
}

.language-ul li.language-item {
	background-color: #00BFFF;
	padding: 0 40px;
}

.language-ul li.language-item a {
	padding: 10px;
	display: block;
	font-size: 12px;
	color: #fff;
	border-bottom: 1px solid #00baaa;
}

.language-ul li.language-item a.last {
	border: 0;
}

.public-nav .language-item:hover .language-ul {
	opacity: 1;
	left: auto;
}


/*emba-header*/

.emba-header-container {
	/*background-color: #006EB3;*/
	margin: 0 3em;
}

.emba-header-left {
	/*margin-right:100px;*/
}

.emba-logo {
	padding-top: 18px;
	display: block;
	height: 62px;
}

.emba-logo-img {
	width: 156px;
	height: 44px;
}

.wechat,
.number {
	display: inline-block;
	vertical-align: middle;
}

.number {
	margin: 8px
}

.emba-header-right {
	width: 890px;
}

.emba-header-right-top {
	height: 31px;
	line-height: 31px;
	margin-bottom: 20px;
}

.emba-header-right-top .txt {
	font-size: 12px;
	color: #888;
}

.emba-header-nav li.emba-header-nav-item {
	margin-left: 37px;
	float: left;
}

.emba-header-nav li.emba-header-nav-item a {
	font-size: 14px;
	color: #666;
}

.emba-header-nav li.emba-header-nav-item a:hover {
	text-decoration: underline;
}


/*emba-nav*/

.emba-nav {
	margin-top: 5px;
	background-color: #003368;
}

.emba-nav-ul {}

.emba-nav-ul .emba-nav-item {
	float: left;
	*display: inline;
	height: 50px;
	line-height: 50px;
}

.emba-nav-ul .emba-nav-item a {
	display: inline-block;
	width: 170px;
	font-size: 16px;
	font-family: "microsoft yahei";
	color: #fff;
	text-align: center;
	padding: /*line-height: 22px;*/
}

.emba-nav-ul .emba-nav-item a.nav-item:hover {
	background-color: #185293;
	/*font-size: 28px;*/
}

.emba-nav-ul .emba-nav-item a.last span {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	width: 86px;
	background-color: #f4f8f3;
	color: #003368;
}


/*emba-banner*/

.emba-banner {
	position: relative;
	overflow: hidden;
	height: 448px;
}

.emba-banner-ul {
	width: 100%;
}

.emba-banner-li {
	position: absolute;
	left: 50%;
	width: 1920px;
	margin-left: -960px;
}

.banner-icon {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 1200px;
	margin-left: -600px;
	font-size: 0;
	text-align: center;
	z-index: 100;
}

.banner-icon .icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.banner-icon a.icon-active {
	background-color: #0097db;
}


/*emba-news*/

.emba-news {
	position: relative;
	height: 456px;
	overflow: hidden;
	background: url(../images/news_bc.jpg) no-repeat center center;
}

.emba-news-background-img {
	position: absolute;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}


/*public-footer*/

.public-footer {
	background-color: #003368;
}

.public-footer-container {
	padding: 22px 0;
	/*height:56px;*/
	/*padding-top:16px;*/
	/*line-height: 56px;*/
	color: #fff;
	font-size: 12px;
}

.public-footer-container .left {
	margin-left: 32px;
}

.public-footer-container .right {
	font-size: 0;
}

.public-footer-container .right a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	padding: 0 15px;
	border-right: 1px solid #fff;
	;
}


/*emba-contact*/

.emba-contact {
	padding-top: 56px;
	padding-bottom: 86px;
}

.contact-item {
	float: left;
	*display: iinline;
	margin: 0 75px;
}

.contact-item a {
	display: block;
	width: 139px;
	height: 138px;
}

.contact-item p {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}


/*emba-news*/

.emba-news .left {
	padding-top: 60px;
	margin-right: 12px;
}

.emba-news-ul {
	overflow: hidden;
	width: 1010px;
	margin-bottom: 60px;
}

.emba-news .emba-news-li {
	float: left;
	width: 285px;
	margin-right: 48px;
	overflow: hidden;
}

.emba-news-title {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 16px;
}

.emba-news-content {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	
	/*overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;*/
}

.emba-news .right {
	padding-top: 30px;
}

.more-news-div {}

.more-news {
	border: 1px solid #003368;
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	color: #003368;
	display: block;
	width: 372px;
	margin: 0 auto;
}

.emba-news-content a{
	color:#00BFFF;
}

.right-sidebar{
	position:fixed;
	top:40%;
	right:0;
	border-top:1px solid #8da3ba;
	border-left:1px solid #8da3ba;
	width:45px;
	/*height:88px;*/
	z-index:999;
}
.siderbar-item{
	border-bottom:1px solid #8da3ba;
}
.siderbar-item a{
	display: block;
	width:45px;
	height:45px;
	
}
.item-one{
	background: url(../images/sidebar-1.png) no-repeat center center;
}
.item-two{
	background: url(../images/sidebar-2.png) no-repeat center center;
}
.item-third{
	background: url(../images/sidebar-3.png) no-repeat center center;
}