<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script type="text/javascript">
        var citySpell = 'beijing';
        var APIURL = "http://testapi.chedai.bitauto.com/";
        var RESURL = "http://192.168.145.9:8011/Web/";
        var USERCENTERURL = "http://test.i.daikuan.com";
        var BusinessLine = 550;
        var jtlj = "http://192.168.145.9:8011/Web//css/xinche/images/sqdk11.png?v=201512041831";
        var isNeedPay = "0";
        var product = 111363;
        var frameUrl = "http://m.seehoo.cn/CL/m/homepc.html?middleIframeUrl=http://zujs.order.daikuan.com//LoanApplyYxHxm/MiddleIframe&c=1234#/2"
    </script>
</head>
<body>
 {{{htmlWebpackPlugin.options.header}}}

 <div class="apply-step">
     <ul>
         <li class="after-step"><i>1</i>选择车型和金融产品</li>
         <li class="cur-step"><i>2</i>在线提交申请信息</li>
         <li><i>3</i>一小时审批，获取短信授信码</li>
         <li><i>4</i>放款提车</li>
     </ul>
 </div>
 <div class="payment">
    <div class="iframe-con">
        <iframe width="1200" height="550" frameborder="0"  scrolling="no" src="http://m.seehoo.cn/CL/m/homepc.html?middleIframeUrl=http://zujs.order.daikuan.com//LoanApplyYxHxm/MiddleIframe&c=1234#/2"></iframe>
    </div>
 </div>
 {{{htmlWebpackPlugin.options.footer}}}

 <script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>