@import 'sassHelper/vars';
@import 'sassHelper/mixin';

.component-select{
	display: inline-block;
	margin-right: 14px;
	position: relative;
	z-index: 100;

	&-input{
		color:$normal-color;
		font-size:12px;
		cursor:pointer;
		border:1px solid #ddd;
		padding:0 30px 0 19px;
		line-height: 30px;
		position: relative;
		display: inline-block;
		min-width:32px;

		&:after{
			content:' ';
			background:url(./arrow.png) no-repeat left top;
			width: 11px;
			height:6px;
			position: absolute;
			right:10px;
			top:13px;
		}

		i{
			color:$light-color;
		}
	}

	&-options{
		position: absolute;
		left:0;
		top:30px;
		background:#fff;
		width: 100%;
		box-sizing:border-box;
		text-align: center;
		border:1px solid #ddd;
		font-size:12px;

		&-scroll{
			max-height:482px;
			overflow-x:hidden;
			overflow-y: scroll;
		}

		a{
			display: block;
			border-bottom:1px solid #ddd;
			color:$normal-color;
			line-height: 30px;
			
			&:hover{
				background:$main-color;
				color:#fff;
			}
		}

		li:last-child a{
			border:0;
		}
	}
}