.important {
  font-weight: bold;
}
.section {
  padding: 0 0.6rem;
}
.section .section-titile {
  padding-top: 1.08rem;
  text-align: center;
  font-size: 0.72rem;
  color: #423e3d;
}
.desc {
  margin-top: 1.5rem;
  line-height: 1.1rem;
  text-indent: 2em;
  font-size: 0.48rem;
  color: #423e3d;
}
.detail {
  color: #423e3d;
}
.detail h4 {
  font-size: 0.56rem;
  padding-top: 1.6rem;
  padding-bottom: 1rem;
}
.detail p {
  line-height: 1.1rem;
  font-size: 0.48rem;
}
