@import 'sassHelper/mixin';
@import 'sassHelper/vars';

.component-banner{
	display: block;
	height: 420px;
	width: 100%;
	background:url(./banner.jpg) no-repeat center center;
	margin-bottom: 20px;
}