@import "sassHelper/mixin";
@import "../../../../vars";

.Text{
	position: relative;

	input{
		display: block;
		border:1px solid $border;
		line-height: $height;
		height:$height;
		padding:0 10px;
		font-size:14px;
		color:#000;
		box-sizing:border-box;
		width: 100%;

		&.disabled{
			@include disabled;
		}

		&.disabled-light{
			color:#666;
		}
	}

	&-rate{
		&:after{
			content: '%';
			position: absolute;
			right:10px;
			top:0;
			line-height: $height;
			color:#7d7d7d;
		}
	}

	&-error{
		display: inline-block;
		line-height: 22px;
		border:1px solid $main;
		color:$main;
		font-size:12px;
		background:#FCECED url(error.png) no-repeat 10px center;
		padding:0 10px 0 36px;
		margin-top: 10px;
	}
}