<header class="header-bar {{#if tf}}tf{{/if}}">
    {{#if tf}}
        <a href="javascript:void(0)"></a>
    {{else}}
        <a href="javascript:history.back()" class="back-btn"></a>
    {{/if}}
    <h1 class="font-nav">小鑫帮您贷</h1>
</header>