{{> header.hbs }}

<section id="firstContainer" class="page-container" rel="chatting">
	{{> chatting.hbs}}
</section>

<section id="secondContainer" class="page-container" rel="order">
    {{> order.hbs}}
</section>

<section id="thirdContainer" class="page-container" rel="result">
	{{> result.hbs}}
</section>

{{> include/modal.hbs}}
{{> include/card.hbs }}
{{> include/car-select.hbs }}